@media (min-width: 320px) {
  .col-sm-100 {
    width: 100%;
  }

  .col-sm-50 {
    width: 50%;
  }

  .col-sm-33 {
    width: 33.33%;
  }

  .col-sm-25 {
    width: 25%;
  }
}

@media (min-width: 768px) {
  .col-md-100 {
    width: 100%;
  }

  .col-md-50 {
    width: 50%;
  }

  .col-md-33 {
    width: 33.33%;
  }

  .col-md-25 {
    width: 25%;
  }
}

@media (min-width: 1024px) {
  .col-lg-100 {
    width: 100%;
  }

  .col-lg-50 {
    width: 50%;
  }

  .col-lg-33 {
    width: 33.33%;
  }

  .col-lg-25 {
    width: 25%;
  }

  .desktop-res {
    display: block;
  }
}

@media (max-width: 1366px) {
  .header-main__left {
    width: 37%;
  }

  .header-main__left-logo {
    width: 65%;
  }

  .header-main__left-delivery {
    width: 35%;
  }

  .header-main__right {
    width: 33%;
  }

  .header-bottom__catalog {
    width: 260px;
  }

  .header-bottom__menu {
    width: calc(100% - 460px);
  }

  .products-item__holder-bottom {
    padding: 22px 10px 21px 9px;
  }

  .products-item__holder-bottom-left-new {
    font-size: 17px;
  }

  .products-item__holder-bottom-right-button {
    padding: 13px 3px 14px 7px;
  }

  .nav-list__item {
    padding: 0 15px 0 0;
  }

  .nav-item__link {
    font-size: 11px;
  }

  .news-item__content-top {
    height: 184px;
  }

  .navigation-item__link {
    padding: 9px 18px;
  }

  .navigation-item__link:hover,
  .navigation-item__link--active {
    padding: 9px 19px;
  }

  .main-page__block-news .news-item__content-top {
    height: 184px;
  }

  .performance--right .performance-block__item-left {
    max-width: 100px;
  }

  .performance--right .performance-block__item-right {
    max-width: calc(100% - 100px);
  }

  .performance-block__select {
    margin: 3px 0 5px 0;
  }

  .purchase__buy-button {
    width: 100%;
    float: none;
  }

  .purchase__buy-button .btn {
    padding: 13px 4px;
    width: 100%;
  }

  .purchase__buy-credit {
    width: 100%;
    float: none;
  }

  .purchase__click-button {
    width: 100%;
    padding: 13px 5px;
  }
}

@media (max-width: 1200px) {
  .performance-block__select .select-block-btn__arrow {
    right: 15px;
  }

  .performance-block__select-amount {
    font-size: 12px;
    padding-right: 9px;
  }

  .performance-block__select-price {
    font-size: 12px;
    padding-right: 16px;
  }
}

@media (max-width: 1180px) {
  .footer-logo {
    padding-right: 50px;
  }

  .footer-phone {
    padding-right: 40px;
  }

  .footer__social {
    width: 135px;
    padding-right: 50px;
  }
}

@media (max-width: 1024px) {
  .btn-brown--products {
    padding: 14px 22px 16px;
  }

  .content-box__left {
    width: 100%;
    float: none;
  }

  .content-box__right {
    display: none;
  }

  .header {
    border-bottom: 1px solid #ebddcf;
  }

  .header-top {
    display: none;
  }

  .header-main {
    background: #f7eee8;
    padding: 16px 0 15px;
  }

  .header-main__left {
    width: 146px;
  }

  .header-main__left-logo {
    display: none;
  }

  .header-main__left-logo-small {
    display: block;
  }

  .header-main__left-delivery {
    display: none;
  }

  .header-main__center {
    display: none;
  }

  .header-main__right {
    width: 100%;
    padding: 3px 207px 0 145px;
    margin: 0 0 0 -146px;
  }

  .header-bottom {
    position: absolute;
    top: 60px;
    right: 1px;
  }

  .header-bottom__catalog {
    display: none;
  }

  .header-bottom__menu {
    display: none;
  }

  .header-bottom__basket {
    width: auto;
    margin: 0;
  }

  .header-bottom__basket-button {
    background-color: transparent;
    border: 2px solid #ebddcf;
  }

  .header-bottom__basket-button .btn__text {
    color: #433c3a;
  }

  .header-bottom__basket-button .btn__arrow {
    display: none;
  }

  .header-bottom__basket-button .btn__icon [class^="icon-"],
  .header-bottom__basket-button .btn__icon [class*=" icon-"] {
    fill: #ff733f;
  }

  .header-small {
    display: block;
    height: 42px;
  }

  .content {
    padding: 30px 0 21px;
  }

  .content-index {
    padding: 20px 0 28px;
  }

  .footer__top {
    text-align: center;
    padding-top: 105px;
    padding-bottom: 31px;
    position: relative;
    background-image: url("../pic/bg/footer-map.png");
    background-repeat: no-repeat;
    background-position: 50% 33%;
  }

  .footer__bottom {
    text-align: center;
    position: relative;
    padding: 19px 0;
  }

  .footer__row {
    padding-bottom: 0;
  }

  .footer-logo {
    display: none;
  }

  .footer-phone {
    position: relative;
    padding-top: 25px;
    padding-right: 0;
    width: 100%;
  }

  .footer-phone__title {
    display: none;
  }

  .footer-phone__num {
    font-size: 26px;
  }

  .footer-phone__note {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 280px;
    text-align: center;
    margin: 0 auto;
  }

  .footer-phone--city {
    display: none;
  }

  .footer-addresses {
    display: none;
  }

  .footer__social {
    position: absolute;
    top: 36px;
    left: 0;
    text-align: center;
    width: 100%;
    padding-right: 0;
  }

  .footer-lists {
    display: none;
  }

  .footer__card-list {
    display: none;
  }

  .footer-adv {
    display: none;
  }

  .copyright {
    float: none;
  }

  .copyright__mob-visible {
    display: block;
  }

  .full-version-btn {
    display: inline-block;
  }

  .clear-md {
    clear: both;
  }

  .hidden-md {
    display: none !important;
  }

  .visible-block-md {
    display: block !important;
  }

  .visible-inline-md {
    display: inline !important;
  }

  .visible-inline-block-md {
    display: inline-block !important;
  }

  .shops__map {
    padding-bottom: 18px;
  }

  .catalog__heading {
    padding-bottom: 22px;
  }

  .catalog__top {
    position: relative;
    margin: 0 -10px;
    padding-bottom: 31px;
  }

  .tags {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding: 0 10px;
  }

  .tags__inner {
    display: none;
    background: #fff;
    -webkit-box-shadow: 0px 20px 35px 0px rgba(1, 1, 1, 0.1);
    box-shadow: 0px 20px 35px 0px rgba(1, 1, 1, 0.1);
    border-radius: 2px;
    border: 1px solid #f3e9e1;
    padding: 27px 20px;
    width: calc(100% - 20px);
    position: absolute;
    top: 60px;
    left: 10px;
    z-index: 20;
  }

  .tags__inner.active {
    display: block;
    height: auto;
  }

  .tags__inner:before {
    content: '';
    position: absolute;
    left: 10px;
    top: -7px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 7px 6px;
    border-color: transparent transparent #f3e9e1 transparent;
  }

  .tags__inner:after {
    content: '';
    position: absolute;
    left: 11px;
    top: -6px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 6px 5px;
    border-color: transparent transparent #fff transparent;
  }

  .tags__title {
    display: block;
    width: 100%;
    padding-bottom: 27px;
  }

  .tags__more {
    float: none;
  }

  .tags__btn {
    display: block;
  }

  .tags-list {
    width: 100%;
    margin: 0;
  }

  .tags-list__item {
    display: block;
    margin: 0 0 27px;
    padding: 0;
  }

  .filter {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding: 0 10px;
    background: transparent;
  }

  .filter__title {
    display: none;
  }

  .filter__select {
    display: block;
    min-width: 100%;
    max-width: 100%;
    padding: 0;
    border-bottom: 1px solid #f3e9e1;
  }

  .filter__select--last {
    border-bottom: none;
  }

  .filter__btn {
    display: block;
  }

  .filter-drop-btn {
    border: none;
    border-radius: 0;
    padding: 28px 0 28px 20px;
  }

  .filter-drop-btn:hover,
  .filter-drop-btn.active {
    background: #fff;
    border: none;
    color: #ff733f;
  }

  .filter-drop-btn:hover [class*='icon-'],
  .filter-drop-btn.active [class*='icon-'] {
    fill: #ff733f;
  }

  .filter-drop-btn__arrow {
    top: calc(50% - 3.5px);
  }

  .filter-drop {
    position: static;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    border: none;
    width: 100%;
  }

  .filter-drop:before,
  .filter-drop:after {
    display: none;
  }

  .filter-drop__btn {
    display: none;
  }

  .resp-filter-drop {
    visibility: hidden;
    opacity: 0;
    width: calc(100% - 20px);
    position: absolute;
    top: 60px;
    left: 10px;
    z-index: 20;
    border: 1px solid #f3e9e1;
    border-radius: 4px;
    background: #fff;
    -webkit-box-shadow: 0px 20px 35px 0px rgba(1, 1, 1, 0.1);
    box-shadow: 0px 20px 35px 0px rgba(1, 1, 1, 0.1);
    height: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }

  .resp-filter-drop.active {
    visibility: visible;
    opacity: 1;
    height: auto;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }

  .resp-filter-drop:before {
    content: '';
    position: absolute;
    right: 10px;
    top: -7px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 7px 6px;
    border-color: transparent transparent #f3e9e1 transparent;
  }

  .resp-filter-drop:after {
    content: '';
    position: absolute;
    right: 11px;
    top: -6px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 6px 5px;
    border-color: transparent transparent #fff transparent;
  }

  .resp-filter-drop__bottom {
    display: block;
  }

  .price {
    width: 100%;
  }

  .checkboxes {
    width: 100%;
  }

  .checkboxes__inner {
    height: 100%;
  }

  .banner {
    display: none;
  }

  .catalog__pagination-list {
    display: none;
  }

  .seo-text {
    padding-top: 48px;
  }

  .modular-cards-list__item {
    width: 50%;
  }

  .modular-cards-item__content-set:after {
    display: none;
  }

  .products-list__item {
    width: 50%;
  }

  .products-item__holder-bottom {
    padding: 20px 20px 23px 18px;
  }

  .products-item__holder-bottom-left-new {
    font-size: 18px;
  }

  .products-item__holder-bottom-right-button {
    padding: 13px 12px 14px 23px;
  }

  .products-item__more {
    height: 434px;
    line-height: 378px;
  }

  .select-block-drop__inner {
    height: 100%;
  }

  .select-block-drop--double .select-block-drop__right {
    width: 50%;
    max-width: 100%;
    text-align: center;
    padding-right: 16px;
  }

  .select-block-drop--double .select-block-drop__left {
    width: 50%;
    max-width: 100%;
    text-align: center;
  }

  .module-preview {
    height: auto;
    line-height: 0;
  }

  .module-preview__item {
    max-height: 350px;
  }

  .module-preview__item img {
    max-height: 350px;
  }

  .module-preview__info {
    display: none;
  }

  .card-page__tags-list {
    margin: 0 -20px;
  }

  .card-page__tags-list .tags-list__item {
    display: inline-block;
    margin: 0 20px 15px;
  }

  .address-list {
    margin: 0;
  }

  .address-list__item {
    width: 100%;
    padding: 0;
  }

  .address-item {
    padding: 25px 0 9px;
    border: none;
    border-bottom: 1px solid #f3e9e1;
  }

  .address-item:hover {
    background: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .address-item:hover .address-item__content-button-link {
    background-color: transparent;
    border: 2px solid #f3e9e1;
    color: #433c3a;
  }

  .address-item:hover .address-item__content-button-link:hover,
  .address-item:hover .address-item__content-button-link:active {
    background: #ff733f;
    border-color: #ff733f;
    color: #fff;
  }

  .address-item__heading-arrow {
    display: block;
  }

  .address-item__heading {
    font-size: 18px;
    padding: 0 0 15px;
  }

  .address-item__content dl {
    padding: 13px 0 14px;
  }

  .address-item__content dl:first-child {
    border-top: none;
  }

  .address__block-hide {
    display: block;
  }

  .performance-block.performance-block--hidden-tablet {
    display: none;
  }

  .product-preview__right-column.product-preview__right-column--full .performance {
    padding: 0;
  }

  .product-preview__right-column.product-preview__right-column--full .performance-block {
    border-bottom: none;
  }

  .gallery-product__nav.gallery-product__nav--moduls {
    display: block;
  }

  .gallery-product__nav.gallery-product__nav--moduls .slick-list {
    width: calc(100% - 110px);
    margin: 0 auto;
  }

  .gallery-product__nav.gallery-product__nav--moduls .slick-arrow {
    margin: 0 10px;
  }

  .card-module .card-page__block-heading {
    font-size: 18px;
    text-align: left;
    padding: 21px 0 25px;
  }

  .content-box__heading {
    padding-bottom: 24px;
  }

  .inform-block__text-row {
    padding-bottom: 18px;
  }

  .breadcrumbs {
    padding-bottom: 15px;
  }

  .breadcrumbs-list__item {
    display: none;
  }

  .breadcrumbs-list__item--hide {
    display: inline-block;
  }

  .gallery-list__item {
    width: 50%;
    padding: 0 10px 30px;
  }

  .advantages-list__item {
    width: 50%;
  }

  .advantages-item__info {
    padding-left: 6px;
  }

  .factory-reviews-list__item {
    width: 50%;
  }

  .brands-list__item--marker:after {
    display: block;
  }

  .brands-list__item {
    width: 50%;
    margin: 30px 0;
  }

  .brands-list__item:nth-child(2n) {
    border: none;
  }

  .brands-list__item:last-child,
  .brands-list__item:nth-child(5) {
    display: none;
  }

  .characteristics-list__item {
    width: 100%;
    padding: 0 10px 20px;
  }

  .details-list__item {
    width: 50%;
    padding: 0 20px 20px;
  }

  .reviews-feedback__top-left {
    width: 100%;
    float: none;
    padding-bottom: 10px;
  }

  .reviews-feedback__top-right {
    width: 100%;
    float: none;
    text-align: left;
  }

  .social-list {
    margin: 0;
  }

  .social-list__item {
    width: auto;
    padding-bottom: 0;
  }

  .drop-item {
    width: 100%;
  }

  .drop-item:hover .drop-item__sub {
    width: 0;
  }

  .modal-system__list {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

  .brands-name-item__description {
    padding: 0;
  }

  .basket {
    padding: 0 0 30px;
  }

  .basket-holder {
    padding-bottom: 39px;
  }

  .basket-holder--hide {
    display: none;
  }

  .basket-holder--additional {
    padding-bottom: 27px;
  }

  .basket-holder__total {
    display: none;
  }

  .basket-holder__total-hide {
    display: block;
  }

  .basket-holder__heading {
    padding-bottom: 41px;
  }

  .basket-holder__inform-block {
    padding: 0;
  }

  .basket-holder__totalpay {
    position: relative;
    width: 100%;
    max-width: 400px;
    background: transparent;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
    bottom: 0;
  }

  .basket-holder__totalpay-heading {
    display: none;
  }

  .basket-holder__totalpay-price {
    display: none;
  }

  .basket-holder__totalpay-checkout {
    margin-bottom: 21px;
  }

  .basket-item {
    padding: 14px 0 40px 18px;
  }

  .basket-item__image {
    float: right;
    width: 220px;
  }

  .basket-item__content {
    padding: 9px 0 0;
    width: calc(100% - 220px);
  }

  .basket-item__content-info {
    width: 100%;
    float: none;
  }

  .basket-item__content-info-heading {
    padding: 0 0 18px;
  }

  .basket-item__content-info-parametrs {
    padding: 0 0 16px;
  }

  .basket-item__content-info-parametrs--large {
    min-width: 215px;
  }

  .basket-item__content-info-parametrs .parametrs-list__item {
    padding: 0 10px 7px;
    display: block;
  }

  .basket-item__content-info-parametrs .parametrs-item__description {
    min-width: 80px;
  }

  .basket-item__content-spinner {
    width: 100%;
    padding: 14px 0 0;
    float: none;
  }

  .basket-item__content-spinner .ui-spinner {
    margin: 0;
  }

  .basket-item__content-price {
    width: 50%;
    position: absolute;
    bottom: 33px;
    right: 18px;
    padding: 0;
  }

  .basket-item__close {
    left: auto;
    right: 11px;
    top: 12px;
  }

  .select-additional-item {
    border: none;
    padding: 0 0 17px 0;
  }

  .select-additional-item:hover {
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .select-additional-item__button {
    padding: 0 0 17px 0;
  }

  .select-additional-item__button .radiobox__icon {
    top: 5px;
  }

  .select-additional-item__button .radiobox__text {
    line-height: 1.2;
  }

  .additional-services-list__item {
    padding: 0 0 28px;
  }

  .additional-services-item {
    border: none;
    padding: 0;
  }

  .additional-services-item:hover {
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .additional-services-item__image {
    display: none;
  }

  .additional-services-item__holder {
    width: 100%;
    padding: 0;
  }

  .additional-services-item__description {
    width: 58%;
  }

  .additional-services-item__cost {
    width: 42%;
    text-align: right;
    padding: 12px 17px 0 0;
  }

  .order-form__row .input {
    font-size: 16px;
  }

  .order-form__row .input-custom__input {
    font-size: 14px;
  }

  .order-form__cell--text {
    padding: 22px 0 14px 7px;
  }

  .order-form__cell-text {
    padding: 0;
  }

  .order-form__cell--small {
    width: calc(100% - 135px);
  }

  .popup-location {
    padding: 27px 0 0;
  }

  .popup-location__btn {
    bottom: 26px;
    right: 24px;
  }

  .popup-location__top {
    padding: 0 29px 38px;
  }

  .popup-location__top-left-input {
    width: 300px;
  }

  .popup-location__main {
    padding: 0 24px 26px 29px;
  }

  .popup-location__main-left {
    width: 55%;
  }

  .popup-location__main-right {
    width: 45%;
  }

  .about-block {
    height: auto;
  }

  .about-block__left {
    width: 100%;
    float: none;
    padding: 0 0 20px;
  }

  .about-block__right {
    width: calc(100% + 20px);
    float: none;
    padding: 0 0 20px;
  }

  .main-page__block--news {
    padding-bottom: 27px;
  }

  .main-page__block-products .products-list__item {
    display: none;
  }

  .main-page__block-products .products-list__item:first-child,
  .main-page__block-products .products-list__item:nth-child(3) {
    display: inline-block;
  }

  .main-page__block-modal-block .modular-cards-list__item {
    display: none;
  }

  .main-page__block-modal-block .modular-cards-list__item:first-child,
  .main-page__block-modal-block .modular-cards-list__item:nth-child(2) {
    display: inline-block;
  }

  .main-page__block-news .news-list__item {
    width: 50%;
  }

  .main-page__block-news .news-list__item:first-child {
    display: none;
  }

  .main-page__block-news .news-list__item:last-child {
    float: left;
  }

  .main-page__block-news .news-item__content-top {
    height: 168px;
    padding: 0 19px 10px;
  }

  .download__inform-text--instruction {
    padding: 0;
  }

  .download__inform-text-instruction {
    width: 100%;
    padding: 0 0 7px;
  }

  .card-page__block {
    padding: 0;
    border-bottom: 1px solid #f3e9e1;
  }

  .card-page__block--top {
    border-bottom: none;
  }

  .card-page__block:last-child {
    border-bottom: none;
  }

  .card-page__block--border {
    border-bottom-color: transparent;
  }

  .card-page__block-heading {
    font-size: 18px;
    text-align: left;
    padding: 21px 0 25px;
  }

  .card-page__block-heading-marker {
    display: inline-block;
  }

  .card-page__block-heading--small {
    padding-bottom: 25px;
  }

  .card-page__block--hide {
    display: none;
  }

  .card-page__block--unstable {
    display: block;
    border-bottom: none;
  }

  .card-page__block-holder {
    display: none;
    padding: 5px 0 48px;
  }

  .card-page__block-details .details-list__item {
    padding: 0 20px 20px;
  }

  .card-page__block-location-map {
    height: 300px;
  }

  .description-main__left {
    width: 100%;
    padding: 20px 40px;
  }

  .description-main__right {
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .product-preview__left {
    width: 100%;
    float: none;
    margin-bottom: 19px;
    padding: 10px 0 16px;
  }

  .product-preview__left-advantages {
    padding: 0 10px 30px;
  }

  .product-preview__left-advantages-left {
    display: none;
  }

  .product-preview__left-advantages-right {
    text-align: left;
  }

  .product-preview__left-advantages-right .benefit-list__item {
    display: none;
  }

  .product-preview__left-advantages-right .benefit-list__item--hide {
    display: inline-block;
    padding: 0;
  }

  .product-preview__left-advantages-right .benefit-list__item .new-marker {
    padding: 6px 7px;
    font-size: 12px;
  }

  .product-preview__right {
    width: 100%;
    float: none;
    padding: 0;
  }

  .product-preview__right-column {
    width: 100%;
    float: none;
  }

  .product-preview__right-column-performance {
    display: none;
  }

  .product-preview__right-column-free-block {
    display: none;
  }

  .product-preview__extra {
    display: none;
  }

  .gallery-product__main {
    padding: 0;
  }

  .gallery-product__main-item-review {
    display: none;
  }

  .gallery-product__nav {
    display: none;
  }

  .performance--left {
    border: none;
    padding: 0;
    margin: 0;
  }

  .performance-block {
    padding: 8px 0 15px;
  }

  .performance-block:last-child {
    border-bottom: 1px solid #f3e9e1;
  }

  .performance-block--hide {
    display: none;
  }

  .performance-block--large {
    padding: 18px 0 20px;
  }

  .performance-block__heading {
    font-size: 18px;
    font-weight: 400;
    color: #433e3d;
    padding: 14px 0 13px;
  }

  .performance-block__list--size {
    font-size: 0;
    letter-spacing: -5px;
    text-align: justify;
  }

  .performance-block__list--size:before {
    content: '';
    display: block;
    width: 100%;
    height: 0;
  }

  .performance-block__list--size:after {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;
  }

  .performance-block__list--size .performance-block__item {
    display: inline-block;
    letter-spacing: normal;
  }

  .performance-block__list--size .performance-block__item-left,
  .performance-block__list--size .performance-block__item-right {
    width: auto;
    float: left;
    max-width: 100%;
  }

  .performance-block__list--size .performance-block__item-left {
    padding: 0 10px 0 0;
  }

  .performance-block__item-left {
    max-width: 200px;
  }

  .performance-block__item-left--visible {
    display: inline-block;
  }

  .performance-block__item-left--hide {
    display: none;
  }

  .performance-block__item-right {
    width: calc(100% - 200px);
  }

  .performance-block__select .select-block-btn__arrow {
    right: 21px;
  }

  .performance-block__select-amount {
    width: 50%;
    text-align: center;
    font-size: 14px;
  }

  .performance-block__select-price {
    width: 50%;
    text-align: center;
    font-size: 14px;
    padding-left: 13px;
  }

  .purchase {
    padding: 27px 19px 52px;
  }

  .purchase__new {
    display: none;
  }

  .purchase__price {
    padding: 0 0 23px;
    text-align: center;
  }

  .purchase__discount {
    position: absolute;
    bottom: 9px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
  }

  .purchase__buy {
    width: 50%;
    float: left;
  }

  .purchase__buy-button {
    width: 100%;
    padding: 0 5px 0 0;
  }

  .purchase__buy-button .btn {
    width: 100%;
  }

  .purchase__buy-credit {
    display: none;
  }

  .purchase__click {
    width: 50%;
    float: left;
    padding: 0 0 0 5px;
  }

  .checkout__block-heading {
    padding-bottom: 35px;
  }

  .product-preview__right--sm {
    width: 100%;
    padding: 0;
  }

  .product-preview__left--lg {
    width: 100%;
  }
}

@media (max-width: 1024px) and (max-width: 1024px) {
  .basket-item__content-info-parametrs .parametrs-list__item {
    padding: 0 10px 7px 0;
  }
}

@media (max-width: 1024px) and (max-width: 439px) {
  .purchase__buy-button {
    padding: 0;
  }
}

@media (max-width: 1023px) {
  .tablet-res-low {
    display: block;
  }
}

@media (max-width: 760px) {
  .header-main {
    padding-bottom: 13px;
  }

  .header-main__left {
    width: 90px;
  }

  .header-main__right {
    display: none;
  }

  .header-main__right-hide {
    display: block;
  }

  .header-bottom__basket-button {
    padding: 11px 13px;
  }

  .header-bottom__basket-button .btn__text {
    display: none;
  }

  .header-bottom__basket-button .btn__icon {
    padding: 0;
  }

  .header-small__left-button {
    padding: 12px 2px 12px 3px;
    height: 42px;
  }

  .header-small__left-button .btn__text {
    padding: 0;
  }

  .header-small__right-button {
    padding: 9px 18px 13px 17px;
    height: 42px;
  }

  .clear-sm {
    clear: both;
  }

  .hidden-sm {
    display: none !important;
  }

  .visible-block-sm {
    display: block !important;
  }

  .visible-inline-sm {
    display: inline !important;
  }

  .visible-inline-block-sm {
    display: inline-block !important;
  }

  .mobile-res {
    display: block;
  }

  .allshops-map {
    height: 355px;
  }

  .filter-drop-btn.active:hover {
    background: #fff;
    border: none;
    color: #ff733f;
  }

  .filter-drop-btn.active:hover [class*='icon-'] {
    fill: #ff733f;
  }

  .catalog-block {
    padding-bottom: 31px;
  }

  .sort__title {
    display: none;
  }

  .sort__list {
    display: none;
  }

  .sort__btn {
    display: inline-block;
  }

  .modular-cards-item__image-link {
    height: 155px;
  }

  .modular-cards-item__content-heading {
    padding-bottom: 31px;
  }

  .modular-cards-item__content-set {
    margin: 0;
  }

  .modular-cards-item__content-inform {
    display: none;
  }

  .modular-cards-item__views {
    top: 11px;
    left: 11px;
  }

  .modular-cards-item__sale {
    top: 13px;
    right: 11px;
  }

  .modular-cards-item__new {
    top: 13px;
    right: 11px;
  }

  .products-item {
    padding-top: 5px;
  }

  .products-item:hover .products-item__holder-bottom {
    border-color: transparent;
  }

  .products-item__image-link {
    height: 177px;
  }

  .products-item__holder-top {
    padding: 0 15px 8px;
  }

  .products-item__holder-top-heading {
    height: 40px;
  }

  .products-item__holder-bottom {
    background: #fff;
    padding: 17px 20px 21px 18px;
  }

  .products-item__holder-bottom-left {
    display: block;
    width: 100%;
    text-align: center;
    padding-bottom: 18px;
  }

  .products-item__holder-bottom-right-button {
    width: 100%;
  }

  .products-item__holder-bottom-right {
    display: block;
    width: 100%;
    text-align: center;
  }

  .products-item__hit-marker {
    top: 11px;
    right: 11px;
  }

  .products-item__more {
    height: 423px;
    line-height: 423px;
  }

  .select-block-drop__left {
    max-width: 170px;
  }

  .module-preview__links {
    left: 5px;
    top: 10px;
  }

  .address__block-location {
    padding: 0 0 30px;
  }

  .address__block-location-map {
    height: 255px;
  }

  .address-slider__nav {
    display: none;
  }

  .popup-gallery__main .slick-arrow {
    width: 40px;
    height: 90px;
    top: calc(50% - 45px);
  }

  .content-box__top {
    padding-bottom: 23px;
  }

  .content-box__heading {
    padding-bottom: 32px;
  }

  .content-box__heading--small {
    padding-bottom: 23px;
  }

  .gallery-item__image-link {
    height: 163px;
  }

  .gallery-item__holder {
    height: 147px;
  }

  .gallery-item__heading {
    height: 46px;
  }

  .gallery-item__button-link {
    padding: 13px 10px;
  }

  .gallery-slider__nav .slick-list {
    width: 100%;
    float: none;
    margin: 0;
  }

  .advantages-list {
    margin: 0;
  }

  .advantages-list__item {
    width: 100%;
    padding: 0 0 20px;
  }

  .news-list__item {
    width: 100%;
    padding-bottom: 30px;
  }

  .news-item__image {
    padding: 0 0 24px;
  }

  .news-item__image-link {
    height: 237px;
  }

  .news-item__content-top {
    height: 184px;
  }

  .factory-reviews-item__image-link {
    height: 160px;
  }

  .factory-reviews-item__button-link {
    padding: 13px 5px;
  }

  .brands-list {
    padding: 6px 0 10px;
  }

  .characteristics-list__item {
    padding: 0 10px 28px;
  }

  .characteristics-item {
    border: none;
  }

  .characteristics-item__visual {
    display: none;
  }

  .characteristics-item__content {
    width: 100%;
    padding: 0;
  }

  .characteristics-item__content-heading {
    max-width: 100%;
  }

  .characteristics-item__content-heading-link {
    font-size: 16px;
  }

  .details-list__item {
    padding: 0 0 17px;
  }

  .delivery-item__heading-text {
    width: calc(100% - 70px);
  }

  .delivery-item__content-block-inform td {
    width: 50%;
    padding: 7px 10px 8px;
  }

  .delivery__block-text {
    padding-bottom: 46px;
  }

  .delivery__block-inform {
    padding: 12px 15px;
  }

  .supply-list__item {
    width: 100%;
  }

  .supply-list__item--hide {
    display: none;
  }

  .reviews-item__main {
    padding: 15px 15px;
  }

  .reviews-item__main-top-name {
    width: 100%;
    float: none;
    display: block;
  }

  .reviews-item__main-top-date {
    float: none;
    width: 100%;
    text-align: left;
    display: block;
  }

  .reviews-item__sub {
    padding: 0 0 0 30px;
  }

  .reviews-item__sub-item-top-name {
    float: none;
    width: 100%;
    text-align: left;
    display: block;
  }

  .reviews-item__sub-item-top-date {
    float: none;
    width: 100%;
    text-align: left;
    display: block;
  }

  .reviews-feedback {
    padding: 10px 10px 0;
  }

  .reviews-feedback__top-left {
    padding-bottom: 20px;
  }

  .reviews-feedback__form-row-cell {
    width: 100%;
    float: none;
    padding-bottom: 20px;
  }

  .reviews-feedback__form-row-button {
    width: 100%;
    float: none;
    text-align: center;
  }

  .drop-item__heading {
    margin: 0 44px 0 20px;
  }

  .pagination-list {
    padding: 13px 3px 15px;
  }

  .pagination-item {
    height: 31px;
    min-width: 33px;
  }

  .brands-name-row {
    text-align: center;
  }

  .brands-name-row__item {
    padding: 22px 5px 20px;
    min-height: auto;
  }

  .brands-name-item__letter {
    font-size: 53px;
  }

  .brands-name-item__description-row-text {
    font-size: 13px;
    padding: 0 3px 0 0;
  }

  .basket-holder__list {
    padding: 0;
  }

  .basket-holder__button {
    float: none;
  }

  .basket-holder__button .btn {
    width: 100%;
  }

  .popup-location__btn {
    position: static;
    margin-top: 20px;
    width: 100%;
  }

  .popup-location__top-left {
    width: 100%;
    float: none;
    padding: 0 0 10px;
  }

  .popup-location__top-left-input {
    width: 312px;
  }

  .popup-location__top-right {
    width: 100%;
    float: none;
  }

  .popup-location__main-left {
    width: 100%;
    float: none;
  }

  .popup-location__main-left-list {
    padding: 0 0 0 19px;
  }

  .popup-location__main-right {
    display: none;
  }

  .popup-location__main-right-image {
    margin: 0 auto;
  }

  .popup-discount {
    padding: 63px 7px 20px;
  }

  .discount-row {
    padding: 0;
    margin: 0;
  }

  .discount-row__item {
    width: 100%;
    padding: 0 10px 20px;
  }

  .discount-row__item--large {
    margin: 0;
  }

  .discount-row__item--medium {
    width: 100%;
    padding: 0 10px 20px;
  }

  .discount-row__item--medium .discount-row-item {
    height: 220px;
  }

  .about-block__left-holder {
    height: 350px;
    padding: 49px 29px;
  }

  .about-block__left-heading {
    padding-bottom: 100px;
  }

  .about-block__left-inform {
    display: none;
  }

  .about-block__right {
    width: 100%;
    margin: 0;
  }

  .about-block__right-column {
    width: 100%;
    float: none;
    padding: 0;
  }

  .about-block__right-column:last-child {
    display: none;
  }

  .shops-block {
    height: auto;
    padding: 26px 32px;
  }

  .main-page__block--news {
    padding-bottom: 18px;
  }

  .main-page__block-advantages {
    display: none;
  }

  .main-page__block-plus {
    display: block;
    padding: 20px 0;
  }

  .main-page__block-news .news-list__item {
    display: none;
    width: 100%;
  }

  .main-page__block-news .news-list__item:first-child {
    display: inline-block;
  }

  .main-page__block-news .news-item__content-top {
    height: 147px;
  }

  .popup-authorization {
    padding: 50px 10px 20px;
  }

  .authentication-tab__form-row-captcha-image {
    width: 100%;
    float: none;
    margin-bottom: 19px;
  }

  .authentication-tab__form-row-captcha-symbol {
    width: 100%;
    float: none;
    padding: 0;
  }

  .download {
    padding: 23px 19px 20px 30px;
  }

  .download__inform {
    width: 66%;
  }

  .download__inform-text-holder {
    padding: 0 0 0 27px;
    max-width: 200px;
  }

  .download__button {
    width: 34%;
    padding: 15px 0 0;
  }

  .download__button .btn {
    padding: 15px 5px 15px 7px;
    width: 100%;
  }

  .card-page__block--visible {
    display: block;
  }

  .card-page__block-characteristics {
    padding: 0 0 10px;
  }

  .card-page__block-details {
    padding: 0 0 29px;
  }

  .card-page__block-details .details-list__item {
    padding: 0 0 17px;
  }

  .card-page__block-description {
    padding: 0 0 25px;
  }

  .card-page__block-advantages .advantages-list {
    margin: 0;
  }

  .description-main {
    border: none;
    margin: 0 0 42px;
  }

  .description-main__left {
    padding: 0 0 31px;
  }

  .description-main__left-heading {
    font-size: 18px;
    padding: 0 0 16px;
    height: 82px;
  }

  .description-extra__heading {
    font-size: 18px;
    padding: 0 0 20px;
  }

  .product-preview__left {
    padding: 10px 0 59px;
  }

  .product-preview__left-advantages {
    padding: 0 10px 15px;
  }

  .gallery-product__main {
    padding: 0 30px;
  }

  .purchase__click-button {
    padding: 13px 5px;
  }

  .video-holder {
    height: 250px;
  }
}

@media (max-width: 439px) {
  .header-main__right-hide {
    padding: 3px 36px 0 78px;
  }

  .header-bottom__basket-dropdown {
    right: -21px;
    max-width: 320px;
    padding: 0 10px 25px;
  }

  .sizes-fields__col {
    width: 100%;
    padding: 0 0 10px;
  }

  .modular-cards-list {
    margin: 0 0 -24px;
  }

  .modular-cards-list__item {
    width: 100%;
    padding: 0 0 24px;
  }

  .products-list {
    margin: 0 0 -20px;
  }

  .products-list__item {
    width: 100%;
    padding: 0 0 20px;
  }

  .products-item__more {
    height: 300px;
    line-height: 300px;
  }

  .select-block-drop--double .select-block-drop__right {
    width: 60%;
  }

  .select-block-drop--double .select-block-drop__left {
    width: 40%;
  }

  .module-preview__links-item {
    font-size: 11px;
    padding: 4px 4px;
    margin: 0 2px;
  }

  .gallery-list__item {
    width: 100%;
  }

  .gallery-slider {
    padding: 0;
  }

  .gallery-slider__main {
    padding: 0;
  }

  .gallery-slider__nav {
    display: none;
  }

  .news-content__block {
    padding: 0 1px 35px;
  }

  .news-content__block-table td {
    padding: 9px 3px 10px 5px;
  }

  .news-item__content-bottom-left {
    width: 81%;
  }

  .news-item__content-bottom-left-img {
    margin: 0 10px 0 0;
  }

  .news-item__content-bottom-left-holder {
    width: calc(100% - 66px);
  }

  .news-item__content-bottom-right {
    width: 19%;
  }

  .factory-reviews-list__item {
    width: 100%;
  }

  .details-list__item {
    width: 100%;
  }

  .brands-name-row {
    border-top: none;
    text-align: left;
  }

  .brands-name-row__item {
    width: 100%;
    border-top: 1px solid #f3e9e1;
    text-align: center;
    min-height: 150px;
    padding: 14px 0 17px;
    min-height: 193px;
  }

  .brands-name-item__letter {
    font-size: 60px;
  }

  .brands-name-item__description-row-text {
    font-size: 16px;
    padding: 0 10px 0 0;
  }

  .basket-item__image {
    width: 100%;
    float: none;
    text-align: center;
  }

  .basket-item__content {
    width: 100%;
  }

  .basket-item__content-spinner {
    padding-bottom: 30px;
  }

  .basket-item__content-spinner .ui-spinner {
    margin: 0 auto;
  }

  .basket-item__content-price {
    position: relative;
    right: 0;
    bottom: 0;
    width: 100%;
    float: none;
  }

  .basket-item__content-price-holder {
    float: none;
  }

  .additional-services-item__description {
    width: 100%;
  }

  .additional-services-item__cost {
    width: 100%;
    text-align: left;
    padding: 0;
  }

  .popup-location {
    padding: 14px 0 0;
  }

  .popup-location__top {
    padding: 0 15px 38px;
  }

  .popup-location__top-left-input {
    width: 200px;
  }

  .popup-location__main-left-list {
    width: 100%;
    float: none;
    padding: 0 0 15px;
  }

  .about-block__left-heading {
    font-size: 36px;
  }

  .about-block__left-heading-new {
    font-size: 46px;
  }

  .main-page__block-news .news-item__content-top {
    height: auto;
  }

  .authentication-list__item {
    font-size: 13px;
  }

  .download {
    padding: 23px 20px 20px;
  }

  .download__inform {
    width: 100%;
    float: none;
  }

  .download__button {
    width: 100%;
    float: none;
  }

  .card-page__block-location-map .map-baloon {
    max-width: 100%;
    padding: 0 10px;
  }

  .performance-block__select-amount {
    width: 50%;
  }

  .performance-block__select-price {
    width: 50%;
  }

  .purchase__buy {
    width: 100%;
    float: none;
  }

  .purchase__click {
    width: 100%;
    float: none;
    padding: 0;
  }

  .checkout__block-total-text {
    width: 100%;
    padding: 0 0 15px;
  }

  .checkout__block-total-price {
    width: 100%;
    text-align: left;
    font-size: 33px;
    padding: 0;
  }

  .video-holder {
    height: 110px;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  .tablet-res {
    display: block;
  }
}