//----------------------------------------------------//
// RobotoSlab                                          //
//----------------------------------------------------//

// RobotoSlab => Georgia
//--------------------------------------------------// 

/* RobotoSlab regular */

@font-face {
	font-family: 'RobotoSlab';
	src: url('../fonts/robotoslab/regular/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/robotoslab/regular/RobotoSlab-Regular.woff') format('woff'),
		url('../fonts/robotoslab/regular/RobotoSlab-Regular.ttf')  format('truetype'),
		url('../fonts/robotoslab/regular/RobotoSlab-Regular.svg#RobotoSlab-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* RobotoSlab bold */
@font-face {
	font-family: 'RobotoSlab';
	src: url('../fonts/robotoslab/bold/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/robotoslab/bold/RobotoSlab-Bold.woff') format('woff'),
		url('../fonts/robotoslab/bold/RobotoSlab-Bold.ttf')  format('truetype'),
		url('../fonts/robotoslab/bold/RobotoSlab-Bold.svg#RobotoSlab-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
}



/* RobotoSlab light */
@font-face {
	font-family: 'RobotoSlab';
	src: url('../fonts/robotoslab/light/RobotoSlab-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/robotoslab/light/RobotoSlab-Light.woff') format('woff'),
		url('../fonts/robotoslab/light/RobotoSlab-Light.ttf')  format('truetype'),
		url('../fonts/robotoslab/light/RobotoSlab-Light.svg#RobotoSlab-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}


/* Georgia regular */
@font-face {
  font-family: 'Georgia';
  src: url('../fonts/georgia/regular/Georgia.eot?#iefix') format('embedded-opentype'),
  url('../fonts/georgia/regular/Georgia.woff') format('woff'),
  url('../fonts/georgia/regular/Georgia.ttf')  format('truetype'),
  url('../fonts/georgia/regular/Georgia.svg#Georgia') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Georgia italic */
@font-face {
	font-family: 'Georgia';
	src: url('../fonts/georgia/italic/Georgia-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/georgia/italic/Georgia-Italic.woff') format('woff'),
		url('../fonts/georgia/italic/Georgia-Italic.ttf')  format('truetype'),
		url('../fonts/georgia/italic/Georgia-Italic.svg#Georgia-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}

/* Georgia bold */

@font-face {
	font-family: 'Georgia';
	src: url('../fonts/georgia/bold/Georgia-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/georgia/bold/Georgia-Bold.woff') format('woff'),
		url('../fonts/georgia/bold/Georgia-Bold.ttf')  format('truetype'),
		url('../fonts/georgia/bold/Georgia-Bold.svg#Georgia-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
}
