//----------------------------------------------------//
// ICONS											  //
//----------------------------------------------------//
/* SVG */
.icon-instagram {
	width: 18px;
	height: 18px;
	fill: $white; 
}
.icon-checkbox {
	width: 18px;
	height: 18px;
}
.icon-close {
	width: 10px;
	height: 10px;
	fill: $gray;
}
.icon-arrow-bottom {  
	width: 9px;
	height: 6px;
	stroke: $black;
}

/* SVG END */

/* DEFAULT */
/* DEFAULT END */

/* STYLES */
/* STYLES END */