//----------------------------------------------------//
// LAYOUT                                             //
//----------------------------------------------------//
*,*:before,*:after {
	box-sizing: border-box;
}
html {
	min-height:100%;
}
body {
	background:$white;
	min-width:320px;
}
.wrapper {
	position:relative;
	overflow:hidden;
	min-height:100%;
	// background:$white;
	&:before {
		content:'';
		position: absolute;
		top: -36px;
		left: 0;
		width: 100%;
		max-height: 921px;
		height: 100%; 
	// background: -webkit-linear-gradient(rgba(252,250,249,1) 0%, rgba(125,185,232,0.01) 100%);
	// background: -o-linear-gradient(rgba(252,250,249,1) 0%, rgba(125,185,232,0.01) 100%);
	// background: linear-gradient(rgba(252,250,249,1) 0%, rgba(125,185,232,0.01) 100%); /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
}
.container {
	@extend .clearfix;
	margin: 0 auto;
	max-width: 1320px;
	padding: 0 20px;
}
.content-box {
	@extend .clearfix;
	&__left {
		float: left;
		width: calc(100% - 347px);
		@include b(tablet) {
			width: 100%;
			float: none;
		}
	}
	&__right {
		float: left;
		width: 347px;
		padding: 0 0 0 42px;
		@include b(tablet) {
			display: none;
		}
	}
}


body, html{
	overflow: visible;
	position: static;
	&.hidden-safari {
		position: fixed;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
}



.sale-marker {
	position: absolute;
	background: $orange;
	line-height: 12px;
	padding: 0px 3px 2px;
	font-family: $font_second;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: -13px;
		border: 8px solid transparent;
		border-right: 5px solid $orange;
	}
	&__text {
		color: $white;
		font-size: 11px;
		font-weight: 700;
		display: inline-block;
    vertical-align: middle;
	}
}



//----------------------------------------------------//
// Icons					                          //
//----------------------------------------------------//
.icon-logo {
	fill: $orange;
	height: 52px;
	width: 322px;
}
.icon-arrow-marker-large {
	fill: $brown10;
	height: 22px;
	width: 4px;
}
.icon-search {
	fill: $main;
	height: 16px;
	width: 16px;
}
.icon-login {
	fill: $main;
	width: 16px;
	height: 17px;
}



//----------------------------------------------------//
// HEADER                                             //
//----------------------------------------------------//
/* header */
.header {
	position: relative;
	z-index: 90;
	@include b(tablet) {
		border-bottom: 1px solid $brown20;
	}
	&-top {
		background: $brown2;
		border-bottom: 1px solid $brown5;
		margin: 0 0 36px;
		@include b(tablet){
			display: none;
		}
		&__left {
			width: 54%;
			float: left;
		}
		&__right {
			float: right;
			width: 46%;
			font-size: 0;
			letter-spacing: -5px;
			text-align: right;
			font-family: $fixFont;
			&-item {
				display: inline-block;
				font-size: 14px;
				letter-spacing: normal;
				vertical-align: top;
				padding: 9px 22px 8px 24px;
				letter-spacing: normal;
				border-right: 1px solid $brown5;
			}
			&-login {
			}
			&-sale {
				&-text {
					padding: 0 22px 0 0;
				}
				&-marker {
					display: inline-block;
					position: relative;
				}
			}
		}
	}
	&-main {
		@extend .clearfix;
		padding: 0 0 35px;
		@include b(tablet) {
			background: $brown17;
			padding: 16px 0 15px;
		}
		@include b(mobile) {
			padding-bottom: 13px;
		}
		&__left {
			float: left;
			width: 41%;
			@extend .clearfix;
			@include b(laptop) {
				width: 37%;
			}
			@include b(tablet) {
				width: 146px;
			}
			@include b(mobile) {
				width: 90px;
			}
			&-logo {
				float: left;
				max-width: 322px;
				width: 70%;
				@include b(laptop) {
					width: 65%;
				}
				@include b(tablet) {
					display: none;
				}
				&:hover {
					opacity: .7;
				}
				&-icon {
					max-width: 100%;
				}

				// small
				&-small {
					display: none;
					@include b(tablet) {
						display: block;

					}
					&-icon {
						fill: $orange;
						height: 52px !important;
						width: 49px !important;
					}
				}
			}
			&-delivery {
				float: left;
				width: 30%;
				padding: 0 0 0 15px;
				height: 52px;
				line-height: 0;
				letter-spacing: -5px;
				@include b(laptop) {
					width: 35%;
				}
				@include b(tablet) {
					display: none;
				}
				&:before {
					height: 100%;
					content: "";
					display: inline-block;
					vertical-align: middle;
				}
				&-arrow {
					margin: 0 9px 0 0;
					height: 22px;
					width: 4px;
				}
				&-text {
					font-weight: 700;
					font-family: "RobotoSlab", Times, serif;
					text-transform: uppercase;
					width: calc(100% - 22px);
					font-size: 10px;
					display: inline-block;
					letter-spacing: normal;
					line-height: 1.4;
					vertical-align: middle;
					letter-spacing: 1px;
					min-width: 86px;
				}
			}
			&-text {
				float: left;
			}
		}
		&__center {
			float: left;
			width: 30%;
			padding: 3px 0 0;
			@include b(tablet) {
				display: none;
			}
			& .search {
				max-width: 100%;
				width: 357px;
				text-align: left;
			}
		}

		&__right {
			float: left;
			width: 29%;
			padding: 3px 0 0;
			@include b(laptop) {
				width: 33%;
			}
			@include b(tablet) {
				width: 100%;
				padding: 3px 207px 0 145px;
				margin: 0 0 0 -146px;
			}
			@include b(mobile) {
				display: none;
			}
		}

		&__right-hide {
			display: none;
			float: left;
			width: 100%;
			padding: 3px 36px 0 92px;
			margin: 0 0 0 -92px;
			width: 100%;
			@include b(mobile) {
				display: block;
			}
			@include b(mobile-sm) {
				padding: 3px 36px 0 78px;
			}
		}
	}
	&-bottom {
		@include b(tablet) {
			position: absolute;
			top: 60px;
			right: 1px;
		}
		&__catalog {
			width: 290px;
			display: inline-block;
			vertical-align: middle;
			letter-spacing: normal;
			font-size: 16px;
			@include b(laptop) {
				width: 260px;
			}
			@include b(tablet) {
				display: none;
			}
		}
		&__menu {
			display: inline-block;
			width: calc(100% - 490px);
			vertical-align: middle;
			text-align: center;
			letter-spacing: normal;
			font-size: 16px;
			@include b(laptop) {
				width: calc(100% - 460px);
			}
			@include b(tablet) {
				display: none;
			}
		}
		&__basket {
			display: inline-block;
			vertical-align: middle;
			width: 200px;
			text-align: right;
			position: relative;
			letter-spacing: normal;
			font-size: 16px;
			@include b(tablet) {
				width: auto;
				margin: 0;
			}
			&-dropdown {
				border: 1px solid $brown2;
				border-radius: $brad;
				display: none;
				position: absolute;
				right: 0;
				z-index: 99;
				width: 357px;
				top: 56px;
				padding: 0 20px 29px;
				@include b(mobile-sm) {
					right: -21px;
					max-width: 320px;
					padding: 0 10px 25px;
				}
				&:before {
					content: '';
					display: block;
					border: 9px solid transparent;
					border-bottom: 6px solid $brown2;
					position: absolute;
					top: -15px;
					right: 11px;
				}
				&:after {
					content: '';
					display: block;
					border: 9px solid transparent;
					border-bottom: 6px solid #fff;
					position: absolute;
					top: -14px;
					right: 11px;
				}
				& .basket-sub-list {
					padding-bottom: 10px;
				}
			}
			&-button {
				@include b(tablet) {
					background-color: transparent;
					border: 2px solid $brown19;
					& .btn__text {
						color: $main;
					}
					& .btn__arrow {
						display: none;
					}
					& .btn__icon {
						[class^="icon-"], [class*=" icon-"] {
							fill: $orange;
						}
					}
				}
				@include b(mobile) {
					padding: 11px 13px;
					& .btn__text {
						display: none;
					}
					& .btn__icon {
						padding: 0;
					}
				}
				&.active,
				&:hover  {
					background: $orange;
					border-color: $orange;
					& .btn__arrow-image {
						transform: rotate(180deg);
					}
					& .btn__arrow {
						border-color: $orange2;
					}
					& .btn__text {
						color: $white;
					}
					& [class^="icon-"], [class*=" icon-"] {
						fill: $white;
					}
				}
			}
		}
		&__inner {
			position: relative;
			font-size: 0;
			letter-spacing: -5px;
			text-align: justify;
			&:after {
				width: 100%;
				height: 0;
				visibility: hidden;
				overflow: hidden;
				content: '';
				display: inline-block;
			}
		}
	}

	// header-small
	&-small {
		display: none;
		position: relative;
		@extend .clearfix;
		@include b(tablet) {
			display: block;
			height: 42px;
		}
		&__left {
			float: left;
			width: 50%;
			&-button {
				width: 100%;
				border-radius: 0;
				@include b(mobile) {
					padding: 12px 2px 12px 3px;
					height: 42px;
					& .btn__text {
						padding: 0;
					}
				}
				&-close {
					fill: $white;
				}
				& .btn__image {
					padding: 0 6px 0 0;
				}
				& .btn__image--close {
					display: none;
				}
				&.active {
					border-color: $orange;
					background: $orange;
					& .btn__image {
						display: none;
					}
					& .btn__image--close {
						display: inline-block;
					}
				}
				
			}
		}
		&__right {
			float: right;
			width: 50%;
			&-button {
				width: 100%;
				text-align: center;
				background: $brown16;
				padding: 12px 18px 10px 17px;
				@include b(mobile) {
					padding: 9px 18px 13px 17px;
					height: 42px;
				}
				&-text {
					color: $white;
					font-size: 12px;
					font-weight: bold;
					font-family: $font_second;
					text-transform: uppercase;
					display: inline-block;
					vertical-align: middle;
				}
				&-image {
					fill: $white;
					margin: 0 5px 0 0;
				}
				&-image-close {
					display: none;
				}
				&-drop {
					background-color: $brown12;
					display: none;
					width: 100%;
					position: absolute;
					left: 0;
					z-index: 99;
					padding: 0 0 41px;
					&-search {
						background: $brown4;
						padding: 20px 18px 21px;
						text-align: center;
						& .search {
							width: 400px;
							max-width: 100%;
							text-align: left;
							border-color: $brown5;
						}
						& .search__input {
							width: 80%;
							background: transparent;
							color: $main;
							padding: 11px 0 11px;
							@include inputPlaceholder($gray2);
						}
					}
					&-menu {
						padding: 0 0 19px;
					}
					&-login {
						padding: 0 20px 0;
						text-align: center;
						& .login {
							background: $main;
							padding: 12px 0;
						}
						& .login-item__link-login {
							color: $white;
						}
						& .login-item__link-image {
							fill: $white;
						}
						& .login-item__arrow {
							height: 13px;
							width: 5px;
						}
						& .login-item__link-registration {
							font-size: 12px;
						}
					}
				}
				&.active {
					& .header-small__right-button-image {
						display: none;
					}
					& .header-small__right-button-image-close {
						display: inline-block;
						fill: $white;
					}
				}
			}
		}
	}
}



/* header end */

//----------------------------------------------------//
// CONTENT                                            //
//----------------------------------------------------//
/* content */
.content {
	padding: 40px 0 50px;
	position: relative;
	z-index: 30;
	@include b(tablet) {
		padding: 30px 0 21px;
	}
}


.content-index {
	padding: 28px 0 37px;
	position: relative;
	@include b(tablet) {
		padding: 20px 0 28px;
	}
}
/* content end */

//----------------------------------------------------//
// FOOTER                                             //
//----------------------------------------------------//

/* footer */
.footer {
	position: relative;
	z-index: 60;
	// height: 150px;

}
// FOOTER //
.footer {
	&__top {
		padding: 54px 0 45px;
		background: $brown4;
		border-top:1px solid #f1ded0;
		@include b(tablet) {
			text-align: center;
			padding-top:105px;
			padding-bottom:31px;
			position: relative;
			background-image: url('../pic/bg/footer-map.png');
			background-repeat: no-repeat;
			background-position:  50% 33%;
		}
	}
	&__bottom {
		padding:28px 0;
		background: $main;
		@include b(tablet) {
			text-align: center;
			position: relative;
			padding:19px 0;
		}
	}
	&__row {
		padding-bottom: 49px;
		@extend .ulist;
		@extend .rlist;
		@extend .clearfix;
		&:last-child {
			padding: 0;
		}
		@include b(tablet)  {
			padding-bottom:0;
		}
	}
}
.footer-logo {
	display: inline-block;
	vertical-align: middle;
	padding-right: 85px;
	@media (max-width:1180px) {
		padding-right:50px;
	}
	@include b(tablet) {
		display: none;
	}
}


// FOOTER PHONE//
.footer-phone {
	display: inline-block;
	vertical-align: top;
	padding-right:75px;
	padding-top:11px;
	@media (max-width:1180px) {
		padding-right:40px;
	}
	@include b(tablet) {
		position: relative;
		padding-top: 25px;
		padding-right:0;
		width: 100%;


	}
	&__title {
		font-size: 14px;
		line-height: 14px;
		padding-bottom:5px;
		// letter-spacing: -1px;
		@include b(tablet) {
			display: none;
		}
	}
	&__num {
		font-size: 20px;
		line-height: 20px;
		padding-bottom:8px;
		font-weight: 700;
		font-family: $font_second;
		@include b(tablet)  {
			font-size: 26px;
		}
		&-link {
			color:$main;
			&:hover {
				text-decoration: none;
				color:$orange;
			}
		}
	}
	&__note {
		font-size: 14px;
		line-height: 14px;
		color:$gray2;
		// letter-spacing: -1px;
		@include b(tablet) {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			width: 280px;
			text-align: center;
			margin: 0 auto;
		}
	}
	&__subtitle {
		color:$gray2;
		display: inline-block;
		vertical-align: middle;
	}
	&__popup-link {
		display: inline-block;
		vertical-align: middle;
		color:$main;
		&-text {
			display: inline-block;
			vertical-align: middle;
			padding-right:2px;
			border-bottom:1px dotted $main;
			max-width:130px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow:ellipsis;
		}
		&:hover {
			text-decoration: none;
			color:$orange;

			[class*='icon-'] {
				fill:$orange;
			}
			.footer-phone__popup-link-text {
				border-color:$orange;
			}
		}
	}
	&--city {
		padding-top:9px;
		@include b(tablet) {
			display: none;
		}
	}
}

// FOOTER ADDRESSES //
.footer-addresses {
	display: block;
	float: right;
	width: 358px;
	background: rgba(0,0,0,.2);
	background-image: url('../pic/bg/addresses-bg.jpg');
	height: 85px;
	line-height: 77px;
	text-align: center;
	border-radius:5px;
	border:1px solid $brown7;
	overflow: hidden;
	font-size: 18px;
	transition:all .2s ease-in-out;
	box-shadow:0px 15px 30px 0px rgba(79, 45, 0, 0.1);
	@include b(tablet) {
		display: none;
	}
	&:hover {
		text-decoration: none;
		background-image: url('../pic/bg/addresses-bg-hover.jpg');
		transition:all .2s ease-in-out;
		
		.footer-addresses__text {
			color:$white;
		}
		.icon-footer-location {
			fill:$white;
		}
	}
	&__icon {
		display: inline-block;
		vertical-align: middle;
		padding-right:20px;
	}
	&__text {
		display: inline-block;
		vertical-align: middle;
		color:$main;
		font-family: $font_second;
	}
}

// FOOTER SOCIAL //
.footer__social {
	display: inline-block;
	vertical-align: top;
	padding-right:85px;
	width: 170px;
	@media (max-width:1180px) {
		width: 135px;
		padding-right:50px;
	}
	@include b(tablet) {
		position: absolute;
		top: 36px;
		left: 0;
		text-align: center;
		width: 100%;
		padding-right:0;
	}
}

// FOOTER LISTS //
.footer-lists {
	display: inline-block;
	vertical-align: middle;
	text-align: justify;
	width:65%;
	@include b(tablet) {
		display: none;
	}
	&:after {
		width: 100%;
		height: 0;
		visibility: hidden;
		overflow: hidden;
		content: '';
		display: inline-block;
	}
	&__item {
		display: inline-block;
		vertical-align: top;
		padding-right:10px;
		&--right {
			padding-right:0;
			padding-left: 70px;
		}
		&:last-child {
			padding-right:0;
		}
	}
	&__title {
		padding-bottom:20px;
		font-size: 18px;
		font-family: $font_second;
		&-link {
			color:$main;
			&:hover {
				text-decoration: none;
				color:$orange;
			}
		}

	}
}
.footer-nav-list {
	max-width:130px;
	text-align: left;
}
// FOOTER card LIST //
.footer__card-list {
	float: right;
	width: 115px;
	@include b(tablet) {
		display: none;
	}
}

// FOOTER ADV BLOCK //
.footer-adv {
	float: left;
	@extend .rlist;
	@include b(tablet) {
		display: none;
	}
	&__link {
		display: inline-block;
		vertical-align: middle;
		width: 216px;
		margin-right: 20px;
		img {
			width: 100%;
		}
	}
	&__text {
		display: inline-block;
		vertical-align: middle;
		max-width:130px;
		font-size: 12px;
		line-height: 14px;
		color:$brown8;
		font-family: $font_second;
	}
}

// COPYRIGHT //
.copyright {
	float: right;
	font-size: 12px;
	line-height: 14px;
	color:$brown8;
	margin: 6px 0 0;
	font-family: $font_second;
	&__mob-visible {
		display: none;
	}
	@include b(tablet) {
		float: none;
		&__mob-visible {
			display: block;
		}
	}
}

//full-version-btn//
.full-version-btn {
	display: none;
	margin-top: 32px;
	border-color: $brown5;
	@include b(tablet) {
		display: inline-block;
	}
}

// FOOTER END//
/* footer end */

//----------------------------------------------------//
// CLEAR                                           	  //
//----------------------------------------------------//
/* desktop */
.clear {
	clear:both;
}
/* desktop end */

/* tablet */
.clear-md {
	@include b(tablet){
		clear:both;
	}
}
/* tablet end */

/* mobile */
.clear-sm {
	@include b(mobile){
		clear:both;
	}
}
/* mobile end */

//----------------------------------------------------//
// VISIBLE/HIDDEN                                     //
//----------------------------------------------------//
/* desktop */
.hidden-lg {
	display:none !important;
}
/* desktop end */

/* tablet */
.hidden-md {
	@include b(tablet){
		display:none !important;
	}
}
.visible-block-md {
	@include b(tablet){
		display:block !important;
	}
}
.visible-inline-md {
	@include b(tablet){
		display:inline !important;
	}
}
.visible-inline-block-md {
	@include b(tablet){
		display:inline-block !important;
	}
}
/* tablet end */

/* mobile */
.hidden-sm {
	@include b(mobile){
		display:none !important;
	}
}
.visible-block-sm {
	@include b(mobile){
		display:block !important;
	}
}
.visible-inline-sm {
	@include b(mobile){
		display:inline !important;
	}
}
.visible-inline-block-sm {
	@include b(mobile){
		display:inline-block !important;
	}
}
/* mobile end */
/* VISIBLE/HIDDEN END */

//----------------------------------------------------//
// LAYOUT                                     		  //
//----------------------------------------------------//
.row {
	@extend .clearfix,.rlist;

	margin-left:-20px;
}
[class^="col-sm-"],
[class*=" col-sm-"],
[class^="col-md-"],
[class*=" col-md-"],
[class^="col-lg-"],
[class*=" col-lg-"]{
	@extend .ulist;

	display:inline-block;
	vertical-align:top;
	padding-left:20px;
}

/* mobile */
@media (min-width: $media_small_min){
	.col-sm-100 {
		width:100%;
	}
	.col-sm-50 {
		width:50%;
	}
	.col-sm-33 {
		width: 33.33%;
	}
	.col-sm-25 {
		width: 25%;
	}
}
/* mobile end */

/* tablet */
@media (min-width: $media_medium_min){
	.col-md-100 {
		width:100%;
	}
	.col-md-50 {
		width:50%;
	}
	.col-md-33 {
		width:33.33%;
	}
	.col-md-25 {
		width: 25%;
	}
}
/* tablet end */

/* desktop */
@media (min-width: $media_large_min){
	.col-lg-100 {
		width: 100%;
	}
	.col-lg-50 {
		width:50%;
	}
	.col-lg-33 {
		width:33.33%;
	}
	.col-lg-25 {
		width:25%;
	}
}
/* desktop end */

//----------------------------------------------------//
// MEDIA RES                                     	  //
//----------------------------------------------------//
.desktop-res,
.tablet-res,
.mobile-resб
.tablet-res-low {
	position:absolute;
	left:-9999px;
	top: -9999px;
	width:1px;
	height:1px;
	display:none;
}
.desktop-res {
	@media (min-width:$media_large_min){
		display:block;
	}
}
.tablet-res {
	@media (max-width:$tablet) and (min-width:$media_medium_min){
		display:block;
	}
}
.tablet-res-low {
	@media (max-width:$tablet){
		display:block;
	}
}
.mobile-res {
	@include b(mobile){
		display:block;
	}
}