//----------------------------------------------------//
// Mixins & Includes                                  //
//----------------------------------------------------//
.rlist {
  font-size: 0;
  line-height: 0;
}

.ulist {
  font-size: $main_size;
  line-height: $main_height;
}

.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  vertical-align: middle;
}

/* retina-sprite */
@mixin mysprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: $min_retina_2x) {
    background-image: url("../img/sprite@2x.png");
    background-size: $icons_sprite_1x_size; // size of 1x sprite
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min-resolution: 3dppx), only screen and (min-resolution: 350dpi) {
    background-image: url("../img/sprite@3x.png");
    background-size: $icons_sprite_1x_size; // size of 1x sprite
  }
}

// PLACEHOLDER MIXIN
@mixin inputPlaceholder($input-text-color) {
  &::-webkit-input-placeholder {
    color: $input-text-color
  }
  &:-moz-placeholder {
    color: $input-text-color;
  }
  &::-moz-placeholder {
    color: $input-text-color;
  }
  &:-ms-input-placeholder {
    color: $input-text-color;
  }
  &.placeholder {
    color: $input-text-color;
  }
  &:focus:-moz-placeholder {
    color: transparent;
  }
  &:focus::-moz-placeholder {
    color: transparent;
  }
  &:focus::-webkit-input-placeholder {
    color: transparent;
  }
  &:focus:-ms-input-placeholder {
    color: transparent;
  }
  &:focus::placeholder {
    color: transparent;
  }
}

.clearfix {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
@mixin clearfix {
  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}

@mixin trs {
  transition: all .3s ease;
}


// breakpoints
@mixin b($point) {
  @if $point == desktop {
    @media (min-width: 1367px) {
      @content;
    }
  } @else if $point == laptop {
    @media (max-width: 1366px) {
      @content;
    }
  } @else if $point == tablet {
    @media (max-width: 1024px) {
      @content;
    }
  } @else if $point == phablet {
    @media (min-width: 37.5em) {
      @content;
    }
  } @else if $point == mobile {
    @media (max-width: 760px) {
      @content;
    }
  } @else if $point == mobile-sm {
    @media (max-width: 439px) {
      @content;
    }
  } @else if $point == mobile3x {
    @media only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min-resolution: 3dppx), only screen and (min-resolution: 350dpi) {
      @content;
    }
  } @else {
    @media (max-width: $point + 'px') {
      @content;
    }
  }
}