@import "partials/contacts";
@import "partials/cat-item";

.icon-sandwich {
  margin-top: 5px;
  width: 16px;
  height: 12px;
  fill: #c7b5a8;
}

.mod {
  .modular-cards-item__content {
    padding-bottom: 17px;
  }
  .modular-cards-item__content-set {
    margin-bottom: 3px;
    &::after {
      display: none;
    }
  }
  .modular-cards-item__image-link {
    height: 208px;
  }
  &__txt {
    display: table;
    width: 100%;
    @include b(mobile) {
      display: none;
    }
    &-row {
      display: table-row;
    }
    &-item {
      display: table-cell;
      text-align: left;

      color: #433c3a;
      font-size: 13px;
      font-weight: 400;
      line-height: 19px;
      padding-bottom: 8px;
      white-space: nowrap;
      position: relative;
      &:first-child {
        &::before {
          content: '';
          height: 1px;
          width: calc(100% - 10px);
          border-bottom: 1px dotted #bba492;
          position: absolute;
          left: 0;
          bottom: 13px;
          z-index: 0;
        }
        padding-right: 10px;
        .mod__txt-item-holder {
          padding-right: 10px;
        }
      }
      &:last-child {
        width: 1px;
      }
      .yellow {
        color: #bba492;
      }
      &-holder {
        background-color: #fff;
        position: relative;
        z-index: 1;
      }
    }
  }
  &__mark {
    line-height: 17px;
    display: inline-block;
    color: #fefefe;
    font-family: $font_second;
    font-size: 11px;
    font-weight: 400;
    background-color: #ff733f;
    padding: 0 8px;
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

.d-filter {
  line-height: 1;

  width: 100%;
  display: block;
  clear: both;
  height: auto;
  border: 1px solid #f3e9e1;
  padding: 25px 25px;
  border-radius: 3px;
  position: relative;

  @include b(tablet) {
    display: none;
    visibility: hidden;
    opacity: 0;
    width: calc(100% - 20px);
    position: absolute;
    top: 60px;
    left: 10px;
    z-index: 200;
    border: 1px solid #f3e9e1;
    border-radius: 4px;
    background: #fff;
    -webkit-box-shadow: 0px 20px 35px 0px rgba(1, 1, 1, 0.1);
    box-shadow: 0px 20px 35px 0px rgba(1, 1, 1, 0.1);
    height: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    //padding-bottom: 50px;
    padding-bottom: 120px;
  }

  &__cb {
    visibility: hidden;
    opacity: 0;
    display: none;
  }

  &__more {
    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 30px;
    color: #433c3a;
    font-family: $font_second;
    font-size: 14px;
    font-weight: 400;
    background-color: #fff;
    z-index: 2;
    @include b(991) {
      bottom: 85px;
      //position: static;
      //text-align: center;
      //transform: none;
    }
    &-txt {
      @include trs;
      border-bottom: 1px dashed #433c3a;
      cursor: pointer;
      white-space: nowrap;
      &:hover {
        border-bottom: 1px dashed #ff733f;
        color: #ff733f;
      }
    }
  }
  &__main {
    @include clearfix;
    margin: 0 -10px;
    &-item {
      width: 100%;
      position: relative;
      &--holder {
        float: left;
        width: 22.466666667%;
        padding: 0 10px;
        @include b(1200) {
          width: 25% !important;
          padding: 0 10px !important;
        }
        @include b(tablet) {
          width: 50% !important;
          margin-bottom: 25px;
        }
        @include b(mobile) {
          width: 100% !important;
        }
        &:first-child {
          width: 32.6%;
          padding-right: 30px;
        }
      }
    }
    &-title {
      color: #433f3e;
      font-family: $font_second;
      font-size: 16px;
      font-weight: 400;
    }
  }
  &__col {
    &-holder {
      @include clearfix;
      margin-top: 18px;
      position: relative;
    }
    float: left;
    width: 50%;
    &:first-child {
      input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    &:last-child {
      margin-left: -1px;
      input {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        //border-left-color: transparent;
      }
    }
    input.input {
      position: relative;
      height: 48px;
      padding-bottom: 8px;
      &.input-label {
        &.fix {
          padding-top: 20px;
          & ~ label {
            margin-top: -39px;
          }
        }
        & ~ label {
          position: relative;
          z-index: 11;
          display: block !important;
          margin-top: -32px;
        }
        &:focus {
          & ~ label {
            margin-top: -39px;
          }
        }
      }
      &:focus {
        z-index: 10;
      }
    }

  }
  &__color {
    margin-top: 25px;
    @include b(991) {
      border-bottom: 1px solid #f3e9e1;
      padding-bottom: 20px;
    }
    &-block {
      float: left;
      @include b(mobile) {
        float: none;
      }
      &:first-child {
        width: calc(100% - 127px);
        padding-right: 20px;
        @include b(mobile) {
          width: 100%;
        }
      }
      &:last-child {
        width: 127px;
        @include b(991) {
          position: absolute;
          left: 50%;
          bottom: 20px;
          transform: translateX(-50%);
        }

      }
      &--holder {
        @include clearfix;
        margin-top: 18px;
      }
      .btn {
        text-align: center;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    &-item {
      @include trs;
      position: relative;
      display: inline-block;
      width: 42px;
      height: 42px;
      border: 2px solid rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      vertical-align: top;
      margin-right: 10px;
      cursor: pointer;
      margin-bottom: 10px;
      &:hover {
        .d-filter__color-tooltip {
          display: block;
        }
      }
      &--beige {
        background-color: #f5f5dc;
      }
      &--brown {
        background-color: #964b00;
      }
      &--dark-brown {
        background-color: #4d2303;
      }
      &--white {
        background-color: #fff;
      }
      &--black {
        background-color: #000;
      }
      &--gray {
        background-color: #808080;
      }
      &:last-child {
        margin-right: 0;
      }
      svg {
        @include center;
        @include trs;
        opacity: 0;
        display: block;
        width: 17px;
        height: 12px;
      }
      &.dark {
        svg {
          fill: #fff;
        }
      }
      &.light {
        svg {
          fill: #433c3a;
        }
      }
      &.active {
        svg {
          opacity: 1;
        }
      }
    }
    &-tooltip {
      box-shadow: 0 20px 35px rgba(79, 45, 0, 0.1);
      border: 1px solid #f2e7df;
      background-color: #faefe8;
      position: absolute;
      top: -24px;
      left: 50%;
      transform: translateX(-50%);
      display: none;
      padding: 0 4px;
      line-height: 13px;
      color: #bba492;
      font-family: $font_second;
      font-size: 10px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.2px;
      &::before {
        content: '';
        position: absolute;
        bottom: -3px;
        left: 50%;
        transform: translateX(-50%) rotate(-45deg);
        background-color: #faefe8;
        height: 5px;
        width: 5px;
        border-bottom: 1px solid #f2e7df;
        border-left: 1px solid #f2e7df;
      }
    }
  }
  &__other {
    border-top: 1px solid #f3e9e1;
    margin-top: 20px;
    padding: 25px 0 15px 0;
    width: 100%;
    word-spacing: -.36em;
    display: none; //table
    @include b(991) {
      padding: 0;
      border-top: 0;
      margin-top: 0;
    }
    &-item {
      position: relative;
      word-spacing: normal;
      display: inline-block;
      width: 16.666666%;
      padding-right: 20px;
      vertical-align: top;
      &.active {
        .d-filter__mob-icon {
          fill: #ff733f;
          transform: rotate(180deg);
        }
        .d-filter__other-hdr {
          color: #ff733f;
        }
      }
      @include b(991) {
        width: 100%;
        //padding-right: 0;
        border-bottom: 1px solid #f3e9e1;
        padding: 29px 0;
      }
      &:last-child {
        padding-right: 0;
      }
      &-holder {
        margin-top: 16px;
        @media (min-width: 992px) {
          display: block !important;
        }
        @include b(991) {
          display: none;
        }
      }
    }
    &-hdr {
      @include trs;
      color: #433f3e;
      font-family: $font_second;
      font-size: 16px;
      font-weight: 400;
      @include b(991) {

      }
    }
    .checkboxes__item {
      padding-bottom: 10px;
      &:last-child {
        padding-bottom: 0;
      }
      .checkbox {
        &__icon {
          width: 17px;
          height: 17px;
          &-image {
            left: 2px;
            top: 3px;
          }
        }
      }
    }
  }

  &__mob {
    display: inline-block;

    @include b(tablet) {
      display: inline-block;
      vertical-align: top;
      width: 50%;
      padding: 0 10px;
      .filter__btn.active {
        & ~ .d-filter {
          display: block;
          visibility: visible;
          opacity: 1;
          height: auto;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
          &::before {
            content: '';
            position: absolute;
            right: 10px;
            top: -7px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 6px 7px 6px;
            border-color: transparent transparent #f3e9e1 transparent;
          }
          &::after {
            content: '';
            position: absolute;
            right: 11px;
            top: -6px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 5px 6px 5px;
            border-color: transparent transparent #fff transparent;
          }
        }
      }
    }
    &-icon {
      display: none;
      @include b(991) {
        display: block;
        position: absolute;
        right: 20px;
        top: 35px;
      }
    }
  }
}

.i-plates {
  margin-top: 6px;
  margin-bottom: 45px;
  &__slider {
    background-color: #f3e9e1;
    padding-right: 48px;
  }
  &__item {
    @include trs;
    text-decoration: none !important;
    cursor: pointer;
    height: 152px;
    width: 154px;
    padding: 0 10px 10px;
    &:hover {
      background-color: #eedbce;
      svg {
        fill: #ff733f;
      }
      .i-plates__title {
        color: #ff733f;
        font-weight: 700;
      }
    }
  }
  &__icon {
    height: 76px;
    text-align: center;
    vertical-align: bottom;
    display: table-cell;
    width: 154px;
    &-img {
      @include trs;
      vertical-align: bottom;
      height: 50px;
      max-width: 65px;
      fill: #433c3a;
    }
    &-beds {
      width: 65px;
    }
    &-chairs {
      width: 30px;
    }
    &-table-chairs {
      width: 50px;
    }
    &-armchair {
      width: 50px;
    }
    &-bedroomset {
      width: 50px;
    }
    &-banquettes {
      width: 44px;
    }
    &-closet {
      width: 50px;
    }
    &-coffee-table {
      width: 50px;
    }
    &-curbstones {
      width: 51px;
    }
    &-drawers {
      width: 44px;
    }
    &-furniture {
      width: 50px;
    }
    &-hang {
      width: 49px;
    }
    &-mattress {
      width: 62px;
    }
    &-modular-furniture {
      width: 50px;
    }
    &-nightstand {
      width: 34px;
    }
    &-rack {
      width: 56px;
    }
    &-shelf {
      width: 62px;
    }
    &-shoes {
      width: 69px;
    }
    &-shop-window {
      width: 43px;
    }
    &-sofa {
      width: 63px;
    }
    &-table {
      width: 62px;
    }
    &-tv-curbstones {
      width: 44px;
    }
    &-wals {
      width: 60px;
    }
    &-wardrobe {
      width: 50px;
    }
    &-write-table {
      width: 50px;
    }
  }
  &__title {
    transition: color .3s ease;
    font-family: $font_second;
    font-size: 14px;
    font-weight: 400;
    color: #433f3e;
    text-align: center;
    margin-top: 19px;
  }

  &__btn {
    @include trs;
    position: absolute;
    top: 0;
    width: 48px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
    z-index: 20;
    @include b(tablet) {
      background-color: #eedbce;
    }
    &:hover {
      background-color: #eedbce;
      svg {
        fill: #fd8153;
      }
    }
    svg {
      @include trs;
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 18px;
      height: 10px;
      margin: -5px -9px;
      fill: #c8b5a8;
      transform-origin: 50% 50% 0;
      transform: rotate(-90deg);
      @include b(tablet) {
        fill: #c8b5a8;
      }
    }
    &-next {
      right: 0;
    }
    &-prev {
      left: 0;
      svg {
        transform: rotate(90deg);
      }
    }
  }
}

.n-drop {
  .dropbox-inner__item {
    &:first-child {
      width: 80%;
    }
    &:last-child {
      width: 20%;
    }
  }
  .drop-item:hover .dropbox-inner__item-image-img {
    width: 100px;
    height: 100px;
  }
  .dropbox-list__item {
    width: 50%;
    float: left;
  }
  .dropbox {
    width: 100%;
  }
}

.tags__more {
  cursor: pointer;
  user-select: none;
}

.tags-list {
  &__item {

    &.hidden {
      display: none;
    }

    &.opened {
      display: inline-block;
      @include b(tablet) {
        display: block;
      }
    }
    
  }
}
