/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$arrow-slider-left-name: 'arrow-slider-left';
$arrow-slider-left-x: 153px;
$arrow-slider-left-y: 58px;
$arrow-slider-left-offset-x: -153px;
$arrow-slider-left-offset-y: -58px;
$arrow-slider-left-width: 17px;
$arrow-slider-left-height: 19px;
$arrow-slider-left-total-width: 180px;
$arrow-slider-left-total-height: 137px;
$arrow-slider-left-image: '../img/sprite.png';
$arrow-slider-left: (153px, 58px, -153px, -58px, 17px, 19px, 180px, 137px, '../img/sprite.png', 'arrow-slider-left', );
$arrow-white-right-name: 'arrow-white-right';
$arrow-white-right-x: 153px;
$arrow-white-right-y: 36px;
$arrow-white-right-offset-x: -153px;
$arrow-white-right-offset-y: -36px;
$arrow-white-right-width: 24px;
$arrow-white-right-height: 17px;
$arrow-white-right-total-width: 180px;
$arrow-white-right-total-height: 137px;
$arrow-white-right-image: '../img/sprite.png';
$arrow-white-right: (153px, 36px, -153px, -36px, 24px, 17px, 180px, 137px, '../img/sprite.png', 'arrow-white-right', );
$icon-cart-name: 'icon-cart';
$icon-cart-x: 0px;
$icon-cart-y: 0px;
$icon-cart-offset-x: 0px;
$icon-cart-offset-y: 0px;
$icon-cart-width: 52px;
$icon-cart-height: 52px;
$icon-cart-total-width: 180px;
$icon-cart-total-height: 137px;
$icon-cart-image: '../img/sprite.png';
$icon-cart: (0px, 0px, 0px, 0px, 52px, 52px, 180px, 137px, '../img/sprite.png', 'icon-cart', );
$icon-checked-round-name: 'icon-checked-round';
$icon-checked-round-x: 108px;
$icon-checked-round-y: 0px;
$icon-checked-round-offset-x: -108px;
$icon-checked-round-offset-y: 0px;
$icon-checked-round-width: 40px;
$icon-checked-round-height: 40px;
$icon-checked-round-total-width: 180px;
$icon-checked-round-total-height: 137px;
$icon-checked-round-image: '../img/sprite.png';
$icon-checked-round: (108px, 0px, -108px, 0px, 40px, 40px, 180px, 137px, '../img/sprite.png', 'icon-checked-round', );
$icon-checked-name: 'icon-checked';
$icon-checked-x: 153px;
$icon-checked-y: 103px;
$icon-checked-offset-x: -153px;
$icon-checked-offset-y: -103px;
$icon-checked-width: 12px;
$icon-checked-height: 10px;
$icon-checked-total-width: 180px;
$icon-checked-total-height: 137px;
$icon-checked-image: '../img/sprite.png';
$icon-checked: (153px, 103px, -153px, -103px, 12px, 10px, 180px, 137px, '../img/sprite.png', 'icon-checked', );
$icon-close-name: 'icon-close';
$icon-close-x: 153px;
$icon-close-y: 82px;
$icon-close-offset-x: -153px;
$icon-close-offset-y: -82px;
$icon-close-width: 16px;
$icon-close-height: 16px;
$icon-close-total-width: 180px;
$icon-close-total-height: 137px;
$icon-close-image: '../img/sprite.png';
$icon-close: (153px, 82px, -153px, -82px, 16px, 16px, 180px, 137px, '../img/sprite.png', 'icon-close', );
$icon-green-hit-name: 'icon-green-hit';
$icon-green-hit-x: 57px;
$icon-green-hit-y: 0px;
$icon-green-hit-offset-x: -57px;
$icon-green-hit-offset-y: 0px;
$icon-green-hit-width: 46px;
$icon-green-hit-height: 45px;
$icon-green-hit-total-width: 180px;
$icon-green-hit-total-height: 137px;
$icon-green-hit-image: '../img/sprite.png';
$icon-green-hit: (57px, 0px, -57px, 0px, 46px, 45px, 180px, 137px, '../img/sprite.png', 'icon-green-hit', );
$icon-pdf-name: 'icon-pdf';
$icon-pdf-x: 153px;
$icon-pdf-y: 0px;
$icon-pdf-offset-x: -153px;
$icon-pdf-offset-y: 0px;
$icon-pdf-width: 27px;
$icon-pdf-height: 31px;
$icon-pdf-total-width: 180px;
$icon-pdf-total-height: 137px;
$icon-pdf-image: '../img/sprite.png';
$icon-pdf: (153px, 0px, -153px, 0px, 27px, 31px, 180px, 137px, '../img/sprite.png', 'icon-pdf', );
$icon-percent-name: 'icon-percent';
$icon-percent-x: 0px;
$icon-percent-y: 57px;
$icon-percent-offset-x: 0px;
$icon-percent-offset-y: -57px;
$icon-percent-width: 46px;
$icon-percent-height: 45px;
$icon-percent-total-width: 180px;
$icon-percent-total-height: 137px;
$icon-percent-image: '../img/sprite.png';
$icon-percent: (0px, 57px, 0px, -57px, 46px, 45px, 180px, 137px, '../img/sprite.png', 'icon-percent', );
$icon-phone-name: 'icon-phone';
$icon-phone-x: 0px;
$icon-phone-y: 107px;
$icon-phone-offset-x: 0px;
$icon-phone-offset-y: -107px;
$icon-phone-width: 30px;
$icon-phone-height: 30px;
$icon-phone-total-width: 180px;
$icon-phone-total-height: 137px;
$icon-phone-image: '../img/sprite.png';
$icon-phone: (0px, 107px, 0px, -107px, 30px, 30px, 180px, 137px, '../img/sprite.png', 'icon-phone', );
$icon-red-round-name: 'icon-red-round';
$icon-red-round-x: 51px;
$icon-red-round-y: 57px;
$icon-red-round-offset-x: -51px;
$icon-red-round-offset-y: -57px;
$icon-red-round-width: 45px;
$icon-red-round-height: 45px;
$icon-red-round-total-width: 180px;
$icon-red-round-total-height: 137px;
$icon-red-round-image: '../img/sprite.png';
$icon-red-round: (51px, 57px, -51px, -57px, 45px, 45px, 180px, 137px, '../img/sprite.png', 'icon-red-round', );
$icon-zoom-name: 'icon-zoom';
$icon-zoom-x: 108px;
$icon-zoom-y: 45px;
$icon-zoom-offset-x: -108px;
$icon-zoom-offset-y: -45px;
$icon-zoom-width: 37px;
$icon-zoom-height: 37px;
$icon-zoom-total-width: 180px;
$icon-zoom-total-height: 137px;
$icon-zoom-image: '../img/sprite.png';
$icon-zoom: (108px, 45px, -108px, -45px, 37px, 37px, 180px, 137px, '../img/sprite.png', 'icon-zoom', );
$spritesheet-width: 180px;
$spritesheet-height: 137px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($arrow-slider-left, $arrow-white-right, $icon-cart, $icon-checked-round, $icon-checked, $icon-close, $icon-green-hit, $icon-pdf, $icon-percent, $icon-phone, $icon-red-round, $icon-zoom, );
$spritesheet: (180px, 137px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
