//----------------------------------------------------//
// TYPOGRAPHY                                         //
//----------------------------------------------------//
body {
	color: $main;
	font-family: $font, $fixFont;
	font-size: $main_size;
	line-height: $main_height;
	letter-spacing: $main_lts;
	font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
	color:$gray3;
	font-family: $font, $fixFont;
	font-size: $main_size;
	line-height: $main_height;
	letter-spacing: $main_lts;
	font-weight: 400;
	margin: 0;
}
a {	
	color: $orange;
	text-decoration:none;
	transition: all 0.3s ease 0s;
	&:hover {
		text-decoration: underline;
	}
}
p {
	margin: 0;
}
strong,
b {
	font-weight: 700;
}
.static-content {
	font-size: 16px;
	line-height: 1.25;
	font-weight: 400;
	color: $gray3;
	h1,h2,h3,h4,h5,h6 {
		font-weight: 400;
		font-family: $font_second;
	}
	h1 {
		font-size: 28px;
		padding: 0 0 30px;
	}
	h2 {
		font-size: 24px;
		padding: 0 0 26px;
	}
	h3 {
		font-size: 22px;
		padding: 0 0 15px;
	}
	h4 {
		font-size: 20px;
		padding: 0 0 10px;
	}
	h5 {
		font-size: 18px;
		padding: 0 0 10px;
	}
	h6 {
		font-size: 17px;
		padding: 0 0 10px;
	}
	a {
		color: $orange;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
	p {
		padding: 0 0 20px;
		margin: 0;
	}
	q, blockquote {
		font-size: 24px;
		line-height: 1.25;
		font-weight: 300;
		color: $gray;
		margin: 16px 0 40px;
		padding: 0 0 0 40px; 
		border-left: 6px solid $gray; 
		display: block;
	}
	figure {
		margin: 80px 0;
		img {
			margin: 0 0 6px;
		}
	}
	figcaption {
		font-size: 12px;
		color: $gray;
	}
	ol {
		list-style-type: decimal;
		list-style-position: inside;
		counter-reset: item;
		padding: 0 0 3px;
		li {
			display: block;
			padding: 0 0 24px 17px;
			position: relative;
			&:before { 
				content: counters(item, ".") ". ";
				counter-increment: item;
				display: inline;
				vertical-align: top;
				position: absolute;
				top: 2px;
				left: 0;
			}
		}
	}
	ul {
		padding: 0 0 3px;
		li {
			padding: 0 0 24px 17px;
			position: relative;
			& span {
				display: inline-block;
			}
		}
	}
	.list-marker {
		fill: $orange;
		position: absolute;
		top: 7px;
		left: 0;
		transform: rotate(-90deg);
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
		margin: 0 0 34px;
		width:100%;
		font-family: $font_second;
		font-size: 14px;
	}
	tr {
		border-radius: $brad;
		background: $brown4;
		&:nth-child(2n) {
			background: transparent;
		}
	}
	th {
		font-weight:700;
		color:$main;
		padding:0 0 6px 20px;
		text-align:left;
		vertical-align:top;
		font-size: 16px;
		background: $white;
		&:first-child {
			padding-left:0;
		}
	}
	td {
		color: $brown6;
		padding:14px 0 17px 20px;
		text-align:left;
		vertical-align:middle;
		font-size: 14px;
		&:nth-child(2n) {
			color: $main;
		}
	}
	dl {
		border-top: 1px solid $brown2;
		padding: 12px 0 13px;
		font-family: $font_second;
	}
	dt {
		color: $brown6;
		font-size: 14px;
		padding: 0 0 3px;
	}
	dd {
		font-size: 14px;
		line-height: 16px
	}
	img {
		margin: 15px auto 15px; 
	}

	[style*="float: left"],
	[style*="float:left"],
	img[align="left"] {
		margin: 36px 36px 38px 0;
	}

	[style*="float: right"],
	[style*="float:right"],
	[align="right"] {
		margin: 36px 0 38px 36px;
	}
}
.wide-img {
	margin: 16px -9999px 40px;
	img {
		display: block;
		margin: 0 auto;
	}
}
.upper {
	text-transform: uppercase;
}
.center {
	text-align: center !important;
}