//----------------------------------------------------//
// Variables                                          //
//----------------------------------------------------//
// Roboto
$font:			'Georgia';
$main_size:		16px;
$main_height:	1.25;
$main_lts: 0;
$fixFont: 'Times New Roman', Times, serif;
$font_second: 'RobotoSlab', Times, serif; 


// Variables => Colors
//----------------------------------------------------//
$main:	#433c3a; // main color

$white: #fff;

$black: #000;


$gray: #ac9888;
$gray2: #bba492;
$gray3: #433f3e;
 



$blue: #3195f3; 
$blue2: #2a98ff; 



$orange: #ff733f;  // link color
$orange1: #fc5a1f;
$orange2: #ff8450;
$orange3: #e27244;


$brown: #b7a190;
$brown2: #f3e9e1;
$brown3: #bfab99;
$brown4: #faefe8;
$brown5: #e5d2c4;
$brown6: #baa491;
$brown7: #f2e7df;
$brown8: #bea794;
$brown9: #d2c1b5;
$brown10: #b6a496;
$brown11: #cec0b4;
$brown12: #eedbce;
$brown13: #eedbcf;
$brown14: #fdeee5;
$brown15: #574e4d;
$brown16: #433e3d;
$brown17: #f7eee8;
$brown18: #e3d9d1;
$brown19: #ebddcf;
$brown20: #ebddcf;
$brown21: #f1ded0;
$brown22: #e3d1c4;
$brown23: #f2e5dd;
$brown24: #c6b6a5;
$brown25: #f0e8e0;
$brown26: #b3a391;



$green: #00a28a;
$green2: #35a18a;


// Variables => Border-radius
//----------------------------------------------------//
$brad: 3px;
$brad2: 50%;


// Variables => Breakpoints
//----------------------------------------------------//
$media_large_min: 1024px;
$media_medium_min: 768px;
$media_small_min: 320px;

$tablet: 1023px;
$mobile: 767px;

// Variables => Retina
//----------------------------------------------------//
$min_retina_2x: 192dpi;
$min_retina_3x: 350dpi;