.icon-logo-small {
	width: 86px;
	height: 91px;
}
.icon-chevron {
	width: 7px;
	height: 4px;
}
.icon-footer-location {
	width: 21px;
	height: 27px;
	fill:$orange;
}
.icon-arrow-long {
	width: 9px;
	height: 9px;
	fill: $main;
}
.icon-drop-cross {
	width:8px;
	height: 8px;
	fill:#fff;
}
.icon-drop-arrow {
	width: 7px;
	height: 4px;
	fill:$main;
	transition:all .2s ease-in-out;
}
.new-price {
	font-size: 18px;
	font-family: $font_second;
}



// ALL SHOPS PAGE//
.shops {
	&__map {
		padding-bottom:28px;
		@include b(tablet) {
			padding-bottom:18px;
		}
	}
}
.allshops-map {
	height: 572px;
	overflow: hidden;
	border:1px solid $brown2;
	@include b(mobile) {
		height: 355px;
	}
}
.map-baloon	{
	width:405px;
	background: $brown4;
	border:1px solid $brown2;
	padding:0 20px;
	border-radius:2px;
	font-family: $font_second;
	padding-top:10px;
	position: relative;
	&:after {
		content: '';
		position: absolute;
		bottom: -6px;
		left: 10px;
		width: 0;
	    height: 0;
	    border-style: solid;
	    border-width: 6px 6px 0 6px;
	    border-color: #faefe8 transparent transparent transparent;
	}
	&__row {
		padding:16px 0;
		border-bottom:1px solid $brown2;
		&:last-child {
			border-bottom:none;
		}
	}
	&__title {
		font-size: 18px;
		line-height: 20px;
		color:$orange;
		font-family: $font_second;
	}
	&__subtitle {
		padding-bottom:10px;
		font-size: 14px;
		line-height: 16px;
		color:$brown6;
	}
	&__content {
		font-size: 14px;
		line-height: 18px;
	}
	&__phone {
		padding-right:27px;
		display: inline-block;
		vertical-align: top;
	}
}

.ymaps-b-balloon__sprite {
	background: transparent !important;
}
.ymaps-b-balloon__content {
	border:none !important;
	background: transparent !important;
}
.ymaps-b-balloon__content-holster {
	padding-bottom:6px !important;
}
.ymaps-shadows-pane {
	display: none !important;
}
.ymaps-b-balloon__close {
	top: 20px !important;
	right: 20px !important;
	background-image: url('') !important;
	width: 17px !important;
	height: 17px !important;
	border-radius:50%;
	border:1px solid #e5d3c5;
	&:hover {
		&:before,
		&:after {
			transform:rotate(0);
			transition:all .2s ease-in-out;
		}
	}
	&:before,
	&:after {
		content:'';
		position: absolute;
		width: 10px;
		height: 1px;
		background: #ac9888;
		left: 3px;
		top:calc(50% - 1px);
		transition:all .2s ease-in-out;
	}
	&:before {
		transform:rotate(45deg);
	}
	&:after {
		transform:rotate(-45deg);
	}
}
.ymaps-b-balloon {
	 margin: -17px 198px !important;
}
.ymaps-b-balloon__tail {
	background-image: none !important;
}
// ALL SHOPS PAGE END//



//DIRECTORY PAGE//
.catalog {
	&__heading {
		padding-bottom:36px;
		@include b(tablet) {
			padding-bottom:22px;
		}
	}
	&__title {
		display: inline-block;
		vertical-align: middle;
		font-size: 28px;
		line-height: 36px;
		font-family: $font_second;
		padding-right:25px;
	}
	&__amount {
		display: inline-block;
		vertical-align: middle;
		font-size: 20px;
		line-height: 20px;
		color:$brown6;
		font-weight: 300;
		font-family: $font_second;
	}
	&__top {
		padding-bottom:45px;
		@extend .rlist;
		@include b(tablet) {
			position: relative;
			margin: 0 -10px;
			padding-bottom: 31px;
		}
	}
	&__tags {
		padding-bottom:39px;
	}
}

// tags block
.tags {
	font-size: 0;
	@extend .clearfix;
	@include b(tablet) {
		display: inline-block;
		vertical-align: top;
		width: 50%;
		padding:0 10px;
	}
	&__inner {
		display: block;
		width: 100%;

		@include b(tablet) {
			display: none;
			background: #fff;
			box-shadow: 0px 20px 35px 0px rgba(1,1,1,0.1);
			border-radius:2px;
			border:1px solid $brown2;
			padding:27px 20px;
			width: calc(100% - 20px);
			position: absolute;
			top: 60px;
			left: 10px;
			z-index: 20;
			&.active {
				display: block;
				height: auto;
			}
			&:before {
				content:'';
				position: absolute;
				left: 10px;
				top: -7px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 6px 7px 6px;
				border-color: transparent transparent #f3e9e1 transparent;
			}
			&:after {
				content:'';
				position: absolute;
				left: 11px;
				top: -6px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 5px 6px 5px;
				border-color: transparent transparent #fff transparent;
			}
		}
	}
	&__title {
		display: inline-block;
		vertical-align: top;
		padding-right:30px;
		font-size:14px ;
		line-height: 14px;
		width: 113px;
		@include b(tablet) {
			display: block;
			width:100%;
			padding-bottom:27px;
		}
	}
	&__more {
		float: right;
		font-size: 14px;
		line-height:14px ;
		color:$main;
		border-bottom:1px dotted $main;
		&:hover {
			text-decoration: none;
			border-bottom-color: transparent;
		}
		@include b(tablet) {
			float: none;
		}
	}
	&__btn {
		display: none;
		font-size: 14px;
		line-height: 14px;
		font-family: $font_second;
		color:$main;
		background-color: $brown4;
		padding:12px 30px 14px 20px;
		border:1px solid $brown5;
		border-radius:3px;
		text-align: left;
		&-arrow {
			position: absolute;
			top: 19px;
			right: 20px;
		}
		&:hover {
			background-color: $main;
			color:$white;
			border-color:$main;
			[class*='icon-'] {
				fill:$white;
				transform:rotate(180deg);
			}
		}
		&.active {
			border-color:$main;
			background: $main;
			color:#fff;
			.icon-drop-arrow {
				transform:rotate(180deg);
				fill:$white;
				transition:all .2s ease-in-out;
			}
			&:hover {
				border-color:$main;
				background: $main;
				color:#fff;
				.icon-drop-arrow {
					transform:rotate(180deg);
					fill:$white;
					transition:all .2s ease-in-out;
				}
			}
		}
		@include b(tablet) {
			display: block;
		}
	}
}
.tags-list {
	@extend .rlist;
	margin: 0 -21px;
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 200px);
	@include b(tablet) {
		width: 100%;
		margin: 0;
	}
	&__item {
		display: inline-block;
		vertical-align: middle;
		margin:0 21px;
		font-size: 14px;
		line-height: 14px;
		color:$gray2;
		text-decoration: underline;
		cursor: pointer;
		margin-bottom: 10px;
		@include b(tablet) {
			display: block;
			margin:0 0 27px;
			padding: 0;
		}
		&:hover {
			color:$orange;
		}
		&.current {
			color:$orange;
		}
 	}
}
.filter-wrap {
	display: inline-block;
	vertical-align: middle;
	height: 83px;
	width: 100%;
	.container {
		padding: 0;
	}
	@include b(tablet) {
		display: inline-block;
		vertical-align: top;
		width: 50%;
		padding:0 10px;
		height: auto;
	}
}
//filter block
.filter {
	padding:21px 20px 20px 30px;
	background:$brown4;
	border-radius:3px;
	@extend .rlist;
	&.sticky {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 51;
		padding-top: 15px;
		padding-bottom: 15px;
		.filter-drop-btn {
			padding-top: 6px;
			padding-bottom: 9px;
			@include b(tablet) {

			}
		}
		.filter-drop-btn__arrow {
			top:16px;
		}
		@include b(tablet) {
			padding: 0;			
		} 
	}
	@include b(tablet) {
		width: 100%;
		background: transparent;
		padding: 0;
	}
	&__title {
		display: inline-block;
		vertical-align: middle;
		width: 93px;
		padding-right:15px;
		font-size: 14px;
		line-height: 14px;
		color:$brown6;
		font-family: $font_second;
		@include b(tablet) {
			display: none;
		}
	} 
	&__fields {
		@include b(tablet) {
		}
	}
	&__select {
		display: inline-block;
		vertical-align: top;
		min-width: 16.1%;
		max-width:19.4%;
		padding: 0 10px;
		position: relative;
		@include b(tablet) {
			display: block;
			min-width:100%;
			max-width:100%;
			padding:0;
			border-bottom:1px solid $brown2;
			&--last {
				border-bottom:none;
			}
		}
	}
	&__btn {
		display: none;
		font-size: 14px;
		line-height: 14px;
		font-family: $font_second;
		color:$main;
		background-color: $brown4;
		padding:12px 30px 14px 20px;
		border:1px solid $brown5;
		border-radius:3px;
		text-align: left;

		&-arrow {
			position: absolute;
			top: 19px;
			right: 20px;
		}
		&:hover {
			background-color: $main;
			color:$white;
			border-color:$main;
			[class*='icon-'] {
				fill:$white;
				transform:rotate(180deg);
			}
		}
		&.active {
			border-color:$main;
			background: $main;
			color:#fff;
			.icon-drop-arrow {
				transform:rotate(180deg);
				fill:$white;
				transition:all .2s ease-in-out;
			}
			&:hover {
				border-color:$main;
				background: $main;
				color:#fff;
				.icon-drop-arrow {
					transform:rotate(180deg);
					fill:$white;
					transition:all .2s ease-in-out;
				}
			}
		}
		@include b(tablet) {
			display: block;
		}
	}
}
//filter drop
.filter-drop-btn-wrap {
	position: relative;
}
.filter-drop-btn {
	width: 100%;
	display: block;
	border:1px solid $brown5;
	background:transparent;
	border-radius:$brad;
	font-family: $font_second;
	font-size: 14px;
	line-height: 1.25;
	letter-spacing: 0;
	padding: 8px 22px 13px 20px;
	color:$main;
	text-align: left;
	&:hover {
		background: $brown5;
	}
	&.active {
		border-color:$main;
		background: $main;
		color:#fff;
		.icon-drop-arrow {
			transform:rotate(180deg);
			fill:$white;
			transition:all .2s ease-in-out;
		}
		&:hover {
			border-color:$main;
			background: $main;
			color:#fff;
			.icon-drop-arrow {
				transform:rotate(180deg);
				fill:$white;
				transition:all .2s ease-in-out;
			}
		}
		@include b (mobile) {
			&:hover { 
				background: $white;
				border:none;
				color:$orange;
				[class*='icon-'] {
					fill:$orange;
				}
			}
		}
	}
	&.js-full {
		border-color:$main;
		background: $main;
		color:#fff;
		.icon-drop-arrow {
			transform:rotate(180deg);
			fill:$white;
			transition:all .2s ease-in-out;
		}
		&:hover {
			border-color:$main;
			background: $main;
			color:#fff;
			.icon-drop-arrow {
				transform:rotate(180deg);
				fill:$white;
				transition:all .2s ease-in-out;
			}
		}
	}
	@include b(tablet) {
		border:none;
		border-radius:0;
		padding:28px 0 28px 20px;
		&:hover,
		&.active {
			background: $white;
			border:none;
			color:$orange;
			[class*='icon-'] {
				fill:$orange;
			}
		}
	}
	
	
	&__placeholder {
		display: inline-block;
		vertical-align: middle;
	}
	&__active-text {
		display: none;
		white-space: nowrap;
		text-overflow:ellipsis;
		overflow: hidden;
		vertical-align: middle;
		width: 70%;
		&.active {
			display: inline-block;
		}
	}
	&__arrow {
		display: block;
		position: absolute;
		right: 20px;
		top: 18px;
		@include b(tablet) {
			top:calc(50% - 3.5px);
		}
	}
	&__cross {
		
		
	}
}
.js-filter-btn-arrow {
	display: block;
	&.hidden {
		display: none;
	}
}
.js-filter-btn-cross {
	display: none;
	position: absolute;
	right: 15px;
	top: 16px;
	z-index: 10;
	&.active {
		display: block;
	}
}
.filter-drop {
	width: 277px;
	background: $white;
	box-shadow: 0px 20px 35px 0px rgba(1,1,1,0.1);
	border-radius:2px;
	border:1px solid $brown2;
	padding:20px;
	position: absolute;
	z-index: 20;
	right: 10px;
	top: 53px;
	display: none;
	&:before {
		content:'';
		position: absolute;
		right: 10px;
		top: -7px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 6px 7px 6px;
		border-color: transparent transparent #f3e9e1 transparent;
	}
	&:after {
		content:'';
		position: absolute;
		right: 11px;
		top: -6px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 5px 6px 5px;
		border-color: transparent transparent #fff transparent;
	}
	@include b(tablet) {
		position: static;
		box-shadow:none;
		border-radius:0;
		border:none;
		width: 100%;
		&:before,
		&:after {
			display: none;
		}
	}
	
	&__btn {
		width: 100%;
		@include b(tablet) {
			display: none;
		}
	}
}

.resp-filter-drop {
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 105px);
	@include b(tablet) {
		visibility: hidden;
		opacity: 0;
		width: calc(100% - 20px);
		position: absolute;
		top: 60px;
		left: 10px;
		z-index: 200;
		border:1px solid $brown2;
		border-radius:4px;
		background: $white;
		box-shadow: 0px 20px 35px 0px rgba(1,1,1,0.1);
		height: 0;
		transition:all .2s ease-in-out;
		&.active {
			visibility: visible;
			opacity: 1;
			height: auto;
			transition:all .2s ease-in-out;
		}
		&:before {
			content:'';
			position: absolute;
			right: 10px;
			top: -7px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 6px 7px 6px;
			border-color: transparent transparent #f3e9e1 transparent;
		}
		&:after {
			content:'';
			position: absolute;
			right: 11px;
			top: -6px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 5px 6px 5px;
			border-color: transparent transparent #fff transparent;
		}
	}
	&__bottom {
		padding:30px 20px;
		display: none;
		@include b(tablet) {
			display: block;
		}
	}
	&__submit {
		width: 100%;
	}
}
//price drop
.price {
	display: none;
	width: 227px;
	@include b(tablet) {
		width: 100%;
	}
	
}
.price-fields {
	padding-bottom:20px;
	&__input {
		padding-bottom:15px;
		&:last-child {
			padding-bottom:0;
		}
	}

}
.price-val {
	display: block;
	position: relative;
	font-size: 14px;
	line-height: 14px;
	color:$brown3;
	font-family: $font_second;
	&__text {
		position: absolute;
		top: 12px;
		left: 15px;
	}
	.input {
		padding-top:21px;
		color:$main;
		font-size: 14px;
		height: 52px;
		line-height:0;
		font-family: $font_second;
	}
}
.js-filter-active-text-price {
	display: none;
	&.active {
		display: inline-block;
	}
}
//SIZE BLOCK
.sizes {
	width: 274px;
}
.sizes-fields {
	padding-bottom:20px;
	&__row {
		@extend .rlist;
		margin: 0 -5px;
		padding-bottom:15px;
		&:last-child {
			padding-bottom:0;
		}
	}
	&__title {
		display: block;
		padding-bottom:10px;
		padding-left:5px;
		font-size: 14px;
		line-height: 14px;
		font-family:  $font_second;
	}
	&__col {
		display: inline-block;
		vertical-align: top;
		width: 50%;
		padding:0 5px 0 5px;
		@include b(mobile-sm) {
			width: 100%;
			padding:0 0 10px;
		}
	}
}
.sizes-val {
	display: block;
	position: relative;
	font-size: 14px;
	line-height: 14px;
	color:$brown3;
	font-family: $font_second;
	&__text {
		position: absolute;
		top: 12px;
		left: 15px;
	}
	.input {
		padding-top:21px;
		color:$main;
		font-size: 14px;
		height: 52px;
		line-height:0;
		font-family: $font_second;
		
	}
}

// checkboxes filter
.checkboxes {
	width: 276px;
	@include b(tablet) {
		width: 100%;
	}
	&__inner {
		max-height:290px;
		overflow: hidden;
		margin-right: -20px;
		// margin-top: -20px;
		// padding-top:20px;
		@include b(tablet) {
			height: 100%;
		}
	}
	
	&__item {
		padding-bottom:20px;
		font-size: 14px;
		line-height: 16px;
		font-family: $font_second;
		&:last-child {
			padding-bottom:5px;
		}
	}
	&__action {
		padding-top: 20px;
		margin: 0 -5px;	
		font-size: 0;
		line-height: 0;	
		.btn {
			width: 100%;
			padding-left: 5px;
			padding-right: 5px;
		}
		&-apply {
			display: inline-block;
			vertical-align: top;
			width: 100%;
			padding: 0 5px;
			
		}
		&-reset {
			display: inline-block;
			vertical-align: top;
			display: none;
			width: 122px;
			padding: 0 5px;
			@include b(tablet) {
				width: 50%;
			}
		}
		&.checked {
			.checkboxes__action-apply {
				width: 112px;
				@include b(tablet) {
					width: 50%;
				}
			}
			.checkboxes__action-reset {
				display: inline-block;
			}
		}
	}
	.jspVerticalBar {
		right: 20px;
		width: 6px;
		top:0;
		height: calc(100% - 40px);
	}
}





//ctalog blocks
.catalog-block {
	padding-bottom:45px;
	@include b(mobile) {
		padding-bottom: 31px;
	}
	&:last-child {
		padding-bottom:0;
	}
	&__title {
		font-size: 24px;
		line-height: 26px;
		font-family: $font_second;
		color:$orange;
		display: inline-block;
	}
	&__heading {
		padding-bottom:25px;
		@extend .clearfix;
	}
}

//sort
.catalog__sort {
	float: right;
	margin: 6px 0 0;
	&-inner {

	}
	&.sticky {
		float: none;
		position: fixed;
		top:66px;
		right: 0;
		margin: 0 auto;
		text-align: right;
		z-index: 50;
		padding: 8px 0;
		background-color: $white;
		width: 100%;
		.catalog__sort-inner {
			max-width:1320px;
			margin: 0 auto;
			padding: 0 20px;
		}
		@include b(tablet) {
			top: 42px;
		}
	}
}
.sort {
	&__title {
		display: inline-block;
		vertical-align: middle;
		font-size: 14px;
		line-height: 14px;
		color:$brown6;
		padding-right:17px;
		font-family: $font_second;
		@include b(mobile) {
			display: none;
		}
	}
	&__item {
		display: inline-block;
		vertical-align: middle;
		padding-right:17px;
		font-family: $font_second;
		font-size: 14px;
		line-height: 14px;
		cursor: pointer;
		&:hover {
			.sort__item-text {
				border-bottom-color:transparent;
			}
		}
		&:last-child {
			padding-right: 0;
		}
		&-text {
			display: inline-block;
			vertical-align: middle;
			border-bottom:1px dotted $main;
		}
		&-icon {
			display: inline-block;
			vertical-align: middle;
			padding-left:1px;
			line-height: 0;
		}
	}
	&__list {
		display: inline-block;
		vertical-align: middle;
		@include b(mobile) {
			display: none;
		}
	}
	&__btn {
		display: none;
		color:$main;
		&:hover {
			text-decoration: none;
		}
		@include b(mobile) {
			display: inline-block;
		}
	}
}

//banner
.banner {
	margin:30px 10px 50px;
	padding:49px 0 44px 50px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius:2px;
	@extend .clearfix;
	@include b(tablet) {
		display: none;
	}
	&__left {
		float: left;
	}
	&__right {
		float: right;
	}
}
.banner-logo {
	display: inline-block;
	vertical-align: middle;
	padding-right:25px;
}
.banner-text {
	display: inline-block;
	vertical-align: middle;
	max-width:260px;
	font-size: 26px;
	line-height: 30px;
	letter-spacing: 0;
	text-align: left;
	font-family: $font_second;
}
.banner-links {
	padding:19px 0 25px 34px;
	background: rgba(53,161,138, .95);
	position: relative;
	width: 458px;
	
	&:before {
		content:'';
		position: absolute;
		top: 0;
		left: -7px;
		height: 100%;
		width: 7px;
		background-image: url('../pic/bg/triangle-bg.png');
	}
	&__list {
		margin: 0 0 -9px;
		@extend .rlist;
		text-align: left;
		&-item {
			display: inline-block;
			vertical-align: middle;
			width: 33.33%;
			padding:0 0 9px;
		}
	}
	&__item {
		font-size: 16px;
		line-height: 18px;
		color:$white;
		letter-spacing: 0;
		font-family: $font_second;
		&-icon {
			display: inline-block;
			vertical-align: middle;
			line-height: 0;
		}
		&-text {
			display: inline-block;
			vertical-align: middle;
		}
		&:hover {
			text-decoration: none;
			.banner-links__item-text {
				text-decoration: underline;
			}
		}
		
	}
	.icon-chevron {
		transform:rotate(-90deg);
		fill:$white;
	}
}

.catalog__pagination-list {
	margin-top:50px;
	@include b(tablet) {
		display: none;
	}
}
// DIRECTORY PAGE END//

//SEO TEXT//
.seo-text {
	padding-top:93px;
	@include b(tablet) {
		padding-top:48px;
	}
	&__title {
		font-size: 28px;
		line-height: 32px;
		padding-bottom:37px;
		font-family: $font_second;
	}
	&__p {
		padding-bottom:20px;
	}
	&__link {
		display: inline-block;
		margin: 13px 0 0;
		font-size: 13px;
		line-height: 13px;
		color:$brown6;
		text-transform: uppercase;
		font-family: $font_second;
		font-weight: 700;
	}
}
//SEO TEXT END//


/* MODULES CARD*/
.modular-cards {
	&-list {
		font-size: 0;
		letter-spacing: -5px;
		margin: 0 -10px -24px;
		@include b(mobile-sm) {
			margin: 0 0 -24px;
		}
		&__item {
			font-size: 16px;
			letter-spacing: normal;
			display: inline-block;
			padding: 0 10px 24px;
			width: 25%;
			vertical-align: top;
			@include b(tablet) {
				width: 50%;
			}
			@include b(mobile-sm) {
				width: 100%;
				padding:0 0 24px;
			}
		}
	}
	&-item {
		border: 1px solid $brown2;
		// min-height: 520px;
		position: relative;
		transition:all .3s ease-in-out;
		&:hover {
			box-shadow:0px 15px 30px 0px rgba(79, 45, 0, 0.1);
			transition:all .3s ease-in-out;
			& .modular-cards-item__content-heading-link {
				color: $orange;
				transition:all .3s ease-in-out;
			}
			& .modular-cards-item__content-button-link {
				color: $white;
				background: $orange;
				border-color: $orange;
				transition:all .3s ease-in-out;
			}
			.modular-cards-item__image-img {
				transform:scale(1.1);
				transition:transform .5s ease-in-out;
			}
		}
		&__image {
			padding: 0 0 10px;
			&-link {
				display: block;
				line-height: 0;
				letter-spacing: -5px;
				height: 264px;
				text-align: center;
				overflow: hidden;
				&:before {
					content: "";
					height: 100%;
					display: inline-block;
					vertical-align: middle;
				}
				@include b(mobile) {
					height: 155px;
				}
			}
			&-img {
				display: inline-block;
				// max-height: 100%;
				width: 100%;
				vertical-align: top;
				transition:transform .5s ease-in-out;
			}
		}
		&__content {
			padding: 0 20px 26px;
			text-align: center;
			&-heading {
				padding: 0 0 10px;
				@include b(mobile) {
					padding-bottom:31px;
				}
				&-link {
					font-family: $font_second;
					color: $gray3;
					font-size: 18px;
					transition:all .3s ease-in-out;
					&:hover {
						text-decoration: none;
					}
				}
			}
			&-set {
				display: block;
				font-size: 14px;
				color: $gray2;
				padding: 0 0 17px;
				position: relative;
				margin: 0 0 14px;
				font-family: $font_second;
				@include b(mobile) {
					margin: 0;
				}
				&:after {
					background: $brown2;
					content: "";
					height: 1px;
					width: 40%;
					left: 0;
					right: 0;
					bottom: 0;
					position: absolute;
					margin: 0 auto;
					@include b(tablet) {
						display: none;
					}
				}
			}
			&-inform {
				display: block;
				font-size: 13px;
				line-height: 19px;
				margin: 0 0 18px;
				height: 76px;
				overflow: hidden;
				@include b(mobile) {
					display: none;
				}
			}
			&-button {
				&-link {
					display: block;
					transition:all .3s ease-in-out;
				}
			}
		}
		&__views {
			top: 19px;
			left: 21px;
			@include b(mobile) {
				top: 11px;
				left: 11px;
			}
		}
		&__sale {
			top: 20px;
			right: 20px;
			@include b(mobile) {
				top: 13px;
				right: 11px;
			}
		}
		&__new {
			top: 20px;
			right: 20px;
			@include b(mobile) {
				top: 13px;
				right: 11px;
			}
		}
	}
}
/* MODULS CARD end */


/* products */
.products {
	&-list {
		font-size: 0;
		letter-spacing: -5px;
		text-align: center;
		margin: 0 -10px -20px;
		@include b(mobile-sm) {
			margin: 0 0 -20px;
		}
		&__item {
			font-size: 16px;
			letter-spacing: normal;
			display: inline-block;
			width: 25%;
			vertical-align: top;
			padding: 0 10px 20px;
			@include b(tablet) {
				width: 50%;
			}
			@include b(mobile-sm) {
				width: 100%;
				padding:0 0 20px;
			}
		}
	}
	&-item {
		padding: 10px 0 0;
		position: relative;
		&:before {
			content:'';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: 1px solid $brown2;
			transition: all .7s;
		}
		@include b(mobile) {
			padding-top:5px;
		}
		&,
		&:hover {
			transition: box-shadow .7s;
		}
		&:hover {
			box-shadow:0px 20px 30px 0px rgba(79, 45, 0, 0.1);
			&:before {
				border-color:transparent;
				transition: all .7s;
			}
			& .products-item__holder-top-heading-link {
				color: $orange;
			}
			& .products-item__holder-bottom-right-button {
				background: $orange;
				&.disabled {
					background: $white;
					color:$main;
					[class*='icon-'] {
						fill:$main;
					}
				}
			}
			& .products-item__one-click {
				opacity: 1;
				visibility: visible;
			}
			.products-item__holder-bottom {
				border-color:$brown4;
				@include b(mobile) {
					border-color: transparent;
				}
			}
		}
		&__image {
			padding: 0 10px 10px;
			text-align: center;
			&-link {
				display: inline-block;
				line-height: 0;
				letter-spacing: -5px;
				height: 246px;
				text-align: center;

				@include b(mobile) {
					height: 177px;
				}
				&:before {
					content: "";
					display: inline-block;
					vertical-align: middle;
					height: 100%;
				}
			}
			&-img {
				max-height: 100%;
				max-width: 100%;
				display: inline-block;
				vertical-align: middle;
			}
		}
		&__holder {
			&-top {
				padding: 0 25px 17px;
				text-align: center;
				@include b(mobile) {
					padding:0 15px 8px;
				}
				&-heading {
					margin: 0 0 22px;
					height:20px;
					overflow: hidden;
					@include b(mobile) {
						height: 40px;
					}
					&-link {
						font-family: $font_second;
						font-size: 16px;
						color: $gray3;
						
						
						display: block;
						&:hover {
							text-decoration: none;
						}
					}
				}
			}
			&-bottom {
				background: $brown4;
				padding: 22px 20px 21px 18px;
				font-size: 0;
				letter-spacing: -5px;
				border:1px solid transparent;
				@include b(laptop) {
					padding: 22px 10px 21px 9px;
				}
				@include b(tablet) {
					padding: 20px 20px 23px 18px;
				}
				@include b(mobile) {
					background: #fff;
					padding: 17px 20px 21px 18px;
				}
				&-left {
					display: inline-block;
					width: 43%;
					font-size: 16px;
					letter-spacing: normal;
					text-align: left;
					vertical-align: top;
					font-family: $font_second;
					&-old {
						display: block;
					}
					@include b(mobile) {
						display: block;
						width: 100%;
						text-align: center;
						padding-bottom:18px;
					}
					&-new {
						@include b(laptop) {
							font-size: 17px;
						}
						@include b(tablet) {
							font-size: 18px;
						}
					}
				}
				&-right {
					display: inline-block;
					width: 57%;
					font-size: 16px;
					letter-spacing: normal;
					vertical-align: top;
					text-align: right;
					&-button {
						&.disabled {
							background: $white;
							color:$main;
							cursor: default;
							[class*='icon-'] {
								fill:$main;
							}
							&:hover {
								background: $white;
								color:$main;
								cursor: default;
								[class*='icon-'] {
									fill:$main;
								}
							}
						}
						@include b(laptop) {
							padding: 13px 3px 14px 7px;
						}
						@include b(tablet) {
							padding: 13px 12px 14px 23px;
						}
						@include b(mobile) {
							width: 100%;
						}
					}
					@include b(mobile) {
						display: block;
						width: 100%;
						text-align: center;
					}
				}
			}
		}
		&__one-click {
			top: -48px;
			left: 0;
			opacity: 0;
			visibility: hidden;
			&:hover {
				color:$orange;
			}
		}
		&__hit-marker {
			// top: 20px;
			// right: 20px;
			// @include b(mobile) {
			// 	top: 11px;
			// 	right: 11px;
			// }
		}
		&__special-marker {
			top: 20px;
			left: 21px;
		}
		&__sale {
			top: 20px;
			right: 20px;
		}
		&__more {
			display: block;
			padding: 0px 10px 0;
			text-align: center;
			height: 438px;
			line-height: 410px;
			color: $gray3;
			font-size: 21px;
			font-weight: 700;
			font-family: $font_second;
				&:hover {
					text-decoration: none;
				}
			@include b(tablet) {
				height: 434px;
				line-height: 378px;
			}
			@include b(mobile) {
				height: 423px;
				line-height: 423px;
			}
			@include b(mobile-sm) {
				height: 300px;
				line-height: 300px;
			}
			&-inner {
				display: inline-block;
				vertical-align: middle;
			}
			&-image {
				display: block;
				height: 49px;
				margin: 0 0 19px;
				line-height: 20px;
			}
			&-text {
				display: block;
				height: auto;
				vertical-align: middle;
				max-width:150px;
				line-height: 20px;
			}
		}
		&__top {
			@extend .clearfix;
			padding: 5px 20px;
			height: 30px;
			@include b(mobile) {
				padding: 3px 10px;
			}
			&-left {
				float: left;
				&-item {
					display: inline-block;
					vertical-align: top;
					padding-right: 5px;
				}
			}
			&-right {
				float: right;
				&-item {
					display: inline-block;
					vertical-align: top;
					padding-left: 5px;
				}
			}

		}
	}
}
.specification-item__bottom {
	font-weight: 700;
}
/* products end */

//CARD PAGE//

/*select block*/
.select-block {
	position: relative;
	// height: 600px;
	&--lg {
		.select-block-drop {
			top: 50px;
		}
		.select-block-drop__text {
			width: 100%;
		}
		.select-block-drop__left {
			margin: 14px 0 0;
		}
	}
	&-btn {
		display: inline-block;
		font-size: 0;
		line-height: 0;
		font-family: $font_second;
		color:$main;
		width:100%;
		transition: all .2s ease-in-out;

		white-space: nowrap;
		text-align: left;
		&--lg {
			width: 100%;
		}
		&__text {
			display: inline-block;
			vertical-align: middle;
			border-bottom:1px dotted $main;
			white-space: nowrap;
			overflow: hidden;
			text-overflow:ellipsis;
			max-width: calc(100% - 9px);
			cursor: pointer;
			font-size: 14px;
		line-height: 16px;
		padding-right:3px;
		}
		&__arrow {
			display: inline-block;
			vertical-align: middle;
			cursor: pointer;
		}

		&:hover {
			color:$orange;
			transition: all .2s ease-in-out;
			.select-block-btn__text {
				border-bottom-color:$orange;
			}
			[class*='icon-'] {
				fill:$orange;
			}
			.performance-block__select {
				border-color:$main;
				background: $main;
				transition: all .2s ease-in-out;
				[class*='icon-'] {
					fill:$white;
				}
			}
			.performance-block__select-amount  {
				color: $white;
				transition: all .2s ease-in-out;
				&:after {
					background: #574e4d;
					transition: all .2s ease-in-out;
				}
			}
			.performance-block__select-price {
				color:#bba492;
				transition: all .2s ease-in-out;
			}
		}
		&.active {
			color:$orange;
			.select-block-btn__text {
				border-bottom-color:transparent;
			}
			[class*='icon-'] {
				fill:$orange;
			}
			.performance-block__select {
				border-color:$main;
				background: $main;
				[class*='icon-'] {
					fill:$white;
				}
				.icon-drop-arrow {
					transform:rotate(180deg);
				}
			}
			.performance-block__select-amount  {
				color: $white;
				&:after {
					background: #574e4d;
					transition: all .2s ease-in-out;
				}
			}
			.performance-block__select-price {
				color:#bba492;
			}
			
		}
	}
	&-drop {

	}
}

.select-block-drop {
	position: absolute;
	width: 288px;
	background: $white;
	box-shadow: 0px 20px 35px 0px rgba(1,1,1,0.1);
	border-radius:2px;
	border:1px solid $brown2;
	z-index: 20;
	right: 0px;
	top: 30px;
	// opacity: 0;
	// position: fixed;
	// z-index: -20;
	// visibility: hidden;
	display: none;
	&.visible {
		opacity: 1;
		position: absolute;
		z-index: 20;
		visibility: visible;
	}
	.jspHorizontalBar {
		display: none;
	}
	&__inner {
		max-height: 319px;
		overflow: hidden;
		// @include b(tablet) {
		// 	max-height: 100%;
		// }
	}
	&:before {
		content:'';
		position: absolute;
		right: 10px;
		top: -7px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 6px 7px 6px;
		border-color: transparent transparent #f3e9e1 transparent;
	}
	&:after {
		content:'';
		position: absolute;
		right: 11px;
		top: -6px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 5px 6px 5px;
		border-color: transparent transparent #fff transparent;
	}
	&--lg {
		width: 357px;
	}
	&--double {
		width: 100%;
		.select-block-drop__item {
			padding: 11px 5px 20px 5px;
		}
		.select-block-drop__right {
			width: 53%;
			max-width:100%;
			padding-left: 17px;

			margin: 12px 0 0;
			@include b(tablet) {
				width: 50%;
				max-width:100%;
				text-align: center;
				padding-right:16px;
			}
			@include b(mobile-sm) {
				width: 60%;
			}
		}
		.select-block-drop__left {
			padding-right: 11px;
			text-align: right;
			width: 47%;
			@include b(tablet) {
				width: 50%;
				max-width:100%;
				text-align: center;

			}
			@include b(mobile-sm) {
				width: 40%;
			}
		}
	}
	&__item {
		padding:20px 10px 20px 20px;
		border-bottom:1px solid $brown2;
		max-width: 100%;
		@extend .clearfix;
		cursor: pointer;
		// margin: 0 -4px;
		&:last-child {
			border-bottom:0;
		}
		&:hover {
			background-color: $brown4;

			.select-block-drop__text {
				color:$orange;
			}
			.select-block-drop__price {
				color:$main;
			}
		}
	}
	&__left {
		float: left;
		max-width: 174px;
		@include b(mobile) {
			max-width:170px;
		}
		@extend .rlist;
		text-align: left;
	}
	&__right {
		float: right;
		margin: 14px 0 0;
		max-width: 80px;
	}
	&__img,
	&__text {
		display: inline-block;
		vertical-align: middle;
	}
	&__img {
		width: 62px;
		height: 42px;
		padding-right:20px;
	}
	&__text {
		font-size: 14px;
		line-height: 16px;
		font-family: $font_second;
		width: calc(100% - 62px);
	}
	&__price {
		font-size: 14px;
		line-height: 14px;
		color:$gray2;
		font-family: $font_second;
	}
	.jspVerticalBar {
		right: 0px;
	}
	.jspPane {
		margin: 0 -5px 0 0;
	}
}
//CARD PAGE END//


//MODULE PREVIEW//
.module-preview {
	position: relative;
	height: 585px;
	line-height: 580px;
	text-align: center;
	@include b(tablet) {
		height: auto;
		line-height: 0;
	}
	&__item {
		max-width:100%;
		max-height:100%;
		display: inline-block !important;
		vertical-align: middle;
		@include b(tablet) {
			max-height:350px;
		}
		img {  
			max-width:100%;
			max-height:100%;
			display: inline-block;
			vertical-align: middle;
			@include b(tablet) {
				max-height:350px;
			}
		}
	}
	&__links {
		position: absolute;
		top: 20px;
		left: 15px;
		z-index: 10;
		height: auto;
		line-height: 0;
		@include b(mobile) {
			left: 5px;
			top: 10px;
		}
		&-item {
			display: inline-block;
			vertical-align: top;
			margin: 0 5px;
			padding: 6px 10px 6px;
			font-size:12px ;
			line-height: 12px;
			font-family: $font_second;
			background-color: $brown4;
			color:$main;
			@media (max-width:439px) {
				font-size: 11px;
				padding:4px 4px;
				margin: 0 2px;
			}
			&.active,
			&:hover {
				background-color: $orange;
				color:$white;
				text-decoration: none;
			}
		}
	}
	&__info {
		position: absolute;
		line-height: 0;
		@include b(tablet) {
			display: none;
		}
		&:hover {
			z-index: 10;
			.module-preview__description {
				visibility: visible;
				height: auto;
				opacity: 1;
				transition: all .2s ease-in-out;
			}
		}
	}
	&__price {
		display: inline-block;
		background-color:$green2;
		font-size: 15px;
		line-height: 16px;
		color:$white;
		position: relative;
		font-family: $font_second;
		padding:4px 6px;
		z-index: 2;
		cursor: pointer;
		&:after {
			content:'';
			position: absolute;
			top: 0;
			right: -10px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 12.5px 0 12.5px 10px;
			border-color: transparent transparent transparent #35a18a;

		}
	}
	&__description {
		width: 305px;
		padding:20px 20px 30px;
		background-color: $white;
		text-align: center;
		position: absolute;
		top: -10px;
		right: 0;
		visibility: hidden;
		height: 0;
		opacity: 0;
		transition: all .2s ease-in-out;
		&-img {
			display: inline-block;
			height: 240px;
			line-height: 240px;
			margin-bottom: 20px;
			img {
				display: inline-block;
				vertical-align: middle;
				max-height:100%;
				max-width:100%;
			}
		}
		&-title {
			margin-bottom:10px;
			height: 35px;
			overflow: hidden;
			font-size: 16px;
			line-height: 18px;
			
		}
	}
	& .gallery-product__main.module-preview__gallery-main {
		padding: 0;
	}
	.slick-list {
		overflow: visible;
		z-index: 2;
	}

}
.gallery-product__nav--moduls {
	.gallery-product__nav-item {
		height: 75px;
		width: 75px !important;
		margin-right: 20px;
		background-size: cover;
		background-position: center;
	}
}

//MODULE PREVIEW END//

.card-page {
	&__subblock {
		padding-bottom:45px;
		&:last-child {
			padding-bottom:0;
		}
	}
	&__block-subtitle {
		color:$orange;
		font-size: 24px;
		line-height: 26px;
		font-family: $font_second;
		padding-bottom:25px;

	}
	&__tags-list {
		padding-bottom:40px;
		@include b(tablet)  {
			margin: 0 -20px;
		}
		.tags-list__item {
			@include b(tablet) {
				display: inline-block;
				margin:0 20px 15px;
			}
			
		}
	}
}









/* address */
.address {
	&-list {
		font-size: 0;
		letter-spacing: -5px;
		margin: 0 -10px;
		@include b(tablet) {
			margin: 0;
		}
		&__item {
			display: inline-block;
			vertical-align: top;
			font-size: 16px;
			letter-spacing: normal;
			width: 33.33%;
			padding: 0 10px 20px;
			@include b(tablet) {
				width: 100%;
				padding:0;
			}
		}
	}
	&-item {
		border: 1px solid $brown2;
		background: $white;
		padding: 30px 25px 41px;
		
		&:hover {
			background: $brown4;
			box-shadow: 0px 20px 35px rgba(1, 1, 1, 0.1);
			& .address-item__heading {
				color: $orange;
				[class*='icon-'] {
					fill:$orange;
				}
			}
			& .address-item__content-button-link {
				background: $orange;
				border-color: $orange;
				color: $white;
			}
		}
		&, 
		&:hover {
			transition: background .5s;
		}
		@include b(tablet) {
			padding:25px 0 9px;
			border:none;
			border-bottom:1px solid $brown2;
			&:hover {
				background: #fff;
				box-shadow: none;
				& .address-item__content-button-link {
					background-color: transparent;
    				border: 2px solid #f3e9e1;
    				color: #433c3a;
    				&:hover,
					&:active {
						background: $orange;
						border-color: $orange;
						color: $white;
					}
				}
			}

		}
		&__heading {
			font-size: 24px;
			font-family: $font_second;
			font-weight: 400;
			padding: 0 0 25px;
			@extend .clearfix;
			&-arrow {
				float: right;
				display: none;
				@include b(tablet) {
					display: block;
				}
			}
			@include b(tablet) {
				font-size: 18px;
				padding: 0 0 15px;
			}
			&.active {
				color:$orange;
				[class*='icon-'] {
					fill:$orange;
				}
				.icon-arrow-tobottom {
					transform:rotate(180deg);
				}
			}
		}
		&__content {
			padding: 0 0 19px;
			& dl {
				padding: 14px 0 14px;
				padding-right: 75px;
				border-color: $brown13;
				@include b(tablet) {
					padding: 13px 0 14px;
					&:first-child {
						border-top:none;
					}
				}
			}
			dt {
				padding: 0 0 12px;
			}
			& dd {
				display: inline-block;
				padding: 0 26px 0 0;
				&:last-child {
					padding: 0;
				}
			}
			&-button {

				&-link {
					width: 100%;
					&:hover,
					&:active {
						background-color: transparent;
	    				border: 2px solid #f3e9e1;
	    				color: #433c3a;
					}
				}
			}
		}
	}

	// address__block
	&__block {
		padding: 0 0 55px;
		&-heading {
			padding-bottom: 30px;
		}
		&-inform {
			display: block;
		}
		&-location {
			padding: 0 0 48px;
			@include b(mobile) {
				padding: 0 0 30px
			}
			&-map {
				height: 361px;
				overflow: hidden;
				border: 1px solid $brown2;
				@include b(mobile) {
					height: 255px;
				}
			}
		}
		&-modal {
			padding: 0 0 31px;
		}
		&-hide {
			background: $brown4;
			border: 1px solid $brown7;
			border-radius: $brad;
			padding: 4px 26px 0;
			display: none;
			margin: 0 0 49px;
			@include b(tablet) {
				display: block;
			}
			& .address-item__content {
				padding-bottom: 0;
			}
			dt {
				font-size: 16px;
				font-weight: 700;
				padding: 0 0 15px;
			}
			dl {
				max-width: 280px;
				padding: 20px 0 25px;
				&:first-child {
					border-top: none;
				}
			}
			& .address__block-hide-card {
				max-width: 100%;
				padding-bottom: 17px;
			}
			&-card {
				& dt {
					padding-bottom: 10px;
				}
				&-list {
					& .card-list__item {
					width: auto;
					padding: 0 7px 10px 4px;
				}
				}
			}
		}
	}


	// slider
	&-slider {
		position: relative;
		&__main {
			&-item {
				&-image {
					width: 100%;
				}
			}
			& .slick-arrow {
				position: absolute;
				width: 36px;
				height: 75px;
				border-radius: $brad;
				background: rgba(0, 0, 0, .6);
				border: none;
				font-size: 0;
				top: calc(50% - 34px);
				z-index: 99;
				&,
				&:hover {
					transition: background .5s;
				}
				&:hover {
					background: rgba($orange, .7);
					&:before {
						opacity: 1;
					}
				}
			}
			& .slick-arrow {
				&:before {
					height: 10px;
					width: 6px;
					content: "";
					position: absolute;
					top: 35px;
					left: 15px;
					opacity: .4;
				}
			}
			& .slick-next {
				right: 10px;
				&:before {
					background: url("data:image/svg+xml;base64,PHN2ZyBpZD0i0KDQtdC20LjQvF/QuNC30L7Qu9GP0YbQuNC4IiBkYXRhLW5hbWU9ItCg0LXQttC40Lwg0LjQt9C+0LvRj9GG0LjQuCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNiAxMCI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOm5vbmU7c3Ryb2tlOiNmZmZmZmY7c3Ryb2tlLWxpbmVjYXA6cm91bmQ7c3Ryb2tlLWxpbmVqb2luOnJvdW5kO3N0cm9rZS13aWR0aDoycHg7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT4xMTExPC90aXRsZT48ZyBpZD0iX9CT0YDRg9C/0L/QsF8iIGRhdGEtbmFtZT0iJmx0O9CT0YDRg9C/0L/QsCZndDsiPjxwb2x5bGluZSBpZD0iX9Ca0L7QvdGC0YPRgF8iIGRhdGEtbmFtZT0iJmx0O9Ca0L7QvdGC0YPRgCZndDsiIGNsYXNzPSJjbHMtMSIgcG9pbnRzPSIxIDkgNSA1IDEgMSIvPjwvZz48L3N2Zz4=");
				}
			}
			& .slick-prev {
				left: 10px;
				&:before {
					background: url("data:image/svg+xml;base64,PHN2ZyBpZD0i0KDQtdC20LjQvF/QuNC30L7Qu9GP0YbQuNC4IiBkYXRhLW5hbWU9ItCg0LXQttC40Lwg0LjQt9C+0LvRj9GG0LjQuCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNiAxMCI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOm5vbmU7c3Ryb2tlOiNmZmZmZmY7c3Ryb2tlLWxpbmVjYXA6cm91bmQ7c3Ryb2tlLWxpbmVqb2luOnJvdW5kO3N0cm9rZS13aWR0aDoycHg7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT4xMjM8L3RpdGxlPjxnIGlkPSJf0JPRgNGD0L/Qv9CwXyIgZGF0YS1uYW1lPSImbHQ70JPRgNGD0L/Qv9CwJmd0OyI+PHBvbHlsaW5lIGlkPSJf0JrQvtC90YLRg9GAXyIgZGF0YS1uYW1lPSImbHQ70JrQvtC90YLRg9GAJmd0OyIgY2xhc3M9ImNscy0xIiBwb2ludHM9IjUgMSAxIDUgNSA5Ii8+PC9nPjwvc3ZnPg==");
				}
			}
			&-item {
				&-image {
					margin: 0 !important;
				}
			}
		}
		&__nav {
			width: 910px;
			max-width: 100%;
			position: absolute;
			bottom: 24px;
			left: 0;
			right: 0;
			margin: 0 auto;
			@include b(mobile) {
				display: none;
			}
			&-item {
				&-image {
					max-width: 100%;
					max-height: 100%;
					border-radius: $brad;
					height: 75px;
					width: 75px;
					opacity: .4;
					cursor: pointer;
					margin: 2px 0 2px 0 !important;
					&,
					&:hover {
						transition: .7s;
					}
					&:hover {
						opacity: 1;
					}
				}
				&.slick-center {
					position: relative;
					&:after {
						content: '';
				    position: absolute;
				    width: 79px;
				    height: 100%;
				    border: 2px solid $orange;
				    border-radius: $brad;
				    top: 0;
				    left: -2px;
				    z-index: 999;
				    
					}
					& .address-slider__nav-item-image {
						opacity: 1;
					}
				}
			}
			& .slick-arrow {
				float: left;
				width: 36px;
				height: 75px;
				margin: 0 20px;
				border-radius: $brad;
				background: rgba(0, 0, 0, .25);
				border: none;
				font-size: 0;
				position: relative;
				&,
				&:hover {
					transition: background .5s;
				}
				&:hover {
					background: $orange;
					&:before {
						opacity: 1;
					}
				}
			}
			& .slick-arrow {
				&:before {
					height: 10px;
					width: 6px;
					content: "";
					position: absolute;
					top: 35px;
					left: 15px;
					opacity: .4;
				}
			}
			& .slick-next {
				&:before {
					background: url("data:image/svg+xml;base64,PHN2ZyBpZD0i0KDQtdC20LjQvF/QuNC30L7Qu9GP0YbQuNC4IiBkYXRhLW5hbWU9ItCg0LXQttC40Lwg0LjQt9C+0LvRj9GG0LjQuCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNiAxMCI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOm5vbmU7c3Ryb2tlOiNmZmZmZmY7c3Ryb2tlLWxpbmVjYXA6cm91bmQ7c3Ryb2tlLWxpbmVqb2luOnJvdW5kO3N0cm9rZS13aWR0aDoycHg7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT4xMTExPC90aXRsZT48ZyBpZD0iX9CT0YDRg9C/0L/QsF8iIGRhdGEtbmFtZT0iJmx0O9CT0YDRg9C/0L/QsCZndDsiPjxwb2x5bGluZSBpZD0iX9Ca0L7QvdGC0YPRgF8iIGRhdGEtbmFtZT0iJmx0O9Ca0L7QvdGC0YPRgCZndDsiIGNsYXNzPSJjbHMtMSIgcG9pbnRzPSIxIDkgNSA1IDEgMSIvPjwvZz48L3N2Zz4=");
				}
			}
			& .slick-prev {
				&:before {
					background: url("data:image/svg+xml;base64,PHN2ZyBpZD0i0KDQtdC20LjQvF/QuNC30L7Qu9GP0YbQuNC4IiBkYXRhLW5hbWU9ItCg0LXQttC40Lwg0LjQt9C+0LvRj9GG0LjQuCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNiAxMCI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOm5vbmU7c3Ryb2tlOiNmZmZmZmY7c3Ryb2tlLWxpbmVjYXA6cm91bmQ7c3Ryb2tlLWxpbmVqb2luOnJvdW5kO3N0cm9rZS13aWR0aDoycHg7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT4xMjM8L3RpdGxlPjxnIGlkPSJf0JPRgNGD0L/Qv9CwXyIgZGF0YS1uYW1lPSImbHQ70JPRgNGD0L/Qv9CwJmd0OyI+PHBvbHlsaW5lIGlkPSJf0JrQvtC90YLRg9GAXyIgZGF0YS1uYW1lPSImbHQ70JrQvtC90YLRg9GAJmd0OyIgY2xhc3M9ImNscy0xIiBwb2ludHM9IjUgMSAxIDUgNSA5Ii8+PC9nPjwvc3ZnPg==");
				}
			}
			& .slick-list {
				float: left;
				width: calc(100% - 152px);
			}
		}
	}
}
/* address end */
.performance-block.performance-block--hidden-tablet {
	@include b(tablet) {
		display: none;
	}
}
.product-preview__right-column.product-preview__right-column--full {
	width: 100%;
	float: none;
	.performance {
		@include b(tablet) {
			padding:0;
		}
	}
	.performance-block {
		@include b(tablet) {
			border-bottom:none;
		}
		
	}
}


.popup-gallery {
	width: 100vw;
	height:100vh;
	display: none;
	background: #fff;
	&__main {
		padding:10px 0;
		text-align: center;
		height:calc(100% - 130px);
		text-align: center;
		width: 1200px;
		padding:0 110px;
		max-width:100%;
		margin: 0 auto;
		
		.slick-list, .slick-track {
			height: 100%;
		}
		&-item {
			height: 100%;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}
		.slick-arrow {
			position: absolute;
			top:calc(50% - 75px);
			width: 72px;
			height: 151px;
			background: transparent;
			transition:all .2s ease-in-out;
			z-index: 10;
			border-radius:3px;
			cursor: pointer;
			@include b(mobile) {
				width: 40px;
				height: 90px;
				top: calc(50% - 45px);
			}
			&.slick-disabled {
				display: none !important;
			}
			&:before {
				content:'';
				height: 100%;
				display: inline-block;
				vertical-align: middle;
			}
			&:hover {
				background: $brown4;
				transition:all .2s ease-in-out;
				[class*='icon-'] {
					fill:$orange;
					transition:all .2s ease-in-out;
				}
 			}
		}
		.slick-prev {
			left: 0;
		}
		.slick-next {
			right: 0;
		}
		.icon-arrow-left,
		.icon-arrow-right {
			width: 12px;
			height: 20px;
			fill:$brown6;
			transition:all .2s ease-in-out;
		}
		.icon-arrow-left {
			transform:rotate(90deg);
		}
		.icon-arrow-right {
			transform:rotate(-90deg);
		}
		&--large {
			width: 100%;
			padding: 0;
			.slick-prev {
				left: 100px;
			}
			.slick-next {
				right: 100px;
			}
		}
	}
	&__nav {
		border-top:1px solid $brown2;
		padding-top:26px;
		padding-bottom:26px;
		&--large {
			.popup-gallery__nav-item {
				background-size: cover;
				background-position:  center;
				background-repeat: no-repeat;
			}
			.popup-gallery__nav-inner {
				width: 965px;
			}
		}
		&-inner {
			width: 570px;
			padding:0 50px;
			max-width:100%;
			margin:  0 auto;
			overflow: hidden;
		}
		.slick-arrow {
			position: absolute;
			top:calc(50% - 37px);
			width: 36px;
			height: 75px;
			background: transparent;
			text-align: center;
			transition:all .2s ease-in-out;
			cursor: pointer;
			&.slick-disabled {
				display: none !important;
			}
			&:hover {
				background: $brown4;
				transition:all .2s ease-in-out;
				[class*='icon-'] {
					fill:$orange;
					transition:all .2s ease-in-out;
				}
 			}
			&:before {
				content: '';
				height: 100%;
				display: inline-block;
				vertical-align: middle;
			}
		}
		.slick-prev {
			left: 0;
		}
		.slick-next {
			right: 0;
		}
		.icon-arrow-left,
		.icon-arrow-right {
			width: 6px;
			height: 10px;
			fill:$brown6;
			transition:all .2s ease-in-out;
		}
		.icon-arrow-left {
			transform:rotate(90deg);
		}
		.icon-arrow-right {
			transform:rotate(-90deg);
		}
		&-item {
			height: 77px;
			width: 77px !important;
			margin-right: 20px;
			text-align: center;
			line-height:77px;
			border-radius:3px;
			border:2px solid transparent;
			&.slick-current {
				border-color:$orange;
			}
			img {
				max-height:100%;
				max-width:100%;
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
}

.fancybox-lock .fancybox-overlay {
	overflow: hidden;
}

.popup-close {
	position: absolute;
	top: 15px;
	right: 15px;
	width:50px;
	height: 50px;
	border-radius:50%;
	border:1px solid #e6d3c5;
	text-align: center;
	cursor: pointer;
	&:before {
		content:'';
		height: 100%;
		display: inline-block;
		vertical-align: middle;
	}
	&:hover {
		opacity: .8;
	}
}


.gallery-product__nav.gallery-product__nav--moduls {
	.slick-list {
		max-width: 750px;
		// max-width:100%;
		margin: 0 auto;
	}
	.gallery-product__nav-item {
		border-radius:3px;
	}
	@include b(tablet) {
		display: block;
		.slick-list {
			width: calc(100% - 110px);
			margin: 0 auto;
		}
		.slick-arrow {
			margin: 0 10px;

		}
	}
}
.card-module {
	.card-page__block-heading {
		font-size: 28px;
		text-align: center;
		@include b(tablet) {
			font-size: 18px;
			text-align: left;
			padding: 21px 0 25px;
		}
		&--left {
			text-align: left;
		}
	}
}





.sale-link {
	display: inline-block;
	color:$main;
	line-height: 1.3;
	&:hover {
		background: $orange;
		color:$white;
		text-decoration: none;
		.sale-marker {
			background: $main;
			color:$white;
			&:before {
				border-right-color: $main;
			}
		}
	}
}

.popup-close {
	display: block;
	width: 50px;
	height: 50px;
	border-radius:50%;
	border:1px solid #e5d3c5;
	&:hover {
		&:before,
		&:after {
			transform:rotate(0);
			transition:all .2s ease-in-out;
		}
	}
	&:before,
	&:after {
		content:'';
		position: absolute;
		width: 18px;
		height: 2px;
		background: #ac9888;
		left: calc(50% - 9px);
		top:calc(50% - 1px);
		transition:all .2s ease-in-out;
	}
	&:before {
		transform:rotate(45deg);
	}
	&:after {
		transform:rotate(-45deg);
	}
}
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@-webkit-keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  to {
    opacity: 0;
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  to {
    opacity: 0;
  }
}


.zoomIn {
	-webkit-animation-duration: .6s;
  animation-duration: .6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
   animation-name: zoomIn;
}

.zoomOut {
		-webkit-animation-duration: .6s;
  animation-duration: .6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
   animation-name: zoomOut;
}



dl.address-info {
	font-family: $font_second;
	border:none;
	 padding: 23px 0 24px;

	dt {
		font-weight: 700;
		font-size: 16px;
		padding-bottom:16px;
	}
	dd {
		font-size: 14px;
	}
	
}

.address-info {
	&__phone-item {
		padding-bottom:12px;
		&:last-child {
			padding-bottom:0;
		}
	}
}
.sidebar.address__sidebar {
	padding-top:4px;
	border:none;
}



///FACTORY INFO ON REVIEWS PAGE
.factory-info {
	font-size: 0;
	line-height: 0;
	padding-bottom: 60px;
	@include b(mobile) {
		padding-bottom: 20px;
	}
	@extend .clearfix;
	&__content,
	&__logo {
		display: inline-block;
		vertical-align: top;
	}
	&__content {
		width: 76.2%;
		padding-right: 15px;
		@include b(mobile) {
			width: 100%;
			padding-bottom: 20px;
		}
	}
	&__logo {
		width: 23.8%;
		@include b(mobile) {
			width: 100%;
		}
	}
	&__title {
		font-family: $font_second;
		font-size: 24px;
		line-height: 26px;
		padding-bottom: 28px;
	}
	&__text {
		font-size: 16px;
		line-height: 20px;
	}
}
.factory-logo {
	border:1px solid $brown7;
	background-color: #fff;
	text-align: center;
	height: 222px;
	padding: 10px;
	@include b(tablet) {
		height: 180px;
	}
	@include b(mobile) {
		height: 120px;
	}
	&:before {
		content:'';
		display: inline-block;
		vertical-align: middle;
		height: 100%;
	}
	img {
		display: inline-block;
		vertical-align: middle;
		max-width:100%;
		max-height:100%;
	}
}
///FACTORY INFO ON REVIEWS PAGE end


//COLLECTION
.collection	{
	display: inline-block;
	padding: 5px 6px 5px 15px;
	background-color: $brown4;
	border-radius:3px;
	&__title,
	&__link {
		display: inline-block;
		vertical-align: middle;
	}
	&__title {
		padding-right: 12px;
		font-size: 13px;
		line-height: 1;
		color:$gray2;
	}
	&__link {
		padding:3px 6px 7px;
		background-color: $green;
		color:$white;
		font-size: 13px;
		line-height: 1;
		border-radius:3px;
		font-family: $fixFont;
		&-text,
		&-icon {
			display: inline-block;
			vertical-align: middle;
		}
		&-text {
			width: calc(100% - 14px);
			overflow: hidden;
			white-space: nowrap;
			text-overflow:ellipsis;
		}
		&-icon {
			padding-left: 4px;
			padding-top: 2px;
			line-height: 0;
		}
		&:hover {
			text-decoration: none;
		}
	}
}
.icon-arrow-right-sm {
	width: 7px;
	height: 4px;
	transform:rotate(-90deg);
	fill:$white;
}
//COLLECTION END

.card-page {
	&__head {
		@extend .clearfix;
		@include b(mobile) {
			padding-bottom: 15px;
		}
		&-title {
			float: left;
			width: calc(100% - 250px);
			padding-right: 15px;
			@include b(mobile) {
				float: none;
				width: 100%;
			}
		}
		&-collection {
			float: right;
			margin-top: 3px;
			max-width:250px;
			@include b(mobile) {
				float: none;
				max-width:100%;
			}
		}
	}
}
.video-btn {
	display: block;
	padding: 8px 4px;
	border-radius:42px;
	width: 165px;
	border:1px solid $brown7;
	font-size: 12px;
	line-height: 1;
	font-family: $font_second;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	color:$main;
	background-color: $white;
	box-shadow:         0px 20px 30px 0px rgba(79, 45, 0, 0.1);
	transition:all .3s ease-in-out;
	&__icon,
	&__text {
		display: inline-block;
		vertical-align: middle;
	}
	&__icon {
		margin-right: 11px;
		width: 24px;
		height: 24px;
		border-radius:50%;
		background-color: $brown4;
		text-align: center;
		&:before {
			content:'';
			display: inline-block;
			vertical-align: middle;
			height: 100%;
		}
	}
	&:hover {
		text-decoration: none;
		color:$white;
		background-color: $orange;
		transition:all .3s ease-in-out;
		border-color:$orange;
		.icon-triangle {
			border-left-color:$orange;
			transition:all .3s ease-in-out;
		}
	}
}
.icon-triangle {
	display: inline-block;
	vertical-align: middle;
	width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 7px;
    border-color: transparent transparent transparent $main;
    transition:all .3s ease-in-out;
}
.icon-triangle-dark {
	display: inline-block;
	vertical-align: middle;
	width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 0 8px 11px;
    border-color: transparent transparent transparent $white;
    transition:all .3s ease-in-out;
}

.video-btn-dark {
	display: block;
	padding: 2px 2px 2px 20px;
	border-radius:42px;
	width: 165px;
	border:1px solid $main;
	font-size: 12px;
	line-height: 1;
	font-family: $font_second;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	color:$white;
	background-color: $main;
	transition:all .3s ease-in-out;
	@extend .clearfix;
	&__icon,
	&__text {
		display: inline-block;
		vertical-align: middle;
	}
	&__text {
		padding-top: 11px;
	}
	&__icon {
		margin-left: 11px;
		width: 36px;
		height: 36px;
		border-radius:50%;
		background-color: $orange;
		text-align: center;
		float: right;
		transition:all .3s ease-in-out;
		&:before {
			content:'';
			display: inline-block;
			vertical-align: middle;
			height: 100%;
		}
	}
	&:hover {
		text-decoration: none;
		color:$white;
		background-color: $orange;
		transition:all .3s ease-in-out;
		border-color:$orange;
		.video-btn-dark__icon {
			background-color: $white;
			transition:all .3s ease-in-out;
		}
		.icon-triangle-dark {
			border-left-color:$orange;
			transition:all .3s ease-in-out;
		}
	}
}



.gallery-product__main {
	position: relative;
}
.gallery-product__video-btn {
	position: absolute;
	left:calc(50% - 84px);
	bottom: 20px;
	z-index: 100;
}

.sale {
	display: block;
	background-color: $brown4;
	@extend .clearfix;
	// margin-bottom: 40px;
	min-height: 73px;
	transition:all .3s ease-in-out;
	color:$main;
	border-radius:2px;
	&:hover {
		text-decoration: none;
		transition:all .3s ease-in-out;
		box-shadow:0px 20px 30px 0px rgba(79, 45, 0, 0.1);
		.sale__title {
			color:$green;
			transition:all .3s ease-in-out;
		}
	}
	&--sm {
		.sale__title {
			font-size: 20px;
			font-weight: 400;
			max-width:calc(100% - 97px);
			@media (max-width:1110px) {
				display: none;
			}
		}
		
	}
	@include b(mobile-sm) {
		min-height:50px;
	}
	&__right {
		float: right;
		margin-top: 12px;
		margin-right: 12px;
		@include b(mobile-sm) {
			margin-top: 8px;
			margin-right: 8px;
		}
	}
	&__main {
		display: inline-block;
		vertical-align: middle;
		max-width:calc(100% - 170px);
		@include b(mobile-sm) {
			max-width: calc(100% - 100px);
		}
	}
	&__discount {
		display: inline-block;
		vertical-align: middle;
		width: 97px;
		position: relative;
		height: 73px;
		@include b(mobile-sm) {
			height:50px;
			width: 69px;
		}
	}
	&__title {
		display: inline-block;
		vertical-align: middle;
		max-width:calc(100% - 110px);
		padding: 0 18px 0 25px;
		font-size: 32px;
		font-family: $font_second;
		font-weight: 700;
		transition:all .3s ease-in-out;
		color:$main;
		white-space: nowrap;
		overflow: hidden;
		text-overflow:ellipsis;
		&-hidden {
			display: none;
		}
		@include b(tablet) {
			max-width: 80%;
		}
		@include b(mobile) {
			font-size: 28px;
			padding-left: 10px;
			padding-right: 12px;
			.sale__title-hidden {
				display: block;
			}
			.sale__title-cur {
				display: none;
			}
		}
		@include b(mobile-sm) {
			font-size: 20px;
			padding: 0 5px;
		}
	}
	&__text {
		display: inline-block;
		vertical-align: middle;
		font-size: 13px;
		line-height: 16px;
		font-family: $font_second;
		max-width:360px;
		padding-left: 25px;
		position: relative;
		&-icon {
			position: absolute;
			top: calc(50% - 13px);
			left: 0;
		}
		@include b(tablet) {
			display: none;
		}
	}
}
.sale-date {
	padding: 10px 11px 10px 3px;
	min-width:148px;
	background-color: #ff7948;
	text-align: center;
	position: relative;
	border-top-right-radius:2px;
	border-bottom-right-radius:2px;
	@include b(mobile-sm) {
		padding: 3px;
		min-width:98px
	}
	&:before {
		content:'';
		position: absolute;
		left: 0;
		top:calc(50% - 8px);
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 9px 0 9px 8px;
		border-color: transparent transparent transparent #faefe8;
	}
	&__icon {
		display: inline-block;
		vertical-align: middle;
		padding-right: 5px;
		@include b(mobile-sm) {
			padding-right: 5px;
		}
	}
	&__text {
		display: inline-block;
		vertical-align: middle;
		font-size: 10px;
		line-height: 14px;
		color:$white;
		font-family: $font_second;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 1px;

		@include b(mobile-sm) {
			font-size: 9px;
		}
		&-item {
			display: block;
		}
	}
}
.icon-sale-clock {
	width: 30px;
	height: 30px;
	fill:#d45f34;	
	@include b(mobile-sm) {
		width: 15px;
		height: 15px;
	}	
}
.sale-discount {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 24px;
	line-height: 1;
	color:$white;
	font-family: $font_second;
	font-weight: 700;
	width: 97px;
	background-image: url('../img/discount-bg.png');
	background-size: contain;
	background-repeat: no-repeat;
	border-radius:2px;
	overflow: hidden;
	@include b(mobile-sm) {
		width: 67px;
		font-size: 20px;
	}
	&:before {
		content:'';
		display: inline-block;
		vertical-align: middle;
		height: 100%;
	}
	&__inner {
		display: inline-block;
		vertical-align: middle;
		margin-left: -14px;
	}
	&__num {
		display: inline-block;
		vertical-align: top;
	}
	&__percent {
		display: inline-block;
		vertical-align: top;
		font-size: 20px;
		padding-left: 5px;
		@include b(mobile-sm) {
			font-size: 16px;
		}
	}
}

.icon-sale-figure {
	width: 5px;
	height: 26px;
	fill:$brown5;
}

.sale-popup {
	width: 620px;
	max-width:100%;
	display: none;
	.sale {
			cursor: default;
			&:hover {
				box-shadow:none;
				.sale__title {
					color:$main;
				}
			}
		}
	.burger-close__image {
		border-color:$white;
		&:before,
		&:after {
			background: $white;
		}
	}
}