@@include('template/layout/head.html')
<body>
@@include('template/layout/svg.html')
@@include('template/layout/oldbrowser.html')

<!-- wrapper -->
<div class="wrapper">
	@@include('template/layout/header.html') 

	<!-- content -->
	<div class="content" role="main">
		<div class="container">
			<div class="breadcrumbs">
				<ul class="breadcrumbs-list">
					<li class="breadcrumbs-list__item breadcrumbs-list__item--hide">
						<span class="breadcrumbs-item breadcrumbs-item--main">
							<a href="#" class="breadcrumbs-item__link">
								<svg class="icon-arrow-tobottom breadcrumbs-item__link-marker">
									<use xlink:href="#arrow-tobottom"></use>
								</svg>
								<span class="breadcrumbs-item__link-text">На главную</span>
							</a>
						</span>
					</li>
					<li class="breadcrumbs-list__item">
						<span class="breadcrumbs-item breadcrumbs-item--main">
							<a href="#" class="breadcrumbs-item__link">
								<svg class="icon-arrow-tobottom breadcrumbs-item__link-marker">
									<use xlink:href="#arrow-tobottom"></use>
								</svg>
								<span class="breadcrumbs-item__link-text">Главная</span>
							</a>
						</span>
					</li>
					<li class="breadcrumbs-list__item">
						<span class="breadcrumbs-item">
							<span class="breadcrumbs-item__link breadcrumbs-item__link--active">О компании</span>
						</span>
					</li>
				</ul>
			</div>
			<div class="news-content">
				<div class="content-box">
					<h1 class="content-box__heading">О компании «МебельГолд»</h1>
					<div class="content-box__left">
						<div class="static-content">
							<div class="news-content__block news-content__block--history">
								@@include('template/blocks/history.html')
							</div>
							<div class="news-content__block">
								<h2>О нас</h2>
								<p>Мы в «MebelGold» прекрасно знаем, как порой непросто выбрать мебель. Вот почему основной упор в нашей работе был сделан не только на товарное разнообразие, но и на обеспечение лучшего сочетания цены и качества. При этом, формируя ассортимент, особое внимание мы уделяем экологичности, предлагая только ту мебель, которая соответствует современным экологическим нормам и общепринятым стандартам. А в рамках реализации комплексного подхода оказываем весь спектр дополнительных услуг – от бесплатной разработки 3D-дизайна, доставки и подъема мебели на этаж до профессиональной сборки, делая всё для того, чтобы покупка мебели приносила Вам радость, а не становилась головной болью.</p>
							</div>
							<div class="news-content__imgblock">
								<div class="img-holder">
									<div class="img-gallery">
										<a href="pic/img-gallery/img-gallery-01.jpg" class="img-gallery__item js-img-popup" rel="img-gallery">
											<img src="pic/img-gallery/img-gallery-01.jpg" alt="">
										</a>
										<a href="pic/img-gallery/img-gallery-02.jpg" class="img-gallery__item js-img-popup" rel="img-gallery">
											<img src="pic/img-gallery/img-gallery-02.jpg" alt="">
										</a>
										<a href="pic/img-gallery/img-gallery-03.jpg" class="img-gallery__item js-img-popup" rel="img-gallery">
											<img src="pic/img-gallery/img-gallery-03.jpg" alt="">
										</a>
										<a href="pic/img-gallery/img-gallery-04.jpg" class="img-gallery__item js-img-popup" rel="img-gallery">
											<img src="pic/img-gallery/img-gallery-04.jpg" alt="">
										</a>
										<a href="pic/img-gallery/img-gallery-05.jpg" class="img-gallery__item js-img-popup" rel="img-gallery">
											<img src="pic/img-gallery/img-gallery-05.jpg" alt="">
										</a>
										<a href="pic/img-gallery/img-gallery-06.jpg" class="img-gallery__item js-img-popup" rel="img-gallery">
											<img src="pic/img-gallery/img-gallery-06.jpg" alt="">
										</a>
									</div>
								</div>
							</div>
							<h2>Наши менеджеры</h2>
							@@include('template/blocks/managers.html')
							<div class="news-content__block">
								<h2>О Вас</h2>
								<p>Наши покупатели, определённо, знают толк в мебели! К нам приходят в поисках оптимального сочетания цены и качества и, конечно, за сервисом. Каждый клиент компании «MebelGold», вне зависимости от суммы покупки, вправе рассчитывать на компетентную консультацию специалиста и чёткое соблюдение всех гарантийных обязательств с нашей стороны.</p>
								<p>Наши менеджеры профессионально проконсультируют Вас по многоканальному телефону. Тел.: +7 (495) 255-18-10</p>
								<p>Время работы: 10:00 до 22:00 без выходных.</p>
							</div>
							<div class="news-content__imgblock">
								<div class="video-holder  js-video-holder">
									<a href="#video-popup" class="js-img-popup video-button">
										<img src="pic/about/photo-02.jpg" alt="About" class="img-holder__image ">
									</a>
								</div>
							</div>
							<div class="news-content__block">
								<h2 class="news-content__block-heading">Реквизиты:</h2>
								<div class="news-content__block-table">
									<table>
										<tbody>
											<tr>
												<td> </td>
												<td>ООО "МЕБЕЛЬГОЛД"</td>
											</tr>
											<tr>
												<td>ИНН</td>
												<td>7709463788</td>
											</tr>
											<tr>
												<td>КПП</td>
												<td>770901001</td>
											</tr>
											<tr>
												<td>ОГРН</td>
												<td>1157746670400</td>
											</tr>
											<tr>
												<td>Юр.адрес:</td>
												<td>109147, г. Москва, Факельный Б. пер., д.9/11, пом.3Н, комн.2</td>
											</tr>
											<tr>
												<td>Фактический адрес:</td>
												<td>123308 г. Москва, ул. Зорге, д. 1с2; ТЦ "Дом для Дома", 2-й этаж;</td>
											</tr>
											<tr>
												<td>Телефон:</td>
												<td>+7 (495) 255-18-10</td>
											</tr>
											<tr>
												<td>Email:</td>
												<td><a href="#" class="news-content__block-link">mebelgold@mebelgold.ru</a></td>
											</tr>
											<tr>
												<td>График работы:</td>
												<td>с 10:00 до 20:00 без&nbsp;выходных</td>
											</tr>
										</tbody>
									</table>
								</div>
								<p>Чтобы купить мебель прямо сейчас, воспользуйтесь каталогом, и мы доставим Ваш заказ в течение 24 часов!* <br>Или приходите в любой из наших магазинов, где Вам всегда рады!</p>
								<div class="news-content__block-inform">
									<div class="inform-block">
										<span class="inform-block__image">
											<svg class="icon-info inform-block__image-icon"><use xlink:href="#info"></use>
											</svg>
										</span>
										<span class="inform-block__text">Доставка осуществляется в течение 24 часов с момента принятия заказа, если мебель находится на нашем складе. Если заказ сделан до 11:00, доставка возможна и в день заказа.</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="content-box__right">
						<div class="sidebar">
							<div class="sidebar-menu js-accordeon-list">
								<div class="sidebar-menu__item js-accordeon-item">
									<div class="sidebar-item">
										<span class="sidebar-item__link js-sidebar-title">О компании</span>
										<ul class="sidebar-item__sub js-sidebar-inner">
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Контакты</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Гарантия качества</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="sidebar-menu__item">
									<div class="sidebar-item">
										<span class="sidebar-item__link js-sidebar-title">Услуги</span>
										<ul class="sidebar-item__sub  js-sidebar-inner">
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Доставка и подъем</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Рассрочка</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Сборка</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">3D Дизайн</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Доставка мебели за 24 часа</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="sidebar-menu__item">
									<div class="sidebar-item">
										<span class="sidebar-item__link js-sidebar-title">Разделы</span>
										<ul class="sidebar-item__sub js-sidebar-inner">
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Распродажа</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Скидки</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Оплата</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Фотоальбом</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Отзывы</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="sidebar-menu__item">
									<div class="sidebar-item">
										<span class="sidebar-item__link js-sidebar-title">Новости</span>
										<ul class="sidebar-item__sub js-sidebar-inner">
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Доставка и подъем</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Рассрочка</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Сборка</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">3D Дизайн</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Доставка мебели за 24 часа</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="sidebar-menu__item">
									<div class="sidebar-item">
										<span class="sidebar-item__link js-sidebar-title">Статьи</span>
										<ul class="sidebar-item__sub js-sidebar-inner">
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Контакты</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Гарантия качества</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="advantages">
							<div class="advantages-list advantages-list--vertical">
								<div class="advantages-list__item">
									<div class="advantages-item">
										<div class="advantages-item__image">
											<img src="pic/sidemenu/photo-01.jpg" alt="advantages" class="advantages-item__image-img">
											<img src="pic/sidemenu/photo-01-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
										</div>
										<div class="advantages-item__info">
											<span class="advantages-item__info-text">Рассрочка - 0%</span>
										</div>
									</div>
								</div>
								<div class="advantages-list__item">
									<div class="advantages-item">
										<div class="advantages-item__image">
											<img src="pic/sidemenu/photo-02.jpg" alt="advantages" class="advantages-item__image-img">
											<img src="pic/sidemenu/photo-02-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
										</div>
										<div class="advantages-item__info">
											<span class="advantages-item__info-text">Сборка купленной мебели</span>
										</div>
									</div>
								</div>
								<div class="advantages-list__item">
									<div class="advantages-item">
										<div class="advantages-item__image">
											<img src="pic/sidemenu/photo-03.jpg" alt="advantages" class="advantages-item__image-img">
											<img src="pic/sidemenu/photo-03-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
										</div>
										<div class="advantages-item__info">
											<span class="advantages-item__info-text">Доставка мебели за 24 часа</span>
										</div>
									</div>
								</div>
								<div class="advantages-list__item">
									<div class="advantages-item">
										<div class="advantages-item__image">
											<img src="pic/sidemenu/photo-04.jpg" alt="advantages" class="advantages-item__image-img">
											<img src="pic/sidemenu/photo-04-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
										</div>
										<div class="advantages-item__info">
											<span class="advantages-item__info-text">Гарантия качества и цены</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- content end -->
	@@include('template/blocks/video-popup.html')
	<div class="footer-spacer"></div>
</div>
<!-- wrapper end -->

@@include('template/layout/footer.html')

@@include('template/layout/footer-head.html')
</body>
</html> 