@@include('template/layout/head.html')
<body>
@@include('template/layout/svg.html')
@@include('template/layout/oldbrowser.html')

<!-- wrapper -->
<div class="wrapper">
	@@include('template/layout/header.html') 

	<!-- content -->
	<div class="content" role="main">
		<div class="container">
			<div class="breadcrumbs">
				<ul class="breadcrumbs-list">
					<li class="breadcrumbs-list__item breadcrumbs-list__item--hide">
						<span class="breadcrumbs-item breadcrumbs-item--main">
							<a href="#" class="breadcrumbs-item__link">
								<svg class="icon-arrow-tobottom breadcrumbs-item__link-marker">
									<use xlink:href="#arrow-tobottom"></use>
								</svg>
								<span class="breadcrumbs-item__link-text">Все магазины</span>
							</a>
						</span>
					</li>
					<li class="breadcrumbs-list__item">
						<span class="breadcrumbs-item breadcrumbs-item--main">
							<a href="#" class="breadcrumbs-item__link">
								<svg class="icon-arrow-tobottom breadcrumbs-item__link-marker">
									<use xlink:href="#arrow-tobottom"></use>
								</svg>
								<span class="breadcrumbs-item__link-text">Главная</span>
							</a>
						</span>
					</li>
					<li class="breadcrumbs-list__item">
						<span class="breadcrumbs-item">
							<span class="breadcrumbs-item__link breadcrumbs-item__link--active">О компании</span>
						</span>
					</li>
				</ul>
			</div>
			<div class="address">
				<div class="content-box" >
					<h1 class="content-box__heading">Салон мебели у м.&nbsp;Полежаевская</h1>
					<div class="content-box__left">
						<div class="static-content">
							<div class="address__block">
								<h2 class="address__block-heading">Как добраться</h2>
								<span class="address__block-inform">м. Полежаевская (350 метров от метро); Первый вагон из центра; Из турникетов направо; Выход на улицу Зорге, дом 1; 5 минут пешком от метро по улице Хорошевское шоссе до ТЦ "Дом для дома", 2 этаж, <br>направо магазин MebelGold.ru.</span>
							</div>
							<div class="address__block-location">
								<div class="address__block-location-map" id="js-map">
								
								</div>
							</div>

							<div class="address__block-hide">
								<div class="address-item__content">
									<div class="static-content">
										<dl>
											<dt>Адрес</dt>
											<dd>м. Полежаевская, ул. Зорге, д.1, стр. 2, ТЦ "Дом для Дома", 2-й этаж</dd>
										</dl>
										<dl>
											<dt>График работы</dt>
											<dd>10:00 до 20:00 без выходных</dd>
										</dl>
										<dl>
											<dt>Телефоны</dt>
											<dd>+7 (495) 740-28-43</dd>
											<dd>+7 (495) 255-18-10</dd>
										</dl>
										<dl class="address__block-hide-card">
											<dt>Способы оплаты</dt>
											<dd>
												<div class="address__block-hide-card-list">
													<ul class="card-list">
														<li class="card-list__item">
															<div class="card-item">
																<a href="#" class="card-item__link">
																	<svg class="icon-visa card-item__link-image">
																		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#visa"></use>
																	</svg>
																</a>
															</div>
														</li>
														<li class="card-list__item">
															<div class="card-item">
																<a href="#" class="card-item__link">
																	<svg class="icon-master-card card-item__link-image">
																		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#master-card"></use>
																	</svg>
																</a>
															</div>
														</li>
														<li class="card-list__item">
															<div class="card-item">
																<a href="#" class="card-item__link">
																	<svg class="icon-web-conect card-item__link-image">
																		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#web-conect"></use>
																	</svg>
																</a>
															</div>
														</li>
														<li class="card-list__item">
															<div class="card-item">
																<a href="#" class="card-item__link">
																	<svg class="icon-sberbank card-item__link-image">
																		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sberbank"></use>
																	</svg>
																</a>
															</div>
														</li>
														<li class="card-list__item">
															<div class="card-item">
																<a href="#" class="card-item__link">
																	<svg class="icon-yandex-money card-item__link-image">
																		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#yandex-money"></use>
																	</svg>
																</a>
															</div>
														</li>
														<li class="card-list__item">
															<div class="card-item">
																<a href="#" class="card-item__link">
																	<svg class="icon-web-money card-item__link-image">
																		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#web-money"></use>
																	</svg>
																</a>
															</div>
														</li>
													</ul>
												</div>
											</dd>
										</dl>
									</div>
								</div>
							</div>
							<div class="address__block-modal">
								<h2>Модульные системы, представленные в магазине</h2>
								<div class="modal-system">
									<div class="modal-system__column">
										<ul class="modal-system__list">
											<li class="modal-system__list-item">
												<svg class="icon-arrow-tobottom list-marker">
													<use xlink:href="#arrow-tobottom"></use>
												</svg>
												<span class="modal-system__list-text"><a href="#" class="modal-system__list-text-link">Август венге</a></span>
											</li>
											<li class="modal-system__list-item">
												<svg class="icon-arrow-tobottom list-marker">
													<use xlink:href="#arrow-tobottom"></use>
												</svg>
												<span class="modal-system__list-text"><a href="#" class="modal-system__list-text-link">Благо-5</a></span>
											</li>
											<li class="modal-system__list-item">
												<svg class="icon-arrow-tobottom list-marker">
													<use xlink:href="#arrow-tobottom"></use>
												</svg>
												<span class="modal-system__list-text"><a href="#" class="modal-system__list-text-link">Болден</a></span>
											</li>
											<li class="modal-system__list-item">
												<svg class="icon-arrow-tobottom list-marker">
													<use xlink:href="#arrow-tobottom"></use>
												</svg>
												<span class="modal-system__list-text"><a href="#" class="modal-system__list-text-link">Борис орех</a></span>
											</li>
											<li class="modal-system__list-item">
												<svg class="icon-arrow-tobottom list-marker">
													<use xlink:href="#arrow-tobottom"></use>
												</svg>
												<span class="modal-system__list-text"><a href="#" class="modal-system__list-text-link">Вайт</a></span>
											</li>
											<li class="modal-system__list-item">
												<svg class="icon-arrow-tobottom list-marker">
													<use xlink:href="#arrow-tobottom"></use>
												</svg>
												<span class="modal-system__list-text"><a href="#" class="modal-system__list-text-link">Индиана дуб</a></span>
											</li>
											<li class="modal-system__list-item">
												<svg class="icon-arrow-tobottom list-marker">
													<use xlink:href="#arrow-tobottom"></use>
												</svg>
												<span class="modal-system__list-text"><a href="#" class="modal-system__list-text-link">Индиана каньйон</a></span>
											</li>
											<li class="modal-system__list-item">
												<svg class="icon-arrow-tobottom list-marker">
													<use xlink:href="#arrow-tobottom"></use>
												</svg>
												<span class="modal-system__list-text"><a href="#" class="modal-system__list-text-link">Август венге</a></span>
											</li>
											<li class="modal-system__list-item">
												<svg class="icon-arrow-tobottom list-marker">
													<use xlink:href="#arrow-tobottom"></use>
												</svg>
												<span class="modal-system__list-text"><a href="#" class="modal-system__list-text-link">Благо-5</a></span>
											</li>
											<li class="modal-system__list-item">
												<svg class="icon-arrow-tobottom list-marker">
													<use xlink:href="#arrow-tobottom"></use>
												</svg>
												<span class="modal-system__list-text"><a href="#" class="modal-system__list-text-link">Болден</a></span>
											</li>
											<li class="modal-system__list-item">
												<svg class="icon-arrow-tobottom list-marker">
													<use xlink:href="#arrow-tobottom"></use>
												</svg>
												<span class="modal-system__list-text"><a href="#" class="modal-system__list-text-link">Борис орех</a></span>
											</li>
											<li class="modal-system__list-item">
												<svg class="icon-arrow-tobottom list-marker">
													<use xlink:href="#arrow-tobottom"></use>
												</svg>
												<span class="modal-system__list-text"><a href="#" class="modal-system__list-text-link">Вайт</a></span>
											</li>
											<li class="modal-system__list-item">
												<svg class="icon-arrow-tobottom list-marker">
													<use xlink:href="#arrow-tobottom"></use>
												</svg>
												<span class="modal-system__list-text"><a href="#" class="modal-system__list-text-link">Индиана дуб</a></span>
											</li>
											<li class="modal-system__list-item">
												<svg class="icon-arrow-tobottom list-marker">
													<use xlink:href="#arrow-tobottom"></use>
												</svg>
												<span class="modal-system__list-text"><a href="#" class="modal-system__list-text-link">Индиана каньйон</a></span>
											</li>
											<li class="modal-system__list-item">
												<svg class="icon-arrow-tobottom list-marker">
													<use xlink:href="#arrow-tobottom"></use>
												</svg>
												<span class="modal-system__list-text"><a href="#" class="modal-system__list-text-link">Август венге</a></span>
											</li>
											<li class="modal-system__list-item">
												<svg class="icon-arrow-tobottom list-marker">
													<use xlink:href="#arrow-tobottom"></use>
												</svg>
												<span class="modal-system__list-text"><a href="#" class="modal-system__list-text-link">Благо-5</a></span>
											</li>
											<li class="modal-system__list-item">
												<svg class="icon-arrow-tobottom list-marker">
													<use xlink:href="#arrow-tobottom"></use>
												</svg>
												<span class="modal-system__list-text"><a href="#" class="modal-system__list-text-link">Болден</a></span>
											</li>
											<li class="modal-system__list-item">
												<svg class="icon-arrow-tobottom list-marker">
													<use xlink:href="#arrow-tobottom"></use>
												</svg>
												<span class="modal-system__list-text"><a href="#" class="modal-system__list-text-link">Борис орех</a></span>
											</li>
											<li class="modal-system__list-item">
												<svg class="icon-arrow-tobottom list-marker">
													<use xlink:href="#arrow-tobottom"></use>
												</svg>
												<span class="modal-system__list-text"><a href="#" class="modal-system__list-text-link">Вайт</a></span>
											</li>
											<li class="modal-system__list-item">
												<svg class="icon-arrow-tobottom list-marker">
													<use xlink:href="#arrow-tobottom"></use>
												</svg>
												<span class="modal-system__list-text"><a href="#" class="modal-system__list-text-link">Индиана дуб</a></span>
											</li>
											<li class="modal-system__list-item">
												<svg class="icon-arrow-tobottom list-marker">
													<use xlink:href="#arrow-tobottom"></use>
												</svg>
												<span class="modal-system__list-text"><a href="#" class="modal-system__list-text-link">Индиана каньйон</a></span>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="address__block">

								<div class="address__block-gallery">
									<div class="address-slider">
										<div class="address-slider__main js-address-slider">
											<div class="address-slider__main-item">
												<img src="pic/address/photo-01.jpg" alt="Address" class="address-slider__main-item-image">
											</div>
											<div class="address-slider__main-item">
												<img src="pic/address/photo-01.jpg" alt="Address" class="address-slider__main-item-image">
											</div>
											<div class="address-slider__main-item">
												<img src="pic/address/photo-01.jpg" alt="Address" class="address-slider__main-item-image">
											</div>
											<div class="address-slider__main-item">
												<img src="pic/address/photo-01.jpg" alt="Address" class="address-slider__main-item-image">
											</div>
											<div class="address-slider__main-item">
												<img src="pic/address/photo-01.jpg" alt="Address" class="address-slider__main-item-image">
											</div>
											<div class="address-slider__main-item">
												<img src="pic/address/photo-01.jpg" alt="Address" class="address-slider__main-item-image">
											</div>
											<div class="address-slider__main-item">
												<img src="pic/address/photo-01.jpg" alt="Address" class="address-slider__main-item-image">
											</div>
											<div class="address-slider__main-item">
												<img src="pic/address/photo-01.jpg" alt="Address" class="address-slider__main-item-image">
											</div>
											<div class="address-slider__main-item">
												<img src="pic/address/photo-01.jpg" alt="Address" class="address-slider__main-item-image">
											</div>
										</div>
										<div class="address-slider__nav js-address-slider-nav">
											<div class="address-slider__nav-item">
												<img src="pic/address/photo-01.jpg" alt="Address" class="address-slider__nav-item-image">
											</div>
											<div class="address-slider__nav-item">
												<img src="pic/address/photo-01.jpg" alt="Address" class="address-slider__nav-item-image">
											</div>
											<div class="address-slider__nav-item">
												<img src="pic/address/photo-01.jpg" alt="Address" class="address-slider__nav-item-image">
											</div>
											<div class="address-slider__nav-item">
												<img src="pic/address/photo-01.jpg" alt="Address" class="address-slider__nav-item-image">
											</div>
											<div class="address-slider__nav-item">
												<img src="pic/address/photo-01.jpg" alt="Address" class="address-slider__nav-item-image">
											</div>
											<div class="address-slider__nav-item">
												<img src="pic/address/photo-01.jpg" alt="Address" class="address-slider__nav-item-image">
											</div>
											<div class="address-slider__nav-item">
												<img src="pic/address/photo-01.jpg" alt="Address" class="address-slider__nav-item-image">
											</div>
											<div class="address-slider__nav-item">
												<img src="pic/address/photo-01.jpg" alt="Address" class="address-slider__nav-item-image">
											</div>
											<div class="address-slider__nav-item">
												<img src="pic/address/photo-01.jpg" alt="Address" class="address-slider__nav-item-image">
											</div>
										</div>
									</div>
									



									

								</div>

								
							</div>
						</div>
					</div>
					<div class="content-box__right">
						<div class="sidebar address__sidebar">
							<div class="sidebar-menu sidebar-menu--address js-accordeon-list ">
								<div class="sidebar-menu__item js-accordeon-item">
									<div class="sidebar-item">
										<div class="static-content">
											<dl class="address-info">
												<dt>Адрес</dt>
												<dd>м. Полежаевская, ул. Зорге, д.1, 
												<br/>стр. 2, ТЦ "Дом для Дома", 
												<br/>2-й этаж</dd>
											</dl>
										</div>
									</div>
								</div>
								<div class="sidebar-menu__item">
									<div class="sidebar-item">
										<div class="static-content">
											<dl class="address-info">
												<dt>График работы</dt>
												<dd>10:00 до 20:00 без выходных</dd>
											</dl>
										</div>
									</div>
								</div>
								<div class="sidebar-menu__item">
									<div class="sidebar-item">
										<div class="static-content">
											<dl class="address-info">
												<dt>Телефоны</dt>
												<dd class="address-info__phone-item">+7 (495) 740-28-43</dd>
												<dd class="address-info__phone-item">+7 (495) 255-18-10</dd>
											</dl>
										</div>
									</div>
								</div>
								<div class="sidebar-menu__item">
									<div class="sidebar-item">
										<div class="static-content">
											<dl class="address-info">
												<dt>Способы оплаты</dt>
												<dd>
													<ul class="card-list card-list--variable">
														<li class="card-list__item">
															<div class="card-item">
																<a href="#" class="card-item__link">
																	<svg class="icon-visa card-item__link-image">
																		<use xlink:href="#visa"></use>
																	</svg>
																</a>
															</div>
														</li>
														<li class="card-list__item">
															<div class="card-item">
																<a href="#" class="card-item__link">
																	<svg class="icon-master-card card-item__link-image">
																		<use xlink:href="#master-card"></use>
																	</svg>
																</a>
															</div>
														</li>
														<li class="card-list__item">
															<div class="card-item">
																<a href="#" class="card-item__link">
																	<svg class="icon-web-money card-item__link-image">
																		<use xlink:href="#web-money"></use>
																	</svg>
																</a>
															</div>
														</li>
														<li class="card-list__item">
															<div class="card-item">
																<a href="#" class="card-item__link">
																	<svg class="icon-yandex-money card-item__link-image">
																		<use xlink:href="#yandex-money"></use>
																	</svg>
																</a>
															</div>
														</li>
														<li class="card-list__item">
															<div class="card-item">
																<a href="#" class="card-item__link">
																	<svg class="icon-web-conect card-item__link-image">
																		<use xlink:href="#web-conect"></use>
																	</svg>
																</a>
															</div>
														</li>
														<li class="card-list__item">
															<div class="card-item">
																<a href="#" class="card-item__link">
																	<svg class="icon-sberbank card-item__link-image">
																		<use xlink:href="#sberbank"></use>
																	</svg>
																</a>
															</div>
														</li>
													</ul>
												</dd>
											</dl>
											
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="advantages">
							<div class="advantages-list advantages-list--vertical">
								<div class="advantages-list__item">
									<div class="advantages-item">
										<div class="advantages-item__image">
											<img src="pic/sidemenu/photo-01.jpg" alt="advantages" class="advantages-item__image-img">
											<img src="pic/sidemenu/photo-01-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
										</div>
										<div class="advantages-item__info">
											<span class="advantages-item__info-text">Рассрочка - 0%</span>
										</div>
									</div>
								</div>
								<div class="advantages-list__item">
									<div class="advantages-item">
										<div class="advantages-item__image">
											<img src="pic/sidemenu/photo-02.jpg" alt="advantages" class="advantages-item__image-img">
											<img src="pic/sidemenu/photo-02-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
										</div>
										<div class="advantages-item__info">
											<span class="advantages-item__info-text">Сборка купленной мебели</span>
										</div>
									</div>
								</div>
								<div class="advantages-list__item">
									<div class="advantages-item">
										<div class="advantages-item__image">
											<img src="pic/sidemenu/photo-03.jpg" alt="advantages" class="advantages-item__image-img">
											<img src="pic/sidemenu/photo-03-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
										</div>
										<div class="advantages-item__info">
											<span class="advantages-item__info-text">Доставка мебели за 24 часа</span>
										</div>
									</div>
								</div>
								<div class="advantages-list__item">
									<div class="advantages-item">
										<div class="advantages-item__image">
											<img src="pic/sidemenu/photo-04.jpg" alt="advantages" class="advantages-item__image-img">
											<img src="pic/sidemenu/photo-04-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
										</div>
										<div class="advantages-item__info">
											<span class="advantages-item__info-text">Гарантия качества и цены</span>
										</div>
									</div>
								</div>
								<div class="advantages-list__item">
								<div class="advantages-item">
									<div class="advantages-item__image">
										<img src="pic/sidemenu/photo-05.jpg" alt="advantages" class="advantages-item__image-img">
										<img src="pic/sidemenu/photo-05-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
									</div>
									<div class="advantages-item__info">
										<span class="advantages-item__info-text">Бесплатный дизайн в 3D</span>
									</div>
								</div>
							</div>
							<div class="advantages-list__item">
								<div class="advantages-item">
									<div class="advantages-item__image">
										<img src="pic/sidemenu/photo-06.jpg" alt="advantages" class="advantages-item__image-img">
										<img src="pic/sidemenu/photo-06-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
									</div>
									<div class="advantages-item__info">
										<span class="advantages-item__info-text">Акции и скидки</span>
									</div>
								</div>
							</div>
							<div class="advantages-list__item">
								<div class="advantages-item">
									<div class="advantages-item__image">
										<img src="pic/sidemenu/photo-07.jpg" alt="advantages" class="advantages-item__image-img">
										<img src="pic/sidemenu/photo-07-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
									</div>
									<div class="advantages-item__info">
										<span class="advantages-item__info-text">Бесплатный подъем мебели</span>
									</div>
								</div>
							</div>
							<div class="advantages-list__item">
								<div class="advantages-item">
									<div class="advantages-item__image">
										<img src="pic/sidemenu/photo-08.jpg" alt="advantages" class="advantages-item__image-img">
										<img src="pic/sidemenu/photo-08-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
									</div>
									<div class="advantages-item__info">
										<span class="advantages-item__info-text">Бесплатная доставка покупок</span>
									</div>
								</div>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- content end -->
	
	<div class="footer-spacer"></div>
</div>
<!-- wrapper end -->

@@include('template/layout/footer.html')
@@include('template/layout/footer-head.html')
</body>
</html> 