@@include('template/layout/head.html')
<body>
@@include('template/layout/svg.html')
@@include('template/layout/oldbrowser.html')
<!-- wrapper -->
<div class="wrapper">
	@@include('template/layout/header.html') 

	<!-- content -->
	<main class="content" role="main">
		<div class="container">

			<!-- BREADCRUMBS -->
			<div class="breadcrumbs">
				<ul class="breadcrumbs-list">
					<li class="breadcrumbs-list__item breadcrumbs-list__item--hide">
						<span class="breadcrumbs-item breadcrumbs-item--main">
							<a href="#" class="breadcrumbs-item__link">
								<svg class="icon-arrow-tobottom breadcrumbs-item__link-marker">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
								</svg>
								<span class="breadcrumbs-item__link-text">На главную</span>
							</a>
						</span>
					</li>
					<li class="breadcrumbs-list__item">
						<span class="breadcrumbs-item breadcrumbs-item--main">
							<a href="#" class="breadcrumbs-item__link">
								<svg class="icon-arrow-tobottom breadcrumbs-item__link-marker">
									<use xlink:href="#arrow-tobottom"></use>
								</svg>
								<span class="breadcrumbs-item__link-text">Главная</span>
							</a>
						</span>
					</li>
					<li class="breadcrumbs-list__item">
						<span class="breadcrumbs-item">
							<span class="breadcrumbs-item__link breadcrumbs-item__link--active">Адреса магазинов</span>
						</span>
					</li>
				</ul>
			</div>
			<!-- BREADCRUMBS END -->

			<!-- CONTENT -->
			<div class="content-box">
				<h1 class="content-box__heading">
					Адреса магазинов «MebelGold»
				</h1>
				<div class="shops">

					<div class="shops__map">
						<div class="allshops-map" id="js-map">
							
						</div>
					</div>

					<div class="address-list js-accordeon-list" data-resolution="tablet">

						<div class="address-list__item js-accordeon-item">
							<div class="address-item">
								<h3 class="address-item__heading js-accordeon__trigger">Полежаевская
									<span class="address-item__heading-arrow">
										<svg class="icon-arrow-tobottom">
											<use xlink:href="#arrow-tobottom"></use>
										</svg>
									</span>
								</h3>
								<div class="js-accordion__inner">
									<div class="address-item__content ">
										<div class="static-content">
											<dl>
												<dt>Адрес</dt>
												<dd>м. Полежаевская, ул. Зорге, д.1, стр. 2, ТЦ "Дом для Дома", 2-й этаж</dd>
											</dl>
											<dl>
												<dt>График работы</dt>
												<dd>10:00 до 20:00 без выходных</dd>
											</dl>
											<dl>
												<dt>Телефоны</dt>
												<dd>+7 (495) 740-28-43</dd>
												<dd>+7 (495) 255-18-10</dd>
											</dl>
										</div>
									</div>
									<div class="address-item__content-button">
										<a href="#" class="btn btn-border-brown address-item__content-button-link">Подробнее</a>
									</div>
								</div>
							</div>
						</div>
						<div class="address-list__item js-accordeon-item">
							<div class="address-item">
								<h3 class="address-item__heading js-accordeon__trigger">Полежаевская 
									<span class="address-item__heading-arrow">
										<svg class="icon-arrow-tobottom">
											<use xlink:href="#arrow-tobottom"></use>
										</svg>
									</span>
								</h3>
								<div class="js-accordion__inner">
									<div class="address-item__content ">
										<div class="static-content">
											<dl>
												<dt>Адрес</dt>
												<dd>м. Полежаевская, ул. Зорге, д.1, стр. 2, ТЦ "Дом для Дома", 2-й этаж</dd>
											</dl>
											<dl>
												<dt>График работы</dt>
												<dd>10:00 до 20:00 без выходных</dd>
											</dl>
											<dl>
												<dt>Телефоны</dt>
												<dd>+7 (495) 740-28-43</dd>
												<dd>+7 (495) 255-18-10</dd>
											</dl>
										</div>
									</div>
									<div class="address-item__content-button">
										<a href="#" class="btn btn-border-brown address-item__content-button-link">Подробнее</a>
									</div>
								</div>
							</div>
						</div>
						<div class="address-list__item js-accordeon-item">
							<div class="address-item">
								<h3 class="address-item__heading js-accordeon__trigger">Полежаевская
								<span class="address-item__heading-arrow">
									<svg class="icon-arrow-tobottom">
										<use xlink:href="#arrow-tobottom"></use>
									</svg>
								</span>
								</h3>
								<div class="js-accordion__inner">
									<div class="address-item__content ">
										<div class="static-content">
											<dl>
												<dt>Адрес</dt>
												<dd>м. Полежаевская, ул. Зорге, д.1, стр. 2, ТЦ "Дом для Дома", 2-й этаж</dd>
											</dl>
											<dl>
												<dt>График работы</dt>
												<dd>10:00 до 20:00 без выходных</dd>
											</dl>
											<dl>
												<dt>Телефоны</dt>
												<dd>+7 (495) 740-28-43</dd>
												<dd>+7 (495) 255-18-10</dd>
											</dl>
										</div>
									</div>
									<div class="address-item__content-button">
										<a href="#" class="btn btn-border-brown address-item__content-button-link">Подробнее</a>
									</div>
								</div>
							</div>
						</div>
						<div class="address-list__item js-accordeon-item">
							<div class="address-item">
								<h3 class="address-item__heading js-accordeon__trigger">
									Полежаевская
									<span class="address-item__heading-arrow">
										<svg class="icon-arrow-tobottom">
											<use xlink:href="#arrow-tobottom"></use>
										</svg>
									</span>
								</h3>
								<div class="js-accordion__inner">
									<div class="address-item__content ">
										<div class="static-content">
											<dl>
												<dt>Адрес</dt>
												<dd>м. Полежаевская, ул. Зорге, д.1, стр. 2, ТЦ "Дом для Дома", 2-й этаж</dd>
											</dl>
											<dl>
												<dt>График работы</dt>
												<dd>10:00 до 20:00 без выходных</dd>
											</dl>
											<dl>
												<dt>Телефоны</dt>
												<dd>+7 (495) 740-28-43</dd>
												<dd>+7 (495) 255-18-10</dd>
											</dl>
										</div>
									</div>
									<div class="address-item__content-button">
										<a href="#" class="btn btn-border-brown address-item__content-button-link">Подробнее</a>
									</div>
								</div>
							</div>
						</div>
						<div class="address-list__item js-accordeon-item">
							<div class="address-item">
								<h3 class="address-item__heading js-accordeon__trigger">
									Полежаевская
									<span class="address-item__heading-arrow">
										<svg class="icon-arrow-tobottom">
											<use xlink:href="#arrow-tobottom"></use>
										</svg>
									</span>
								</h3>
								<div class="js-accordion__inner">
									<div class="address-item__content ">
										<div class="static-content">
											<dl>
												<dt>Адрес</dt>
												<dd>м. Полежаевская, ул. Зорге, д.1, стр. 2, ТЦ "Дом для Дома", 2-й этаж</dd>
											</dl>
											<dl>
												<dt>График работы</dt>
												<dd>10:00 до 20:00 без выходных</dd>
											</dl>
											<dl>
												<dt>Телефоны</dt>
												<dd>+7 (495) 740-28-43</dd>
												<dd>+7 (495) 255-18-10</dd>
											</dl>
										</div>
									</div>
									<div class="address-item__content-button">
										<a href="#" class="btn btn-border-brown address-item__content-button-link">Подробнее</a>
									</div>
								</div>
							</div>
						</div>
						<div class="address-list__item js-accordeon-item">
							<div class="address-item">
								<h3 class="address-item__heading js-accordeon__trigger">
									Полежаевская
									<span class="address-item__heading-arrow">
										<svg class="icon-arrow-tobottom">
											<use xlink:href="#arrow-tobottom"></use>
										</svg>
									</span>
								</h3>
								<div class="js-accordion__inner">
									<div class="address-item__content ">
										<div class="static-content">
											<dl>
												<dt>Адрес</dt>
												<dd>м. Полежаевская, ул. Зорге, д.1, стр. 2, ТЦ "Дом для Дома", 2-й этаж</dd>
											</dl>
											<dl>
												<dt>График работы</dt>
												<dd>10:00 до 20:00 без выходных</dd>
											</dl>
											<dl>
												<dt>Телефоны</dt>
												<dd>+7 (495) 740-28-43</dd>
												<dd>+7 (495) 255-18-10</dd>
											</dl>
										</div>
									</div>
									<div class="address-item__content-button">
										<a href="#" class="btn btn-border-brown address-item__content-button-link">Подробнее</a>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				
			</div>
			<!-- CONTENT END -->
		</div>

	<!--  -->
	</main>
	<!-- content end -->
	
</div>
<!-- wrapper end -->

@@include('template/layout/footer.html')
@@include('template/layout/footer-head.html')
</body>
</html> 