@@include('template/layout/head.html')
<body>
@@include('template/layout/svg.html')
@@include('template/layout/oldbrowser.html')

<!-- wrapper -->
<div class="wrapper">
	@@include('template/layout/header.html') 

	<!-- content -->
	<div class="content" role="main">
		<div class="container">
			<div class="breadcrumbs">
				<ul class="breadcrumbs-list">
					<li class="breadcrumbs-list__item breadcrumbs-list__item--hide">
						<span class="breadcrumbs-item breadcrumbs-item--main">
							<a href="#" class="breadcrumbs-item__link">
								<svg class="icon-arrow-tobottom breadcrumbs-item__link-marker">
									<use xlink:href="#arrow-tobottom"></use>
								</svg>
								<span class="breadcrumbs-item__link-text">Продолжить покупки</span>
							</a>
						</span>
					</li>
					<li class="breadcrumbs-list__item">
						<span class="breadcrumbs-item breadcrumbs-item--main">
							<a href="#" class="breadcrumbs-item__link">
								<svg class="icon-arrow-tobottom breadcrumbs-item__link-marker">
									<use xlink:href="#arrow-tobottom"></use>
								</svg>
								<span class="breadcrumbs-item__link-text">Главная</span>
							</a>
						</span>
					</li>
					<li class="breadcrumbs-list__item">
						<span class="breadcrumbs-item">
							<span class="breadcrumbs-item__link breadcrumbs-item__link--active">Корзина</span>
						</span>
					</li>
				</ul>
			</div>
			<div class="content-box">
				<div class="content-box__top">
					<h1 class="content-box__heading content-box__heading--small content-box__heading--left">Корзина</h1>
					<div class="basket-holder__button">
						<a href="#popup-buy" class="btn btn-border-brown js-popup-link">Купить в один клик</a>
					</div>
				</div>
				<div class="basket">
					<div class="basket-holder">
						
						<div class="basket-holder__list">
							<div class="basket-list">
								<div class="basket-list__item">
									<div class="basket-item">
										<div class="basket-item__image">
											<a href="#" class="basket-item__image-link">
												<img src="pic/products/medium/product-01.jpg" alt="Product" class="basket-item__image-link-img">
											</a>
										</div>
										<div class="basket-item__content">
											<div class="basket-item__content-info">
												<h2 class="basket-item__content-info-heading">
													<a href="#" class="basket-item__content-info-heading-link">Кровать с основанием LOZ90</a>
												</h2>
												<div class="basket-item__content-info-parametrs">
													<div class="parametrs">
														<ul class="parametrs-list">
															<li class="parametrs-list__item">
																<div class="parametrs-item">
																	<span class="parametrs-item__description">Ш., см.</span>
																	<span class="parametrs-item__amount">160</span>
																</div>
															</li>
															<li class="parametrs-list__item">
																<div class="parametrs-item">
																	<span class="parametrs-item__description">В., см.</span>
																	<span class="parametrs-item__amount">96.5</span>
																</div>
															</li>
															<li class="parametrs-list__item">
																<div class="parametrs-item">
																	<span class="parametrs-item__description">Г., см.</span>
																	<span class="parametrs-item__amount">45.5</span>
																</div>
															</li>
														</ul>
													</div>
												</div>
												<div class="basket-item__content-info-parametrs basket-item__content-info-parametrs--large">
													<div class="parametrs">
														<ul class="parametrs-list parametrs-list--small">
															<li class="parametrs-list__item">
																<div class="parametrs-item">
																	<span class="parametrs-item__description">Корпус:</span>
																	<span class="parametrs-item__amount">Черешня античная</span>
																</div>
															</li>
															<li class="parametrs-list__item">
																<div class="parametrs-item">
																	<span class="parametrs-item__description">Фасад:</span>
																	<span class="parametrs-item__amount">Белый блеск</span>
																</div>
															</li>
														</ul>
													</div>
												</div>
											</div>
											<div class="basket-item__content-spinner">
												<div class="spinner js-spinner">
													<span class="spinner__trigger js-spinner-minus">
														
													</span>
													<input type="text" class="spinner__input js-spinner-input" value="1">
													<span class="spinner__trigger js-spinner-plus">
														
													</span>
												</div>
											</div>
											<div class="basket-item__content-price">
												<div class="basket-item__content-price-holder">
													<div class="basket-item__content-price-top">
														<span class="basket-item__content-price-top-old">28 984</span>
														<div class="basket-item__content-price-top-sale sale-marker">
															<span class="sale-marker__text">3% скидка</span>
														</div>
													</div>
													<span class="basket-item__content-price-bottom">22 356 руб.</span>
												</div>
												
											</div>
										</div>
										<div class="basket-item__close">
											<a href="#" class="close-button">
												<span class="close-button__image"></span>
											</a>
										</div>
									</div>
								</div>
								<div class="basket-list__item">
									<div class="basket-item">
										<div class="basket-item__image">
											<a href="#" class="basket-item__image-link">
												<img src="pic/products/medium/product-01.jpg" alt="Product" class="basket-item__image-link-img">
											</a>
										</div>
										<div class="basket-item__content">
											<div class="basket-item__content-info">
												<h2 class="basket-item__content-info-heading">
													<a href="#" class="basket-item__content-info-heading-link">Кровать с основанием LOZ90</a>
												</h2>
												<div class="basket-item__content-info-parametrs">
													<div class="parametrs">
														<ul class="parametrs-list">
															<li class="parametrs-list__item">
																<div class="parametrs-item">
																	<span class="parametrs-item__description">Ш., см.</span>
																	<span class="parametrs-item__amount">160</span>
																</div>
															</li>
															<li class="parametrs-list__item">
																<div class="parametrs-item">
																	<span class="parametrs-item__description">В., см.</span>
																	<span class="parametrs-item__amount">96.5</span>
																</div>
															</li>
															<li class="parametrs-list__item">
																<div class="parametrs-item">
																	<span class="parametrs-item__description">Г., см.</span>
																	<span class="parametrs-item__amount">45.5</span>
																</div>
															</li>
														</ul>
													</div>
												</div>
												<div class="basket-item__content-info-parametrs">
													<div class="parametrs">
														<ul class="parametrs-list parametrs-list--small">
															<li class="parametrs-list__item">
																<div class="parametrs-item">
																	<span class="parametrs-item__description">Корпус:</span>
																	<span class="parametrs-item__amount">Черешня античная</span>
																</div>
															</li>
															<li class="parametrs-list__item">
																<div class="parametrs-item">
																	<span class="parametrs-item__description">Фасад:</span>
																	<span class="parametrs-item__amount">Белый блеск</span>
																</div>
															</li>
														</ul>
													</div>
												</div>
											</div>
											<div class="basket-item__content-spinner">
												<div class="spinner js-spinner">
													<span class="spinner__trigger js-spinner-minus">
														
													</span>
													<input type="text" class="spinner__input js-spinner-input" value="1">
													<span class="spinner__trigger js-spinner-plus">
														
													</span>
												</div>
											</div>
											<div class="basket-item__content-price">
												<div class="basket-item__content-price-holder">
													<div class="basket-item__content-price-top">
														<span class="basket-item__content-price-top-old">28 984</span>
														<div class="basket-item__content-price-top-sale sale-marker">
															<span class="sale-marker__text">3% скидка</span>
														</div>
													</div>
													<span class="basket-item__content-price-bottom">22 356 руб.</span>
												</div>
												
											</div>
										</div>
										<div class="basket-item__close">
											<a href="#" class="close-button">
												<span class="close-button__image"></span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="basket-holder__total-hide">
							<span class="basket-holder__total-hide-price">44 356 руб.</span>
							<span class="basket-holder__total-hide-old">58 894</span>
						</div>
						<div class="basket-holder__total">
							<div class="basket-holder__total-left">
								<a href="#" class="basket-holder__total-left-close">
									<span class="basket-holder__total-left-close-button">
										<span href="#" class="close-button">
											<span class="close-button__image"></span>
										</span>
									</span>
									<span class="basket-holder__total-left-close-text">Очистить корзину</span>
								</a>
								
							</div>
							<div class="basket-holder__total-right">
								<div class="basket-holder__total-right-block basket-holder__total-right-block--discounted">
									<span class="basket-holder__total-right-block-text">Со скидкой:</span>
									<span class="basket-holder__total-right-block-price">22 356 руб.</span>
								</div>
								<div class="basket-holder__total-right-block basket-holder__total-right-block--discount">
									<span class="basket-holder__total-right-block-text">Скидка:</span>
									<span class="basket-holder__total-right-block-price">10 356 руб.</span>
								</div>
								<div class="basket-holder__total-right-block">
									<span class="basket-holder__total-right-block-text">Без скидки:</span>
									<span class="basket-holder__total-right-block-price">32 356 руб.</span>
								</div>
								<div class="basket-holder__total-right-block">
									<span class="basket-holder__total-right-block-total">Итого:</span>
								</div>

							</div>
						</div>
					</div>
					<div class="basket-holder basket-holder--additional">
						<h2 class="basket-holder__heading">Дополнительные скидки</h2>
						<div class="basket-holder__select-additional">
							<div class="select-additional">
								<div class="select-additional-list">
									<div class="select-additional-list__item">
										<div class="select-additional-item">
											<div class="select-additional-item__button">
												<label class="radiobox">
													<input type="radio" class="radiobox__check" name="action_likefollow_unfollow_type">
													<span class="radiobox__icon">
														<span class="radiobox__icon-image"></span>
													</span>
													<span class="radiobox__inner">
														<span class="radiobox__text">Пенсионерам, инвалидам, по социальной карте</span>
													</span>
												</label>
											</div>
											<span class="select-additional-item__info">5%- предоставляется при предъявлении удостоверения, к договору</span>
										</div>
									</div>
									<div class="select-additional-list__item">
										<div class="select-additional-item">
											<div class="select-additional-item__button">
												<label class="radiobox">
													<input type="radio" class="radiobox__check" name="action_likefollow_unfollow_type">
													<span class="radiobox__icon">
														<span class="radiobox__icon-image"></span>
													</span>
													<span class="radiobox__inner">
														<span class="radiobox__text">До и после Дня рождения в течение 14 дней (за неделю до Дня рождения и неделю после Дня рождения)</span>
													</span>
												</label>
											</div>
											<span class="select-additional-item__info">8%- по предъявлению паспорта или свидетельства о рождении ребенка, к договору прикладывается копия.</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="basket-holder__inform-block">
							<div class="inform-block">
								<span class="inform-block__image">
									<svg class="icon-info inform-block__image-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#info"></use>
									</svg>
								</span>
								<div class="inform-block__text">
								<span class="inform-block__text-row">	Скидки действительны только на продукцию BRW. Скидки не суммируются. <br></span><span class="inform-block__text-row"><b>Внимание:</b> Следите за итоговой суммой - скидка за объем может оказаться больше, чем пенсионерам и именинникам</span> 
								</div>
							</div>
						</div>
					</div>
					<div class="basket-holder basket-holder--hide">
						<h2 class="basket-holder__heading">Дополнительные услуги</h2>
						<div class="basket-holder__additional-services">
							<div class="additional-services">
								<div class="additional-services-list">
									<div class="additional-services-list__item">
										<div class="additional-services-item">
											<div class="additional-services-item__image">
												<img src="pic/services/photo-01.jpg" alt="Servies" class="additional-services-item__image-img">
												<img src="pic/services/photo-01-gray.jpg" alt="Servies" class="additional-services-item__image-img additional-services-item__image-img--hover">
											</div>
											<div class="additional-services-item__holder">
												<div class="additional-services-item__description">
													<div class="additional-services-item__description-button">
														<label class="checkbox">
															<input type="checkbox" class="checkbox__check">
															<span class="checkbox__icon">
																<svg class="icon-check checkbox__icon-image">
																	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check"></use>
																</svg>
															</span>
															<span class="checkbox__inner">
																<span class="checkbox__text">Доставка</span>
															</span>
														</label>
													</div>
													<span class="additional-services-item__description-info">Купите еще на 17 196 руб. для бесплатной доставки</span>
												</div>
												<div class="additional-services-item__cost">
													<span class="additional-services-item__cost-amount">800 руб.</span>
												</div>
											</div>
											
										</div>
									</div>
									<div class="additional-services-list__item">
										<div class="additional-services-item">
											<div class="additional-services-item__image">
												<img src="pic/services/photo-02.jpg" alt="Servies" class="additional-services-item__image-img">
												<img src="pic/services/photo-02-gray.jpg" alt="Servies" class="additional-services-item__image-img additional-services-item__image-img--hover">
											</div>
											<div class="additional-services-item__holder">
												<div class="additional-services-item__description">
													<div class="additional-services-item__description-button">
														<label class="checkbox">
															<input type="checkbox" class="checkbox__check" checked="">
															<span class="checkbox__icon">
																<svg class="icon-check checkbox__icon-image">
																	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check"></use>
																</svg>
															</span>
															<span class="checkbox__inner">
																<span class="checkbox__text">Подьем мебели</span>
															</span>
														</label>
													</div>
													<span class="additional-services-item__description-info">Купите еще на 17 196 руб. для бесплатной доставки</span>
												</div>
												<div class="additional-services-item__cost">
													<span class="additional-services-item__cost-amount">400 руб.</span>
												</div>
											</div>
											
										</div>
									</div>
									<div class="additional-services-list__item">
										<div class="additional-services-item">
											<div class="additional-services-item__image">
												<img src="pic/services/photo-03.jpg" alt="Servies" class="additional-services-item__image-img">
												<img src="pic/services/photo-03-gray.jpg" alt="Servies" class="additional-services-item__image-img additional-services-item__image-img--hover">
											</div>
											<div class="additional-services-item__holder">
												<div class="additional-services-item__description">
													<div class="additional-services-item__description-button">
														<label class="checkbox">
															<input type="checkbox" class="checkbox__check">
															<span class="checkbox__icon">
																<svg class="icon-check checkbox__icon-image">
																	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check"></use>
																</svg>
															</span>
															<span class="checkbox__inner">
																<span class="checkbox__text">Сборка мебели</span>
															</span>
														</label>
													</div>
													<span class="additional-services-item__description-info">Фиксированная стоимость 10% от общего заказа</span>
												</div>
												<div class="additional-services-item__cost">
													<span class="additional-services-item__cost-amount">1280 руб.</span>
												</div>
											</div>
											
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="basket-holder__total basket-holder__total--additional">
							<div class="basket-holder__total-left">
								<a href="#" class="basket-holder__total-left-close">
									<span class="basket-holder__total-left-close-button">
										<span href="#" class="close-button">
											<span class="close-button__image"></span>
										</span>
									</span>
									<span class="basket-holder__total-left-close-text">Отменить доп. услуги</span>
								</a>
								
							</div>
							<div class="basket-holder__total-right">
								<span class="basket-holder__total-right-price">400 руб.</span>
								<span class="basket-holder__total-right-total">Итого за дополнительные услуги:</span>

							</div>
						</div>
					</div>
					<div class="basket-holder basket-holder--hide">
						<h2 class="basket-holder__heading">Оформление заказа</h2>
						<div class="order-form">

							<div class="order-form__row order-form__row--lagre">
								<div class="order-form__cell">
									<div class="order-form__cell form-row--required">
										<input type="text" class="input input-required input-label" id="address-basket">
										<span class="image-required">*</span>
										<label for="address-basket">Адрес:</label>
									</div>
								</div>
								<div class="order-form__cell order-form__cell--number">
									<div class="order-form__cell-number input-custom">
										
										<span class="fake-input-placeholder">
											<input type="text" class="input input-custom__input" id="flat">
											<label for="flat" class="fake-input-placeholder__label">Квартира</label>
											<span class="fake-input-placeholder__text">
												№
											</span>
										</span>
									</div>
								</div>
							</div>

							<div class="order-form__row">
								<div class="form-row--required">
									<input type="text" class="input input-required input-label" id="name-basket">
									<label for="name-basket">Как Вас зовут:</label>
									<span class="image-required">*</span>
								</div>
							</div>
							<div class="order-form__row order-form__row--lagre">
								<div class="order-form__cell">
									<div class="input-custom form-row--required">
										
										<input type="text" class="input input-custom__input js-phone-mask" id="telephone" placeholder="+7(___) ___ - __ - __">
										<label for="telephone" class="fake-input-placeholder__label">Ваш телефон:</label>
										<span class="image-required">*</span>
									</div>
								</div>
								<div class="order-form__cell order-form__cell--text">
									<span class="order-form__cell-text">— мы вышлем на него подтверждение заказа</span>
								</div>
							</div>
							<div class="order-form__row">
								<div class="form-row--required">
									<input type="email" class="input input-required input-label" id="email-basket">
									<label for="email-basket">Ваш электронный адрес:</label>
									<span class="image-required">*</span>
								</div>
							</div>
							<div class="order-form__row">
								<span class="order-form__row-inform"><span class="order-form__row-inform-required">*</span> Поля обязательные для заполнения</span>
							</div>
							<div class="order-form__row">
								<div class="input-custom form-row--required">
									
									<span class="fake-input-placeholder">
										<input type="text" class="input input-custom__input" id="promokod">
										<label for="promokod" class="fake-input-placeholder__label">Промокод</label>
										<span class="fake-input-placeholder__text">
											№
										</span>
									</span>
								</div>
							</div>
						</div>

					</div>
					<div class="basket-holder basket-holder--hide">
						<h2 class="basket-holder__heading">Выберите способ оплаты</h2>
						<div class="basket-holder__select">
							<div class="basket-holder__select-row">
								<select name="select" id="" class="select index" data-placeholder="Наличными при получении">
									<option value="Наличными при получении">Наличными при получении</option>
									<option value="Наличными при получении2">Наличными при получении2</option>
									<option value="Наличными при получении3">Наличными при получении3</option>
								</select>
							</div>
						</div>
						<div class="basket-holder__card-list">
							<ul class="card-list">
								<li class="card-list__item">
									<div class="card-item">
										<a href="#" class="card-item__link">
											<svg class="icon-visa card-item__link-image">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#visa"></use>
											</svg>
										</a>
									</div>
								</li>
								<li class="card-list__item">
									<div class="card-item">
										<a href="#" class="card-item__link">
											<svg class="icon-master-card card-item__link-image">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#master-card"></use>
											</svg>
										</a>
									</div>
								</li>
								<li class="card-list__item">
									<div class="card-item">
										<a href="#" class="card-item__link">
											<svg class="icon-web-conect card-item__link-image">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#web-conect"></use>
											</svg>
										</a>
									</div>
								</li>
								<li class="card-list__item">
									<div class="card-item">
										<a href="#" class="card-item__link">
											<svg class="icon-sberbank card-item__link-image">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sberbank"></use>
											</svg>
										</a>
									</div>
								</li>
								<li class="card-list__item">
									<div class="card-item">
										<a href="#" class="card-item__link">
											<svg class="icon-yandex-money card-item__link-image">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#yandex-money"></use>
											</svg>
										</a>
									</div>
								</li>
								<li class="card-list__item">
									<div class="card-item">
										<a href="#" class="card-item__link">
											<svg class="icon-web-money card-item__link-image">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#web-money"></use>
											</svg>
										</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="basket-holder__totalpay">
						<span class="basket-holder__totalpay-heading">Итого к оплате:</span>
						<span class="basket-holder__totalpay-price">31 244 руб.</span>
						<a href="#" class="basket-holder__totalpay-checkout btn btn-orange">Оформить заказ</a>
						<a href="#" class="btn btn-border-brown basket-holder__totalpay-credit">Купить в кредит</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- content end -->
	
	<div class="footer-spacer"></div>
</div>
<!-- wrapper end -->

@@include('template/layout/footer.html')
@@include('template/layout/footer-head.html')
</body>
</html> 