@@include('template/layout/head.html')
<body>
@@include('template/layout/svg.html')
@@include('template/layout/oldbrowser.html')

<!-- wrapper -->
<div class="wrapper">
	@@include('template/layout/header.html') 

	<!-- content -->
	<div class="content" role="main">
		<div class="container">
			<div class="breadcrumbs">
				<ul class="breadcrumbs-list">
					<li class="breadcrumbs-list__item breadcrumbs-list__item--hide">
						<span class="breadcrumbs-item breadcrumbs-item--main">
							<a href="#" class="breadcrumbs-item__link">
								<svg class="icon-arrow-tobottom breadcrumbs-item__link-marker">
									<use xlink:href="#arrow-tobottom"></use>
								</svg>
								<span class="breadcrumbs-item__link-text">На главную</span>
							</a>
						</span>
					</li>
					<li class="breadcrumbs-list__item">
						<span class="breadcrumbs-item breadcrumbs-item--main">
							<a href="#" class="breadcrumbs-item__link">
								<svg class="icon-arrow-tobottom breadcrumbs-item__link-marker">
									<use xlink:href="#arrow-tobottom"></use>
								</svg>
								<span class="breadcrumbs-item__link-text">Главная</span>
							</a>
						</span>
					</li>
					<li class="breadcrumbs-list__item">
						<span class="breadcrumbs-item">
							<span class="breadcrumbs-item__link breadcrumbs-item__link--active">Бренды</span>
						</span>
					</li>
				</ul>
			</div>
			<div class="brands">
				<div class="content-box">
					<h1 class="content-box__heading">Бренды</h1>
					<div class="content-box__left">
						<div class="brands-name">
							<div class="brands-name-row">
								<div class="brands-name-row__item">
									<div class="brands-name-item">
										<span class="brands-name-item__letter">F</span>
										<div class="brands-name-item__description">
											<div class="brands-name-item__description-row">
												<a href="#" class="brands-name-item__description-row-link">
													<span class="brands-name-item__description-row-text">Fameg</span>
													<span class="brands-name-item__description-row-flag">
														<img src="pic/flag/poland.png" alt="Flag" class="brands-name-item__description-row-flag-image">
													</span>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="brands-name-row__item">
									<div class="brands-name-item">
										<span class="brands-name-item__letter">Б</span>
										<div class="brands-name-item__description">
											<div class="brands-name-item__description-row">
												<a href="#" class="brands-name-item__description-row-link">
													<span class="brands-name-item__description-row-text">Богачо</span>
													<span class="brands-name-item__description-row-flag">
														<img src="pic/flag/russia.png" alt="Flag" class="brands-name-item__description-row-flag-image">
													</span>
												</a>
											</div>
											<div class="brands-name-item__description-row">
												<a href="#" class="brands-name-item__description-row-link">
													<span class="brands-name-item__description-row-text">БРВ Мебель</span>
													<span class="brands-name-item__description-row-flag">
														<img src="pic/flag/belarus.png" alt="Flag" class="brands-name-item__description-row-flag-image">
													</span>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="brands-name-row__item">
									<div class="brands-name-item">
										<span class="brands-name-item__letter">П</span>
										<div class="brands-name-item__description">
											<div class="brands-name-item__description-row">
												<a href="#" class="brands-name-item__description-row-link">
													<span class="brands-name-item__description-row-text">Пинскдрев</span>
													<span class="brands-name-item__description-row-flag">
														<img src="pic/flag/belarus.png" alt="Flag" class="brands-name-item__description-row-flag-image">
													</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="brands-name-row">
								<div class="brands-name-row__item">
									<div class="brands-name-item">
										<span class="brands-name-item__letter">G</span>
										<div class="brands-name-item__description">
											<div class="brands-name-item__description-row">
												<a href="#" class="brands-name-item__description-row-link">
													<span class="brands-name-item__description-row-text">Gerbor</span>
													<span class="brands-name-item__description-row-flag">
														<img src="pic/flag/ukraine.png" alt="Flag" class="brands-name-item__description-row-flag-image">
													</span>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="brands-name-row__item">
									<div class="brands-name-item">
										<span class="brands-name-item__letter">Е</span>
										<div class="brands-name-item__description">
											<div class="brands-name-item__description-row">
												<a href="#" class="brands-name-item__description-row-link">
													<span class="brands-name-item__description-row-text">Европа-мебель</span>
													<span class="brands-name-item__description-row-flag">
														<img src="pic/flag/russia.png" alt="Flag" class="brands-name-item__description-row-flag-image">
													</span>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="brands-name-row__item">
									<div class="brands-name-item">
										<span class="brands-name-item__letter">Ю</span>
										<div class="brands-name-item__description">
											<div class="brands-name-item__description-row">
												<a href="#" class="brands-name-item__description-row-link">
													<span class="brands-name-item__description-row-text">Юта</span>
													<span class="brands-name-item__description-row-flag">
														<img src="pic/flag/russia.png" alt="Flag" class="brands-name-item__description-row-flag-image">
													</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="brands-name-row">
								<div class="brands-name-row__item">
									<div class="brands-name-item">
										<span class="brands-name-item__letter">L</span>
										<div class="brands-name-item__description">
											<div class="brands-name-item__description-row">
												<a href="#" class="brands-name-item__description-row-link">
													<span class="brands-name-item__description-row-text">Lineaflex</span>
													<span class="brands-name-item__description-row-flag">
														<img src="pic/flag/italy.png" alt="Flag" class="brands-name-item__description-row-flag-image">
													</span>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="brands-name-row__item">
									<div class="brands-name-item">
										<span class="brands-name-item__letter">К</span>
										<div class="brands-name-item__description">
											<div class="brands-name-item__description-row">
												<a href="#" class="brands-name-item__description-row-link">
													<span class="brands-name-item__description-row-text">Квинта</span>
													<span class="brands-name-item__description-row-flag">
														<img src="pic/flag/russia.png" alt="Flag" class="brands-name-item__description-row-flag-image">
													</span>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="brands-name-row__item">
									<div class="brands-name-item">
										<span class="brands-name-item__letter">Я</span>
										<div class="brands-name-item__description">
											<div class="brands-name-item__description-row">
												<a href="#" class="brands-name-item__description-row-link">
													<span class="brands-name-item__description-row-text">Ярцево</span>
													<span class="brands-name-item__description-row-flag">
														<img src="pic/flag/russia.png" alt="Flag" class="brands-name-item__description-row-flag-image">
													</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="brands-name-row">
								<div class="brands-name-row__item">
									<div class="brands-name-item">
										<span class="brands-name-item__letter">А</span>
										<div class="brands-name-item__description">
											<div class="brands-name-item__description-row">
												<a href="#" class="brands-name-item__description-row-link">
													<span class="brands-name-item__description-row-text">Анрекс</span>
													<span class="brands-name-item__description-row-flag">
														<img src="pic/flag/belarus.png" alt="Flag" class="brands-name-item__description-row-flag-image">
													</span>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="brands-name-row__item">
									<div class="brands-name-item">
										<span class="brands-name-item__letter">Л</span>
										<div class="brands-name-item__description">
											<div class="brands-name-item__description-row">
												<a href="#" class="brands-name-item__description-row-link">
													<span class="brands-name-item__description-row-text">Лером</span>
													<span class="brands-name-item__description-row-flag">
														<img src="pic/flag/russia.png" alt="Flag" class="brands-name-item__description-row-flag-image">
													</span>
												</a>
											</div>
											<div class="brands-name-item__description-row">
												<a href="#" class="brands-name-item__description-row-link">
													<span class="brands-name-item__description-row-text">Лидер</span>
													<span class="brands-name-item__description-row-flag">
														<img src="pic/flag/russia.png" alt="Flag" class="brands-name-item__description-row-flag-image">
													</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="content-box__right">
						<div class="sidebar">
							<div class="sidebar-menu js-accordeon-list">
								<div class="sidebar-menu__item js-accordeon-item">
									<div class="sidebar-item">
										<span class="sidebar-item__link js-sidebar-title">О компании</span>
										<ul class="sidebar-item__sub js-sidebar-inner">
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Контакты</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Гарантия качества</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="sidebar-menu__item">
									<div class="sidebar-item">
										<span class="sidebar-item__link js-sidebar-title">Услуги</span>
										<ul class="sidebar-item__sub  js-sidebar-inner">
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Доставка и подъем</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Рассрочка</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Сборка</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">3D Дизайн</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Доставка мебели за 24 часа</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="sidebar-menu__item">
									<div class="sidebar-item">
										<span class="sidebar-item__link js-sidebar-title">Разделы</span>
										<ul class="sidebar-item__sub js-sidebar-inner">
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Распродажа</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Скидки</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Оплата</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Фотоальбом</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Отзывы</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="sidebar-menu__item">
									<div class="sidebar-item">
										<span class="sidebar-item__link js-sidebar-title">Новости</span>
										<ul class="sidebar-item__sub js-sidebar-inner">
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Доставка и подъем</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Рассрочка</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Сборка</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">3D Дизайн</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Доставка мебели за 24 часа</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="sidebar-menu__item">
									<div class="sidebar-item">
										<span class="sidebar-item__link js-sidebar-title">Статьи</span>
										<ul class="sidebar-item__sub js-sidebar-inner">
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Контакты</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Гарантия качества</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- content end -->
	
	<div class="footer-spacer"></div>
</div>
<!-- wrapper end -->

@@include('template/layout/footer.html')
@@include('template/layout/footer-head.html')
</body>
</html> 