@@include('template/layout/head.html')
<body>
@@include('template/layout/svg.html')
@@include('template/layout/oldbrowser.html')

<!-- wrapper -->
<div class="wrapper">
	@@include('template/layout/header.html') 

	<!-- content -->
	<div class="content" role="main">
		<div class="container">
			<div class="breadcrumbs">
				<ul class="breadcrumbs-list">
					<li class="breadcrumbs-list__item breadcrumbs-list__item--hide">
						<span class="breadcrumbs-item breadcrumbs-item--main">
							<a href="#" class="breadcrumbs-item__link">
								<svg class="icon-arrow-tobottom breadcrumbs-item__link-marker">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
								</svg>
								<span class="breadcrumbs-item__link-text">В каталог</span>
							</a>
						</span>
					</li>
					<li class="breadcrumbs-list__item">
						<span class="breadcrumbs-item breadcrumbs-item--main">
							<a href="#" class="breadcrumbs-item__link">
								<svg class="icon-arrow-tobottom breadcrumbs-item__link-marker">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
								</svg>
								<span class="breadcrumbs-item__link-text">Главная</span>
							</a>
						</span>
					</li>
					<li class="breadcrumbs-list__item">
						<span class="breadcrumbs-item">
							<a href="#" class="breadcrumbs-item__link">Кровати</a>
							<svg class="icon-arrow-marker breadcrumbs-item__link-arrow">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-marker"></use>
							</svg>
						</span>
					</li>
					<li class="breadcrumbs-list__item">
						<span class="breadcrumbs-item">
							<span class="breadcrumbs-item__link breadcrumbs-item__link--active">Кровать с основанием NLOZ 160 из коллекции Стилиус</span>
						</span>
					</li>
				</ul>
			</div>
			<div class="content-box">
				<div class="card-page">
					<h1 class="content-box__heading">Кровать с основанием NLOZ 160 из коллекции Стилиус</h1>
					<div class="card-page__block card-page__block--top">
						<div class="product-preview">
							<div class="product-preview__holder">
								<div class="product-preview__left">
									<div class="product-preview__left-advantages">
										<div class="product-preview__left-advantages-left">
											<div class="benefit">
												<div class="benefit-list">
													<div class="benefit-list__item">
														<div class="benefit-item">
															<div class="special-marker benefit-item__content">
																<svg class="icon-car special-marker__icon">
																	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#car">
																	</use>
																</svg>
																<span class="special-marker__text">3 дня</span>
															</div>
														</div>
													</div>
													<div class="benefit-list__item">
														<div class="benefit-item">
															<div class="special-marker benefit-item__content">
																<svg class="icon-car special-marker__icon">
																	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#car">
																	</use>
																</svg>
																<span class="special-marker__text">Бесплатно</span>
															</div>
														</div>
													</div>
													<div class="benefit-list__item">
														<div class="benefit-item">
															<div class="special-marker benefit-item__content">
																<svg class="icon-clock special-marker__icon">
																	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clock">
																	</use>
																</svg>
																<span class="special-marker__text">24 часа</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="product-preview__left-advantages-right">
											<div class="benefit">
												<div class="benefit-list">
													<div class="benefit-list__item">
														<div class="benefit-item">
															<div class="benefit-item__content sale-marker">
																<span class="sale-marker__text">30%</span>
															</div>
														</div>
													</div>
													<div class="benefit-list__item">
														<div class="benefit-item">
															<div class="hit-marker benefit-item__content">Хит</div>
														</div>
													</div>
													<div class="benefit-list__item">
														<div class="benefit-item">
															<div class="benefit-item__content new-marker">Новинка</div>
														</div>
													</div>
													<div class="benefit-list__item benefit-list__item--hide">
														<div class="benefit-item">
															<div class="benefit-item__content new-marker">В наличии</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="product-preview__left-gallery">
										<div class="gallery-product">

											<div class="gallery-product__main js-gallery-product__main">

												<div class="gallery-product__main-item">
													<a rel="1" href="#zoom-photo" class="gallery-product__main-item-link js-img-popup">
														<div class="gallery-product__main-item-review">
															<svg class="icon-search-plus gallery-product__main-item-review-image">
																<use xlink:href="#search-plus"></use>
															</svg>
														</div>
														<img src="pic/products/large/photo-01.jpg" alt="Product" class="gallery-product__main-item-image">
													</a>
												</div>
												<div class="gallery-product__main-item">
													<a rel="1" href="#zoom-photo" class="gallery-product__main-item-link js-img-popup">
														<div class="gallery-product__main-item-review">
															<svg class="icon-search-plus gallery-product__main-item-review-image">
																<use xlink:href="#search-plus"></use>
															</svg>
														</div>
														<img src="pic/products/large/photo-01.jpg" alt="Product" class="gallery-product__main-item-image">
													</a>
												</div>
												<div class="gallery-product__main-item">
													<a rel="1" href="#zoom-photo" class="gallery-product__main-item-link js-img-popup">
														<div class="gallery-product__main-item-review">
															<svg class="icon-search-plus gallery-product__main-item-review-image">
																<use xlink:href="#search-plus"></use>
															</svg>
														</div>
														<img src="pic/products/large/photo-01.jpg" alt="Product" class="gallery-product__main-item-image">
													</a>
												</div>
												<div class="gallery-product__main-item">
													<a rel="1" href="#zoom-photo" class="gallery-product__main-item-link js-img-popup">
														<div class="gallery-product__main-item-review">
															<svg class="icon-search-plus gallery-product__main-item-review-image">
																<use xlink:href="#search-plus"></use>
															</svg>
														</div>
														<img src="pic/products/large/photo-01.jpg" alt="Product" class="gallery-product__main-item-image">
													</a>
												</div>
												<div class="gallery-product__main-item">
													<a rel="1" href="#zoom-photo" class="gallery-product__main-item-link js-img-popup">
														<div class="gallery-product__main-item-review">
															<svg class="icon-search-plus gallery-product__main-item-review-image">
																<use xlink:href="#search-plus"></use>
															</svg>
														</div>
														<img src="pic/products/large/photo-01.jpg" alt="Product" class="gallery-product__main-item-image">
													</a>
												</div>
												
												
											</div>

											<div class="gallery-product__nav js-gallery-product__nav">
												<div class="gallery-product__nav-item">
													<img src="pic/products/small/product-01.jpg" alt="Product" class="gallery-product__nav-item-image">
												</div>
												<div class="gallery-product__nav-item">
													<img src="pic/products/small/product-01.jpg" alt="Product" class="gallery-product__nav-item-image">
												</div>
												<div class="gallery-product__nav-item">
													<img src="pic/products/small/product-01.jpg" alt="Product" class="gallery-product__nav-item-image">
												</div>
												<div class="gallery-product__nav-item">
													<img src="pic/products/small/product-01.jpg" alt="Product" class="gallery-product__nav-item-image">
												</div>
												<div class="gallery-product__nav-item">
													<img src="pic/products/small/product-01.jpg" alt="Product" class="gallery-product__nav-item-image">
												</div>
												<div class="gallery-product__nav-item">
													<img src="pic/products/small/product-01.jpg" alt="Product" class="gallery-product__nav-item-image">
												</div>
											</div>

										</div>
									</div>
								</div>
								<div class="product-preview__right">
									<div class="product-preview__right-column">
										<div class="product-preview__right-column-purchase">
											<div class="purchase">
												<div class="purchase__new">
													<div class="purchase__new-marker new-marker">В наличии</div>
												</div>
												<div class="purchase__price">
													<span class="purchase__price-new new-price">22 356 руб.</span>
													<span class="purchase__price-old old-price">28 894</span>
												</div>
												<div class="purchase__discount"><a href="#popup-discount" class="purchase__discount-link js-popup-link">Получить скидку</a></div>
												<div class="purchase__buy">
													<div class="purchase__buy-button">
														<a href="#" class="btn btn-orange">Купить</a>
													</div>
													<div class="purchase__buy-credit">
														<label class="checkbox">
															<input type="checkbox" class="checkbox__check">
															<span class="checkbox__icon">
																<svg class="icon-check checkbox__icon-image">
																	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check"></use>
																</svg>
															</span>
															<span class="checkbox__inner">
																<span class="checkbox__text">В кредит</span>
															</span>
														</label>
													</div>
												</div>
												<div class="purchase__click">
													<a href="#popup-buy" class="btn btn-border-brown js-popup-link purchase__click-button">Купить в один клик</a>
												</div>

											</div>
										</div>
										<div class="product-preview__right-column-performance">
											<div class="performance performance--right ">
												<div class="performance-block">
													<div class="performance-block__inform">
														<span class="performance-block__heading">Доставка</span>
														<span class="performance-block__inform-image">
															<svg class="icon-info performance-block__inform-image-img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#info"></use></svg>
														</span>
													</div>
													<div class="performance-block__list">
														<div class="performance-block__item">
															<span class="performance-block__item-left">Ваш город:</span>
															<span class="performance-block__item-right">
																<a href="#popup-location" class="performance-block__item-right-location inform-item__location-link js-popup-link">
																	<span class="inform-item__location-link-text">Балашиха</span>
																	<svg class="icon-arrow-tobottom inform-item__location-link-arrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use></svg>
																</a>
															</span>
														</div>
														<div class="performance-block__item">
															<span class="performance-block__item-left">Стоимость доставки:</span>
															<span class="performance-block__item-right performance-block__item-right--bold">800 руб.</span>
														</div>
													</div>
												</div>
												<div class="performance-block">
													<div class="performance-block__inform">
														<span class="performance-block__heading">Подъем</span>
														<span class="performance-block__inform-image">
															<svg class="icon-info performance-block__inform-image-img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#info"></use></svg>
														</span>
													</div>
													<div class="performance-block__list">
														<div class="performance-block__item">
															<span class="performance-block__item-left">Стоимость подъема:</span>
															<span class="performance-block__item-right performance-block__item-right--bold">400 руб.</span>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="product-preview__right-column-free-block">
											<div class="free-block">
												<span class="free-block__text">Бесплатно при заказе от 30.000 руб.</span>
											</div>
										</div>
									</div>
									<div class="product-preview__right-column">
										<div class="performance performance--left">

											<div class="performance-block">
												<span class="performance-block__heading">Размеры</span>
												<div class="performance-block__list performance-block__list--size">
													<div class="performance-block__item">
														<span class="performance-block__item-left performance-block__item-left--visible">Ш.</span>
														<span class="performance-block__item-left performance-block__item-left--hide">Ширина:</span>
														<span class="performance-block__item-right">212 см</span>
													</div>
													<div class="performance-block__item">
														<span class="performance-block__item-left performance-block__item-left--visible">Г.</span>
														<span class="performance-block__item-left performance-block__item-left--hide">Глубина:</span>
														<span class="performance-block__item-right">63 см</span>
													</div>
													<div class="performance-block__item">
														<span class="performance-block__item-left performance-block__item-left--visible">В.</span>
														<span class="performance-block__item-left performance-block__item-left--hide">Высота:</span>
														<span class="performance-block__item-right">223 см</span>
													</div>
												</div>
											</div>
											<div class="performance-block performance-block--hide">
												<div class="performance-block__item">
													<span class="performance-block__item-left">Артикул:</span>
													<span class="performance-block__item-right">NLOZ160k</span>
												</div>
											</div>
											<div class="performance-block performance-block--hide">
												<div class="performance-block__item">
													<span class="performance-block__item-left">Производитель:</span>
													<span class="performance-block__item-right"><a herf="#" class="performance-block__item-right-link">Black Red White</a></span>
														
												</div>
											</div>
											<div class="performance-block performance-block--large">
												<div class="performance-block__item">
													<span class="performance-block__item-left">Коллекция:</span>
													<span class="performance-block__item-right"><a herf="#" class="performance-block__item-right-link">Стилиус</a></span>
												</div>
											</div>
											<div class="performance-block performance-block--hide">
												<div class="performance-block__item">
													<span class="performance-block__item-left">Стиль:</span>
													<span class="performance-block__item-right">Классические</span>
												</div>
											</div>
											<div class="performance-block performance-block--drop">
												<span class="performance-block__heading">Цвет</span>
												<div class="performance-block__list">
													<div class="performance-block__item performance-block__item--change">
														<span class="performance-block__item-left">Корпус:</span>
															<span class="performance-block__item-right">
															<div class="select-block js-filter-drop-parent">
																	<span class="select-block-btn js-filter-btn">
																		<span class="select-block-btn__text js-drop-placeholder">
																			Черешня античная
																		</span>
																		<span class="select-block-btn__arrow">
																			<svg class="icon-drop-arrow">
																				<use xlink:href="#arrow-tobottom"></use>
																			</svg>
																		</span>
																	</span>
																	<div class="select-block-drop js-filter-drop">

																		<div class="select-block-drop__inner">
																			<div class="select-block-drop__item js-drop-select-text">
																				<div class="select-block-drop__left">
																					<span class="select-block-drop__img">
																						<img src="pic/color/photo-01.png" alt="">
																					</span>
																					<span class="select-block-drop__text">
																						Коньяк 
																					</span>
																				</div>
																				<div class="select-block-drop__right">
																					<span class="select-block-drop__price">
																						22 356 руб.
																					</span>
																				</div>
																			</div>	
																			<div class="select-block-drop__item js-drop-select-text">
																				<div class="select-block-drop__left">
																					<span class="select-block-drop__img">
																						<img src="pic/color/photo-01.png" alt="">
																					</span>
																					<span class="select-block-drop__text">
																						Коньяк fgbf
																					</span>
																				</div>
																				<div class="select-block-drop__right">
																					<span class="select-block-drop__price">
																						22 356 руб.
																					</span>
																				</div>
																			</div>	
																			<div class="select-block-drop__item js-drop-select-text">
																				<div class="select-block-drop__left">
																					<span class="select-block-drop__img">
																						<img src="pic/color/photo-02.png" alt="">
																					</span>
																					<span class="select-block-drop__text">
																						Коньяк bhfgbgbfgb
																					</span>
																				</div>
																				<div class="select-block-drop__right">
																					<span class="select-block-drop__price">
																						22 356 руб.
																					</span>
																				</div>
																			</div>	
																			<div class="select-block-drop__item js-drop-select-text">
																				<div class="select-block-drop__left">
																					<span class="select-block-drop__img">
																						<img src="pic/color/photo-01.png" alt="">
																					</span>
																					<span class="select-block-drop__text">
																						Коньяк ffffff
																					</span>
																				</div>
																				<div class="select-block-drop__right">
																					<span class="select-block-drop__price">
																						22 356 руб.
																					</span>
																				</div>
																			</div>	
																			<div class="select-block-drop__item js-drop-select-text">
																				<div class="select-block-drop__left">
																					<span class="select-block-drop__img">
																						<img src="pic/color/photo-02.png" alt="">
																					</span>
																					<span class="select-block-drop__text">
																						Коньяк fbhfb
																					</span>
																				</div>
																				<div class="select-block-drop__right">
																					<span class="select-block-drop__price">
																						22 356 руб.
																					</span>
																				</div>
																			</div>	
																		</div>

																	</div>
															</div>
														</span>
													</div>
													<div class="performance-block__item performance-block__item--change">
														<span class="performance-block__item-left">Фасад:</span>
														<span class="performance-block__item-right">
															<div class="select-block js-filter-drop-parent">
																<span class="select-block-btn js-filter-btn">
																	<span class="select-block-btn__text js-drop-placeholder">
																		Черешня античная
																	</span>
																	<span class="select-block-btn__arrow">
																		<svg class="icon-drop-arrow">
																			<use xlink:href="#arrow-tobottom"></use>
																		</svg>
																	</span>
																</span>
																<div class="select-block-drop js-filter-drop">

																	<div class="select-block-drop__inner">
																		<div class="select-block-drop__item js-drop-select-text">
																			<div class="select-block-drop__left">
																				<span class="select-block-drop__img">
																					<img src="pic/color/photo-01.png" alt="">
																				</span>
																				<span class="select-block-drop__text">
																					Коньяк 
																				</span>
																			</div>
																		</div>	
																		<div class="select-block-drop__item js-drop-select-text">
																			<div class="select-block-drop__left">
																				<span class="select-block-drop__img">
																					<img src="pic/color/photo-01.png" alt="">
																				</span>
																				<span class="select-block-drop__text">
																					Коньяк fgbf
																				</span>
																			</div>
																		</div>	
																		<div class="select-block-drop__item js-drop-select-text">
																			<div class="select-block-drop__left">
																				<span class="select-block-drop__img">
																					<img src="pic/color/photo-02.png" alt="">
																				</span>
																				<span class="select-block-drop__text">
																					Коньяк bhfgbgbfgb
																				</span>
																			</div>
																		</div>	
																		<div class="select-block-drop__item js-drop-select-text">
																			<div class="select-block-drop__left">
																				<span class="select-block-drop__img">
																					<img src="pic/color/photo-01.png" alt="">
																				</span>
																				<span class="select-block-drop__text">
																					Коньяк ffffff
																				</span>
																			</div>
																		</div>	
																		<div class="select-block-drop__item js-drop-select-text">
																			<div class="select-block-drop__left">
																				<span class="select-block-drop__img">
																					<img src="pic/color/photo-02.png" alt="">
																				</span>
																				<span class="select-block-drop__text">
																					Коньяк fbhfb
																				</span>
																			</div>
																		</div>	
																	</div>

																</div>
															</div>
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</div>


					@@include('template/blocks/card-download-disabled.html')
					@@include('template/blocks/card-bottom.html')
					
					@@include('template/blocks/large-photo.html')
				</div>
			</div>
			
		</div>
	</div>
	<!-- content end -->
	
	
</div>
<!-- wrapper end -->

@@include('template/layout/footer.html')
@@include('template/layout/footer-head.html')
</body>
</html> 