@@include('template/layout/head.html')
<body>
@@include('template/layout/svg.html')
@@include('template/layout/oldbrowser.html')

<!-- wrapper -->
<div class="wrapper">
	@@include('template/layout/header.html') 

	<!-- content -->
	<div class="content" role="main">
		<div class="container">
			<div class="breadcrumbs">
				<ul class="breadcrumbs-list">
					<li class="breadcrumbs-list__item breadcrumbs-list__item--hide">
						<span class="breadcrumbs-item breadcrumbs-item--main">
							<a href="#" class="breadcrumbs-item__link">
								<svg class="icon-arrow-tobottom breadcrumbs-item__link-marker">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
								</svg>
								<span class="breadcrumbs-item__link-text">На главную</span>
							</a>
						</span>
					</li>
					<li class="breadcrumbs-list__item">
						<span class="breadcrumbs-item breadcrumbs-item--main">
							<a href="#" class="breadcrumbs-item__link">
								<svg class="icon-arrow-tobottom breadcrumbs-item__link-marker">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
								</svg>
								<span class="breadcrumbs-item__link-text">Главная</span>
							</a>
						</span>
					</li>
					<li class="breadcrumbs-list__item">
						<span class="breadcrumbs-item">
							<a href="#" class="breadcrumbs-item__link">Кровати</a>
							<svg class="icon-arrow-marker breadcrumbs-item__link-arrow">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-marker"></use>
							</svg>
						</span>
					</li>
					<li class="breadcrumbs-list__item">
						<span class="breadcrumbs-item">
							<span class="breadcrumbs-item__link breadcrumbs-item__link--active">Кровать с основанием NLOZ 160 из коллекции Стилиус</span>
						</span>
					</li>
				</ul>
			</div>
			<div class="content-box">
				<div class="card-page card-module">
					<h1 class="content-box__heading">Кровать с основанием NLOZ 160 из коллекции Стилиус</h1>
					<div class="card-page__sale">@@include('template/blocks/sale.html')</div>
					<div class="card-page__block">
						<div class="product-preview">
							<div class="product-preview__holder">
								<div class="product-preview__left product-preview__left--lg">
									
									<div class="product-preview__left-gallery">
										<div class="gallery-product js-gallery-product">
											
											<!-- MODULE PREVIEW -->
											<div class="module-preview ">
												<div class="module-preview__links">
													<a href="#" class="module-preview__links-item">Гостиные</a>
													<a href="#" class="module-preview__links-item active">Спальни</a>
													<a href="#" class="module-preview__links-item">Прихожие</a>
													<a href="#" class="module-preview__links-item">Кабинет</a>
												</div>
												

												<div class="gallery-product__main  module-preview__gallery-main">
													<a href="#video-popup" class="js-img-popup gallery-product__video-btn video-btn">
														<span class="video-btn__icon">
															<span class="icon-triangle"></span>
														</span>
														<span class="video-btn__text">
															Видео обзор
														</span>
													</a>
													<div class="js-gallery-product__main">
														<div class="module-preview__item">
															<a href="#zoom-photo-module" class="js-img-popup-module"><img src="pic/modules/large/photo-01.jpg" alt="">
																<div class="module-preview__info" style="top:160px; right:59%;">
																	<span class="module-preview__price">
																		5 700 руб.
																	</span>
																	<div class="module-preview__description">
																		<div class="module-preview__description-img">
																			<img src="pic/products/medium/product-03.jpg" alt="">
																		</div>
																		<div class="module-preview__description-title">
																			Витрина NWIT 1DL
																		</div>
																		<form action="">
																			<button type="button" class="btn btn-brown btn-brown--basket">
																				<span class="btn__text">В корзину</span>
																				<span class="btn__icon">
																					<svg class="icon-basket">
																						<use xlink:href="#basket"></use>
																					</svg>
																				</span>
																			</button>
																		</form>
																	</div>
																</div>
																<div class="module-preview__info" style="top:215px; right:41%;">
																	<span class="module-preview__price">
																		5 700 руб.
																	</span>
																	<div class="module-preview__description">
																		<div class="module-preview__description-img">
																			<img src="pic/products/medium/product-03.jpg" alt="">
																		</div>
																		<div class="module-preview__description-title">
																			Витрина NWIT 1DL
																		</div>
																		<form action="">
																			<button type="button" class="btn btn-brown btn-brown--basket">
																				<span class="btn__text">В корзину</span>
																				<span class="btn__icon">
																					<svg class="icon-basket">
																						<use xlink:href="#basket"></use>
																					</svg>
																				</span>
																			</button>
																		</form>
																	</div>
																</div>
																<div class="module-preview__info" style="bottom: 208px; left:10%;">
																	<span class="module-preview__price">
																		5 700 руб.
																	</span>
																	<div class="module-preview__description">
																		<div class="module-preview__description-img">
																			<img src="pic/products/medium/product-03.jpg" alt="">
																		</div>
																		<div class="module-preview__description-title">
																			Витрина NWIT 1DL
																		</div>
																		<form action="">
																			<button type="button" class="btn btn-brown btn-brown--basket">
																				<span class="btn__text">В корзину</span>
																				<span class="btn__icon">
																					<svg class="icon-basket">
																						<use xlink:href="#basket"></use>
																					</svg>
																				</span>
																			</button>
																		</form>
																	</div>
																</div>
															</a>
														</div>	
														<div class="module-preview__item">
															<a href="#zoom-photo-module" class="js-img-popup-module"><img src="pic/modules/large/photo-01.jpg" alt="">
																<div class="module-preview__info" style="top:160px; right:59%;">
																	<span class="module-preview__price">
																		5 700 руб.
																	</span>
																	<div class="module-preview__description">
																		<div class="module-preview__description-img">
																			<img src="pic/products/medium/product-03.jpg" alt="">
																		</div>
																		<div class="module-preview__description-title">
																			Витрина NWIT 1DL
																		</div>
																		<form action="">
																			<button type="button" class="btn btn-brown btn-brown--basket">
																				<span class="btn__text">В корзину</span>
																				<span class="btn__icon">
																					<svg class="icon-basket">
																						<use xlink:href="#basket"></use>
																					</svg>
																				</span>
																			</button>
																		</form>
																	</div>
																</div>
																<div class="module-preview__info" style="top:215px; right:41%;">
																	<span class="module-preview__price">
																		5 700 руб.
																	</span>
																	<div class="module-preview__description">
																		<div class="module-preview__description-img">
																			<img src="pic/products/medium/product-03.jpg" alt="">
																		</div>
																		<div class="module-preview__description-title">
																			Витрина NWIT 1DL
																		</div>
																		<form action="">
																			<button type="button" class="btn btn-brown btn-brown--basket">
																				<span class="btn__text">В корзину</span>
																				<span class="btn__icon">
																					<svg class="icon-basket">
																						<use xlink:href="#basket"></use>
																					</svg>
																				</span>
																			</button>
																		</form>
																	</div>
																</div>
																<div class="module-preview__info" style="bottom: 208px; left:10%;">
																	<span class="module-preview__price">
																		5 700 руб.
																	</span>
																	<div class="module-preview__description">
																		<div class="module-preview__description-img">
																			<img src="pic/products/medium/product-03.jpg" alt="">
																		</div>
																		<div class="module-preview__description-title">
																			Витрина NWIT 1DL
																		</div>
																		<form action="">
																			<button type="button" class="btn btn-brown btn-brown--basket">
																				<span class="btn__text">В корзину</span>
																				<span class="btn__icon">
																					<svg class="icon-basket">
																						<use xlink:href="#basket"></use>
																					</svg>
																				</span>
																			</button>
																		</form>
																	</div>
																</div>
															</a>
														</div>
														<div class="module-preview__item">
															<a href="#zoom-photo-module" class="js-img-popup-module"><img src="pic/modules/large/photo-01.jpg" alt="">
																	
																<div class="module-preview__info" style="top:160px; right:59%;">
																	<span class="module-preview__price">
																		5 700 руб.
																	</span>
																	<div class="module-preview__description">
																		<div class="module-preview__description-img">
																			<img src="pic/products/medium/product-03.jpg" alt="">
																		</div>
																		<div class="module-preview__description-title">
																			Витрина NWIT 1DL
																		</div>
																		<form action="">
																			<button type="button" class="btn btn-brown btn-brown--basket">
																				<span class="btn__text">В корзину</span>
																				<span class="btn__icon">
																					<svg class="icon-basket">
																						<use xlink:href="#basket"></use>
																					</svg>
																				</span>
																			</button>
																		</form>
																	</div>
																</div>
																<div class="module-preview__info" style="top:215px; right:41%;">
																	<span class="module-preview__price">
																		5 700 руб.
																	</span>
																	<div class="module-preview__description">
																		<div class="module-preview__description-img">
																			<img src="pic/products/medium/product-03.jpg" alt="">
																		</div>
																		<div class="module-preview__description-title">
																			Витрина NWIT 1DL
																		</div>
																		<form action="">
																			<button type="button" class="btn btn-brown btn-brown--basket">
																				<span class="btn__text">В корзину</span>
																				<span class="btn__icon">
																					<svg class="icon-basket">
																						<use xlink:href="#basket"></use>
																					</svg>
																				</span>
																			</button>
																		</form>
																	</div>
																</div>
																<div class="module-preview__info" style="bottom: 208px; left:10%;">
																	<span class="module-preview__price">
																		5 700 руб.
																	</span>
																	<div class="module-preview__description">
																		<div class="module-preview__description-img">
																			<img src="pic/products/medium/product-03.jpg" alt="">
																		</div>
																		<div class="module-preview__description-title">
																			Витрина NWIT 1DL
																		</div>
																		<form action="">
																			<button type="button" class="btn btn-brown btn-brown--basket">
																				<span class="btn__text">В корзину</span>
																				<span class="btn__icon">
																					<svg class="icon-basket">
																						<use xlink:href="#basket"></use>
																					</svg>
																				</span>
																			</button>
																		</form>
																	</div>
																</div></a>
														</div>
														<div class="module-preview__item">
															<a href="#zoom-photo-module" class="js-img-popup-module"><img src="pic/modules/large/photo-01.jpg" alt="">
																<div class="module-preview__info" style="top:160px; right:59%;">
																	<span class="module-preview__price">
																		5 700 руб.
																	</span>
																	<div class="module-preview__description">
																		<div class="module-preview__description-img">
																			<img src="pic/products/medium/product-03.jpg" alt="">
																		</div>
																		<div class="module-preview__description-title">
																			Витрина NWIT 1DL
																		</div>
																		<form action="">
																			<button type="button" class="btn btn-brown btn-brown--basket">
																				<span class="btn__text">В корзину</span>
																				<span class="btn__icon">
																					<svg class="icon-basket">
																						<use xlink:href="#basket"></use>
																					</svg>
																				</span>
																			</button>
																		</form>
																	</div>
																</div>
																<div class="module-preview__info" style="top:215px; right:41%;">
																	<span class="module-preview__price">
																		5 700 руб.
																	</span>
																	<div class="module-preview__description">
																		<div class="module-preview__description-img">
																			<img src="pic/products/medium/product-03.jpg" alt="">
																		</div>
																		<div class="module-preview__description-title">
																			Витрина NWIT 1DL
																		</div>
																		<form action="">
																			<button type="button" class="btn btn-brown btn-brown--basket">
																				<span class="btn__text">В корзину</span>
																				<span class="btn__icon">
																					<svg class="icon-basket">
																						<use xlink:href="#basket"></use>
																					</svg>
																				</span>
																			</button>
																		</form>
																	</div>
																</div>
																<div class="module-preview__info" style="bottom: 208px; left:10%;">
																	<span class="module-preview__price">
																		5 700 руб.
																	</span>
																	<div class="module-preview__description">
																		<div class="module-preview__description-img">
																			<img src="pic/products/medium/product-03.jpg" alt="">
																		</div>
																		<div class="module-preview__description-title">
																			Витрина NWIT 1DL
																		</div>
																		<form action="">
																			<button type="button" class="btn btn-brown btn-brown--basket">
																				<span class="btn__text">В корзину</span>
																				<span class="btn__icon">
																					<svg class="icon-basket">
																						<use xlink:href="#basket"></use>
																					</svg>
																				</span>
																			</button>
																		</form>
																	</div>
																</div>
															</a>
														</div>	
														<div class="module-preview__item">
															<a href="#zoom-photo-module" class="js-img-popup-module"><img src="pic/modules/large/photo-01.jpg" alt="">
																<div class="module-preview__info" style="top:160px; right:59%;">
																	<span class="module-preview__price">
																		5 700 руб.
																	</span>
																	<div class="module-preview__description">
																		<div class="module-preview__description-img">
																			<img src="pic/products/medium/product-03.jpg" alt="">
																		</div>
																		<div class="module-preview__description-title">
																			Витрина NWIT 1DL
																		</div>
																		<form action="">
																			<button type="button" class="btn btn-brown btn-brown--basket">
																				<span class="btn__text">В корзину</span>
																				<span class="btn__icon">
																					<svg class="icon-basket">
																						<use xlink:href="#basket"></use>
																					</svg>
																				</span>
																			</button>
																		</form>
																	</div>
																</div>
																<div class="module-preview__info" style="top:215px; right:41%;">
																	<span class="module-preview__price">
																		5 700 руб.
																	</span>
																	<div class="module-preview__description">
																		<div class="module-preview__description-img">
																			<img src="pic/products/medium/product-03.jpg" alt="">
																		</div>
																		<div class="module-preview__description-title">
																			Витрина NWIT 1DL
																		</div>
																		<form action="">
																			<button type="button" class="btn btn-brown btn-brown--basket">
																				<span class="btn__text">В корзину</span>
																				<span class="btn__icon">
																					<svg class="icon-basket">
																						<use xlink:href="#basket"></use>
																					</svg>
																				</span>
																			</button>
																		</form>
																	</div>
																</div>
																<div class="module-preview__info" style="bottom: 208px; left:10%;">
																	<span class="module-preview__price">
																		5 700 руб.
																	</span>
																	<div class="module-preview__description">
																		<div class="module-preview__description-img">
																			<img src="pic/products/medium/product-03.jpg" alt="">
																		</div>
																		<div class="module-preview__description-title">
																			Витрина NWIT 1DL
																		</div>
																		<form action="">
																			<button type="button" class="btn btn-brown btn-brown--basket">
																				<span class="btn__text">В корзину</span>
																				<span class="btn__icon">
																					<svg class="icon-basket">
																						<use xlink:href="#basket"></use>
																					</svg>
																				</span>
																			</button>
																		</form>
																	</div>
																</div>
															</a>
														</div>
														<div class="module-preview__item">
															<a href="#zoom-photo-module" class="js-img-popup-module"><img src="pic/modules/large/photo-01.jpg" alt="">
																	
																<div class="module-preview__info" style="top:160px; right:59%;">
																	<span class="module-preview__price">
																		5 700 руб.
																	</span>
																	<div class="module-preview__description">
																		<div class="module-preview__description-img">
																			<img src="pic/products/medium/product-03.jpg" alt="">
																		</div>
																		<div class="module-preview__description-title">
																			Витрина NWIT 1DL
																		</div>
																		<form action="">
																			<button type="button" class="btn btn-brown btn-brown--basket">
																				<span class="btn__text">В корзину</span>
																				<span class="btn__icon">
																					<svg class="icon-basket">
																						<use xlink:href="#basket"></use>
																					</svg>
																				</span>
																			</button>
																		</form>
																	</div>
																</div>
																<div class="module-preview__info" style="top:215px; right:41%;">
																	<span class="module-preview__price">
																		5 700 руб.
																	</span>
																	<div class="module-preview__description">
																		<div class="module-preview__description-img">
																			<img src="pic/products/medium/product-03.jpg" alt="">
																		</div>
																		<div class="module-preview__description-title">
																			Витрина NWIT 1DL
																		</div>
																		<form action="">
																			<button type="button" class="btn btn-brown btn-brown--basket">
																				<span class="btn__text">В корзину</span>
																				<span class="btn__icon">
																					<svg class="icon-basket">
																						<use xlink:href="#basket"></use>
																					</svg>
																				</span>
																			</button>
																		</form>
																	</div>
																</div>
																<div class="module-preview__info" style="bottom: 208px; left:10%;">
																	<span class="module-preview__price">
																		5 700 руб.
																	</span>
																	<div class="module-preview__description">
																		<div class="module-preview__description-img">
																			<img src="pic/products/medium/product-03.jpg" alt="">
																		</div>
																		<div class="module-preview__description-title">
																			Витрина NWIT 1DL
																		</div>
																		<form action="">
																			<button type="button" class="btn btn-brown btn-brown--basket">
																				<span class="btn__text">В корзину</span>
																				<span class="btn__icon">
																					<svg class="icon-basket">
																						<use xlink:href="#basket"></use>
																					</svg>
																				</span>
																			</button>
																		</form>
																	</div>
																</div></a>
														</div>
														<div class="module-preview__item">
															<a href="#zoom-photo-module" class="js-img-popup-module"><img src="pic/modules/large/photo-01.jpg" alt="">
																<div class="module-preview__info" style="top:160px; right:59%;">
																	<span class="module-preview__price">
																		5 700 руб.
																	</span>
																	<div class="module-preview__description">
																		<div class="module-preview__description-img">
																			<img src="pic/products/medium/product-03.jpg" alt="">
																		</div>
																		<div class="module-preview__description-title">
																			Витрина NWIT 1DL
																		</div>
																		<form action="">
																			<button type="button" class="btn btn-brown btn-brown--basket">
																				<span class="btn__text">В корзину</span>
																				<span class="btn__icon">
																					<svg class="icon-basket">
																						<use xlink:href="#basket"></use>
																					</svg>
																				</span>
																			</button>
																		</form>
																	</div>
																</div>
																<div class="module-preview__info" style="top:215px; right:41%;">
																	<span class="module-preview__price">
																		5 700 руб.
																	</span>
																	<div class="module-preview__description">
																		<div class="module-preview__description-img">
																			<img src="pic/products/medium/product-03.jpg" alt="">
																		</div>
																		<div class="module-preview__description-title">
																			Витрина NWIT 1DL
																		</div>
																		<form action="">
																			<button type="button" class="btn btn-brown btn-brown--basket">
																				<span class="btn__text">В корзину</span>
																				<span class="btn__icon">
																					<svg class="icon-basket">
																						<use xlink:href="#basket"></use>
																					</svg>
																				</span>
																			</button>
																		</form>
																	</div>
																</div>
																<div class="module-preview__info" style="bottom: 208px; left:10%;">
																	<span class="module-preview__price">
																		5 700 руб.
																	</span>
																	<div class="module-preview__description">
																		<div class="module-preview__description-img">
																			<img src="pic/products/medium/product-03.jpg" alt="">
																		</div>
																		<div class="module-preview__description-title">
																			Витрина NWIT 1DL
																		</div>
																		<form action="">
																			<button type="button" class="btn btn-brown btn-brown--basket">
																				<span class="btn__text">В корзину</span>
																				<span class="btn__icon">
																					<svg class="icon-basket">
																						<use xlink:href="#basket"></use>
																					</svg>
																				</span>
																			</button>
																		</form>
																	</div>
																</div>
															</a>
														</div>
														<div class="module-preview__item">
															<a href="#zoom-photo-module" class="js-img-popup-module"><img src="pic/modules/large/photo-01.jpg" alt="">
																	
																<div class="module-preview__info" style="top:160px; right:59%;">
																	<span class="module-preview__price">
																		5 700 руб.
																	</span>
																	<div class="module-preview__description">
																		<div class="module-preview__description-img">
																			<img src="pic/products/medium/product-03.jpg" alt="">
																		</div>
																		<div class="module-preview__description-title">
																			Витрина NWIT 1DL
																		</div>
																		<form action="">
																			<button type="button" class="btn btn-brown btn-brown--basket">
																				<span class="btn__text">В корзину</span>
																				<span class="btn__icon">
																					<svg class="icon-basket">
																						<use xlink:href="#basket"></use>
																					</svg>
																				</span>
																			</button>
																		</form>
																	</div>
																</div>
																<div class="module-preview__info" style="top:215px; right:41%;">
																	<span class="module-preview__price">
																		5 700 руб.
																	</span>
																	<div class="module-preview__description">
																		<div class="module-preview__description-img">
																			<img src="pic/products/medium/product-03.jpg" alt="">
																		</div>
																		<div class="module-preview__description-title">
																			Витрина NWIT 1DL
																		</div>
																		<form action="">
																			<button type="button" class="btn btn-brown btn-brown--basket">
																				<span class="btn__text">В корзину</span>
																				<span class="btn__icon">
																					<svg class="icon-basket">
																						<use xlink:href="#basket"></use>
																					</svg>
																				</span>
																			</button>
																		</form>
																	</div>
																</div>
																<div class="module-preview__info" style="bottom: 208px; left:10%;">
																	<span class="module-preview__price">
																		5 700 руб.
																	</span>
																	<div class="module-preview__description">
																		<div class="module-preview__description-img">
																			<img src="pic/products/medium/product-03.jpg" alt="">
																		</div>
																		<div class="module-preview__description-title">
																			Витрина NWIT 1DL
																		</div>
																		<form action="">
																			<button type="button" class="btn btn-brown btn-brown--basket">
																				<span class="btn__text">В корзину</span>
																				<span class="btn__icon">
																					<svg class="icon-basket">
																						<use xlink:href="#basket"></use>
																					</svg>
																				</span>
																			</button>
																		</form>
																	</div>
																</div></a>
														</div>
													</div>
												</div>

											</div>
											<!-- MODULE PREVIEW END -->

											<div class="gallery-product__nav js-gallery-product__nav gallery-product__nav--moduls">
												<div class="gallery-product__nav-item" style="background-image: url(pic/modules/large/photo-01.jpg);">
												</div>
												<div class="gallery-product__nav-item" style="background-image: url(pic/modules/large/photo-01.jpg);">
												</div>
												<div class="gallery-product__nav-item" style="background-image: url(pic/modules/large/photo-01.jpg);">
												</div>
												<div class="gallery-product__nav-item" style="background-image: url(pic/modules/large/photo-01.jpg);">
												</div>
												<div class="gallery-product__nav-item" style="background-image: url(pic/modules/large/photo-01.jpg);">
												</div>
												<div class="gallery-product__nav-item" style="background-image: url(pic/modules/large/photo-01.jpg);">
												</div>
												<div class="gallery-product__nav-item" style="background-image: url(pic/modules/large/photo-01.jpg);">
												</div>
												<div class="gallery-product__nav-item" style="background-image: url(pic/modules/large/photo-01.jpg);">
												</div>
											</div>

										</div>
									</div>
								</div>
								<div class="product-preview__right product-preview__right--sm">
									<div class="product-preview__right-column-purchase">
										<div class="purchase">
											<div class="purchase__new">
												<div class="purchase__new-marker new-marker">В наличии</div>
											</div>
											<div class="purchase__price">
												<span class="purchase__price-new new-price">22 356 руб.</span>
												<span class="purchase__price-old old-price">28 894</span>
											</div>
											<div class="purchase__discount"><a href="#popup-discount" class="purchase__discount-link js-popup-link">Получить скидку</a></div>
											<div class="purchase__buy">
												<div class="purchase__buy-button">
													<a href="#" class="btn btn-orange">Купить</a>
												</div>
												<div class="purchase__buy-credit">
													<label class="checkbox">
														<input type="checkbox" class="checkbox__check">
														<span class="checkbox__icon">
															<svg class="icon-check checkbox__icon-image">
																<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check"></use>
															</svg>
														</span>
														<span class="checkbox__inner">
															<span class="checkbox__text">В кредит</span>
														</span>
													</label>
												</div>
											</div>
											<div class="purchase__click">
												<a href="#popup-buy" class="btn btn-border-brown js-popup-link purchase__click-button">Купить в один клик</a>
											</div>

										</div>
									</div>
									<div class="product-preview__right-column product-preview__right-column--full">
										<div class="performance performance--right ">

											<div class="performance-block">
												<span class="performance-block__heading">Цвет</span>
												<div class="performance-block__list">
													<div class="performance-block__item performance-block__item--change">
														<span class="performance-block__item-left">Корпус:</span>
														<span class="performance-block__item-right">
															<div class="select-block js-filter-drop-parent">
																<span class="select-block-btn js-filter-btn">
																	<span class="select-block-btn__text js-drop-placeholder">
																		Черешня античная
																	</span>
																	<span class="select-block-btn__arrow">
																		<svg class="icon-drop-arrow">
																			<use xlink:href="#arrow-tobottom"></use>
																		</svg>
																	</span>
																</span>
																<div class="select-block-drop js-filter-drop">

																	<div class="select-block-drop__inner">
																		<div class="select-block-drop__item js-drop-select-text">
																			<div class="select-block-drop__left">
																				<span class="select-block-drop__img">
																					<img src="pic/color/photo-01.png" alt="">
																				</span>
																				<span class="select-block-drop__text">
																					Коньяк 
																				</span>
																			</div>
																		</div>	
																		<div class="select-block-drop__item js-drop-select-text">
																			<div class="select-block-drop__left">
																				<span class="select-block-drop__img">
																					<img src="pic/color/photo-01.png" alt="">
																				</span>
																				<span class="select-block-drop__text">
																					Коньяк fgbf
																				</span>
																			</div>
																		</div>	
																		<div class="select-block-drop__item js-drop-select-text">
																			<div class="select-block-drop__left">
																				<span class="select-block-drop__img">
																					<img src="pic/color/photo-02.png" alt="">
																				</span>
																				<span class="select-block-drop__text">
																					Коньяк bhfgbgbfgb
																				</span>
																			</div>
																		</div>	
																		<div class="select-block-drop__item js-drop-select-text">
																			<div class="select-block-drop__left">
																				<span class="select-block-drop__img">
																					<img src="pic/color/photo-01.png" alt="">
																				</span>
																				<span class="select-block-drop__text">
																					Коньяк ffffff
																				</span>
																			</div>
																		</div>	
																		<div class="select-block-drop__item js-drop-select-text">
																			<div class="select-block-drop__left">
																				<span class="select-block-drop__img">
																					<img src="pic/color/photo-02.png" alt="">
																				</span>
																				<span class="select-block-drop__text">
																					Коньяк fbhfb
																				</span>
																			</div>
																		</div>	
																	</div>

																</div>
															</div>
														</span>
													</div>
													<div class="performance-block__item performance-block__item--change">
														<span class="performance-block__item-left">Фасад:</span>
														<span class="performance-block__item-right">
															<div class="select-block js-filter-drop-parent">
																<span class="select-block-btn js-filter-btn">
																	<span class="select-block-btn__text js-drop-placeholder">
																		Белый блеск
																	</span>
																	<span class="select-block-btn__arrow">
																		<svg class="icon-drop-arrow">
																			<use xlink:href="#arrow-tobottom"></use>
																		</svg>
																	</span>
																</span>
																<div class="select-block-drop js-filter-drop">

																	<div class="select-block-drop__inner">
																		<div class="select-block-drop__item js-drop-select-text">
																			<div class="select-block-drop__left">
																				<span class="select-block-drop__img">
																					<img src="pic/color/photo-01.png" alt="">
																				</span>
																				<span class="select-block-drop__text">
																					Коньяк 
																				</span>
																			</div>
																		</div>	
																		<div class="select-block-drop__item js-drop-select-text">
																			<div class="select-block-drop__left">
																				<span class="select-block-drop__img">
																					<img src="pic/color/photo-01.png" alt="">
																				</span>
																				<span class="select-block-drop__text">
																					Коньяк fgbf
																				</span>
																			</div>
																		</div>	
																		<div class="select-block-drop__item js-drop-select-text">
																			<div class="select-block-drop__left">
																				<span class="select-block-drop__img">
																					<img src="pic/color/photo-02.png" alt="">
																				</span>
																				<span class="select-block-drop__text">
																					Коньяк bhfgbgbfgb
																				</span>
																			</div>
																		</div>	
																		<div class="select-block-drop__item js-drop-select-text">
																			<div class="select-block-drop__left">
																				<span class="select-block-drop__img">
																					<img src="pic/color/photo-01.png" alt="">
																				</span>
																				<span class="select-block-drop__text">
																					Коньяк ffffff
																				</span>
																			</div>
																		</div>	
																		<div class="select-block-drop__item js-drop-select-text">
																			<div class="select-block-drop__left">
																				<span class="select-block-drop__img">
																					<img src="pic/color/photo-02.png" alt="">
																				</span>
																				<span class="select-block-drop__text">
																					Коньяк fbhfb
																				</span>
																			</div>
																		</div>	
																	</div>

																</div>
															</div>
														</span>
													</div>
												</div>
											</div>

											<div class="performance-block performance-block--hidden-tablet">
												<div class="performance-block__inform">
													<span class="performance-block__heading">Доставка</span>
													<span class="performance-block__inform-image">
														<svg class="icon-info performance-block__inform-image-img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#info"></use></svg>
														</span>
												</div>
												<div class="performance-block__list">
													<div class="performance-block__item">
														<span class="performance-block__item-left">Ваш город:</span>
														<span class="performance-block__item-right">
															<a href="#popup-location" class="performance-block__item-right-location inform-item__location-link js-popup-link">
																<span class="inform-item__location-link-text">Балашиха</span>
																<svg class="icon-arrow-tobottom inform-item__location-link-arrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use></svg>
															</a>
														</span>
													</div>
													<div class="performance-block__item">
														<span class="performance-block__item-left">Стоимость доставки:</span>
														<span class="performance-block__item-right performance-block__item-right--bold">800 руб.</span>
													</div>
												</div>
											</div>

											<div class="performance-block performance-block--hidden-tablet">
												<div class="performance-block__inform">
													<span class="performance-block__heading">Подъем</span>
													<span class="performance-block__inform-image">
														<svg class="icon-info performance-block__inform-image-img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#info"></use></svg>
													</span>
												</div>
												<div class="performance-block__list">
													<div class="performance-block__item">
														<span class="performance-block__item-left">Стоимость подъема:</span>
														<span class="performance-block__item-right performance-block__item-right--bold">400 руб.</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="product-preview__right-column-free-block">
										<div class="free-block">
											<span class="free-block__text">Бесплатно при заказе от 30.000 руб.</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>


					<div class="card-page__block card-page__block--border">
						<h2 class="card-page__block-heading">Мебель на картинке</h2>
						<div class="products-list js-equal-height">
							@@include('template/blocks/d-new/catalog/catalog-item.html', {
							"arr": [
							{
							"name" : "Витрина NWIT 1DL",
							"img":"pic/products/medium/product-01.jpg",
							"top" : "left-right"
							},
							{
							"name" : "Витрина NWIT 1DL",
							"img":"pic/products/medium/product-02.jpg",
							"top" : "left-right-truck"
							},
							{
							"name" : "Витрина NWIT 1DL",
							"img":"pic/products/medium/product-03.jpg",
							"top" : "left-right"
							},
							{
							"name" : "Витрина NWIT 1DL",
							"img":"pic/products/medium/product-04.jpg",
							"top" : "left-right-truck-%"
							}
							]
							})
						</div>
					</div>

					<div class="card-page__block">
						<h2 class="card-page__block-heading card-page__block-heading--left">Вся мебель системы</h2>
						<ul class="tags-list card-page__tags-list">
							<li class="tags-list__item">
								двуспальная кровать
							</li>
							<li class="tags-list__item">
								кровать односпальная
							</li>
							<li class="tags-list__item current">
								детские кровати
							</li>
							<li class="tags-list__item">
								подростковые кровати
							</li>
							<li class="tags-list__item">
								диван кровать
							</li>
							<li class="tags-list__item">
								кровать с ящиками
							</li>
						</ul>

						<div class="card-page__subblock">
							<h3 class="card-page__block-subtitle">Шкафы</h3>
							<div class="products-list js-equal-height">
								@@include('template/blocks/d-new/catalog/catalog-item.html', {
								"arr": [
								{
								"name" : "Витрина NWIT 1DL",
								"img":"pic/products/medium/product-01.jpg",
								"top" : "left-right"
								},
								{
								"name" : "Витрина NWIT 1DL",
								"img":"pic/products/medium/product-02.jpg",
								"top" : "left-right-truck"
								},
								{
								"name" : "Витрина NWIT 1DL",
								"img":"pic/products/medium/product-03.jpg",
								"top" : "left-right"
								},
								{
								"name" : "Витрина NWIT 1DL",
								"img":"pic/products/medium/product-04.jpg",
								"top" : "left-right-truck-%"
								}
								]
								})
							</div>
						</div>

						<div class="card-page__subblock">
							<h3 class="card-page__block-subtitle">Тумбы для обуви</h3>
							<div class="products-list js-equal-height">
								@@include('template/blocks/d-new/catalog/catalog-item.html', {
								"arr": [
								{
								"name" : "Витрина NWIT 1DL",
								"img":"pic/products/medium/product-01.jpg",
								"top" : "left-right"
								},
								{
								"name" : "Витрина NWIT 1DL",
								"img":"pic/products/medium/product-02.jpg",
								"top" : "left-right-truck"
								},
								{
								"name" : "Витрина NWIT 1DL",
								"img":"pic/products/medium/product-03.jpg",
								"top" : "left-right"
								},
								{
								"name" : "Витрина NWIT 1DL",
								"img":"pic/products/medium/product-04.jpg",
								"top" : "left-right-truck-%"
								}
								]
								})
							</div>
						</div>
					@@include('template/blocks/large-photo.html')
					</div>

					@@include('template/blocks/card-module.html')
					@@include('template/blocks/video-popup.html')

				</div>
			</div>
			
		</div>
	</div>
	<!-- content end -->
	
	</div>
</div>
<!-- wrapper end -->
@@include('template/blocks/sale-popup.html')
@@include('template/blocks/large-photo-module.html')
@@include('template/layout/footer.html')
@@include('template/layout/footer-head.html')
</body>
</html> 