@@include('template/layout/head.html')
<body>
@@include('template/layout/svg.html')
@@include('template/layout/oldbrowser.html')

<!-- wrapper -->
<div class="wrapper">
	@@include('template/layout/header.html') 

	<!-- content -->
	<div class="content" role="main">
		<div class="container">
			<div class="breadcrumbs">
				<ul class="breadcrumbs-list">
					<li class="breadcrumbs-list__item breadcrumbs-list__item--hide">
						<span class="breadcrumbs-item breadcrumbs-item--main">
							<a href="#" class="breadcrumbs-item__link">
								<svg class="icon-arrow-tobottom breadcrumbs-item__link-marker">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
								</svg>
								<span class="breadcrumbs-item__link-text">На главную</span>
							</a>
						</span>
					</li>
					<li class="breadcrumbs-list__item">
						<span class="breadcrumbs-item breadcrumbs-item--main">
							<a href="#" class="breadcrumbs-item__link">
								<svg class="icon-arrow-tobottom breadcrumbs-item__link-marker">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
								</svg>
								<span class="breadcrumbs-item__link-text">Главная</span>
							</a>
						</span>
					</li>
					<li class="breadcrumbs-list__item">
						<span class="breadcrumbs-item">
							<a href="#" class="breadcrumbs-item__link">Кровати</a>
							<svg class="icon-arrow-marker breadcrumbs-item__link-arrow">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-marker"></use>
							</svg>
						</span>
					</li>
					<li class="breadcrumbs-list__item">
						<span class="breadcrumbs-item">
							<span class="breadcrumbs-item__link breadcrumbs-item__link--active">Кровать с основанием NLOZ 160</span>
						</span>
					</li>
				</ul>
			</div>
			<div class="content-box">
				<div class="card-page">
					<h1 class="content-box__heading">Кровать с основанием NLOZ 160 из коллекции Стилиус</h1>
					<div class="card-page__block card-page__block--top">
						<div class="product-preview">
							<div class="product-preview__holder">
								<div class="product-preview__left">
									<div class="product-preview__left-advantages">
										<div class="product-preview__left-advantages-left">
											<div class="benefit">
												<div class="benefit-list">
													<div class="benefit-list__item">
														<div class="benefit-item">
															<div class="special-marker benefit-item__content">
																<svg class="icon-car special-marker__icon">
																	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#car">
																	</use>
																</svg>
																<span class="special-marker__text">3 дня</span>
															</div>
														</div>
													</div>
													<div class="benefit-list__item">
														<div class="benefit-item">
															<div class="special-marker benefit-item__content">
																<svg class="icon-car special-marker__icon">
																	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#car">
																	</use>
																</svg>
																<span class="special-marker__text">Бесплатно</span>
															</div>
														</div>
													</div>
													<div class="benefit-list__item">
														<div class="benefit-item">
															<div class="special-marker benefit-item__content">
																<svg class="icon-clock special-marker__icon">
																	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clock">
																	</use>
																</svg>
																<span class="special-marker__text">24 часа</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="product-preview__left-advantages-right">
											<div class="benefit">
												<div class="benefit-list">
													<div class="benefit-list__item">
														<div class="benefit-item">
															<div class="benefit-item__content sale-marker">
																<span class="sale-marker__text">30%</span>
															</div>
														</div>
													</div>
													<div class="benefit-list__item">
														<div class="benefit-item">
															<div class="hit-marker benefit-item__content">Хит</div>
														</div>
													</div>
													<div class="benefit-list__item">
														<div class="benefit-item">
															<div class="benefit-item__content new-marker">Новинка</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="product-preview__left-gallery">
										<div class="gallery-product">

											<div class="gallery-product__main ">
												<a href="#video-popup" class="js-img-popup gallery-product__video-btn video-btn">
													<span class="video-btn__icon">
														<span class="icon-triangle"></span>
													</span>
													<span class="video-btn__text">
														Видео обзор
													</span>
												</a>
												<div class="js-gallery-product__main">
													<div class="gallery-product__main-item">
														<a rel="1" href="#zoom-photo" class="gallery-product__main-item-link js-img-popup">
															<div class="gallery-product__main-item-review">
																<svg class="icon-search-plus gallery-product__main-item-review-image">
																	<use xlink:href="#search-plus"></use>
																</svg>
															</div>
															<img src="pic/products/large/photo-02.jpg" alt="Product" class="gallery-product__main-item-image">
														</a>
													</div>
												</div>
												
											</div>

											<div class="gallery-product__nav js-gallery-product__nav">
												<div class="gallery-product__nav-item">
													<img src="pic/products/small/product-02.jpg" alt="Product" class="gallery-product__nav-item-image">
												</div>
												
											</div>

										</div>
									</div>
								</div>
								<div class="product-preview__right">
									<div class="product-preview__right-column">
										<div class="product-preview__right-column-purchase">
											<div class="purchase">
												<div class="purchase__new">
													<div class="purchase__new-marker new-marker">В наличии</div>
												</div>
												<div class="purchase__price">
													<span class="purchase__price-new new-price">22 356 руб.</span>
													<span class="purchase__price-old old-price">28 894</span>
												</div>
												<div class="purchase__discount"><a href="#popup-discount" class="purchase__discount-link js-popup-link">Получить скидку</a></div>
												<div class="purchase__buy">
													<div class="purchase__buy-button">
														<a href="#" class="btn btn-orange">Купить</a>
													</div>
													<div class="purchase__buy-credit">
														<label class="checkbox">
															<input type="checkbox" class="checkbox__check">
															<span class="checkbox__icon">
																<svg class="icon-check checkbox__icon-image">
																	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check"></use>
																</svg>
															</span>
															<span class="checkbox__inner">
																<span class="checkbox__text">В кредит</span>
															</span>
														</label>
													</div>
												</div>
												<div class="purchase__click">
													<a href="#popup-buy" class="btn btn-border-brown js-popup-link purchase__click-button">Купить в один клик</a>
												</div>

											</div>
										</div>
										<div class="product-preview__right-column-performance">
											<div class="performance performance--right ">
												<div class="performance-block">
													<div class="performance-block__inform">
														<span class="performance-block__heading">Доставка</span>
														<span class="performance-block__inform-image">
															<svg class="icon-info performance-block__inform-image-img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#info"></use></svg>
														</span>
													</div>
													<div class="performance-block__list">
														<div class="performance-block__item">
															<span class="performance-block__item-left">Ваш город:</span>
															<span class="performance-block__item-right">
																<a href="#popup-location" class="performance-block__item-right-location inform-item__location-link js-popup-link">
																	<span class="inform-item__location-link-text">Балашиха</span>
																	<svg class="icon-arrow-tobottom inform-item__location-link-arrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use></svg>
																</a>
															</span>
														</div>
														<div class="performance-block__item">
															<span class="performance-block__item-left">Стоимость доставки:</span>
															<span class="performance-block__item-right performance-block__item-right--bold">800 руб.</span>
														</div>
													</div>
												</div>
												<div class="performance-block">
													<div class="performance-block__inform">
														<span class="performance-block__heading">Подъем</span>
														<span class="performance-block__inform-image">
															<svg class="icon-info performance-block__inform-image-img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#info"></use></svg>
														</span>
													</div>
													<div class="performance-block__list">
														<div class="performance-block__item">
															<span class="performance-block__item-left">Стоимость подъема:</span>
															<span class="performance-block__item-right performance-block__item-right--bold">400 руб.</span>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="product-preview__right-column-free-block">
											<div class="free-block">
												<span class="free-block__text">Бесплатно при заказе от 30.000 руб.</span>
											</div>
										</div>
									</div>
									<div class="product-preview__right-column">
										<div class="performance performance--left performance--small">
											<div class="performance-block performance-block--select">
												<span class="performance-block__heading">Размеры</span>
												<div class="performance-block__list">
													<div class="performance-block__item">
														<span class="performance-block__item-left">Высота:</span>
														<span class="performance-block__item-right">23 см</span>
													</div>
												</div>
												

													<div class="select-block js-filter-drop-parent select-block--lg">
														<span class="select-block-btn js-filter-btn select-block-btn--lg">
															<div class="performance-block__select">
 																<div class="performance-block__select-amount ">
 																	<span class="performance-block__select-amount-text js-drop-placeholder-two">160 x 200 см</span>
 																</div>
																<div class="performance-block__select-price ">
																	<span class="performance-block__select-price-text js-drop-placeholder-one">22 356 руб.</span>
																	
																</div>
																<span class="select-block-btn__arrow">
																		<svg class="icon-drop-arrow">
																			<use xlink:href="#arrow-tobottom"></use>
																		</svg>
																	</span>
															</div>
															
														</span>
														<div class="select-block-drop select-block-drop--double js-filter-drop">
															<div class="select-block-drop__inner">
																<div class="select-block-drop__item js-drop-select-text">
																	<div class="select-block-drop__left">
																		<span class="select-block-drop__text js-drop-select-text-two">
																			160 x 250 см
																		</span>
																	</div>
																	<div class="select-block-drop__right">
																		<span class="select-block-drop__price js-drop-select-text-one">
																			12 356 руб.
																		</span>
																	</div>
																</div>	
																<div class="select-block-drop__item js-drop-select-text">
																	<div class="select-block-drop__left">
																		<span class="select-block-drop__text js-drop-select-text-two">
																			160 x 20 см
																		</span>
																	</div>
																	<div class="select-block-drop__right">
																		<span class="select-block-drop__price js-drop-select-text-one">
																			22 36 руб.
																		</span>
																	</div>
																</div>	
																<div class="select-block-drop__item js-drop-select-text">
																	<div class="select-block-drop__left">
																		<span class="select-block-drop__text js-drop-select-text-two">
																			1600 x 200 см
																		</span>
																	</div>
																	<div class="select-block-drop__right">
																		<span class="select-block-drop__price js-drop-select-text-one">
																			22 3556 руб.
																		</span>
																	</div>
																</div>	
																<div class="select-block-drop__item js-drop-select-text">
																	<div class="select-block-drop__left">
																		<span class="select-block-drop__text js-drop-select-text-two">
																			160 x 300 см
																		</span>
																	</div>
																	<div class="select-block-drop__right">
																		<span class="select-block-drop__price js-drop-select-text-one">
																			22 35696 руб.
																		</span>
																	</div>
																</div>	
																<div class="select-block-drop__item js-drop-select-text">
																	<div class="select-block-drop__left">
																		<span class="select-block-drop__text js-drop-select-text-two">
																			1600 x 200 см
																		</span>
																	</div>
																	<div class="select-block-drop__right">
																		<span class="select-block-drop__price js-drop-select-text-one">
																			22 35006 руб.
																		</span>
																	</div>
																</div>
																<div class="select-block-drop__item js-drop-select-text">
																	<div class="select-block-drop__left">
																		<span class="select-block-drop__text js-drop-select-text-two">
																			160 x 250 см
																		</span>
																	</div>
																	<div class="select-block-drop__right">
																		<span class="select-block-drop__price js-drop-select-text-one">
																			12 356 руб.
																		</span>
																	</div>
																</div>	
																<div class="select-block-drop__item js-drop-select-text">
																	<div class="select-block-drop__left">
																		<span class="select-block-drop__text js-drop-select-text-two">
																			160 x 20 см
																		</span>
																	</div>
																	<div class="select-block-drop__right">
																		<span class="select-block-drop__price js-drop-select-text-one">
																			22 36 руб.
																		</span>
																	</div>
																</div>	
																<div class="select-block-drop__item js-drop-select-text">
																	<div class="select-block-drop__left">
																		<span class="select-block-drop__text js-drop-select-text-two">
																			1600 x 200 см
																		</span>
																	</div>
																	<div class="select-block-drop__right">
																		<span class="select-block-drop__price js-drop-select-text-one">
																			22 3556 руб.
																		</span>
																	</div>
																</div>	
																<div class="select-block-drop__item js-drop-select-text">
																	<div class="select-block-drop__left">
																		<span class="select-block-drop__text js-drop-select-text-two">
																			160 x 300 см
																		</span>
																	</div>
																	<div class="select-block-drop__right">
																		<span class="select-block-drop__price js-drop-select-text-one">
																			22 35696 руб.
																		</span>
																	</div>
																</div>	
																<div class="select-block-drop__item js-drop-select-text">
																	<div class="select-block-drop__left">
																		<span class="select-block-drop__text js-drop-select-text-two">
																			1600 x 200 см
																		</span>
																	</div>
																	<div class="select-block-drop__right">
																		<span class="select-block-drop__price js-drop-select-text-one">
																			22 35006 руб.
																		</span>
																	</div>
																</div>
															</div>
														</div>
													</div>

												</div>
											<div class="performance-block">
												<span class="performance-block__heading">Особенности:</span>
												<div class="performance-block__list">
													<div class="performance-block__item">
														<span class="performance-block__item-left">Нагрузка:</span>
														<span class="performance-block__item-right">100 кг</span>
													</div>
													<div class="performance-block__item">
														<span class="performance-block__item-left">Жесткость:</span>
														<span class="performance-block__item-right">Средняя</span>
													</div>
													<div class="performance-block__item performance-block__item--change">
														<span class="performance-block__item-left">Тип:</span>
														<span class="performance-block__item-right">беспружинный</span>
													</div>
												</div>
											</div>
											<div class="performance-block performance-block--hide">
												<div class="performance-block__item">
													<span class="performance-block__item-left">Артикул:</span>
													<span class="performance-block__item-right">NLOZ160k</span>
												</div>
											</div>
											<div class="performance-block performance-block--hide">
												<div class="performance-block__item">
													<span class="performance-block__item-left">Производитель:</span>
													<a herf="#" class="performance-block__item-right performance-block__item-right--link">Black Red White</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="product-preview__extra">
								<div class="product-preview__extra-left">
									<h3 class="product-preview__extra-left-heading">Состав слоёв:</h3>
									<div class="product-preview__extra-left-info">
										<div class="static-content">
											<table>
												<tbody>
													<tr>
														<td>латексированная кокосовая койра (10 мм)</td>
													</tr>
													<tr>
														<td>бикокос (10 мм)</td>
													</tr>
													<tr>
														<td>спанбонд</td>
													</tr>
													<tr>
														<td>блок независимых пружин EVS620 (620 пружин на спальное место)</td>
													</tr>
													<tr>
														<td>спанбонд</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<div class="product-preview__extra-right">
									<div class="product-preview__extra-right-info">
										<div class="static-content">
											<p>Уникальный современный матрас на основе латексированной кокосовой койры и усиленного блока независимых пружин EVS620. Выдерживает большие нагрузки и надежно поддерживает позвоночник в правильном анатомическом положении. В качестве наполнителя матраса используется новейший комбинированный материал — Bi-Cocos (Би-Кокос). Он представляет собой волокна кокоса, скрепленные между собой с помощью полиэстера. Благодаря этому материал становится прочным, не крошится со временем и не вызывает аллергии. Bi-Cocos – это жесткий материал.</p>
											<p><b>Гарантия:</b> 1.5 года. При покупке и эксплуатации с наматрасником с бортами - 5 лет.</p>
										</div>
									</div>
								</div>
							</div>
							
							
						</div>
					</div>
					
						@@include('template/blocks/card-mattresses.html')
						@@include('template/blocks/card-bottom.html')

						@@include('template/blocks/large-photo-mattresses.html')
						@@include('template/blocks/video-popup.html')

						
				</div>
			</div>
			
		</div>
	</div>
	<!-- content end -->
	
	
</div>
<!-- wrapper end -->

@@include('template/layout/footer.html')
@@include('template/layout/footer-head.html')
</body>
</html> 