@@include('template/layout/head.html')
<body>
@@include('template/layout/svg.html')
@@include('template/layout/oldbrowser.html')

<!-- wrapper -->
<div class="wrapper">
	@@include('template/layout/header.html') 

	<!-- content -->
	<div class="content" role="main">
		<div class="container">
			<div class="breadcrumbs">
				<ul class="breadcrumbs-list">
					<li class="breadcrumbs-list__item breadcrumbs-list__item--hide">
						<span class="breadcrumbs-item breadcrumbs-item--main">
							<a href="#" class="breadcrumbs-item__link">
								<svg class="icon-arrow-tobottom breadcrumbs-item__link-marker">
									<use xlink:href="#arrow-tobottom"></use>
								</svg>
								<span class="breadcrumbs-item__link-text">Корректировать заказ</span>
							</a>
						</span>
					</li>
					<li class="breadcrumbs-list__item">
						<span class="breadcrumbs-item breadcrumbs-item--main">
							<a href="#" class="breadcrumbs-item__link">
								<svg class="icon-arrow-tobottom breadcrumbs-item__link-marker">
									<use xlink:href="#arrow-tobottom"></use>
								</svg>
								<span class="breadcrumbs-item__link-text">Главная</span>
							</a>
						</span>
					</li>
					<li class="breadcrumbs-list__item">
						<span class="breadcrumbs-item">
							<span class="breadcrumbs-item__link breadcrumbs-item__link--active">О компании</span>
						</span>
					</li>
				</ul>
			</div>
			<div class="checkout">
				<div class="content-box">
					<h1 class="content-box__heading content-box__heading--small">Оформление заказа</h1>
					<div class="checkout__block checkout__block--border">
						<h2 class="checkout__block-heading">Дополнительные услуги</h2>
						<div class="checkout__block-additional-services">
							<div class="additional-services">
								<div class="additional-services-list">
									<div class="additional-services-list__item">
										<div class="additional-services-item">
											<div class="additional-services-item__image">
												<img src="pic/services/photo-01.jpg" alt="Servies" class="additional-services-item__image-img">
												<img src="pic/services/photo-01-gray.jpg" alt="Servies" class="additional-services-item__image-img additional-services-item__image-img--hover">
											</div>
											<div class="additional-services-item__holder">
												<div class="additional-services-item__description">
													<div class="additional-services-item__description-button">
														<label class="checkbox">
															<input type="checkbox" class="checkbox__check">
															<span class="checkbox__icon">
																<svg class="icon-check checkbox__icon-image">
																	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check"></use>
																</svg>
															</span>
															<span class="checkbox__inner">
																<span class="checkbox__text">Доставка</span>
															</span>
														</label>
													</div>
													<span class="additional-services-item__description-info">Купите еще на 17 196 руб. для бесплатной доставки</span>
												</div>
												<div class="additional-services-item__cost">
													<span class="additional-services-item__cost-amount">800 руб.</span>
												</div>
											</div>
											
										</div>
									</div>
									<div class="additional-services-list__item">
										<div class="additional-services-item">
											<div class="additional-services-item__image">
												<img src="pic/services/photo-02.jpg" alt="Servies" class="additional-services-item__image-img">
												<img src="pic/services/photo-02-gray.jpg" alt="Servies" class="additional-services-item__image-img additional-services-item__image-img--hover">
											</div>
											<div class="additional-services-item__holder">
												<div class="additional-services-item__description">
													<div class="additional-services-item__description-button">
														<label class="checkbox">
															<input type="checkbox" class="checkbox__check" checked="">
															<span class="checkbox__icon">
																<svg class="icon-check checkbox__icon-image">
																	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check"></use>
																</svg>
															</span>
															<span class="checkbox__inner">
																<span class="checkbox__text">Подьем мебели</span>
															</span>
														</label>
													</div>
													<span class="additional-services-item__description-info">Купите еще на 17 196 руб. для бесплатной доставки</span>
												</div>
												<div class="additional-services-item__cost">
													<span class="additional-services-item__cost-amount">400 руб.</span>
												</div>
											</div>
											
										</div>
									</div>
									<div class="additional-services-list__item">
										<div class="additional-services-item">
											<div class="additional-services-item__image">
												<img src="pic/services/photo-03.jpg" alt="Servies" class="additional-services-item__image-img">
												<img src="pic/services/photo-03-gray.jpg" alt="Servies" class="additional-services-item__image-img additional-services-item__image-img--hover">
											</div>
											<div class="additional-services-item__holder">
												<div class="additional-services-item__description">
													<div class="additional-services-item__description-button">
														<label class="checkbox">
															<input type="checkbox" class="checkbox__check">
															<span class="checkbox__icon">
																<svg class="icon-check checkbox__icon-image">
																	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check"></use>
																</svg>
															</span>
															<span class="checkbox__inner">
																<span class="checkbox__text">Сборка мебели</span>
															</span>
														</label>
													</div>
													<span class="additional-services-item__description-info">Фиксированная стоимость 10% от общего заказа</span>
												</div>
												<div class="additional-services-item__cost">
													<span class="additional-services-item__cost-amount">1280 руб.</span>
												</div>
											</div>
											
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="checkout__block-total">
							<span class="checkout__block-total-text">Итого за дополнительные услуги:</span>
							<span class="checkout__block-total-price">400 руб.</span>
						</div>
					</div>
					<div class="checkout__block checkout__block--border">
						<h2 class="checkout__block-heading">Оформление заказа</h2>
						<div class="checkout__block-order-form">
							<div class="order-form">
								<div class="order-form__row order-form__row--lagre">
									<div class="order-form__cell order-form__cell--small">
										<div class="order-form__cell form-row--required">
											<input type="text" class="input input-required" placeholder="Адрес:">
											<span class="image-required">*</span>
										</div>
									</div>
									<div class="order-form__cell order-form__cell--number">
										<div class="order-form__cell-number input-custom">
											<label for="number" class="order-form__cell-number-telephone input-custom__label">Квартира</label>
											<input type="text" class="input input-custom__input" placeholder="№" id="number">
										</div>
									</div>
								</div>

								<div class="order-form__row">
									<div class="form-row--required">
										<input type="text" class="input input-required" placeholder="Как Вас зовут:">
										<span class="image-required">*</span>
									</div>
								</div>
								<div class="order-form__row order-form__row--lagre">
									<div class="order-form__cell">
										<div class="input-custom form-row--required">
											<label for="telephone" class="input-custom__label">Ваш телефон:</label>
											<input type="text" class="input input-custom__input js-phone-mask" placeholder="+7(___) ___-__-__" id="telephone">
											<span class="image-required">*</span>
										</div>
									</div>
									<div class="order-form__cell order-form__cell--text">
										<span class="order-form__cell-text">— мы вышлем на него подтверждение заказа</span>
									</div>
								</div>
								<div class="order-form__row">
									<div class="form-row--required">
										<input type="email" class="input input-required" placeholder="Ваш электронный адрес:">
										<span class="image-required">*</span>
									</div>
								</div>
								<div class="order-form__row">
									<span class="order-form__row-inform"><span class="order-form__row-inform-required">*</span> Поля обязательные для заполнения</span>
								</div>
								<div class="order-form__row">
									<div class="input-custom form-row--required">
										<label for="telephone" class="input-custom__label">Промокод</label>
										<input type="text" class="input input-custom__input" placeholder="№" id="telephone">
										<span class="image-required">*</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="checkout__block checkout__block--small">
						<h2 class="checkout__block-heading">Выберите способ оплаты</h2>
						<div class="checkout__block-select">
							<div class="basket-holder__select">
								<div class="basket-holder__select-row">
									<select name="select" id="" class="select index" data-placeholder="Наличными при получении">
										<option value="Наличными при получении">Наличными при получении</option>
										<option value="Наличными при получении2">Наличными при получении2</option>
										<option value="Наличными при получении3">Наличными при получении3</option>
									</select>
								</div>
							</div>
						</div>
						<div class="checkout__block-card-list">
							<div class="basket-holder__card-list">
								<ul class="card-list">
									<li class="card-list__item">
										<div class="card-item">
											<a href="#" class="card-item__link">
												<svg class="icon-visa card-item__link-image">
													<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#visa"></use>
												</svg>
											</a>
										</div>
									</li>
									<li class="card-list__item">
										<div class="card-item">
											<a href="#" class="card-item__link">
												<svg class="icon-master-card card-item__link-image">
													<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#master-card"></use>
												</svg>
											</a>
										</div>
									</li>
									<li class="card-list__item">
										<div class="card-item">
											<a href="#" class="card-item__link">
												<svg class="icon-web-conect card-item__link-image">
													<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#web-conect"></use>
												</svg>
											</a>
										</div>
									</li>
									<li class="card-list__item">
										<div class="card-item">
											<a href="#" class="card-item__link">
												<svg class="icon-sberbank card-item__link-image">
													<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sberbank"></use>
												</svg>
											</a>
										</div>
									</li>
									<li class="card-list__item">
										<div class="card-item">
											<a href="#" class="card-item__link">
												<svg class="icon-yandex-money card-item__link-image">
													<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#yandex-money"></use>
												</svg>
											</a>
										</div>
									</li>
									<li class="card-list__item">
										<div class="card-item">
											<a href="#" class="card-item__link">
												<svg class="icon-web-money card-item__link-image">
													<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#web-money"></use>
												</svg>
											</a>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="checkout__block checkout__block--small">
						<div class="checkout__block-totalpay">

							<span class="basket-holder__totalpay-heading">Итого к оплате:</span>
							<span class="basket-holder__totalpay-price">31 244 руб.</span>
							<a href="#" class="basket-holder__totalpay-checkout btn btn-orange">Оформить заказ</a>
							<a href="#" class="btn btn-border-brown basket-holder__totalpay-credit">Купить в кредит</a>

						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- content end -->
	
	<div class="footer-spacer"></div>
</div>
<!-- wrapper end -->

@@include('template/layout/footer.html')
@@include('template/layout/footer-head.html')
</body>
</html> 