@@include('template/layout/head.html')
<body>
@@include('template/layout/svg.html')
@@include('template/layout/oldbrowser.html')

<!-- wrapper -->
<div class="wrapper">
    @@include('template/layout/header.html')


    <div class="d-contacts content" role="main">
        <div class="container">
            <div class="breadcrumbs">
                <ul class="breadcrumbs-list">
                    <li class="breadcrumbs-list__item breadcrumbs-list__item--hide">
						<span class="breadcrumbs-item breadcrumbs-item--main">
							<a href="#" class="breadcrumbs-item__link">
								<svg class="icon-arrow-tobottom breadcrumbs-item__link-marker">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
								</svg>
								<span class="breadcrumbs-item__link-text">В каталог</span>
							</a>
						</span>
                    </li>
                    <li class="breadcrumbs-list__item">
						<span class="breadcrumbs-item breadcrumbs-item--main">
							<a href="#" class="breadcrumbs-item__link">
								<svg class="icon-arrow-tobottom breadcrumbs-item__link-marker">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
								</svg>
								<span class="breadcrumbs-item__link-text">Главная</span>
							</a>
						</span>
                    </li>
                    <li class="breadcrumbs-list__item">
						<span class="breadcrumbs-item">
							<span class="breadcrumbs-item__link breadcrumbs-item__link--active">Контакты</span>
						</span>
                    </li>
                </ul>
            </div>
			<div class="d-contacts__title">Контакты</div>

			<div class="d-contacts__content">
				<main class="d-contacts__main">
					<div class="static-content">
						<table>
							<tbody>
							<tr>
								<td>Адрес:</td>
								<td>123308 г. Москва, ул. Зорге, д. 1с2; ТЦ "Дом для Дома", 2-й этаж;</td>
							</tr>
							<tr>
								<td>График работы:</td>
								<td>с 10:00 до 20:00 без выходных</td>
							</tr>
							<tr>
								<td>Телефон:</td>
								<td>+7 (495) 255-18-10</td>
							</tr>
							<tr>
								<td>Бесплатный звонок:</td>
								<td>8 (800) 775-71-06 <a data-fancybox data-src="#cb-form" href="#cb-form" class="d-contacts__cb js-cbform">Заказать обратный звонок</a></td>
							</tr>
							<tr>
								<td>Email:</td>
								<td><a href="emailto:mebelgold@mebelgold.ru">mebelgold@mebelgold.ru</a></td>
							</tr>

							<tr>
								<td colspan="2" class="d-contacts__title-sep">Юридические реквизиты</td>
							</tr>

							<tr>
								<td>Название компании:</td>
								<td>ООО "МЕБЕЛЬГОЛД"</td>
							</tr>
							<tr>
								<td>ИНН</td>
								<td>7709463788</td>
							</tr>
							<tr>
								<td>КПП</td>
								<td>770901001</td>
							</tr>
							<tr>
								<td>ОГРН</td>
								<td>1157746670400</td>
							</tr>
							<tr>
								<td>Юр.адрес:</td>
								<td>109147, г. Москва, Факельный Б. пер., д.9/11, пом.3Н, комн.2</td>
							</tr>
							</tbody>
						</table>
					</div>

					<div class="d-contacts__map" id="js-map"></div>

					<div class="d-contacts__other">
						<div class="d-contacts__other-title">Мы в регионах</div>

						<div class="delivery-list js-accordeon-list">
							<div class="deliver-list__item">
								<div class="delivery-item js-accordeon-item">
									<div class="delivery-item__heading js-accordeon__trigger">
										<span class="delivery-item__heading-text">Санкт-Петербург</span>
										<span class="delivery-item__heading-button">
												<a href="#" class="delivery-item__heading-button-link button-direct">
													<svg class="icon-arrow-tobottom button-direct__img delivery-item__heading-button-link-image">
														<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
													</svg>
												</a>
											</span>
									</div>
									<div class="delivery-item__content js-accordion__inner" style="display: none;">
										<div class="delivery-item__content-block">
											<div class="delivery-item__content-block-inform static-content static-content">
												<table>
													<tbody>
													<tr>
														<td>Адрес:</td>
														<td>123308 г. Москва, ул. Зорге, д. 1с2; ТЦ "Дом для Дома", 2-й этаж;</td>
													</tr>
													<tr>
														<td>График работы:</td>
														<td>с 10:00 до 20:00 без выходных</td>
													</tr>
													<tr>
														<td>Телефон:</td>
														<td>+7 (495) 255-18-10</td>
													</tr>
													<tr>
														<td>Бесплатный звонок:</td>
														<td>8 (800) 775-71-06 <a data-fancybox data-src="#cb-form" href="#cb-form" class="d-contacts__cb js-cbform">Заказать обратный звонок</a></td>
													</tr>
													<tr>
														<td>Email:</td>
														<td><a href="emailto:mebelgold@mebelgold.ru">mebelgold@mebelgold.ru</a></td>
													</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="deliver-list__item">
								<div class="delivery-item js-accordeon-item">
									<div class="delivery-item__heading js-accordeon__trigger">
										<span class="delivery-item__heading-text">Город 2</span>
										<span class="delivery-item__heading-button">
												<a href="#" class="delivery-item__heading-button-link button-direct">
													<svg class="icon-arrow-tobottom button-direct__img delivery-item__heading-button-link-image">
														<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
													</svg>
												</a>
											</span>
									</div>
									<div class="delivery-item__content js-accordion__inner" style="display: none;">
										<div class="delivery-item__content-block">
											<div class="delivery-item__content-block-inform static-content static-content">
												<table>
													<tbody>
													<tr>
														<td>Адрес:</td>
														<td>123308 г. Москва, ул. Зорге, д. 1с2; ТЦ "Дом для Дома", 2-й этаж;</td>
													</tr>
													<tr>
														<td>График работы:</td>
														<td>с 10:00 до 20:00 без выходных</td>
													</tr>
													<tr>
														<td>Телефон:</td>
														<td>+7 (495) 255-18-10</td>
													</tr>
													<tr>
														<td>Бесплатный звонок:</td>
														<td>8 (800) 775-71-06 <a data-fancybox data-src="#cb-form" href="#cb-form" class="d-contacts__cb js-cbform">Заказать обратный звонок</a></td>
													</tr>
													<tr>
														<td>Email:</td>
														<td><a href="emailto:mebelgold@mebelgold.ru">mebelgold@mebelgold.ru</a></td>
													</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="deliver-list__item">
								<div class="delivery-item js-accordeon-item">
									<div class="delivery-item__heading js-accordeon__trigger">
										<span class="delivery-item__heading-text">Город 3</span>
										<span class="delivery-item__heading-button">
												<a href="#" class="delivery-item__heading-button-link button-direct">
													<svg class="icon-arrow-tobottom button-direct__img delivery-item__heading-button-link-image">
														<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
													</svg>
												</a>
											</span>
									</div>
									<div class="delivery-item__content js-accordion__inner" style="display: none;">
										<div class="delivery-item__content-block">
											<div class="delivery-item__content-block-inform static-content static-content">
												<table>
													<tbody>
													<tr>
														<td>Адрес:</td>
														<td>123308 г. Москва, ул. Зорге, д. 1с2; ТЦ "Дом для Дома", 2-й этаж;</td>
													</tr>
													<tr>
														<td>График работы:</td>
														<td>с 10:00 до 20:00 без выходных</td>
													</tr>
													<tr>
														<td>Телефон:</td>
														<td>+7 (495) 255-18-10</td>
													</tr>
													<tr>
														<td>Бесплатный звонок:</td>
														<td>8 (800) 775-71-06 <a data-fancybox data-src="#cb-form" href="#cb-form" class="d-contacts__cb js-cbform">Заказать обратный звонок</a></td>
													</tr>
													<tr>
														<td>Email:</td>
														<td><a href="emailto:mebelgold@mebelgold.ru">mebelgold@mebelgold.ru</a></td>
													</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</main>
				<aside class="d-contacts__aside">
					<div class="sidebar">
						<div class="sidebar-menu js-accordeon-list">
							<div class="sidebar-menu__item js-accordeon-item">
								<div class="sidebar-item">
									<span class="sidebar-item__link js-sidebar-title">О компании</span>
									<ul class="sidebar-item__sub js-sidebar-inner">
										<li class="sidebar-item__sub-item">
											<a href="#" class="sidebar-item__sub-item-link">Контакты</a>
										</li>
										<li class="sidebar-item__sub-item">
											<a href="#" class="sidebar-item__sub-item-link">Гарантия качества</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="sidebar-menu__item">
								<div class="sidebar-item">
									<span class="sidebar-item__link js-sidebar-title">Услуги</span>
									<ul class="sidebar-item__sub  js-sidebar-inner">
										<li class="sidebar-item__sub-item">
											<a href="#" class="sidebar-item__sub-item-link">Доставка и подъем</a>
										</li>
										<li class="sidebar-item__sub-item">
											<a href="#" class="sidebar-item__sub-item-link">Рассрочка</a>
										</li>
										<li class="sidebar-item__sub-item">
											<a href="#" class="sidebar-item__sub-item-link">Сборка</a>
										</li>
										<li class="sidebar-item__sub-item">
											<a href="#" class="sidebar-item__sub-item-link">3D Дизайн</a>
										</li>
										<li class="sidebar-item__sub-item">
											<a href="#" class="sidebar-item__sub-item-link">Доставка мебели за 24 часа</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="sidebar-menu__item">
								<div class="sidebar-item">
									<span class="sidebar-item__link js-sidebar-title">Разделы</span>
									<ul class="sidebar-item__sub js-sidebar-inner">
										<li class="sidebar-item__sub-item">
											<a href="#" class="sidebar-item__sub-item-link">Распродажа</a>
										</li>
										<li class="sidebar-item__sub-item">
											<a href="#" class="sidebar-item__sub-item-link">Скидки</a>
										</li>
										<li class="sidebar-item__sub-item">
											<a href="#" class="sidebar-item__sub-item-link">Оплата</a>
										</li>
										<li class="sidebar-item__sub-item">
											<a href="#" class="sidebar-item__sub-item-link">Фотоальбом</a>
										</li>
										<li class="sidebar-item__sub-item">
											<a href="#" class="sidebar-item__sub-item-link">Отзывы</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="sidebar-menu__item">
								<div class="sidebar-item">
									<span class="sidebar-item__link js-sidebar-title">Новости</span>
									<ul class="sidebar-item__sub js-sidebar-inner">
										<li class="sidebar-item__sub-item">
											<a href="#" class="sidebar-item__sub-item-link">Доставка и подъем</a>
										</li>
										<li class="sidebar-item__sub-item">
											<a href="#" class="sidebar-item__sub-item-link">Рассрочка</a>
										</li>
										<li class="sidebar-item__sub-item">
											<a href="#" class="sidebar-item__sub-item-link">Сборка</a>
										</li>
										<li class="sidebar-item__sub-item">
											<a href="#" class="sidebar-item__sub-item-link">3D Дизайн</a>
										</li>
										<li class="sidebar-item__sub-item">
											<a href="#" class="sidebar-item__sub-item-link">Доставка мебели за 24 часа</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="sidebar-menu__item">
								<div class="sidebar-item">
									<span class="sidebar-item__link js-sidebar-title">Статьи</span>
									<ul class="sidebar-item__sub js-sidebar-inner">
										<li class="sidebar-item__sub-item">
											<a href="#" class="sidebar-item__sub-item-link">Контакты</a>
										</li>
										<li class="sidebar-item__sub-item">
											<a href="#" class="sidebar-item__sub-item-link">Гарантия качества</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="advantages">
						<div class="advantages-list advantages-list--vertical">
							<div class="advantages-list__item">
								<div class="advantages-item">
									<div class="advantages-item__image">
										<img src="pic/sidemenu/photo-01.jpg" alt="advantages" class="advantages-item__image-img">
										<img src="pic/sidemenu/photo-01-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
									</div>
									<div class="advantages-item__info">
										<span class="advantages-item__info-text">Рассрочка - 0%</span>
									</div>
								</div>
							</div>
							<div class="advantages-list__item">
								<div class="advantages-item">
									<div class="advantages-item__image">
										<img src="pic/sidemenu/photo-02.jpg" alt="advantages" class="advantages-item__image-img">
										<img src="pic/sidemenu/photo-02-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
									</div>
									<div class="advantages-item__info">
										<span class="advantages-item__info-text">Сборка купленной мебели</span>
									</div>
								</div>
							</div>
							<div class="advantages-list__item">
								<div class="advantages-item">
									<div class="advantages-item__image">
										<img src="pic/sidemenu/photo-03.jpg" alt="advantages" class="advantages-item__image-img">
										<img src="pic/sidemenu/photo-03-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
									</div>
									<div class="advantages-item__info">
										<span class="advantages-item__info-text">Доставка мебели за 24 часа</span>
									</div>
								</div>
							</div>
							<div class="advantages-list__item">
								<div class="advantages-item">
									<div class="advantages-item__image">
										<img src="pic/sidemenu/photo-04.jpg" alt="advantages" class="advantages-item__image-img">
										<img src="pic/sidemenu/photo-04-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
									</div>
									<div class="advantages-item__info">
										<span class="advantages-item__info-text">Гарантия качества и цены</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</aside>
			</div>
        </div>
    </div>



</div>
<!-- wrapper end -->
@@include('template/blocks/d-new/cb-form.html')
@@include('template/layout/footer.html')
@@include('template/layout/footer-head.html')
</body>
</html>