@@include('template/layout/head.html')
<body>
@@include('template/layout/svg.html')
@@include('template/layout/oldbrowser.html')

<!-- wrapper -->
<div class="wrapper">
	@@include('template/layout/header.html') 

	<!-- content -->
	<div class="content" role="main">
		<div class="container">
			<div class="breadcrumbs">
				<ul class="breadcrumbs-list">
					<li class="breadcrumbs-list__item breadcrumbs-list__item--hide">
						<span class="breadcrumbs-item breadcrumbs-item--main">
							<a href="#" class="breadcrumbs-item__link">
								<svg class="icon-arrow-tobottom breadcrumbs-item__link-marker">
									<use xlink:href="#arrow-tobottom"></use>
								</svg>
								<span class="breadcrumbs-item__link-text">Все магазины</span>
							</a>
						</span>
					</li>
					<li class="breadcrumbs-list__item">
						<span class="breadcrumbs-item breadcrumbs-item--main">
							<a href="#" class="breadcrumbs-item__link">
								<svg class="icon-arrow-tobottom breadcrumbs-item__link-marker">
									<use xlink:href="#arrow-tobottom"></use>
								</svg>
								<span class="breadcrumbs-item__link-text">Главная</span>
							</a>
						</span>
					</li>
					<li class="breadcrumbs-list__item">
						<span class="breadcrumbs-item">
							<span class="breadcrumbs-item__link breadcrumbs-item__link--active">О компании</span>
						</span>
					</li>
				</ul>
			</div>
			<div class="delivery">
				<div class="content-box" >
					<h1 class="content-box__heading">Доставка и подъем</h1>
					<div class="content-box__left">
						<div class="delivery__block">
							<div class="delivery-list js-accordeon-list">
								<div class="deliver-list__item">
									<div class="delivery-item js-accordeon-item">
										<div class="delivery-item__heading js-accordeon__trigger">
											<span class="delivery-item__heading-text">Black Red White</span>
											<span class="delivery-item__heading-button">
												<a href="#" class="delivery-item__heading-button-link button-direct">
													<svg class="icon-arrow-tobottom button-direct__img delivery-item__heading-button-link-image">
														<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
													</svg>
												</a>
											</span>
										</div>
										<div class="delivery-item__content js-accordion__inner" style="display: none;">
											<div class="delivery-item__content-block">
												<span class="delivery-item__content-block-heading">Доставка</span>
												<div class="delivery-item__content-block-inform static-content">
													<table>
														<tbody>
															<tr>
																<td>Доставка до подъезда:</td>
																<td>800 руб.</td>
															</tr>
															<tr>
																<td>Свыше 30 000 руб.:</td>
																<td>бесплатно</td>
															</tr>
															<tr>
																<td>Доставка за МКАД:</td>
																<td>30 руб. 1 км.</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
											<div class="delivery-item__content-block">
												<span class="delivery-item__content-block-heading">Подъем</span>
												<div class="delivery-item__content-block-inform static-content">
													<table>
														<tbody>
															<tr>
																<td>Свыше 30 000 руб - подъем на лифте:</td>
																<td>бесплатно</td>
															</tr>
															<tr>
																<td>Менее 30 000 руб. на лифте:</td>
																<td>400 руб.</td>
															</tr>
															<tr>
																<td>Без лифта:</td>
																<td>250 руб. на первый плюс 150 руб/ этаж</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
											<div class="delivery-item__content-block">
												<span class="delivery-item__content-block-heading">Сборка</span>
												<div class="delivery-item__content-block-inform static-content">
													<table>
														<tbody>
															<tr>
																<td>Свыше 30 000 руб - подъем на лифте:</td>
																<td>7 % от стоимости</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
											<div class="delivery-item__content-block">
												<span class="delivery-item__content-block-heading">Сроки</span>
												<div class="delivery-item__content-block-inform static-content">
													<table>
														<tbody>
															<tr>
																<td>В наличии</td>
																<td>ДОСТАВКА за 24 часа</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="deliver-list__item">
									<div class="delivery-item  js-accordeon-item">
										<div class="delivery-item__heading js-accordeon__trigger">
											<span class="delivery-item__heading-text">Gerbor</span>
											<span class="delivery-item__heading-button">
												<a href="#" class="delivery-item__heading-button-link button-direct">
													<svg class="icon-arrow-tobottom button-direct__img delivery-item__heading-button-link-image">
														<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
													</svg>
												</a>
											</span>
										</div>
										<div class="delivery-item__content js-accordion__inner" style="display: none;">
											<div class="delivery-item__content-block">
												<span class="delivery-item__content-block-heading">Доставка</span>
												<div class="delivery-item__content-block-inform static-content">
													<table>
														<tbody>
															<tr>
																<td>Доставка до подъезда:</td>
																<td>800 руб.</td>
															</tr>
															<tr>
																<td>Свыше 30 000 руб.:</td>
																<td>бесплатно</td>
															</tr>
															<tr>
																<td>Доставка за МКАД:</td>
																<td>30 руб. 1 км.</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
											<div class="delivery-item__content-block">
												<span class="delivery-item__content-block-heading">Подъем</span>
												<div class="delivery-item__content-block-inform static-content">
													<table>
														<tbody>
															<tr>
																<td>Свыше 30 000 руб - подъем на лифте:</td>
																<td>бесплатно</td>
															</tr>
															<tr>
																<td>Менее 30 000 руб. на лифте:</td>
																<td>400 руб.</td>
															</tr>
															<tr>
																<td>Без лифта:</td>
																<td>250 руб. на первый плюс 150 руб/ этаж</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
											<div class="delivery-item__content-block">
												<span class="delivery-item__content-block-heading">Сборка</span>
												<div class="delivery-item__content-block-inform static-content">
													<table>
														<tbody>
															<tr>
																<td>Свыше 30 000 руб - подъем на лифте:</td>
																<td>7 % от стоимости</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
											<div class="delivery-item__content-block">
												<span class="delivery-item__content-block-heading">Сроки</span>
												<div class="delivery-item__content-block-inform static-content">
													<table>
														<tbody>
															<tr>
																<td>В наличии</td>
																<td>ДОСТАВКА за 24 часа</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="deliver-list__item">
									<div class="delivery-item  js-accordeon-item">
										<div class="delivery-item__heading js-accordeon__trigger">
											<span class="delivery-item__heading-text">Fameg</span>
											<span class="delivery-item__heading-button">
												<a href="#" class="delivery-item__heading-button-link button-direct">
													<svg class="icon-arrow-tobottom button-direct__img delivery-item__heading-button-link-image">
														<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
													</svg>
												</a>
											</span>
										</div>
										<div class="delivery-item__content js-accordion__inner" style="display: none;">
											<div class="delivery-item__content-block">
												<span class="delivery-item__content-block-heading">Доставка</span>
												<div class="delivery-item__content-block-inform static-content">
													<table>
														<tbody>
															<tr>
																<td>Доставка до подъезда:</td>
																<td>800 руб.</td>
															</tr>
															<tr>
																<td>Свыше 30 000 руб.:</td>
																<td>бесплатно</td>
															</tr>
															<tr>
																<td>Доставка за МКАД:</td>
																<td>30 руб. 1 км.</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
											<div class="delivery-item__content-block">
												<span class="delivery-item__content-block-heading">Подъем</span>
												<div class="delivery-item__content-block-inform static-content">
													<table>
														<tbody>
															<tr>
																<td>Свыше 30 000 руб - подъем на лифте:</td>
																<td>бесплатно</td>
															</tr>
															<tr>
																<td>Менее 30 000 руб. на лифте:</td>
																<td>400 руб.</td>
															</tr>
															<tr>
																<td>Без лифта:</td>
																<td>250 руб. на первый плюс 150 руб/ этаж</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
											<div class="delivery-item__content-block">
												<span class="delivery-item__content-block-heading">Сборка</span>
												<div class="delivery-item__content-block-inform static-content">
													<table>
														<tbody>
															<tr>
																<td>Свыше 30 000 руб - подъем на лифте:</td>
																<td>7 % от стоимости</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
											<div class="delivery-item__content-block">
												<span class="delivery-item__content-block-heading">Сроки</span>
												<div class="delivery-item__content-block-inform static-content">
													<table>
														<tbody>
															<tr>
																<td>В наличии</td>
																<td>ДОСТАВКА за 24 часа</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="deliver-list__item">
									<div class="delivery-item  js-accordeon-item">
										<div class="delivery-item__heading js-accordeon__trigger">
											<span class="delivery-item__heading-text">Lineaflex</span>
											<span class="delivery-item__heading-button">
												<a href="#" class="delivery-item__heading-button-link button-direct">
													<svg class="icon-arrow-tobottom button-direct__img delivery-item__heading-button-link-image">
														<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
													</svg>
												</a>
											</span>
										</div>
										<div class="delivery-item__content js-accordion__inner" style="display: none;">
											<div class="delivery-item__content-block">
												<span class="delivery-item__content-block-heading">Доставка</span>
												<div class="delivery-item__content-block-inform static-content">
													<table>
														<tbody>
															<tr>
																<td>Доставка до подъезда:</td>
																<td>800 руб.</td>
															</tr>
															<tr>
																<td>Свыше 30 000 руб.:</td>
																<td>бесплатно</td>
															</tr>
															<tr>
																<td>Доставка за МКАД:</td>
																<td>30 руб. 1 км.</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
											<div class="delivery-item__content-block">
												<span class="delivery-item__content-block-heading">Подъем</span>
												<div class="delivery-item__content-block-inform static-content">
													<table>
														<tbody>
															<tr>
																<td>Свыше 30 000 руб - подъем на лифте:</td>
																<td>бесплатно</td>
															</tr>
															<tr>
																<td>Менее 30 000 руб. на лифте:</td>
																<td>400 руб.</td>
															</tr>
															<tr>
																<td>Без лифта:</td>
																<td>250 руб. на первый плюс 150 руб/ этаж</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
											<div class="delivery-item__content-block">
												<span class="delivery-item__content-block-heading">Сборка</span>
												<div class="delivery-item__content-block-inform static-content">
													<table>
														<tbody>
															<tr>
																<td>Свыше 30 000 руб - подъем на лифте:</td>
																<td>7 % от стоимости</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
											<div class="delivery-item__content-block">
												<span class="delivery-item__content-block-heading">Сроки</span>
												<div class="delivery-item__content-block-inform static-content">
													<table>
														<tbody>
															<tr>
																<td>В наличии</td>
																<td>ДОСТАВКА за 24 часа</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="deliver-list__item">
									<div class="delivery-item  js-accordeon-item">
										<div class="delivery-item__heading js-accordeon__trigger">
											<span class="delivery-item__heading-text">Lineaflex</span>
											<span class="delivery-item__heading-button">
												<a href="#" class="delivery-item__heading-button-link button-direct">
													<svg class="icon-arrow-tobottom button-direct__img delivery-item__heading-button-link-image">
														<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
													</svg>
												</a>
											</span>
										</div>
										<div class="delivery-item__content js-accordion__inner" style="display: none;">
											<div class="delivery-item__content-block">
												<span class="delivery-item__content-block-heading">Доставка</span>
												<div class="delivery-item__content-block-inform static-content">
													<table>
														<tbody>
															<tr>
																<td>Доставка до подъезда:</td>
																<td>800 руб.</td>
															</tr>
															<tr>
																<td>Свыше 30 000 руб.:</td>
																<td>бесплатно</td>
															</tr>
															<tr>
																<td>Доставка за МКАД:</td>
																<td>30 руб. 1 км.</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
											<div class="delivery-item__content-block">
												<span class="delivery-item__content-block-heading">Подъем</span>
												<div class="delivery-item__content-block-inform static-content">
													<table>
														<tbody>
															<tr>
																<td>Свыше 30 000 руб - подъем на лифте:</td>
																<td>бесплатно</td>
															</tr>
															<tr>
																<td>Менее 30 000 руб. на лифте:</td>
																<td>400 руб.</td>
															</tr>
															<tr>
																<td>Без лифта:</td>
																<td>250 руб. на первый плюс 150 руб/ этаж</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
											<div class="delivery-item__content-block">
												<span class="delivery-item__content-block-heading">Сборка</span>
												<div class="delivery-item__content-block-inform static-content">
													<table>
														<tbody>
															<tr>
																<td>Свыше 30 000 руб - подъем на лифте:</td>
																<td>7 % от стоимости</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
											<div class="delivery-item__content-block">
												<span class="delivery-item__content-block-heading">Сроки</span>
												<div class="delivery-item__content-block-inform static-content">
													<table>
														<tbody>
															<tr>
																<td>В наличии</td>
																<td>ДОСТАВКА за 24 часа</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="deliver-list__item">
									<div class="delivery-item  js-accordeon-item">
										<div class="delivery-item__heading js-accordeon__trigger">
											<span class="delivery-item__heading-text">Анрекс</span>
											<span class="delivery-item__heading-button">
												<a href="#" class="delivery-item__heading-button-link button-direct">
													<svg class="icon-arrow-tobottom button-direct__img delivery-item__heading-button-link-image">
														<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
													</svg>
												</a>
											</span>
										</div>
										<div class="delivery-item__content js-accordion__inner" style="display: none;">
											<div class="delivery-item__content-block">
												<span class="delivery-item__content-block-heading">Доставка</span>
												<div class="delivery-item__content-block-inform static-content">
													<table>
														<tbody>
															<tr>
																<td>Доставка до подъезда:</td>
																<td>800 руб.</td>
															</tr>
															<tr>
																<td>Свыше 30 000 руб.:</td>
																<td>бесплатно</td>
															</tr>
															<tr>
																<td>Доставка за МКАД:</td>
																<td>30 руб. 1 км.</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
											<div class="delivery-item__content-block">
												<span class="delivery-item__content-block-heading">Подъем</span>
												<div class="delivery-item__content-block-inform static-content">
													<table>
														<tbody>
															<tr>
																<td>Свыше 30 000 руб - подъем на лифте:</td>
																<td>бесплатно</td>
															</tr>
															<tr>
																<td>Менее 30 000 руб. на лифте:</td>
																<td>400 руб.</td>
															</tr>
															<tr>
																<td>Без лифта:</td>
																<td>250 руб. на первый плюс 150 руб/ этаж</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
											<div class="delivery-item__content-block">
												<span class="delivery-item__content-block-heading">Сборка</span>
												<div class="delivery-item__content-block-inform static-content">
													<table>
														<tbody>
															<tr>
																<td>Свыше 30 000 руб - подъем на лифте:</td>
																<td>7 % от стоимости</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
											<div class="delivery-item__content-block">
												<span class="delivery-item__content-block-heading">Сроки</span>
												<div class="delivery-item__content-block-inform static-content">
													<table>
														<tbody>
															<tr>
																<td>В наличии</td>
																<td>ДОСТАВКА за 24 часа</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="deliver-list__item">
									<div class="delivery-item  js-accordeon-item">
										<div class="delivery-item__heading js-accordeon__trigger">
											<span class="delivery-item__heading-text">Богачо</span>
											<span class="delivery-item__heading-button">
												<a href="#" class="delivery-item__heading-button-link button-direct">
													<svg class="icon-arrow-tobottom button-direct__img delivery-item__heading-button-link-image">
														<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
													</svg>
												</a>
											</span>
										</div>
										<div class="delivery-item__content js-accordion__inner" style="display: none;">
											<div class="delivery-item__content-block">
												<span class="delivery-item__content-block-heading">Доставка</span>
												<div class="delivery-item__content-block-inform static-content">
													<table>
														<tbody>
															<tr>
																<td>Доставка до подъезда:</td>
																<td>800 руб.</td>
															</tr>
															<tr>
																<td>Свыше 30 000 руб.:</td>
																<td>бесплатно</td>
															</tr>
															<tr>
																<td>Доставка за МКАД:</td>
																<td>30 руб. 1 км.</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
											<div class="delivery-item__content-block">
												<span class="delivery-item__content-block-heading">Подъем</span>
												<div class="delivery-item__content-block-inform static-content">
													<table>
														<tbody>
															<tr>
																<td>Свыше 30 000 руб - подъем на лифте:</td>
																<td>бесплатно</td>
															</tr>
															<tr>
																<td>Менее 30 000 руб. на лифте:</td>
																<td>400 руб.</td>
															</tr>
															<tr>
																<td>Без лифта:</td>
																<td>250 руб. на первый плюс 150 руб/ этаж</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
											<div class="delivery-item__content-block">
												<span class="delivery-item__content-block-heading">Сборка</span>
												<div class="delivery-item__content-block-inform static-content">
													<table>
														<tbody>
															<tr>
																<td>Свыше 30 000 руб - подъем на лифте:</td>
																<td>7 % от стоимости</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
											<div class="delivery-item__content-block">
												<span class="delivery-item__content-block-heading">Сроки</span>
												<div class="delivery-item__content-block-inform static-content">
													<table>
														<tbody>
															<tr>
																<td>В наличии</td>
																<td>ДОСТАВКА за 24 часа</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="deliver-list__item">
									<div class="delivery-item  js-accordeon-item">
										<div class="delivery-item__heading js-accordeon__trigger">
											<span class="delivery-item__heading-text">Европа Мебель</span>
											<span class="delivery-item__heading-button">
												<a href="#" class="delivery-item__heading-button-link button-direct">
													<svg class="icon-arrow-tobottom button-direct__img delivery-item__heading-button-link-image">
														<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
													</svg>
												</a>
											</span>
										</div>
										<div class="delivery-item__content js-accordion__inner" style="display: none;">
											<div class="delivery-item__content-block">
												<span class="delivery-item__content-block-heading">Доставка</span>
												<div class="delivery-item__content-block-inform static-content">
													<table>
														<tbody>
															<tr>
																<td>Доставка до подъезда:</td>
																<td>800 руб.</td>
															</tr>
															<tr>
																<td>Свыше 30 000 руб.:</td>
																<td>бесплатно</td>
															</tr>
															<tr>
																<td>Доставка за МКАД:</td>
																<td>30 руб. 1 км.</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
											<div class="delivery-item__content-block">
												<span class="delivery-item__content-block-heading">Подъем</span>
												<div class="delivery-item__content-block-inform static-content">
													<table>
														<tbody>
															<tr>
																<td>Свыше 30 000 руб - подъем на лифте:</td>
																<td>бесплатно</td>
															</tr>
															<tr>
																<td>Менее 30 000 руб. на лифте:</td>
																<td>400 руб.</td>
															</tr>
															<tr>
																<td>Без лифта:</td>
																<td>250 руб. на первый плюс 150 руб/ этаж</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
											<div class="delivery-item__content-block">
												<span class="delivery-item__content-block-heading">Сборка</span>
												<div class="delivery-item__content-block-inform static-content">
													<table>
														<tbody>
															<tr>
																<td>Свыше 30 000 руб - подъем на лифте:</td>
																<td>7 % от стоимости</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
											<div class="delivery-item__content-block">
												<span class="delivery-item__content-block-heading">Сроки</span>
												<div class="delivery-item__content-block-inform static-content">
													<table>
														<tbody>
															<tr>
																<td>В наличии</td>
																<td>ДОСТАВКА за 24 часа</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="deliver-list__item">
									<div class="delivery-item  js-accordeon-item">
										<div class="delivery-item__heading js-accordeon__trigger">
											<span class="delivery-item__heading-text">Квинта Мебель</span>
											<span class="delivery-item__heading-button">
												<a href="#" class="delivery-item__heading-button-link button-direct">
													<svg class="icon-arrow-tobottom button-direct__img delivery-item__heading-button-link-image">
														<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
													</svg>
												</a>
											</span>
										</div>
										<div class="delivery-item__content js-accordion__inner" style="display: none;">
											<div class="delivery-item__content-block">
												<span class="delivery-item__content-block-heading">Доставка</span>
												<div class="delivery-item__content-block-inform static-content">
													<table>
														<tbody>
															<tr>
																<td>Доставка до подъезда:</td>
																<td>800 руб.</td>
															</tr>
															<tr>
																<td>Свыше 30 000 руб.:</td>
																<td>бесплатно</td>
															</tr>
															<tr>
																<td>Доставка за МКАД:</td>
																<td>30 руб. 1 км.</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
											<div class="delivery-item__content-block">
												<span class="delivery-item__content-block-heading">Подъем</span>
												<div class="delivery-item__content-block-inform static-content">
													<table>
														<tbody>
															<tr>
																<td>Свыше 30 000 руб - подъем на лифте:</td>
																<td>бесплатно</td>
															</tr>
															<tr>
																<td>Менее 30 000 руб. на лифте:</td>
																<td>400 руб.</td>
															</tr>
															<tr>
																<td>Без лифта:</td>
																<td>250 руб. на первый плюс 150 руб/ этаж</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
											<div class="delivery-item__content-block">
												<span class="delivery-item__content-block-heading">Сборка</span>
												<div class="delivery-item__content-block-inform static-content">
													<table>
														<tbody>
															<tr>
																<td>Свыше 30 000 руб - подъем на лифте:</td>
																<td>7 % от стоимости</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
											<div class="delivery-item__content-block">
												<span class="delivery-item__content-block-heading">Сроки</span>
												<div class="delivery-item__content-block-inform static-content">
													<table>
														<tbody>
															<tr>
																<td>В наличии</td>
																<td>ДОСТАВКА за 24 часа</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="deliver-list__item">
									<div class="delivery-item  js-accordeon-item">
										<div class="delivery-item__heading js-accordeon__trigger">
											<span class="delivery-item__heading-text">Лидер Мебель</span>
											<span class="delivery-item__heading-button">
												<a href="#" class="delivery-item__heading-button-link button-direct">
													<svg class="icon-arrow-tobottom button-direct__img delivery-item__heading-button-link-image">
														<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
													</svg>
												</a>
											</span>
										</div>
										<div class="delivery-item__content js-accordion__inner" style="display: none;">
											<div class="delivery-item__content-block">
												<span class="delivery-item__content-block-heading">Доставка</span>
												<div class="delivery-item__content-block-inform static-content">
													<table>
														<tbody>
															<tr>
																<td>Доставка до подъезда:</td>
																<td>800 руб.</td>
															</tr>
															<tr>
																<td>Свыше 30 000 руб.:</td>
																<td>бесплатно</td>
															</tr>
															<tr>
																<td>Доставка за МКАД:</td>
																<td>30 руб. 1 км.</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
											<div class="delivery-item__content-block">
												<span class="delivery-item__content-block-heading">Подъем</span>
												<div class="delivery-item__content-block-inform static-content">
													<table>
														<tbody>
															<tr>
																<td>Свыше 30 000 руб - подъем на лифте:</td>
																<td>бесплатно</td>
															</tr>
															<tr>
																<td>Менее 30 000 руб. на лифте:</td>
																<td>400 руб.</td>
															</tr>
															<tr>
																<td>Без лифта:</td>
																<td>250 руб. на первый плюс 150 руб/ этаж</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
											<div class="delivery-item__content-block">
												<span class="delivery-item__content-block-heading">Сборка</span>
												<div class="delivery-item__content-block-inform static-content">
													<table>
														<tbody>
															<tr>
																<td>Свыше 30 000 руб - подъем на лифте:</td>
																<td>7 % от стоимости</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
											<div class="delivery-item__content-block">
												<span class="delivery-item__content-block-heading">Сроки</span>
												<div class="delivery-item__content-block-inform static-content">
													<table>
														<tbody>
															<tr>
																<td>В наличии</td>
																<td>ДОСТАВКА за 24 часа</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="deliver-list__item">
									<div class="delivery-item  js-accordeon-item">
										<div class="delivery-item__heading js-accordeon__trigger">
											<span class="delivery-item__heading-text">Ярцево</span>
											<span class="delivery-item__heading-button">
												<a href="#" class="delivery-item__heading-button-link button-direct">
													<svg class="icon-arrow-tobottom button-direct__img delivery-item__heading-button-link-image">
														<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
													</svg>
												</a>
											</span>
										</div>
										<div class="delivery-item__content js-accordion__inner" style="display: none;">
											<div class="delivery-item__content-block">
												<span class="delivery-item__content-block-heading">Доставка</span>
												<div class="delivery-item__content-block-inform static-content">
													<table>
														<tbody>
															<tr>
																<td>Доставка до подъезда:</td>
																<td>800 руб.</td>
															</tr>
															<tr>
																<td>Свыше 30 000 руб.:</td>
																<td>бесплатно</td>
															</tr>
															<tr>
																<td>Доставка за МКАД:</td>
																<td>30 руб. 1 км.</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
											<div class="delivery-item__content-block">
												<span class="delivery-item__content-block-heading">Подъем</span>
												<div class="delivery-item__content-block-inform static-content">
													<table>
														<tbody>
															<tr>
																<td>Свыше 30 000 руб - подъем на лифте:</td>
																<td>бесплатно</td>
															</tr>
															<tr>
																<td>Менее 30 000 руб. на лифте:</td>
																<td>400 руб.</td>
															</tr>
															<tr>
																<td>Без лифта:</td>
																<td>250 руб. на первый плюс 150 руб/ этаж</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
											<div class="delivery-item__content-block">
												<span class="delivery-item__content-block-heading">Сборка</span>
												<div class="delivery-item__content-block-inform static-content">
													<table>
														<tbody>
															<tr>
																<td>Свыше 30 000 руб - подъем на лифте:</td>
																<td>7 % от стоимости</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
											<div class="delivery-item__content-block">
												<span class="delivery-item__content-block-heading">Сроки</span>
												<div class="delivery-item__content-block-inform static-content">
													<table>
														<tbody>
															<tr>
																<td>В наличии</td>
																<td>ДОСТАВКА за 24 часа</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="delivery__block">
							<p class="delivery__block-text">В случае приобретения мебели в собранном виде (с экспозиции) дополнительно 400 руб. за вынос из ТЦ. Услуги доставки транспортной компанией оплачиваются полностью, не зависимо от суммы покупки. </p>
							<div class="delivery__block-inform">
								<div class="download">
									<div class="download__inform">
										<a href="#" class="download__inform-text">Условия передачи товара, сборки, сервисного обслуживания, дополнительные условия и правилами эксплуатации мебели.</a>
									</div>
									<div class="download__button">
										<a href="#" class="btn btn-brown btn-brown--download">
											<span class="btn__text">Скачать</span>
											<span class="btn__icon">
												<svg class="icon-download">
													<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#download"></use>
												</svg>
											</span>
										</a>
									</div>
								</div>
								
							</div>
							<div class="inform-block">
								<span class="inform-block__image">
									<svg class="icon-info inform-block__image-icon"><use xlink:href="#info"></use>
									</svg>
								</span>
								<span class="inform-block__text">Мебель в собранном виде возврату и замене не подлежит.</span>
							</div>
						</div>
						<div class="delivery__block">
							<div class="delivery__block-imghold img-holder">
								<img src="pic/delivery/photo-01.jpg" alt="Delivery" class="delivery__block-image img-holder__image">
							</div>
						</div>
						<div class="delivery__block">
							<h2 class="delivery__block-heading">Доставка</h2>
							<div class="delivery__block-list">
								<div class="static-content">
									<ul>
										<li>
											<svg class="icon-arrow-tobottom list-marker">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
											</svg>
											<span>Доставка осуществляется с понедельника по субботу в течение дня с 10.00 до 21.00.</span>
										</li>
										<li>
											<svg class="icon-arrow-tobottom list-marker">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
											</svg>
											<span>Дата доставки предварительно оговаривается с менеджером и выполняется в кратчайшие сроки. Максимальное время ожидание доставки после полной оплаты мебели и при наличии товара на складе поставщика составляет 5 рабочих дней.</span>
										</li>
										<li>
											<svg class="icon-arrow-tobottom list-marker">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
											</svg>
											<span>Дата доставки оговаривается предварительно с менеджером.</span>
										</li>
										<li>
											<svg class="icon-arrow-tobottom list-marker">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
											</svg>
											<span>За час или два до приезда экспедитор сообщает, что машина направляется к клиенту.</span>
										</li>
										<li>
											<svg class="icon-arrow-tobottom list-marker">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
											</svg>
											<span>Не забудьте вскрыть и проверить пакеты со стеклами и зеркалами.</span>
										</li>
										<li>
											<svg class="icon-arrow-tobottom list-marker">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
											</svg>
											<span>Сверьте фактическое количество пакетов с количеством указанным в накладной</span>
										</li>
										<li>
											<svg class="icon-arrow-tobottom list-marker">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
											</svg>
											<span>Распишитесь в приеме мебели и за целостность и качество стекол и зеркал.</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="delivery__block">
							<div class="video-holder  js-video-holder" data-video="di4zvomCX0Q">
								<div class="js-video-img video-button">
									<img src="pic/about/photo-02.jpg" alt="About" class="img-holder__image ">
								</div>
							</div>
						</div>
					</div>
					<div class="content-box__right">
						<div class="sidebar">
							<div class="sidebar-menu js-accordeon-list">
								<div class="sidebar-menu__item js-accordeon-item">
									<div class="sidebar-item">
										<span class="sidebar-item__link js-sidebar-title">О компании</span>
										<ul class="sidebar-item__sub js-sidebar-inner">
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Контакты</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Гарантия качества</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="sidebar-menu__item">
									<div class="sidebar-item">
										<span class="sidebar-item__link js-sidebar-title">Услуги</span>
										<ul class="sidebar-item__sub  js-sidebar-inner">
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Доставка и подъем</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Рассрочка</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Сборка</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">3D Дизайн</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Доставка мебели за 24 часа</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="sidebar-menu__item">
									<div class="sidebar-item">
										<span class="sidebar-item__link js-sidebar-title">Разделы</span>
										<ul class="sidebar-item__sub js-sidebar-inner">
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Распродажа</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Скидки</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Оплата</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Фотоальбом</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Отзывы</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="sidebar-menu__item">
									<div class="sidebar-item">
										<span class="sidebar-item__link js-sidebar-title">Новости</span>
										<ul class="sidebar-item__sub js-sidebar-inner">
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Доставка и подъем</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Рассрочка</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Сборка</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">3D Дизайн</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Доставка мебели за 24 часа</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="sidebar-menu__item">
									<div class="sidebar-item">
										<span class="sidebar-item__link js-sidebar-title">Статьи</span>
										<ul class="sidebar-item__sub js-sidebar-inner">
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Контакты</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Гарантия качества</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="advantages">
							<div class="advantages-list advantages-list--vertical">
								<div class="advantages-list__item">
									<div class="advantages-item">
										<div class="advantages-item__image">
											<img src="pic/sidemenu/photo-01.jpg" alt="advantages" class="advantages-item__image-img">
											<img src="pic/sidemenu/photo-01-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
										</div>
										<div class="advantages-item__info">
											<span class="advantages-item__info-text">Рассрочка - 0%</span>
										</div>
									</div>
								</div>
								<div class="advantages-list__item">
									<div class="advantages-item">
										<div class="advantages-item__image">
											<img src="pic/sidemenu/photo-02.jpg" alt="advantages" class="advantages-item__image-img">
											<img src="pic/sidemenu/photo-02-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
										</div>
										<div class="advantages-item__info">
											<span class="advantages-item__info-text">Сборка купленной мебели</span>
										</div>
									</div>
								</div>
								<div class="advantages-list__item">
									<div class="advantages-item">
										<div class="advantages-item__image">
											<img src="pic/sidemenu/photo-03.jpg" alt="advantages" class="advantages-item__image-img">
											<img src="pic/sidemenu/photo-03-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
										</div>
										<div class="advantages-item__info">
											<span class="advantages-item__info-text">Доставка мебели за 24 часа</span>
										</div>
									</div>
								</div>
								<div class="advantages-list__item">
									<div class="advantages-item">
										<div class="advantages-item__image">
											<img src="pic/sidemenu/photo-04.jpg" alt="advantages" class="advantages-item__image-img">
											<img src="pic/sidemenu/photo-04-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
										</div>
										<div class="advantages-item__info">
											<span class="advantages-item__info-text">Гарантия качества и цены</span>
										</div>
									</div>
								</div>
								<div class="advantages-list__item">
								<div class="advantages-item">
									<div class="advantages-item__image">
										<img src="pic/sidemenu/photo-05.jpg" alt="advantages" class="advantages-item__image-img">
										<img src="pic/sidemenu/photo-05-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
									</div>
									<div class="advantages-item__info">
										<span class="advantages-item__info-text">Бесплатный дизайн в 3D</span>
									</div>
								</div>
							</div>
							<div class="advantages-list__item">
								<div class="advantages-item">
									<div class="advantages-item__image">
										<img src="pic/sidemenu/photo-06.jpg" alt="advantages" class="advantages-item__image-img">
										<img src="pic/sidemenu/photo-06-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
									</div>
									<div class="advantages-item__info">
										<span class="advantages-item__info-text">Акции и скидки</span>
									</div>
								</div>
							</div>
							<div class="advantages-list__item">
								<div class="advantages-item">
									<div class="advantages-item__image">
										<img src="pic/sidemenu/photo-07.jpg" alt="advantages" class="advantages-item__image-img">
										<img src="pic/sidemenu/photo-07-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
									</div>
									<div class="advantages-item__info">
										<span class="advantages-item__info-text">Бесплатный подъем мебели</span>
									</div>
								</div>
							</div>
							<div class="advantages-list__item">
								<div class="advantages-item">
									<div class="advantages-item__image">
										<img src="pic/sidemenu/photo-08.jpg" alt="advantages" class="advantages-item__image-img">
										<img src="pic/sidemenu/photo-08-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
									</div>
									<div class="advantages-item__info">
										<span class="advantages-item__info-text">Бесплатная доставка покупок</span>
									</div>
								</div>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- content end -->
	
	<div class="footer-spacer"></div>
</div>
<!-- wrapper end -->

@@include('template/layout/footer.html')
@@include('template/layout/footer-head.html')
</body>
</html> 