@@include('template/layout/head.html')
<body>
@@include('template/layout/svg.html')
@@include('template/layout/oldbrowser.html')
<!-- wrapper -->
<div class="wrapper">
	@@include('template/layout/header.html') 

	<!-- content -->
	<main class="content" role="main">
		<div class="container">

			<!-- BREADCRUMBS -->
			<div class="breadcrumbs">
				<ul class="breadcrumbs-list">
					<li class="breadcrumbs-list__item breadcrumbs-list__item--hide">
						<span class="breadcrumbs-item breadcrumbs-item--main">
							<a href="#" class="breadcrumbs-item__link">
								<svg class="icon-arrow-tobottom breadcrumbs-item__link-marker">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
								</svg>
								<span class="breadcrumbs-item__link-text">В каталог</span>
							</a>
						</span>
					</li>
					<li class="breadcrumbs-list__item">
						<span class="breadcrumbs-item breadcrumbs-item--main">
							<a href="#" class="breadcrumbs-item__link">
								<svg class="icon-arrow-tobottom breadcrumbs-item__link-marker">
									<use xlink:href="#arrow-tobottom"></use>
								</svg>
								<span class="breadcrumbs-item__link-text">Главная</span>
							</a>
						</span>
					</li>
					<li class="breadcrumbs-list__item">
						<span class="breadcrumbs-item">
							<span class="breadcrumbs-item__link breadcrumbs-item__link--active">Кровати</span>
						</span>
					</li>
				</ul>
			</div>
			<!-- BREADCRUMBS END -->
			
			<!-- CONTENT -->
			<div class="catalog">

				<!-- CATALOG HEADING -->
				<div class="catalog__heading">
					<h1 class="catalog__title">Каталог кроватей</h1>
					<span class="catalog__amount">
						(379 товаров)
					</span>
				</div>

				<!-- CATALOG HEADING END -->

				<!-- CATALOG TOP -->
				<div class="catalog__top ">

					<!-- CATALOG TAGS  -->
					<div class="tags catalog__tags js-filter-drop-parent-r">
						<a href="#" class="tags__btn btn js-filter-btn-r">
							Теги
							<svg class="icon-drop-arrow tags__btn-arrow">
								<use xlink:href="#arrow-tobottom"></use>
							</svg>
						</a>

						<div class="tags__inner js-filter-drop-r">
							<span class="tags__title">
								Часто ищут:
							</span>

							<ul class="tags-list">
								<li class="tags-list__item">
									двуспальная кровать
								</li>
								<li class="tags-list__item">
									кровать односпальная
								</li>
								<li class="tags-list__item current">
									детские кровати
								</li>
								<li class="tags-list__item">
									подростковые кровати
								</li>
								<li class="tags-list__item">
									диван кровать
								</li>
								<li class="tags-list__item">
									кровать с ящиками
								</li>

								<li class="tags-list__item hidden">
									двуспальная кровать
								</li>
								<li class="tags-list__item hidden">
									кровать односпальная
								</li>
								<li class="tags-list__item hidden">
									подростковые кровати
								</li>
								<li class="tags-list__item hidden">
									диван кровать
								</li>
								<li class="tags-list__item hidden">
									кровать с ящиками
								</li>
							</ul>

							<span class="tags__more">Показать все</span>
						</div>

					</div>
					<!-- CATALOG TAGS -->

					<!-- CATALOG FILTER -->
					@@include('template/blocks/d-new/filter.html')
					<!-- CATALOG FILTER END -->

				</div>
				<!-- CATALOG TOP END -->

				<!-- CATALOG INNER -->

				<div class="catalog__inner">

					<!-- CATALOG BLOCK -->
					<div class="catalog-block">
						<div class="catalog-block__heading">
							<h2 class="catalog-block__title">
								Лидеры продаж
							</h2>
						</div>
						<div class="products-list">
							@@include('template/blocks/d-new/catalog/catalog-item.html', {
							"arr": [
							{
							"name" : "Витрина NWIT 1DL",
							"img":"pic/products/medium/product-01.jpg",
							"top" : "left-right"
							},
							{
							"name" : "Витрина NWIT 1DL",
							"img":"pic/products/medium/product-02.jpg",
							"top" : "left-right-truck"
							},
							{
							"name" : "Витрина NWIT 1DL",
							"img":"pic/products/medium/product-03.jpg",
							"top" : "left-right"
							},
							{
							"name" : "Витрина NWIT 1DL",
							"img":"pic/products/medium/product-04.jpg",
							"top" : "left-right-truck-%"
							}
							]
							})

						</div>
					</div>
					<!-- CATALOG BLOCK END -->

					<!-- CATALOG BLOCK -->
					<div class="catalog-block">
						<!--CATALOG BLOCK HEADING  -->
						<div class="catalog-block__heading">
							<h2 class="catalog-block__title">
								Каталог
							</h2>
							<div class="sort catalog__sort">
								<div class="catalog__sort-inner">
									<a href="#" class="sort__btn">
										<span class="sort__item">
											<span class="sort__item-text">
												Сортировать по:
											</span>
											<span class="sort__item-icon">
												<svg class="icon-arrow-long">
													<use xlink:href="#arrow-long"></use>
												</svg>
											</span>
										</span>
									</a>
									<span class="sort__title">
										Сортировать по:
									</span>
									<div class="sort__list">
										<span class="sort__item">
											<span class="sort__item-text">
												Цене
											</span>
											<span class="sort__item-icon">
												<svg class="icon-arrow-long">
													<use xlink:href="#arrow-long"></use>
												</svg>
											</span>
										</span>
										<span class="sort__item">
											<span class="sort__item-text">
												Популярности
											</span>
											<span class="sort__item-icon">
												<svg class="icon-arrow-long">
													<use xlink:href="#arrow-long"></use>
												</svg>
											</span>
										</span>
										<span class="sort__item">
											<span class="sort__item-text">
												Названию
											</span>
											<span class="sort__item-icon">
												<svg class="icon-arrow-long">
													<use xlink:href="#arrow-long"></use>
												</svg>
											</span>
										</span>
									</div>
								</div>
							</div>
						</div>
						<!--CATALOG BLOCK HEADING  -->

						<!--PRODUCTS LIST  -->
						<div class="products-list js-equal-height">
							@@include('template/blocks/d-new/catalog/catalog-item.html', {
							"arr": [
							{
							"name" : "Витрина NWIT 1DL",
							"img":"pic/products/medium/product-01.jpg",
							"top" : "left-right"
							},
							{
							"name" : "Витрина NWIT 1DL",
							"img":"pic/products/medium/product-02.jpg",
							"top" : "left-right-truck"
							},
							{
							"name" : "Витрина NWIT 1DL",
							"img":"pic/products/medium/product-03.jpg",
							"top" : "left-right"
							},
							{
							"name" : "Витрина NWIT 1DL",
							"img":"pic/products/medium/product-04.jpg",
							"top" : "left-right-truck-%"
							},
							{
							"name" : "Витрина NWIT 1DL",
							"img":"pic/products/medium/product-01.jpg",
							"top" : "left-right"
							},
							{
							"name" : "Витрина NWIT 1DL",
							"img":"pic/products/medium/product-02.jpg",
							"top" : "left-right-truck"
							},
							{
							"name" : "Витрина NWIT 1DL",
							"img":"pic/products/medium/product-03.jpg",
							"top" : "left-right"
							},
							{
							"name" : "Витрина NWIT 1DL",
							"img":"pic/products/medium/product-04.jpg",
							"top" : "left-right-truck-%"
							}
							]
							})


							<!-- BANNER -->
							<div class="banner" style="background-image: url('pic/bg/catalog-bg.jpg');">
								<div class="banner__left">
									<div class="banner-logo">
										<svg class="icon-logo-small">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo-small"></use>
										</svg>
									</div>
									<div class="banner-text">
										Широкий выбор
										<strong>модульной мебели</strong>
									</div>
								</div>
								<div class="banner__right">
									<div class="banner-links">
										<div class="banner-links__list">
											<div class="banner-links__list-item">
												<a href="#" class="banner-links__item">
													<span class="banner-links__item-icon">
														<svg class="icon-chevron">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
														</svg>
													</span>
													<span class="banner-links__item-text">
														Гостиные
													</span>
												</a>
											</div>
											<div class="banner-links__list-item">
												<a href="#" class="banner-links__item">
													<span class="banner-links__item-icon">
														<svg class="icon-chevron">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
														</svg>
													</span>
													<span class="banner-links__item-text">
														Кухни
													</span>
												</a>
											</div>
											<div class="banner-links__list-item">
												<a href="#" class="banner-links__item">
													<span class="banner-links__item-icon">
														<svg class="icon-chevron">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
														</svg>
													</span>
													<span class="banner-links__item-text">
														Детские
													</span>
												</a>
											</div>
											<div class="banner-links__list-item">
												<a href="#" class="banner-links__item">
													<span class="banner-links__item-icon">
														<svg class="icon-chevron">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
														</svg>
													</span>
													<span class="banner-links__item-text">
														Спальни
													</span>
												</a>
											</div>
											<div class="banner-links__list-item">
												<a href="#" class="banner-links__item">
													<span class="banner-links__item-icon">
														<svg class="icon-chevron">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
														</svg>
													</span>
													<span class="banner-links__item-text">
														Прихожие
													</span>
												</a>
											</div>
											<div class="banner-links__list-item">
												<a href="#" class="banner-links__item">
													<span class="banner-links__item-icon">
														<svg class="icon-chevron">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
														</svg>
													</span>
													<span class="banner-links__item-text">
														Кабинеты
													</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- BANNER END -->


							@@include('template/blocks/d-new/catalog/catalog-item.html', {
							"arr": [
							{
							"name" : "Витрина NWIT 1DL",
							"img":"pic/products/medium/product-01.jpg",
							"top" : "left-right"
							},
							{
							"name" : "Витрина NWIT 1DL",
							"img":"pic/products/medium/product-02.jpg",
							"top" : "left-right-truck"
							},
							{
							"name" : "Витрина NWIT 1DL",
							"img":"pic/products/medium/product-03.jpg",
							"top" : "left-right"
							},
							{
							"name" : "Витрина NWIT 1DL",
							"img":"pic/products/medium/product-04.jpg",
							"top" : "left-right-truck-%"
							},
							{
							"name" : "Витрина NWIT 1DL",
							"img":"pic/products/medium/product-01.jpg",
							"top" : "left-right"
							},
							{
							"name" : "Витрина NWIT 1DL",
							"img":"pic/products/medium/product-02.jpg",
							"top" : "left-right-truck"
							},
							{
							"name" : "Витрина NWIT 1DL",
							"img":"pic/products/medium/product-03.jpg",
							"top" : "left-right"
							},
							{
							"name" : "Витрина NWIT 1DL",
							"img":"pic/products/medium/product-04.jpg",
							"top" : "left-right-truck-%"
							},
							{
							"name" : "Витрина NWIT 1DL",
							"img":"pic/products/medium/product-01.jpg",
							"top" : "left-right"
							},
							{
							"name" : "Витрина NWIT 1DL",
							"img":"pic/products/medium/product-02.jpg",
							"top" : "left-right-truck"
							},
							{
							"name" : "Витрина NWIT 1DL",
							"img":"pic/products/medium/product-03.jpg",
							"top" : "left-right"
							},
							{
							"name" : "Витрина NWIT 1DL",
							"img":"pic/products/medium/product-04.jpg",
							"top" : "left-right-truck-%"
							}
							]
							})
						</div>
						<ul class="pagination-list catalog__pagination-list">
							<li class="pagination-list__item pagination-list__item--prev">
								<div class="pagination-item">
									<a href="#" class="pagination-item__link pagination-item__link-prev">
										<svg class="icon-arrow-tobottom pagination-item__link-prev-image"><use xlink:href="#arrow-tobottom"></use></svg>
									</a>
								</div>
							</li>
							<li class="pagination-list__item">
								<div class="pagination-item">
									<a href="#" class="pagination-item__link pagination-item__link--active">1</a>
								</div>
							</li>
							<li class="pagination-list__item">
								<div class="pagination-item">
									<a href="#" class="pagination-item__link">2</a>
								</div>
							</li>
							<li class="pagination-list__item">
								<div class="pagination-item">
									<a href="#" class="pagination-item__link">3</a>
								</div>
							</li>
							<li class="pagination-list__item">
								<div class="pagination-item">
									<a href="#" class="pagination-item__link">4</a>
								</div>
							</li>
							<li class="pagination-list__item pagination-list__item--next">
								<div class="pagination-item">
									<a href="#" class="pagination-item__link pagination-item__link-next">
										<svg class="icon-arrow-tobottom pagination-item__link-next-image"><use xlink:href="#arrow-tobottom"></use></svg>
									</a>
								</div>
							</li>
						</ul>
						<!-- PRODUCTS LIST END  -->
					</div>
					<!-- CATALOG BLOCK END -->


				</div>
				<!-- CATALOG INNER END -->
			</div>
			<!-- CONTENT END-->
			
			<!-- SEO TEXT -->
			@@include('template/blocks/seo.html')
			<!-- SEO TEXT END -->
		</div>
	</main>
	<!-- content end -->
</div>
<!-- wrapper end -->

@@include('template/layout/footer.html')
@@include('template/layout/footer-head.html')
</body>
</html> 