@@include('template/layout/head.html')
<body>
@@include('template/layout/svg.html')
@@include('template/layout/oldbrowser.html')
<!-- wrapper -->
<div class="wrapper">
    @@include('template/layout/header.html')

    <!-- content -->
    <main class="content" role="main">
        <div class="container">

            <!-- BREADCRUMBS -->
            <div class="breadcrumbs">
                <ul class="breadcrumbs-list">
                    <li class="breadcrumbs-list__item breadcrumbs-list__item--hide">
						<span class="breadcrumbs-item breadcrumbs-item--main">
							<a href="#" class="breadcrumbs-item__link">
								<svg class="icon-arrow-tobottom breadcrumbs-item__link-marker">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
								</svg>
								<span class="breadcrumbs-item__link-text">В каталог</span>
							</a>
						</span>
                    </li>
                    <li class="breadcrumbs-list__item">
						<span class="breadcrumbs-item breadcrumbs-item--main">
							<a href="#" class="breadcrumbs-item__link">
								<svg class="icon-arrow-tobottom breadcrumbs-item__link-marker">
									<use xlink:href="#arrow-tobottom"></use>
								</svg>
								<span class="breadcrumbs-item__link-text">Главная</span>
							</a>
						</span>
                    </li>
                    <li class="breadcrumbs-list__item">
						<span class="breadcrumbs-item">
							<span class="breadcrumbs-item__link breadcrumbs-item__link--active">Прихожие</span>
						</span>
                    </li>
                </ul>
            </div>
            <!-- BREADCRUMBS END -->

            <!-- CONTENT -->
            <div class="catalog">

                <!-- CATALOG HEADING -->
                <div class="catalog__heading">
                    <h1 class="catalog__title">Недорогие прихожие</h1>
                </div>

                <!-- CATALOG HEADING END -->

                <!-- CATALOG TOP -->
                <div class="catalog__top ">

                    <!-- CATALOG TAGS  -->
                    <div class="tags catalog__tags js-filter-drop-parent-r">
                        <a href="#" class="tags__btn btn js-filter-btn-r">
                            Теги
                            <svg class="icon-drop-arrow tags__btn-arrow">
                                <use xlink:href="#arrow-tobottom"></use>
                            </svg>
                        </a>

                        <div class="tags__inner js-filter-drop-r">
							<span class="tags__title">
								Часто ищут:
							</span>

                            <ul class="tags-list">
                                <li class="tags-list__item">
                                    двуспальная кровать
                                </li>
                                <li class="tags-list__item">
                                    кровать односпальная
                                </li>
                                <li class="tags-list__item current">
                                    детские кровати
                                </li>
                                <li class="tags-list__item">
                                    подростковые кровати
                                </li>
                                <li class="tags-list__item">
                                    диван кровать
                                </li>
                                <li class="tags-list__item">
                                    кровать с ящиками
                                </li>
                            </ul>

                            <a href="#" class="tags__more">Показать все</a>
                        </div>

                    </div>
                    <!-- CATALOG TAGS -->

                    <!-- CATALOG FILTER -->
                    <div class="filter-wrap">
                        <div class="filter js-filter-drop-parent-r js-filter-scroll">
							<span class="filter__btn btn js-filter-btn-r">Фильтры
								<svg class="icon-drop-arrow filter__btn-arrow">
									<use xlink:href="#arrow-tobottom"></use>
								</svg>
							</span>
                            <span class="filter__title">
								Фильтр:
							</span>

                            <div class="resp-filter-drop js-filter-drop-r">
                                <div class="filter__fields js-drop-holder">
                                    <form class="filter__select js-filter-drop-parent">
                                        <!-- STYLE DROP BTN -->
                                        <div class="filter-drop-btn-wrap">
											<span class="btn filter-drop-btn js-filter-btn">
												<span class="filter-drop-btn__placeholder js-filter-placeholder">Стиль</span>
												<span class="filter-drop-btn__active-text js-filter-active-text">
													<span class="chosen-amount js-checkboxes-amount">
															
													</span>
													стиля
												</span>
												<span class="js-filter-btn-arrow">
													<svg class="icon-drop-arrow filter-drop-btn__arrow ">
														<use xlink:href="#arrow-tobottom"></use>
													</svg>
												</span>										
											</span>
                                            <span class="js-filter-btn-cross">
												<svg class="icon-drop-cross filter-drop-btn__cross ">
													<use xlink:href="#close"></use>
												</svg>
											</span>
                                        </div>
                                        <!-- STYLE DROP BTN END -->

                                        <!-- CHECKBOXES DROP -->
                                        <div class="checkboxes filter-drop js-filter-drop ">
                                            <div class="checkboxes__inner">
                                                <div class="checkboxes__item">
                                                    <label class="checkbox ">
                                                        <input type="checkbox" class="checkbox__check js-checkbox">
                                                        <span class="checkbox__icon">
															<svg class="icon-check checkbox__icon-image">
																<use xlink:href="#check"></use>
															</svg>
														</span>
                                                        <span class="checkbox__inner">
															<span class="checkbox__text">Светлый</span>
														</span>
                                                    </label>
                                                </div>
                                                <div class="checkboxes__item">
                                                    <label class="checkbox">
                                                        <input type="checkbox" class="checkbox__check  js-checkbox">
                                                        <span class="checkbox__icon">
															<svg class="icon-check checkbox__icon-image">
																<use xlink:href="#check"></use>
															</svg>
														</span>
                                                        <span class="checkbox__inner">
															<span class="checkbox__text">Темный</span>
														</span>
                                                    </label>
                                                </div>
                                                <div class="checkboxes__item">
                                                    <label class="checkbox ">
                                                        <input type="checkbox" class="checkbox__check js-checkbox">
                                                        <span class="checkbox__icon">
															<svg class="icon-check checkbox__icon-image">
																<use xlink:href="#check"></use>
															</svg>
														</span>
                                                        <span class="checkbox__inner">
															<span class="checkbox__text">Бежевый</span>
														</span>
                                                    </label>
                                                </div>
                                                <div class="checkboxes__item">
                                                    <label class="checkbox ">
                                                        <input type="checkbox" class="checkbox__check js-checkbox">
                                                        <span class="checkbox__icon">
															<svg class="icon-check checkbox__icon-image">
																<use xlink:href="#check"></use>
															</svg>
														</span>
                                                        <span class="checkbox__inner">
															<span class="checkbox__text">Светлый</span>
														</span>
                                                    </label>
                                                </div>
                                                <div class="checkboxes__item">
                                                    <label class="checkbox ">
                                                        <input type="checkbox" class="checkbox__check js-checkbox">
                                                        <span class="checkbox__icon">
															<svg class="icon-check checkbox__icon-image">
																<use xlink:href="#check"></use>
															</svg>
														</span>
                                                        <span class="checkbox__inner">
															<span class="checkbox__text">Светлый</span>
														</span>
                                                    </label>
                                                </div>
                                                <div class="checkboxes__item">
                                                    <label class="checkbox ">
                                                        <input type="checkbox" class="checkbox__check js-checkbox">
                                                        <span class="checkbox__icon">
															<svg class="icon-check checkbox__icon-image">
																<use xlink:href="#check"></use>
															</svg>
														</span>
                                                        <span class="checkbox__inner">
															<span class="checkbox__text">Темный</span>
														</span>
                                                    </label>
                                                </div>
                                                <div class="checkboxes__item">
                                                    <label class="checkbox ">
                                                        <input type="checkbox" class="checkbox__check js-checkbox">
                                                        <span class="checkbox__icon">
															<svg class="icon-check checkbox__icon-image">
																<use xlink:href="#check"></use>
															</svg>
														</span>
                                                        <span class="checkbox__inner">
															<span class="checkbox__text">Бежевый</span>
														</span>
                                                    </label>
                                                </div>
                                                <div class="checkboxes__item">

                                                    <label class="checkbox ">
                                                        <input type="checkbox" class="checkbox__check js-checkbox">
                                                        <span class="checkbox__icon">
															<svg class="icon-check checkbox__icon-image">
																<use xlink:href="#check"></use>
															</svg>
														</span>
                                                        <span class="checkbox__inner">
															<span class="checkbox__text">Светлый</span>
														</span>
                                                    </label>
                                                </div>
                                                <div class="checkboxes__item">
                                                    <label class="checkbox js-checkbox">

                                                        <input type="checkbox" class="checkbox__check js-checkbox">
                                                        <span class="checkbox__icon">
															<svg class="icon-check checkbox__icon-image">
																<use xlink:href="#check"></use>
															</svg>
														</span>
                                                        <span class="checkbox__inner">
															<span class="checkbox__text">Светлый</span>
														</span>
                                                    </label>
                                                </div>
                                                <div class="checkboxes__item">
                                                    <label class="checkbox">

                                                        <input type="checkbox" class="checkbox__check js-checkbox">
                                                        <span class="checkbox__icon">
															<svg class="icon-check checkbox__icon-image">
																<use xlink:href="#check"></use>
															</svg>
														</span>
                                                        <span class="checkbox__inner">
															<span class="checkbox__text">Темный</span>
														</span>
                                                    </label>
                                                </div>
                                                <div class="checkboxes__item">
                                                    <label class="checkbox">
                                                        <input type="checkbox" class="checkbox__check js-checkbox">
                                                        <span class="checkbox__icon">
															<svg class="icon-check checkbox__icon-image">
																<use xlink:href="#check"></use>
															</svg>
														</span>
                                                        <span class="checkbox__inner">
															<span class="checkbox__text">Бежевый</span>
														</span>
                                                    </label>
                                                </div>
                                                <div class="checkboxes__item">
                                                    <label class="checkbox">
                                                        <input type="checkbox" class="checkbox__check js-checkbox">
                                                        <span class="checkbox__icon">
															<svg class="icon-check checkbox__icon-image">
																<use xlink:href="#check"></use>
															</svg>
														</span>
                                                        <span class="checkbox__inner">
															<span class="checkbox__text">Светлый</span>
														</span>
                                                    </label>
                                                </div>
                                                <div class="checkboxes__item">
                                                    <label class="checkbox">
                                                        <input type="checkbox" class="checkbox__check js-checkbox">
                                                        <span class="checkbox__icon">
															<svg class="icon-check checkbox__icon-image">
																<use xlink:href="#check"></use>
															</svg>
														</span>
                                                        <span class="checkbox__inner">
															<span class="checkbox__text">Светлый</span>
														</span>
                                                    </label>
                                                </div>
                                                <div class="checkboxes__item">
                                                    <label class="checkbox">
                                                        <input type="checkbox" class="checkbox__check js-checkbox">
                                                        <span class="checkbox__icon">
															<svg class="icon-check checkbox__icon-image">
																<use xlink:href="#check"></use>
															</svg>
														</span>
                                                        <span class="checkbox__inner">
															<span class="checkbox__text">Темный</span>
														</span>
                                                    </label>
                                                </div>
                                                <div class="checkboxes__item">
                                                    <label class="checkbox">
                                                        <input type="checkbox" class="checkbox__check js-checkbox">
                                                        <span class="checkbox__icon">
															<svg class="icon-check checkbox__icon-image">
																<use xlink:href="#check"></use>
															</svg>
														</span>
                                                        <span class="checkbox__inner">
															<span class="checkbox__text">Бежевый</span>
														</span>
                                                    </label>
                                                </div>
                                                <div class="checkboxes__item">
                                                    <label class="checkbox">
                                                        <input type="checkbox" class="checkbox__check js-checkbox">
                                                        <span class="checkbox__icon">
															<svg class="icon-check checkbox__icon-image">
																<use xlink:href="#check"></use>
															</svg>
														</span>
                                                        <span class="checkbox__inner">
															<span class="checkbox__text">Светлый</span>
														</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="checkboxes__action js-filter-action">
                                                <div class="checkboxes__action-apply">
                                                    <button type="submit" class="btn btn-orange">
                                                        Применить
                                                    </button>
                                                </div>
                                                <div class="checkboxes__action-reset">
                                                    <input type="reset" class="btn btn-border-brown js-filter-reset"
                                                           value="сбросить">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- CHECKBOXES DROP END -->
                                    </form>


                                    <form class="filter__select js-filter-drop-parent">
                                        <!-- STYLE DROP BTN -->
                                        <div class="filter-drop-btn-wrap">
											<span class="btn filter-drop-btn js-filter-btn">
												<span class="filter-drop-btn__placeholder js-filter-placeholder">Цвет</span>
												<span class="filter-drop-btn__active-text js-filter-active-text">
													<span class="chosen-amount js-checkboxes-amount">
															
													</span>
													цвета
												</span>
												<span class="js-filter-btn-arrow">
													<svg class="icon-drop-arrow filter-drop-btn__arrow ">
														<use xlink:href="#arrow-tobottom"></use>
													</svg>
												</span>	
												
											</span>
                                            <span class="js-filter-btn-cross">
												<svg class="icon-drop-cross filter-drop-btn__cross ">
													<use xlink:href="#close"></use>
												</svg>
											</span>
                                        </div>
                                        <!-- STYLE DROP BTN END -->

                                        <!-- CHECKBOXES DROP -->
                                        <div class="checkboxes filter-drop js-filter-drop ">
                                            <div class="checkboxes__inner">
                                                <div class="checkboxes__item">
                                                    <label class="checkbox">
                                                        <input type="checkbox" class="checkbox__check js-checkbox">
                                                        <span class="checkbox__icon">
															<svg class="icon-check checkbox__icon-image">
																<use xlink:href="#check"></use>
															</svg>
														</span>
                                                        <span class="checkbox__inner">
															<span class="checkbox__text">Светлый</span>
														</span>
                                                    </label>
                                                </div>
                                                <div class="checkboxes__item">
                                                    <label class="checkbox">
                                                        <input type="checkbox" class="checkbox__check js-checkbox">
                                                        <span class="checkbox__icon">
															<svg class="icon-check checkbox__icon-image">
																<use xlink:href="#check"></use>
															</svg>
														</span>
                                                        <span class="checkbox__inner">
															<span class="checkbox__text">Темный</span>
														</span>
                                                    </label>
                                                </div>
                                                <div class="checkboxes__item">
                                                    <label class="checkbox">
                                                        <input type="checkbox" class="checkbox__check js-checkbox">
                                                        <span class="checkbox__icon">
															<svg class="icon-check checkbox__icon-image">
																<use xlink:href="#check"></use>
															</svg>
														</span>
                                                        <span class="checkbox__inner">
															<span class="checkbox__text">Бежевый</span>
														</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="checkboxes__action js-filter-action">
                                                <div class="checkboxes__action-apply">
                                                    <button type="submit" class="btn btn-orange">
                                                        Применить
                                                    </button>
                                                </div>
                                                <div class="checkboxes__action-reset">
                                                    <input type="reset" class="btn btn-border-brown js-filter-reset"
                                                           value="сбросить">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- CHECKBOXES DROP END -->
                                    </form>

                                    <!-- <div class="resp-filter-drop__bottom">
                                        <button type="submit" class="btn btn-border-brown resp-filter-drop__submit">применить</button>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- CATALOG FILTER END -->

                </div>
                <!-- CATALOG TOP END -->

                <!-- CATALOG INNER -->

                <div class="catalog__inner">

                    <div class="catalog-block">

                        <div class="catalog-block__heading">
                            <h2 class="catalog-block__title">
                                Лидеры продаж
                            </h2>
                        </div>

                        <div class="modular-cards-list">
                            @@include('template/blocks/d-new/directory-module-item.html', {
                            "ary": [
                            {
                            "img" : "pic/modular-cards/photo-01.jpg",
                            "title" : "Болден",
                            "elems" : "67",
                            "mod" : "<div class='mod__mark'>Хит</div>"
                            },
                            {
                            "img" : "pic/modular-cards/photo-02.jpg",
                            "title" : "Вена",
                            "elems" : "87",
                            "mod" : "<div class='mod__mark'>Хит</div>"
                            },
                            {
                            "img" : "pic/modular-cards/photo-03.jpg",
                            "title" : "Верона",
                            "elems" : "40",
                            "mod" : "<div class='mod__mark'>Хит</div>"
                            },
                            {
                            "img" : "pic/modular-cards/photo-04.jpg",
                            "title" : "Верона Европа",
                            "elems" : "67",
                            "mod" : "<div class='mod__mark'>Хит</div>"
                            }


                            ]
                            })
                        </div>

                    </div>

                    <div class="catalog-block">

                        <div class="catalog-block__heading">
                            <h2 class="catalog-block__title">
                                Каталог
                            </h2>
                        </div>

                        <div class="modular-cards-list">
                            @@include('template/blocks/d-new/directory-module-item.html', {
                            "ary": [
                            {
                            "img" : "pic/modular-cards/photo-01.jpg",
                            "title" : "Болден",
                            "elems" : "67",
                            "mod" : ""
                            },
                            {
                            "img" : "pic/modular-cards/photo-02.jpg",
                            "title" : "Вена",
                            "elems" : "87",
                            "mod" : "<div class='modular-cards-item__sale sale-marker'><span class='sale-marker__text'>30%</span></div>"
                            },
                            {
                            "img" : "pic/modular-cards/photo-03.jpg",
                            "title" : "Верона",
                            "elems" : "40",
                            "mod" : ""
                            },
                            {
                            "img" : "pic/modular-cards/photo-04.jpg",
                            "title" : "Верона Европа",
                            "elems" : "67",
                            "mod" : "<div class='modular-cards-item__sale sale-marker'><span class='sale-marker__text'>30%</span></div>"
                            },
                            {
                            "img" : "pic/modular-cards/photo-01.jpg",
                            "title" : "Болден",
                            "elems" : "67",
                            "mod" : ""
                            },
                            {
                            "img" : "pic/modular-cards/photo-02.jpg",
                            "title" : "Вена",
                            "elems" : "87",
                            "mod" : "<div class='modular-cards-item__sale sale-marker'><span class='sale-marker__text'>30%</span></div>"
                            },
                            {
                            "img" : "pic/modular-cards/photo-03.jpg",
                            "title" : "Верона",
                            "elems" : "40",
                            "mod" : ""
                            },
                            {
                            "img" : "pic/modular-cards/photo-04.jpg",
                            "title" : "Верона Европа",
                            "elems" : "67",
                            "mod" : "<div class='modular-cards-item__sale sale-marker'><span class='sale-marker__text'>30%</span></div>"
                            },
                            {
                            "img" : "pic/modular-cards/photo-01.jpg",
                            "title" : "Болден",
                            "elems" : "67",
                            "mod" : ""
                            },
                            {
                            "img" : "pic/modular-cards/photo-02.jpg",
                            "title" : "Вена",
                            "elems" : "87",
                            "mod" : "<div class='modular-cards-item__sale sale-marker'><span class='sale-marker__text'>30%</span></div>"
                            },
                            {
                            "img" : "pic/modular-cards/photo-03.jpg",
                            "title" : "Верона",
                            "elems" : "40",
                            "mod" : ""
                            },
                            {
                            "img" : "pic/modular-cards/photo-04.jpg",
                            "title" : "Верона Европа",
                            "elems" : "67",
                            "mod" : "<div class='modular-cards-item__sale sale-marker'><span class='sale-marker__text'>30%</span></div>"
                            },
                            {
                            "img" : "pic/modular-cards/photo-01.jpg",
                            "title" : "Болден",
                            "elems" : "67",
                            "mod" : ""
                            },
                            {
                            "img" : "pic/modular-cards/photo-02.jpg",
                            "title" : "Вена",
                            "elems" : "87",
                            "mod" : "<div class='modular-cards-item__sale sale-marker'><span class='sale-marker__text'>30%</span></div>"
                            },
                            {
                            "img" : "pic/modular-cards/photo-03.jpg",
                            "title" : "Верона",
                            "elems" : "40",
                            "mod" : ""
                            },
                            {
                            "img" : "pic/modular-cards/photo-04.jpg",
                            "title" : "Верона Европа",
                            "elems" : "67",
                            "mod" : "<div class='modular-cards-item__sale sale-marker'><span class='sale-marker__text'>30%</span></div>"
                            },
                            {
                            "img" : "pic/modular-cards/photo-01.jpg",
                            "title" : "Болден",
                            "elems" : "67",
                            "mod" : ""
                            },
                            {
                            "img" : "pic/modular-cards/photo-02.jpg",
                            "title" : "Вена",
                            "elems" : "87",
                            "mod" : "<div class='modular-cards-item__sale sale-marker'><span class='sale-marker__text'>30%</span></div>"
                            },
                            {
                            "img" : "pic/modular-cards/photo-03.jpg",
                            "title" : "Верона",
                            "elems" : "40",
                            "mod" : ""
                            },
                            {
                            "img" : "pic/modular-cards/photo-04.jpg",
                            "title" : "Верона Европа",
                            "elems" : "67",
                            "mod" : "<div class='modular-cards-item__sale sale-marker'><span class='sale-marker__text'>30%</span></div>"
                            }


                            ]
                            })
                        </div>

                    </div>

                </div>
                <!-- CATALOG INNER END -->
            </div>
            <!-- CONTENT END-->

            <!-- SEO TEXT -->
            @@include('template/blocks/seo.html')
            <!-- SEO TEXT END -->
        </div>
    </main>
    <!-- content end -->

</div>
<!-- wrapper end -->

@@include('template/layout/footer.html')
@@include('template/layout/footer-head.html')
</body>
</html> 