@@include('template/layout/head.html')
<body>
@@include('template/layout/svg.html')
@@include('template/layout/oldbrowser.html')

<!-- wrapper -->
<div class="wrapper">
	@@include('template/layout/header.html') 

	<!-- content -->
	<div class="content" role="main">
		<div class="container">
			<div class="breadcrumbs">
				<ul class="breadcrumbs-list">
					<li class="breadcrumbs-list__item breadcrumbs-list__item--hide">
						<span class="breadcrumbs-item breadcrumbs-item--main">
							<a href="#" class="breadcrumbs-item__link">
								<svg class="icon-arrow-tobottom breadcrumbs-item__link-marker">
									<use xlink:href="#arrow-tobottom"></use>
								</svg>
								<span class="breadcrumbs-item__link-text">На главную</span>
							</a>
						</span>
					</li>
					<li class="breadcrumbs-list__item">
						<span class="breadcrumbs-item breadcrumbs-item--main">
							<a href="#" class="breadcrumbs-item__link">
								<svg class="icon-arrow-tobottom breadcrumbs-item__link-marker">
									<use xlink:href="#arrow-tobottom"></use>
								</svg>
								<span class="breadcrumbs-item__link-text">Главная</span>
							</a>
						</span>
					</li>
					<li class="breadcrumbs-list__item">
						<span class="breadcrumbs-item">
							<span class="breadcrumbs-item__link breadcrumbs-item__link--active">Скидки</span>
						</span>
					</li>
				</ul>
			</div>
			<div class="content-box">
				<h1 class="content-box__heading">Скидки и акции</h1>
				<div class="discounts-page">
					<div class="discounts-page__item">
						<h2 class="discounts-page__title">
							Скидки
						</h2>
						<div class="discounts js-accordeon-list" data-resolution="tablet">
							<div class="discounts-item js-accordeon-item">
								<div class="discounts-item__head js-accordeon__trigger">
									<div class="discounts-item__num">
										1
									</div>
									<div class="discounts-item__title">
										От суммы:
									</div>
									<div class="discounts-item__head-arrow">
										<svg class="icon-arrow-tobottom">
											<use xlink:href="#arrow-tobottom"></use>
										</svg>
									</div>
								</div>
								<div class="js-accordion__inner discounts-item__inner">
									<ul class="discounts-list">
										<li class="discounts-list__item">
											<span class="discounts-list__icon">
												<svg class="icon-list-marker">
													<use xlink:href="#arrow-tobottom"></use>
												</svg>
											</span>
											<span class="discounts-list__text">
												от 35 000 до 69 999 - 3%
											</span>
										</li>
										<li class="discounts-list__item">
											<span class="discounts-list__icon">
												<svg class="icon-list-marker">
													<use xlink:href="#arrow-tobottom"></use>
												</svg>
											</span>
											<span class="discounts-list__text">
												от 70 000 до 104 999 - 4%
											</span>
										</li>
										<li class="discounts-list__item">
											<span class="discounts-list__icon">
												<svg class="icon-list-marker">
													<use xlink:href="#arrow-tobottom"></use>
												</svg>
											</span>
											<span class="discounts-list__text">
												от 105 000 до 139 999 - 5%
											</span>
										</li>
										<li class="discounts-list__item">
											<span class="discounts-list__icon">
												<svg class="icon-list-marker">
													<use xlink:href="#arrow-tobottom"></use>
												</svg>
											</span>
											<span class="discounts-list__text">
												от 140 000 до 209 999 - 6%
											</span>
										</li>
										<li class="discounts-list__item">
											<span class="discounts-list__icon">
												<svg class="icon-list-marker">
													<use xlink:href="#arrow-tobottom"></use>
												</svg>
											</span>
											<span class="discounts-list__text">
												от 210 000 до 279 999 - 7%
											</span>
										</li>
										<li class="discounts-list__item">
											<span class="discounts-list__icon">
												<svg class="icon-list-marker">
													<use xlink:href="#arrow-tobottom"></use>
												</svg>
											</span>
											<span class="discounts-list__text">
												от 280 000 до 399 999 - 8%
											</span>
										</li>
										<li class="discounts-list__item">
											<span class="discounts-list__icon">
												<svg class="icon-list-marker">
													<use xlink:href="#arrow-tobottom"></use>
												</svg>
											</span>
											<span class="discounts-list__text">
												При покупке свыше 400 000 руб. <strong>VIP - скидка  - 10%</strong>
											</span>
										</li>
										
									</ul>
								</div>
							</div>
							<div class="discounts-item js-accordeon-item">
								<div class="discounts-item__head js-accordeon__trigger">
									<div class="discounts-item__num">
										2
									</div>
									<div class="discounts-item__title">
										Пенсионерам и инвалидам - 5%
									</div>
									<div class="discounts-item__head-arrow">
										<svg class="icon-arrow-tobottom">
											<use xlink:href="#arrow-tobottom"></use>
										</svg>
									</div>
								</div>
								<div class="js-accordion__inner discounts-item__inner">
									<div class="discounts-item__img">
										<img src="pic/discounts/discounts-01.jpg" alt="">
									</div>
									<div class="discounts-item__strong">
										<span class="discounts-item__strong-icon">
											<svg class="icon-info">
												<use xlink:href="#info"></use>
											</svg>
										</span>
										<div class="discounts-item__strong-text">
											Предоставляется при предъявлении удостоверения; к договору прикладывается копия.
									
										</div>
									</div>
								</div>
							</div>
							<div class="discounts-item js-accordeon-item">
								<div class="discounts-item__head js-accordeon__trigger">
									<div class="discounts-item__num">
										3
									</div>
									<div class="discounts-item__title">
										Именинникам - 8%
									</div>
									<div class="discounts-item__head-arrow">
										<svg class="icon-arrow-tobottom">
											<use xlink:href="#arrow-tobottom"></use>
										</svg>
									</div>
								</div>
								<div class="js-accordion__inner discounts-item__inner">
									<div class="discounts-item__img">
										<img src="pic/discounts/discounts-02.jpg" alt="">
									</div>
									<p class="discounts-item__text">
										до и после дня рождения в течение 14 дней (за неделю до дня рождения и неделю после для рождения) 8%
									</p>
									<div class="discounts-item__strong">
										<span class="discounts-item__strong-icon">
											<svg class="icon-info">
												<use xlink:href="#info"></use>
											</svg>
										</span>
										<div class="discounts-item__strong-text">
											Предоставляется при предъявлении удостоверения; к договору прикладывается копия.
									
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="discounts-page__item">
						<h2 class="discounts-page__title">
							Акции
						</h2>
						<div class="stocks">
							<div class="stocks-item">
								<div class="stocks-item__img">
									<img src="pic/stock/stock-01.jpg" alt="">
								</div>
								<div class="stocks-item__inner">
									<div class="stocks-item__sale-string">
										<a href="#sale-popup" class="sale sale--sm js-popup-link">
											<div class="sale__right">
												<div class="sale-date">
													<span class="sale-date__icon">
														<svg class="icon-sale-clock">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sale-clock"></use>
														</svg>
													</span>
													<span class="sale-date__text">
														<span class="sale-date__text-item">
															10 марта
														</span>
														<span class="sale-date__text-item">
															30 марта
														</span>
													</span>
												</div>
											</div>
											<div class="sale__main">
												<div class="sale__discount">
													<div class="sale-discount">
														<span class="sale-discount__inner"><span class="sale-discount__num">-30</span><span class="sale-discount__percent">%</span></span>
													</div>
												</div>
												<div class="sale__title">
													Black Red White	
												</div>
											</div>
										</a>
									</div>
									<div class="stocks-item__content">
										<h3 class="stocks-item__title">
											Весна пришла
										</h3>
										<p class="stocks-item__text">
											Не упустите возможность приобрести акционные товары Black Red White со скидками!
										</p>
									</div>
								</div>
							</div>
							<div class="stocks-item">
								<div class="stocks-item__img">
									<img src="pic/stock/stock-02.jpg" alt="">
								</div>
								<div class="stocks-item__inner">
									<div class="stocks-item__sale-string">
										<a href="#sale-popup" class="sale sale--sm js-popup-link">
											<div class="sale__right">
												<div class="sale-date">
													<span class="sale-date__icon">
														<svg class="icon-sale-clock">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sale-clock"></use>
														</svg>
													</span>
													<span class="sale-date__text">
														<span class="sale-date__text-item">
															10 марта
														</span>
														<span class="sale-date__text-item">
															30 марта
														</span>
													</span>
												</div>
											</div>
											<div class="sale__main">
												<div class="sale__discount">
													<div class="sale-discount">
														<span class="sale-discount__inner"><span class="sale-discount__num">-30</span><span class="sale-discount__percent">%</span></span>
													</div>
												</div>
												<div class="sale__title">
													Anrex		
												</div>
											</div>
										</a>
									</div>
									<div class="stocks-item__content">
										<h3 class="stocks-item__title">
											На все спальни
										</h3>
										<p class="stocks-item__text">
											Не упустите возможность приобрести акционные товары Black Red White со скидками!
										</p>
									</div>
								</div>
							</div>
							<div class="stocks-item">
								<div class="stocks-item__img">
									<img src="pic/stock/stock-03.jpg" alt="">
								</div>
								<div class="stocks-item__inner">
									<div class="stocks-item__sale-string">
										<a href="#sale-popup" class="sale sale--sm js-popup-link">
											<div class="sale__right">
												<div class="sale-date">
													<span class="sale-date__icon">
														<svg class="icon-sale-clock">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sale-clock"></use>
														</svg>
													</span>
													<span class="sale-date__text">
														<span class="sale-date__text-item">
															10 марта
														</span>
														<span class="sale-date__text-item">
															30 марта
														</span>
													</span>
												</div>
											</div>
											<div class="sale__main">
												<div class="sale__discount">
													<div class="sale-discount">
														<span class="sale-discount__inner"><span class="sale-discount__num">-10</span><span class="sale-discount__percent">%</span></span>
													</div>
												</div>
												<div class="sale__title">
													MebelGold	
												</div>
											</div>
										</a>
									</div>
									<div class="stocks-item__content">
										<h3 class="stocks-item__title">
											Апрель
										</h3>
										<p class="stocks-item__text">
											Не упустите возможность приобрести акционные товары Black Red White со скидками!
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- content end -->
	@@include('template/blocks/video-popup.html')
	@@include('template/blocks/sale-popup.html')
	<div class="footer-spacer"></div>
</div>
<!-- wrapper end -->
@@include('template/layout/footer.html')
@@include('template/layout/footer.html')

@@include('template/layout/footer-head.html')
</body>
</html> 