@@include('template/layout/head.html')
<body>
	<style>
		p {
			padding: 0 !important;
			line-height:1 !important;
			background: #a00 !important;
			margin:0 0 10px !important;
			letter-spacing: 0 !important;
			white-space:nowrap;
			color:#000;
			vertical-align: top;
			font-weight: 600;
		}
		.aaa {
			font-size: 20px;
		}
		.aaa2 {
			font-size: 30px; 
		}
		.aaa3 {
			font-size: 40px;
		}
		.aaa4 {
			font-size: 50px;
		}
		.aaa5 {
			font-size: 50px;
			font-weight: 700;
		}
	</style>

	<div class="container">
		<p>qwertyuioasdfghjklzxcvbnm йцуке</p>
		<p>QWERTYUIOPASDFGHJKLZXCVBNM ЙЦУКЕ</p>

		20px
		<p class="aaa">qwertyuioasdfghjklzxcvbnm йцуке</p>
		<p class="aaa">QWERTYUIOPASDFGHJKLZXCVBNM ЙЦУКЕ</p>
		
		30px
		<p class="aaa2">qwertyuioasdfghjklzxcvbnm йцуке</p>
		<p class="aaa2">QWERTYUIOPASDFGHJKLZXCVBNM ЙЦУКЕ</p>
	
		40px
		<p class="aaa3">qwertyuioasdfghjklzxcvbnm йцуке</p>
		<p class="aaa3">QWERTYUIOPASDFGHJKLZXCVBNM ЙЦУКЕ</p>

		50px
		<p class="aaa4">qwertyuioasdfghjklzxcvbnm йцуке</p>
		<p class="aaa4">QWERTYUIOPASDFGHJKLZXCVBNM ЙЦУКЕ</p>

		50px bold
		<p class="aaa5">qwertyuioasdfghjklzxcvbnm йцуке</p>
		<p class="aaa5">QWERTYUIOPASDFGHJKLZXCVBNM ЙЦУКЕ</p>
	</div>
</body>
</html> 