@@include('template/layout/head.html')
<body>
@@include('template/layout/svg.html')
@@include('template/layout/oldbrowser.html')

<!-- wrapper -->
<div class="wrapper">
	@@include('template/layout/header.html') 

	<!-- content -->
	<div class="content" role="main">
		<div class="container">
			<div class="breadcrumbs">
				<ul class="breadcrumbs-list">
					<li class="breadcrumbs-list__item breadcrumbs-list__item--hide">
						<span class="breadcrumbs-item breadcrumbs-item--main">
							<a href="#" class="breadcrumbs-item__link">
								<svg class="icon-arrow-tobottom breadcrumbs-item__link-marker">
									<use xlink:href="#arrow-tobottom"></use>
								</svg>
								<span class="breadcrumbs-item__link-text">На главную</span>
							</a>
						</span>
					</li>
					<li class="breadcrumbs-list__item">
						<span class="breadcrumbs-item breadcrumbs-item--main">
							<a href="#" class="breadcrumbs-item__link">
								<svg class="icon-arrow-tobottom breadcrumbs-item__link-marker">
									<use xlink:href="#arrow-tobottom"></use>
								</svg>
								<span class="breadcrumbs-item__link-text">Главная</span>
							</a>
						</span>
					</li>
					<li class="breadcrumbs-list__item">
						<span class="breadcrumbs-item">
							<a href="#" class="breadcrumbs-item__link">Фотогалерея</a>
							<svg class="icon-arrow-marker breadcrumbs-item__link-arrow">
								<use xlink:href="#arrow-marker"></use>
							</svg>
						</span>
					</li>
					<li class="breadcrumbs-list__item">
						<span class="breadcrumbs-item">
							<span class="breadcrumbs-item__link breadcrumbs-item__link--active">Белая мебель</span>
						</span>
					</li>
				</ul>
			</div>
			<div class="content-box">
				<h1 class="content-box__heading">Белая мебель</h1>
				<div class="gallery">
					<div class="gallery__slider">
						<div class="gallery-slider">

							<div class="gallery-slider__main js-gallery__slider">
								<div class="gallery-slider__main-item">
									<img src="pic/gallery/large/photo-01.jpg" alt="Gallery" class="gallery-slider__main-item-image">
								</div>
								<div class="gallery-slider__main-item">
									<img src="pic/gallery/large/photo-01.jpg" alt="Gallery" class="gallery-slider__main-item-image">
								</div>
								<div class="gallery-slider__main-item">
									<img src="pic/gallery/large/photo-01.jpg" alt="Gallery" class="gallery-slider__main-item-image">
								</div>
								<div class="gallery-slider__main-item">
									<img src="pic/gallery/large/photo-01.jpg" alt="Gallery" class="gallery-slider__main-item-image">
								</div>
								<div class="gallery-slider__main-item">
									<img src="pic/gallery/large/photo-01.jpg" alt="Gallery" class="gallery-slider__main-item-image">
								</div>
								<div class="gallery-slider__main-item">
									<img src="pic/gallery/large/photo-01.jpg" alt="Gallery" class="gallery-slider__main-item-image">
								</div>
								<div class="gallery-slider__main-item">
									<img src="pic/gallery/large/photo-01.jpg" alt="Gallery" class="gallery-slider__main-item-image">
								</div>
								<div class="gallery-slider__main-item">
									<img src="pic/gallery/large/photo-01.jpg" alt="Gallery" class="gallery-slider__main-item-image">
								</div>
								<div class="gallery-slider__main-item">
									<img src="pic/gallery/large/photo-01.jpg" alt="Gallery" class="gallery-slider__main-item-image">
								</div>
								<div class="gallery-slider__main-item">
									<img src="pic/gallery/large/photo-01.jpg" alt="Gallery" class="gallery-slider__main-item-image">
								</div>
								<div class="gallery-slider__main-item">
									<img src="pic/gallery/large/photo-01.jpg" alt="Gallery" class="gallery-slider__main-item-image">
								</div>
								<div class="gallery-slider__main-item">
									<img src="pic/gallery/large/photo-01.jpg" alt="Gallery" class="gallery-slider__main-item-image">
								</div>
							</div>

							<div class="gallery-slider__nav js-gallery__nav">
								<div class="gallery-slider__nav-item">
									<img src="pic/gallery/small/photo-02.jpg" alt="Gallery" class="gallery-slider__nav-item-image">
								</div>
								<div class="gallery-slider__nav-item">
									<img src="pic/gallery/small/photo-02.jpg" alt="Gallery" class="gallery-slider__nav-item-image">
								</div>
								<div class="gallery-slider__nav-item">
									<img src="pic/gallery/small/photo-02.jpg" alt="Gallery" class="gallery-slider__nav-item-image">
								</div>
								<div class="gallery-slider__nav-item">
									<img src="pic/gallery/small/photo-02.jpg" alt="Gallery" class="gallery-slider__nav-item-image">
								</div>
								<div class="gallery-slider__nav-item">
									<img src="pic/gallery/small/photo-02.jpg" alt="Gallery" class="gallery-slider__nav-item-image">
								</div>
								<div class="gallery-slider__nav-item">
									<img src="pic/gallery/small/photo-02.jpg" alt="Gallery" class="gallery-slider__nav-item-image">
								</div>
								<div class="gallery-slider__nav-item">
									<img src="pic/gallery/small/photo-02.jpg" alt="Gallery" class="gallery-slider__nav-item-image">
								</div>
								<div class="gallery-slider__nav-item">
									<img src="pic/gallery/small/photo-02.jpg" alt="Gallery" class="gallery-slider__nav-item-image">
								</div>
								<div class="gallery-slider__nav-item">
									<img src="pic/gallery/small/photo-02.jpg" alt="Gallery" class="gallery-slider__nav-item-image">
								</div>
								<div class="gallery-slider__nav-item">
									<img src="pic/gallery/small/photo-02.jpg" alt="Gallery" class="gallery-slider__nav-item-image">
								</div>
								<div class="gallery-slider__nav-item">
									<img src="pic/gallery/small/photo-02.jpg" alt="Gallery" class="gallery-slider__nav-item-image">
								</div>
								<div class="gallery-slider__nav-item">
									<img src="pic/gallery/small/photo-02.jpg" alt="Gallery" class="gallery-slider__nav-item-image">
								</div>
								<div class="gallery-slider__nav-item">
									<img src="pic/gallery/small/photo-02.jpg" alt="Gallery" class="gallery-slider__nav-item-image">
								</div>
							</div>
						</div>
					</div>
					

					<div class="gallery__container">
						<h2 class="gallery__container-heading">Другие альбомы</h2>
						<div class="gallery-list">
							<div class="gallery-list__item">
								<div class="gallery-item">
									<div class="gallery-item__image">
										<a href="#" class="gallery-item__image-link">
											<img src="pic/photogallery/photo-01.jpg" alt="Gallery" class="gallery-item__image-img">
										</a>
									</div>
									<div class="gallery-item__holder">
										<div class="gallery-item__heading">
											<a href="#" class="gallery-item__heading-link">БРВ мебель у клиентов</a>
										</div>
										<div class="gallery-item__photo">10 фото</div>
										<div class="gallery-item__button">
											<a href="#" class="btn btn-border-brown gallery-item__button-link">Смотреть все</a>
										</div>
									</div>
								</div>
							</div>
							<div class="gallery-list__item">
								<div class="gallery-item">
									<div class="gallery-item__image">
										<a href="#" class="gallery-item__image-link">
											<img src="pic/photogallery/photo-02.jpg" alt="Gallery" class="gallery-item__image-img">
										</a>
									</div>
									<div class="gallery-item__holder">
										<div class="gallery-item__heading">
											<a href="#" class="gallery-item__heading-link">Европа-мебель у клиентов</a>
										</div>
										<div class="gallery-item__photo">18 фото</div>
										<div class="gallery-item__button">
											<a href="#" class="btn btn-border-brown gallery-item__button-link">Смотреть все</a>
										</div>
									</div>
								</div>
							</div>
							<div class="gallery-list__item">
								<div class="gallery-item">
									<div class="gallery-item__image">
										<a href="#" class="gallery-item__image-link">
											<img src="pic/photogallery/photo-03.jpg" alt="Gallery" class="gallery-item__image-img">
										</a>
									</div>
									<div class="gallery-item__holder">
										<div class="gallery-item__heading">
											<a href="#" class="gallery-item__heading-link">Белая мебель</a>
										</div>
										<div class="gallery-item__photo">12 фото</div>
										<div class="gallery-item__button">
											<a href="#" class="btn btn-border-brown gallery-item__button-link">Смотреть все</a>
										</div>
									</div>
								</div>
							</div>
							<div class="gallery-list__item">
								<div class="gallery-item">
									<div class="gallery-item__image">
										<a href="#" class="gallery-item__image-link">
											<img src="pic/photogallery/photo-04.jpg" alt="Gallery" class="gallery-item__image-img">
										</a>
									</div>
									<div class="gallery-item__holder">
										<div class="gallery-item__heading">
											<a href="#" class="gallery-item__heading-link">Европа-мебель</a>
										</div>
										<div class="gallery-item__photo">8 фото</div>
										<div class="gallery-item__button">
											<a href="#" class="btn btn-border-brown gallery-item__button-link">Смотреть все</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- content end -->
	
	<div class="footer-spacer"></div>
</div>
<!-- wrapper end -->

@@include('template/layout/footer.html')
@@include('template/layout/footer-head.html')
</body>
</html> 