@@include('template/layout/head.html')
<body>
@@include('template/layout/svg.html')
@@include('template/layout/oldbrowser.html')

<!-- wrapper -->
<div class="wrapper">
	@@include('template/layout/header.html') 

	<!-- content -->
	<div class="content-index" role="main">
		<div class="container">
			<div class="main-page">
				<div class="main-page__block">
					<div class="main-page__block-about-block">
						<div class="about-block">
							<div class="about-block__left">
								<div class="about-block__left-holder">
									<div class="about-block__left-first">
										<span class="new-marker about-block__left-first-text">будь первым</span>
									</div>
									<h1 class="about-block__left-heading"><strong class="about-block__left-heading-new">Новая</strong>коллекция</h1>
									<span class="about-block__left-inform">Предназначена для любителей шикарно обставленных интерьеров, где современность сочетается с функциональностью.</span>
									<div class="about-block__left-button">
										<a href="#" class="btn-read about-block__left-button">
											<span class="btn-read__text">Смотреть все</span>
											<span class="btn-read__image">
												<svg class="icon-arrow-tobottom btn-read__image-icon" data-animation-name="animate-1">
													<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
												</svg>
											</span>
										</a>
									</div>
								</div>
							</div>
							<div class="about-block__right">
								<div class="about-block__right-column">
									<div class="shops-block">
										<div class="shops-block__holder">
											<h2 class="shops-block__heading">Наши магазины</h2>
											<span class="shops-block__inform">Вы можете оценить мебель «вживую»</span>
											<div class="shops-block__button">
												<a href="#" class="btn-read shops-block__button-link">
													<span class="btn-read__text">Смотреть все</span>
													<span class="btn-read__image">
														<svg class="icon-arrow-tobottom btn-read__image-icon" data-animation-name="animate-1">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
														</svg>
													</span>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="about-block__right-column">
									<div class="plus">
										<div class="plus-list">
											<div class="plus-list__item">
												<div class="plus-item plus-item--delivery">
													<span class="new-marker plus-item__free">бесплатная</span>
													<h2 class="plus-item__heading">Доставка мебели и подъем</h2>
													<a href="#" class="plus-item__button">Подробнее</a>
												</div>
											</div>
											<div class="plus-list__item">
												<div class="plus-item plus-item--design">
													<span class="new-marker plus-item__free">бесплатный</span>
													<h2 class="plus-item__heading">Дизайн в 3D</h2>
													<a href="#" class="plus-item__button">Подробнее</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="main-page__block-advantages">
						<div class="advantages">
							<div class="advantages-list">
								<div class="advantages-list__item">
									<div class="advantages-item">
										<div class="advantages-item__image">
											<img src="pic/sidemenu/photo-01.jpg" alt="advantages" class="advantages-item__image-img">
											<img src="pic/sidemenu/photo-01-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
										</div>
										<div class="advantages-item__info">
											<span class="advantages-item__info-text">Рассрочка - 0%</span>
										</div>
									</div>
								</div>
								<div class="advantages-list__item">
									<div class="advantages-item">
										<div class="advantages-item__image">
											<img src="pic/sidemenu/photo-02.jpg" alt="advantages" class="advantages-item__image-img">
											<img src="pic/sidemenu/photo-02-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
										</div>
										<div class="advantages-item__info">
											<span class="advantages-item__info-text">Сборка купленной мебели</span>
										</div>
									</div>
								</div>
								<div class="advantages-list__item">
									<div class="advantages-item">
										<div class="advantages-item__image">
											<img src="pic/sidemenu/photo-03.jpg" alt="advantages" class="advantages-item__image-img">
											<img src="pic/sidemenu/photo-03-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
										</div>
										<div class="advantages-item__info">
											<span class="advantages-item__info-text">Доставка мебели за 24&nbsp;часа</span>
										</div>
									</div>
								</div>
								<div class="advantages-list__item">
									<div class="advantages-item">
										<div class="advantages-item__image">
											<img src="pic/sidemenu/photo-04.jpg" alt="advantages" class="advantages-item__image-img">
											<img src="pic/sidemenu/photo-04-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
										</div>
										<div class="advantages-item__info">
											<span class="advantages-item__info-text">Гарантия качества и&nbsp;цены</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="main-page__block">
					<h2 class="main-page__block-heading">Популярная мебель</h2>
					<div class="main-page__block-modal-block">
						<div class="modular-cards">
							<div class="modular-cards-list">
								<div class="modular-cards-list__item">
									<div class="modular-cards-item">
										<div class="modular-cards-item__image">
											<a href="#" class="modular-cards-item__image-link">
												<img src="pic/modular-cards/photo-01.jpg" alt="modular-cards" class="modular-cards-item__image-img">
											</a>
										</div>
										<div class="modular-cards-item__content">
											<div class="modular-cards-item__content-heading">
												<a href="#" class="modular-cards-item__content-heading-link">Болден</a>
											</div>
											<span class="modular-cards-item__content-set">Набирается поэлементно</span>
											<span class="modular-cards-item__content-inform">Современная классика в обстановке гостиной стала излюбленным вариантом для многих потребителей. Такая мебель, как гостиная Коен ДСП </span>
											<div class="modular-cards-item__content-button">
												<a href="#" class="btn btn-border-brown modular-cards-item__content-button-link">Подробнее</a>
											</div>
										</div>
										<div class="modular-cards-item__views views-marker">
											<svg class="icon-eye views-marker__image">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#eye"></use>
											</svg>
											<span class="views-marker__number">3000</span>
										</div>
									</div>
								</div>
								<div class="modular-cards-list__item">
									<div class="modular-cards-item">
										<div class="modular-cards-item__image">
											<a href="#" class="modular-cards-item__image-link">
												<img src="pic/modular-cards/photo-02.jpg" alt="modular-cards" class="modular-cards-item__image-img">
											</a>
										</div>
										<div class="modular-cards-item__content">
											<div class="modular-cards-item__content-heading">
												<a href="#" class="modular-cards-item__content-heading-link">Вена</a>
											</div>
											<span class="modular-cards-item__content-set">Набирается поэлементно</span>
											<span class="modular-cards-item__content-inform">Современное понятие гостиной в жилье часто связано со встречей и обедом всей семьи за общим столом, совместным просмотром </span>
											<div class="modular-cards-item__content-button">
												<a href="#" class="btn btn-border-brown modular-cards-item__content-button-link">Подробнее</a>
											</div>
										</div>
										<div class="modular-cards-item__views views-marker">
											<svg class="icon-eye views-marker__image">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#eye"></use>
											</svg>
											<span class="views-marker__number">1000</span>
										</div>
									</div>
								</div>
								<div class="modular-cards-list__item">
									<div class="modular-cards-item">
										<div class="modular-cards-item__image">
											<a href="#" class="modular-cards-item__image-link">
												<img src="pic/modular-cards/photo-03.jpg" alt="modular-cards" class="modular-cards-item__image-img">
											</a>
										</div>
										<div class="modular-cards-item__content">
											<div class="modular-cards-item__content-heading">
												<a href="#" class="modular-cards-item__content-heading-link">Верона</a>
											</div>
											<span class="modular-cards-item__content-set">Набирается поэлементно</span>
											<span class="modular-cards-item__content-inform">Современная классика в обстановке гостиной стала излюбленным вариантом для многих потребителей. Такая мебель, как гостиная Коен ДСП </span>
											<div class="modular-cards-item__content-button">
												<a href="#" class="btn btn-border-brown modular-cards-item__content-button-link">Подробнее</a>
											</div>
										</div>
										<div class="modular-cards-item__views views-marker">
											<svg class="icon-eye views-marker__image">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#eye"></use>
											</svg>
											<span class="views-marker__number">7011</span>
										</div>
									</div>
								</div>
								<div class="modular-cards-list__item">
									<div class="modular-cards-item">
										<div class="modular-cards-item__image">
											<a href="#" class="modular-cards-item__image-link">
												<img src="pic/modular-cards/photo-04.jpg" alt="modular-cards" class="modular-cards-item__image-img">
											</a>
										</div>
										<div class="modular-cards-item__content">
											<div class="modular-cards-item__content-heading">
												<a href="#" class="modular-cards-item__content-heading-link">Верона Европа</a>
											</div>
											<span class="modular-cards-item__content-set">Набирается поэлементно</span>
											<span class="modular-cards-item__content-inform">Спальня - это одно из самых интимных мест каждого дома. Именно поэтому необходимо оформлять ее так, чтобы здесь всегда с легкостью можно было отдохнуть.</span>
											<div class="modular-cards-item__content-button">
												<a href="#" class="btn btn-border-brown modular-cards-item__content-button-link">Подробнее</a>
											</div>
										</div>
										<div class="modular-cards-item__views views-marker">
											<svg class="icon-eye views-marker__image">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#eye"></use>
											</svg>
											<span class="views-marker__number">307</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="main-page__block-products">
						<div class="products">
							<div class="products-list js-equal-height">
								@@include('template/blocks/d-new/catalog/catalog-item.html', {
								"arr": [
								{
								"name" : "Витрина NWIT 1DL",
								"img":"pic/products/medium/product-01.jpg",
								"top" : "left-right"
								},
								{
								"name" : "Витрина NWIT 1DL",
								"img":"pic/products/medium/product-02.jpg",
								"top" : "left-right-truck"
								},
								{
								"name" : "Витрина NWIT 1DL",
								"img":"pic/products/medium/product-03.jpg",
								"top" : "left-right"
								},
								{
								"name" : "Витрина NWIT 1DL",
								"img":"pic/products/medium/product-04.jpg",
								"top" : "left-right-truck-%"
								}
								]
								})
							</div>
						</div>
					</div>
				</div>
				<div class="main-page__block main-page__block-plus">
					<div class="plus">
						<div class="plus-list">
							<div class="plus-list__item">
								<div class="plus-item plus-item--delivery">
									<span class="new-marker plus-item__free">бесплатная</span>
									<h2 class="plus-item__heading">Доставка мебели и подъем</h2>
									<a href="#" class="plus-item__button">Подробнее</a>
								</div>
							</div>
							<div class="plus-list__item">
								<div class="plus-item plus-item--design">
									<span class="new-marker plus-item__free">бесплатный</span>
									<h2 class="plus-item__heading">Дизайн в 3D</h2>
									<a href="#" class="plus-item__button">Подробнее</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="main-page__block">
					<div class="main-page__block-banner">
						<div class="banner" style="background-image: url('pic/bg/catalog-bg.jpg');">
							<div class="banner__left">
								<div class="banner-logo">
									<svg class="icon-logo-small">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo-small"></use>
									</svg>
								</div>
								<div class="banner-text">
									Широкий выбор
									<strong>модульной мебели</strong>
								</div>
							</div>
							<div class="banner__right">
								<div class="banner-links">
									<div class="banner-links__list">
										<div class="banner-links__list-item">
											<a href="#" class="banner-links__item">
												<span class="banner-links__item-icon">
													<svg class="icon-chevron">
														<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
													</svg>
												</span>
												<span class="banner-links__item-text">
													Гостиные
												</span>
											</a>
										</div>
										<div class="banner-links__list-item">
											<a href="#" class="banner-links__item">
												<span class="banner-links__item-icon">
													<svg class="icon-chevron">
														<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
													</svg>
												</span>
												<span class="banner-links__item-text">
													Кухни
												</span>
											</a>
										</div>
										<div class="banner-links__list-item">
											<a href="#" class="banner-links__item">
												<span class="banner-links__item-icon">
													<svg class="icon-chevron">
														<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
													</svg>
												</span>
												<span class="banner-links__item-text">
													Детские
												</span>
											</a>
										</div>
										<div class="banner-links__list-item">
											<a href="#" class="banner-links__item">
												<span class="banner-links__item-icon">
													<svg class="icon-chevron">
														<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
													</svg>
												</span>
												<span class="banner-links__item-text">
													Спальни
												</span>
											</a>
										</div>
										<div class="banner-links__list-item">
											<a href="#" class="banner-links__item">
												<span class="banner-links__item-icon">
													<svg class="icon-chevron">
														<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
													</svg>
												</span>
												<span class="banner-links__item-text">
													Прихожие
												</span>
											</a>
										</div>
										<div class="banner-links__list-item">
											<a href="#" class="banner-links__item">
												<span class="banner-links__item-icon">
													<svg class="icon-chevron">
														<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
													</svg>
												</span>
												<span class="banner-links__item-text">
													Кабинеты
												</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="main-page__block main-page__block--news">
					<h2 class="main-page__block-heading">Новости</h2>
					<div class="main-page__block-news">
						<div class="news">
							<div class="news-list">
								<div class="news-list__item">
									<div class="news-item">
										<div class="news-item__image">
											<a href="#" class="news-item__image-link" style="background-image: url('pic/news/photo-01.jpg')">
												<!-- <img src="pic/news/photo-01.jpg" alt="News" class="news-item__image-link-img"> -->
											</a>
										</div>
										<div class="news-item__content">
											<div class="news-item__content-top">
												<div class="news-item__content-top-heading">
													<a href="#" class="news-item__content-top-heading-link">Акция к юбилею Великой Победы</a>
												</div>
												<span class="news-item__content-top-info">В период с 23 апреля по 17 мая 2015 года в розничной сети и интернет-магазинах проводится  централизованная акция – скидки от 20% до 28% на весь ассортимент BLACK RED WHITE, в зависимости от суммы разовой покупки.</span>
											</div>
											<div class="news-item__content-bottom">
												<div class="news-item__content-bottom-left">
													<img src="pic/reviews/photo-01.png" alt="Reviews" class="news-item__content-bottom-left-img">
													<div class="news-item__content-bottom-left-holder">
														<span class="news-item__content-bottom-left-holder-name">Марина Кочина</span>
														<span class="news-item__content-bottom-left-holder-time">
															<svg class="icon-clock-small news-item__content-bottom-left-holder-time-img">
																<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clock-small"></use>
															</svg>
															<span class="news-item__content-bottom-left-holder-time-text">10 января 2016</span>
														</span>
													</div>
												</div>
												<div class="news-item__content-bottom-right">
													<a href="#" class="news-item__content-bottom-right-button button-direct">
														<svg class="icon-arrow-tobottom button-direct__img">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
														</svg>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="news-list__item">
									<div class="news-item">
										<div class="news-item__image">
											<a href="#" class="news-item__image-link" style="background-image: url('pic/news/photo-02.jpg');">
												<!-- <img src="pic/news/photo-02.jpg" alt="News" class="news-item__image-link-img"> -->
											</a>
										</div>
										<div class="news-item__content">
											<div class="news-item__content-top">
												<div class="news-item__content-top-heading">
													<a href="#" class="news-item__content-top-heading-link">Счастливого нового года</a>
												</div>
												<span class="news-item__content-top-info">В период с 23 апреля по 17 мая 2015 года в розничной сети и интернет-магазинах проводится  централизованная акция – скидки от 20% до 28% на весь ассортимент BLACK RED WHITE, в зависимости от суммы разовой покупки.</span>
											</div>
											<div class="news-item__content-bottom">
												<div class="news-item__content-bottom-left">
													<img src="pic/reviews/photo-02.png" alt="Reviews" class="news-item__content-bottom-left-img">
													<div class="news-item__content-bottom-left-holder">
														<span class="news-item__content-bottom-left-holder-name">Влад Сташевский</span>
														<span class="news-item__content-bottom-left-holder-time">
															<svg class="icon-clock-small news-item__content-bottom-left-holder-time-img">
																<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clock-small"></use>
															</svg>
															<span class="news-item__content-bottom-left-holder-time-text">10 января 2016</span>
														</span>
													</div>
												</div>
												<div class="news-item__content-bottom-right">
													<a href="#" class="news-item__content-bottom-right-button button-direct">
														<svg class="icon-arrow-tobottom button-direct__img">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
														</svg>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="news-list__item">
									<div class="news-item">
										<div class="news-item__image">
											<a href="#" class="news-item__image-link" style="background-image: url('pic/news/photo-03.jpg');">
												<!-- <img src="pic/news/photo-03.jpg" alt="News" class="news-item__image-link-img"> -->
											</a>
										</div>
										<div class="news-item__content">
											<div class="news-item__content-top">
												<div class="news-item__content-top-heading">
													<a href="#" class="news-item__content-top-heading-link">Акция к юбилею Великой Победы</a>
												</div>
												<span class="news-item__content-top-info">В период с 23 апреля по 17 мая 2015 года в розничной сети и интернет-магазинах проводится  централизованная акция – скидки от 20% до 28% на весь ассортимент BLACK RED WHITE, в зависимости от суммы разовой покупки.</span>
											</div>
											<div class="news-item__content-bottom">
												<div class="news-item__content-bottom-left">
													<img src="pic/reviews/photo-03.png" alt="Reviews" class="news-item__content-bottom-left-img">
													<div class="news-item__content-bottom-left-holder">
														<span class="news-item__content-bottom-left-holder-name">Наталья Рудова</span>
														<span class="news-item__content-bottom-left-holder-time">
															<svg class="icon-clock-small news-item__content-bottom-left-holder-time-img">
																<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clock-small"></use>
															</svg>
															<span class="news-item__content-bottom-left-holder-time-text">10 января 2016</span>
														</span>
													</div>
												</div>
												<div class="news-item__content-bottom-right">
													<a href="#" class="news-item__content-bottom-right-button button-direct">
														<svg class="icon-arrow-tobottom button-direct__img">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
														</svg>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="main-page__block">
					<div class="main-page__block-inform">
						<h2 class="main-page__block-heading">Интернет-магазин мебели MebelGold – качественная мебель</h2>
						<div class="static-content">
							<p>Известность нашей компании MebelGold, как надежного, постоянного поставщика качественной мебельной продукции подтверждена растущим спросом у современного потребителя. Начиная с 2000 года, мы предлагаем покупателю удобную, качественную и недорогую мебель, которая обустроит офисные помещения, украсит быт и создаст комфортабельную обстановку в жилье.</p>
							<p>До сегодняшнего времени компания продает товар в четырех своих розничных магазинах, а также предоставляет услуги обслуживания, заказа понравившейся продукции с помощью профессиональных менеджеров.</p>
						</div>
					</div>
					<div class="main-page__block-inform-button">
						<a href="#" class="main-page__block-inform-button-link">Подробнее</a>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<!-- content end -->
	
	
</div>
<!-- wrapper end -->

@@include('template/layout/footer.html')
@@include('template/layout/footer-head.html')
</body>
</html> 