@@include('template/layout/head.html')
<body>
@@include('template/layout/svg.html')
@@include('template/layout/oldbrowser.html')

<!-- wrapper -->
<div class="wrapper">
	@@include('template/layout/header.html') 

	<!-- content -->
	<div class="content" role="main">
		<div class="container">
			<div class="breadcrumbs">
				<ul class="breadcrumbs-list">
					<li class="breadcrumbs-list__item breadcrumbs-list__item--hide">
						<span class="breadcrumbs-item breadcrumbs-item--main">
							<a href="#" class="breadcrumbs-item__link">
								<svg class="icon-arrow-tobottom breadcrumbs-item__link-marker">
									<use xlink:href="#arrow-tobottom"></use>
								</svg>
								<span class="breadcrumbs-item__link-text">На главную</span>
							</a>
						</span>
					</li>
					<li class="breadcrumbs-list__item">
						<span class="breadcrumbs-item breadcrumbs-item--main">
							<a href="#" class="breadcrumbs-item__link">
								<svg class="icon-arrow-tobottom breadcrumbs-item__link-marker">
									<use xlink:href="#arrow-tobottom"></use>
								</svg>
								<span class="breadcrumbs-item__link-text">Главная</span>
							</a>
						</span>
					</li>
					<li class="breadcrumbs-list__item">
						<span class="breadcrumbs-item">
							<a href="#" class="breadcrumbs-item__link">Новости</a>
							<svg class="icon-arrow-marker breadcrumbs-item__link-arrow">
								<use xlink:href="#arrow-marker"></use>
							</svg>
						</span>
					</li>
					<li class="breadcrumbs-list__item">
						<span class="breadcrumbs-item">
							<span class="breadcrumbs-item__link breadcrumbs-item__link--active">Новость 2</span>
						</span>
					</li>
				</ul>
			</div>
			<div class="news-content">
				<div class="content-box">
					<h1 class="content-box__heading">Новость 2</h1>
					<div class="content-box__left">
						<div class="static-content">
							<div class="news-content__block">
								<h2>Заголовок</h2>
								<ul>
									<li>
										<svg class="icon-arrow-tobottom list-marker">
											<use xlink:href="#arrow-tobottom"></use>
										</svg>
										<span>Первый стильный магазин «MebelGold» был открыт в 2000-ом году, задав вектор для дальнейшего развития компании.</span>
									</li>
									<li>
										<svg class="icon-arrow-tobottom list-marker">
											<use xlink:href="#arrow-tobottom"></use>
										</svg>
										<span>Помимо интернет-магазина, мы располагаем сетью мебельных салонов в Москве, куда Вы всегда можете приехать, чтобы оценить мебель «вживую». И этот факт, наверняка, будет особенно приятен тем, кто онлайн-шопингу предпочитает делать покупки «по старинке».</span>
									</li>
									<li>
										<svg class="icon-arrow-tobottom list-marker">
											<use xlink:href="#arrow-tobottom"></use>
										</svg>
										<span>С 2000-го года мы являемся официальными дистрибьюторами Black Red White (БРВ Мебель) – международного производителя корпусной и модульной мебели. А за годы работы стали представителями еще целого ряда крупнейших отечественных и зарубежных производителей мебели, среди которых: БРВ Gerbor-холдинг (Украина), Пинскдрев (Белоруссия), Fameg (Польша), Lineaflex (Италия), Волхова, Европа, Квинта, Лером, Лидер, Ульяновскмебель/Эвита, Bogacho (Россия).</span>
									</li>
									<li>
										<svg class="icon-arrow-tobottom list-marker">
											<use xlink:href="#arrow-tobottom"></use>
										</svg>
										<span>Со всеми представленными у нас фабриками мы работаем напрямую, имея возможность контролировать качество товара и оставаться гибкими в плане ценовой политики.</span>
									</li>
									<li>
										<svg class="icon-arrow-tobottom list-marker">
											<use xlink:href="#arrow-tobottom"></use>
										</svg>
										<span>И, возможно, 15-летняя история существования бизнеса добавляет нам «веса», являясь одним из важных критериев оценки надёжности.</span>
									</li>
								</ul>
								<p>Но, рассказывая о компании, мы бы не хотели ограничиваться сухими фактами. Ведь компания – это, прежде всего, люди. Поэтому мы бы хотели рассказать о людях – о нас и о Вас.</p>
							</div>
							<div class="news-content__imgblock">
								<div class="img-holder">
									<img src="pic/about/photo-01.jpg" alt="About" class="img-holder__image">
								</div>
							</div>
							<div class="news-content__block">
								<h2>О нас</h2>
								<p>Мы в «MebelGold» прекрасно знаем, как порой непросто выбрать мебель. Вот почему основной упор в нашей работе был сделан не только на товарное разнообразие, но и на обеспечение лучшего сочетания цены и качества. При этом, формируя ассортимент, особое внимание мы уделяем экологичности, предлагая только ту мебель, которая соответствует современным экологическим нормам и общепринятым стандартам. А в рамках реализации комплексного подхода оказываем весь спектр дополнительных услуг – от бесплатной разработки 3D-дизайна, доставки и подъема мебели на этаж до профессиональной сборки, делая всё для того, чтобы покупка мебели приносила Вам радость, а не становилась головной болью.</p>
							</div>
							<div class="news-content__imgblock">
								<div class="img-holder">
									<img src="pic/about/photo-02.jpg" alt="About" class="img-holder__image">
								</div>
							</div>
							<div class="news-content__block">
								<h2>О Вас</h2>
								<p>Наши покупатели, определённо, знают толк в мебели! К нам приходят в поисках оптимального сочетания цены и качества и, конечно, за сервисом. Каждый клиент компании «MebelGold», вне зависимости от суммы покупки, вправе рассчитывать на компетентную консультацию специалиста и чёткое соблюдение всех гарантийных обязательств с нашей стороны.</p>
								<p>Наши менеджеры профессионально проконсультируют Вас по многоканальному телефону. Тел.: +7 (495) 255-18-10</p>
								<p>Время работы: 10:00 до 22:00 без выходных.</p>
							</div>
							<div class="news-content__imgblock">
								<a href="#" class="img-holder video-button">
									<img src="pic/about/photo-02.jpg" alt="About" class="img-holder__image">
								</a>
							</div>
						</div>
					</div>
					<div class="content-box__right">
						<div class="sidebar">
							<div class="sidebar-menu js-accordeon-list">
								<div class="sidebar-menu__item js-accordeon-item">
									<div class="sidebar-item">
										<span class="sidebar-item__link js-sidebar-title">О компании</span>
										<ul class="sidebar-item__sub js-sidebar-inner">
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Контакты</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Гарантия качества</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="sidebar-menu__item">
									<div class="sidebar-item">
										<span class="sidebar-item__link js-sidebar-title">Услуги</span>
										<ul class="sidebar-item__sub  js-sidebar-inner">
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Доставка и подъем</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Рассрочка</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Сборка</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">3D Дизайн</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Доставка мебели за 24 часа</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="sidebar-menu__item">
									<div class="sidebar-item">
										<span class="sidebar-item__link js-sidebar-title">Разделы</span>
										<ul class="sidebar-item__sub js-sidebar-inner">
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Распродажа</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Скидки</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Оплата</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Фотоальбом</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Отзывы</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="sidebar-menu__item">
									<div class="sidebar-item">
										<span class="sidebar-item__link js-sidebar-title">Новости</span>
										<ul class="sidebar-item__sub js-sidebar-inner">
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Доставка и подъем</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Рассрочка</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Сборка</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">3D Дизайн</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Доставка мебели за 24 часа</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="sidebar-menu__item">
									<div class="sidebar-item">
										<span class="sidebar-item__link js-sidebar-title">Статьи</span>
										<ul class="sidebar-item__sub js-sidebar-inner">
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Контакты</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Гарантия качества</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="advantages">
							<div class="advantages-list advantages-list--vertical">
								<div class="advantages-list__item">
									<div class="advantages-item">
										<div class="advantages-item__image">
											<img src="pic/sidemenu/photo-01.jpg" alt="advantages" class="advantages-item__image-img">
											<img src="pic/sidemenu/photo-01-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
										</div>
										<div class="advantages-item__info">
											<span class="advantages-item__info-text">Рассрочка - 0%</span>
										</div>
									</div>
								</div>
								<div class="advantages-list__item">
									<div class="advantages-item">
										<div class="advantages-item__image">
											<img src="pic/sidemenu/photo-02.jpg" alt="advantages" class="advantages-item__image-img">
											<img src="pic/sidemenu/photo-02-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
										</div>
										<div class="advantages-item__info">
											<span class="advantages-item__info-text">Сборка купленной мебели</span>
										</div>
									</div>
								</div>
								<div class="advantages-list__item">
									<div class="advantages-item">
										<div class="advantages-item__image">
											<img src="pic/sidemenu/photo-03.jpg" alt="advantages" class="advantages-item__image-img">
											<img src="pic/sidemenu/photo-03-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
										</div>
										<div class="advantages-item__info">
											<span class="advantages-item__info-text">Доставка мебели за 24&nbsp;часа</span>
										</div>
									</div>
								</div>
								<div class="advantages-list__item">
									<div class="advantages-item">
										<div class="advantages-item__image">
											<img src="pic/sidemenu/photo-04.jpg" alt="advantages" class="advantages-item__image-img">
											<img src="pic/sidemenu/photo-04-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
										</div>
										<div class="advantages-item__info">
											<span class="advantages-item__info-text">Гарантия качества и цены</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- content end -->
	
	<div class="footer-spacer"></div>
</div>
<!-- wrapper end -->

@@include('template/layout/footer.html')
@@include('template/layout/footer-head.html')
</body>
</html> 