@@include('template/layout/head.html')
<body>
@@include('template/layout/svg.html')
@@include('template/layout/oldbrowser.html')

<!-- wrapper -->
<div class="wrapper">
	@@include('template/layout/header.html') 

	<!-- content -->
	<div class="content" role="main">
		<div class="container">
			<div class="breadcrumbs">
				<ul class="breadcrumbs-list">
					<li class="breadcrumbs-list__item breadcrumbs-list__item--hide">
						<span class="breadcrumbs-item breadcrumbs-item--main">
							<a href="#" class="breadcrumbs-item__link">
								<svg class="icon-arrow-tobottom breadcrumbs-item__link-marker">
									<use xlink:href="#arrow-tobottom"></use>
								</svg>
								<span class="breadcrumbs-item__link-text">На главную</span>
							</a>
						</span>
					</li>
					<li class="breadcrumbs-list__item">
						<span class="breadcrumbs-item breadcrumbs-item--main">
							<a href="#" class="breadcrumbs-item__link">
								<svg class="icon-arrow-tobottom breadcrumbs-item__link-marker">
									<use xlink:href="#arrow-tobottom"></use>
								</svg>
								<span class="breadcrumbs-item__link-text">Главная</span>
							</a>
						</span>
					</li>
					<li class="breadcrumbs-list__item">
						<span class="breadcrumbs-item">
							<span class="breadcrumbs-item__link breadcrumbs-item__link--active">Новости</span>
						</span>
					</li>
				</ul>
			</div>
			<div class="newspage">
				<div class="content-box">
					<h1 class="content-box__heading">Новости</h1>
					<div class="content-box__left">
						<div class="news">
							<div class="news-list">
								<div class="news-list__item">
									<div class="news-item">
										<div class="news-item__image">
											<a href="#" class="news-item__image-link" style="background-image: url('pic/news/photo-01.jpg');">
											
											</a>
										</div>
										<div class="news-item__content">
											<div class="news-item__content-top">
												<div class="news-item__content-top-heading">
													<a href="#" class="news-item__content-top-heading-link">Акция к юбилею Великой Победы</a>
												</div>
												<span class="news-item__content-top-info">В период с 23 апреля по 17 мая 2015 года в розничной сети и интернет-магазинах проводится  централизованная акция – скидки от 20% до 28% на весь ассортимент BLACK RED WHITE, в зависимости от суммы разовой покупки.</span>
											</div>
											<div class="news-item__content-bottom">
												<div class="news-item__content-bottom-left">
													<img src="pic/reviews/photo-01.png" alt="Reviews" class="news-item__content-bottom-left-img">
													<div class="news-item__content-bottom-left-holder">
														<span class="news-item__content-bottom-left-holder-name">Марина Кочина</span>
														<span class="news-item__content-bottom-left-holder-time">
															<svg class="icon-clock-small news-item__content-bottom-left-holder-time-img">
																<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clock-small"></use>
															</svg>
															<span class="news-item__content-bottom-left-holder-time-text">10 января 2016</span>
														</span>
													</div>
												</div>
												<div class="news-item__content-bottom-right">
													<a href="#" class="news-item__content-bottom-right-button button-direct">
														<svg class="icon-arrow-tobottom button-direct__img">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
														</svg>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="news-list__item">
									<div class="news-item">
										<div class="news-item__image">
											<a href="#" class="news-item__image-link" style="background-image: url('pic/news/photo-02.jpg');">
											</a>
										</div>
										<div class="news-item__content">
											<div class="news-item__content-top">
												<div class="news-item__content-top-heading">
													<a href="#" class="news-item__content-top-heading-link">Счастливого нового года</a>
												</div>
												<span class="news-item__content-top-info">В период с 23 апреля по 17 мая 2015 года в розничной сети и интернет-магазинах проводится  централизованная акция – скидки от 20% до 28% на весь ассортимент BLACK RED WHITE, в зависимости от суммы разовой покупки.</span>
											</div>
											<div class="news-item__content-bottom">
												<div class="news-item__content-bottom-left">
													<img src="pic/reviews/photo-02.png" alt="Reviews" class="news-item__content-bottom-left-img">
													<div class="news-item__content-bottom-left-holder">
														<span class="news-item__content-bottom-left-holder-name">Влад Сташевский</span>
														<span class="news-item__content-bottom-left-holder-time">
															<svg class="icon-clock-small news-item__content-bottom-left-holder-time-img">
																<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clock-small"></use>
															</svg>
															<span class="news-item__content-bottom-left-holder-time-text">10 января 2016</span>
														</span>
													</div>
												</div>
												<div class="news-item__content-bottom-right">
													<a href="#" class="news-item__content-bottom-right-button button-direct">
														<svg class="icon-arrow-tobottom button-direct__img">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
														</svg>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="news-list__item">
									<div class="news-item">
										<div class="news-item__image">
											<a href="#" class="news-item__image-link" style="background-image: url('pic/news/photo-01.jpg');">
												
											</a>
										</div>
										<div class="news-item__content">
											<div class="news-item__content-top">
												<div class="news-item__content-top-heading">
													<a href="#" class="news-item__content-top-heading-link">Акция к юбилею Великой Победы</a>
												</div>
												<span class="news-item__content-top-info">В период с 23 апреля по 17 мая 2015 года в розничной сети и интернет-магазинах проводится  централизованная акция – скидки от 20% до 28% на весь ассортимент BLACK RED WHITE, в зависимости от суммы разовой покупки.</span>
											</div>
											<div class="news-item__content-bottom">
												<div class="news-item__content-bottom-left">
													<img src="pic/reviews/photo-01.png" alt="Reviews" class="news-item__content-bottom-left-img">
													<div class="news-item__content-bottom-left-holder">
														<span class="news-item__content-bottom-left-holder-name">Марина Кочина</span>
														<span class="news-item__content-bottom-left-holder-time">
															<svg class="icon-clock-small news-item__content-bottom-left-holder-time-img">
																<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clock-small"></use>
															</svg>
															<span class="news-item__content-bottom-left-holder-time-text">10 января 2016</span>
														</span>
													</div>
												</div>
												<div class="news-item__content-bottom-right">
													<a href="#" class="news-item__content-bottom-right-button button-direct">
														<svg class="icon-arrow-tobottom button-direct__img">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
														</svg>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="news-list__item">
									<div class="news-item">
										<div class="news-item__image">
											<a href="#" class="news-item__image-link" style="background-image: url('pic/news/photo-02.jpg');">
											
											</a>
										</div>
										<div class="news-item__content">
											<div class="news-item__content-top">
												<div class="news-item__content-top-heading">
													<a href="#" class="news-item__content-top-heading-link">Счастливого нового года</a>
												</div>
												<span class="news-item__content-top-info">В период с 23 апреля по 17 мая 2015 года в розничной сети и интернет-магазинах проводится  централизованная акция – скидки от 20% до 28% на весь ассортимент BLACK RED WHITE, в зависимости от суммы разовой покупки.</span>
											</div>
											<div class="news-item__content-bottom">
												<div class="news-item__content-bottom-left">
													<img src="pic/reviews/photo-02.png" alt="Reviews" class="news-item__content-bottom-left-img">
													<div class="news-item__content-bottom-left-holder">
														<span class="news-item__content-bottom-left-holder-name">Влад Сташевский</span>
														<span class="news-item__content-bottom-left-holder-time">
															<svg class="icon-clock-small news-item__content-bottom-left-holder-time-img">
																<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clock-small"></use>
															</svg>
															<span class="news-item__content-bottom-left-holder-time-text">10 января 2016</span>
														</span>
													</div>
												</div>
												<div class="news-item__content-bottom-right">
													<a href="#" class="news-item__content-bottom-right-button button-direct">
														<svg class="icon-arrow-tobottom button-direct__img">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
														</svg>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="news-list__item">
									<div class="news-item">
										<div class="news-item__image">
											<a href="#" class="news-item__image-link" style="background-image: url('pic/news/photo-01.jpg');">
											</a>
										</div>
										<div class="news-item__content">
											<div class="news-item__content-top">
												<div class="news-item__content-top-heading">
													<a href="#" class="news-item__content-top-heading-link">Акция к юбилею Великой Победы</a>
												</div>
												<span class="news-item__content-top-info">В период с 23 апреля по 17 мая 2015 года в розничной сети и интернет-магазинах проводится  централизованная акция – скидки от 20% до 28% на весь ассортимент BLACK RED WHITE, в зависимости от суммы разовой покупки.</span>
											</div>
											<div class="news-item__content-bottom">
												<div class="news-item__content-bottom-left">
													<img src="pic/reviews/photo-01.png" alt="Reviews" class="news-item__content-bottom-left-img">
													<div class="news-item__content-bottom-left-holder">
														<span class="news-item__content-bottom-left-holder-name">Марина Кочина</span>
														<span class="news-item__content-bottom-left-holder-time">
															<svg class="icon-clock-small news-item__content-bottom-left-holder-time-img">
																<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clock-small"></use>
															</svg>
															<span class="news-item__content-bottom-left-holder-time-text">10 января 2016</span>
														</span>
													</div>
												</div>
												<div class="news-item__content-bottom-right">
													<a href="#" class="news-item__content-bottom-right-button button-direct">
														<svg class="icon-arrow-tobottom button-direct__img">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
														</svg>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="news-list__item">
									<div class="news-item">
										<div class="news-item__image">
											<a href="#" class="news-item__image-link" style="background-image: url('pic/news/photo-02.jpg');">
											</a>
										</div>
										<div class="news-item__content">
											<div class="news-item__content-top">
												<div class="news-item__content-top-heading">
													<a href="#" class="news-item__content-top-heading-link">Счастливого нового года</a>
												</div>
												<span class="news-item__content-top-info">В период с 23 апреля по 17 мая 2015 года в розничной сети и интернет-магазинах проводится  централизованная акция – скидки от 20% до 28% на весь ассортимент BLACK RED WHITE, в зависимости от суммы разовой покупки.</span>
											</div>
											<div class="news-item__content-bottom">
												<div class="news-item__content-bottom-left">
													<img src="pic/reviews/photo-02.png" alt="Reviews" class="news-item__content-bottom-left-img">
													<div class="news-item__content-bottom-left-holder">
														<span class="news-item__content-bottom-left-holder-name">Влад Сташевский</span>
														<span class="news-item__content-bottom-left-holder-time">
															<svg class="icon-clock-small news-item__content-bottom-left-holder-time-img">
																<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clock-small"></use>
															</svg>
															<span class="news-item__content-bottom-left-holder-time-text">10 января 2016</span>
														</span>
													</div>
												</div>
												<div class="news-item__content-bottom-right">
													<a href="#" class="news-item__content-bottom-right-button button-direct">
														<svg class="icon-arrow-tobottom button-direct__img">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
														</svg>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="news-list__item">
									<div class="news-item">
										<div class="news-item__image">
											<a href="#" class="news-item__image-link" style="background-image: url('pic/news/photo-01.jpg');">
											</a>
										</div>
										<div class="news-item__content">
											<div class="news-item__content-top">
												<div class="news-item__content-top-heading">
													<a href="#" class="news-item__content-top-heading-link">Акция к юбилею Великой Победы</a>
												</div>
												<span class="news-item__content-top-info">В период с 23 апреля по 17 мая 2015 года в розничной сети и интернет-магазинах проводится  централизованная акция – скидки от 20% до 28% на весь ассортимент BLACK RED WHITE, в зависимости от суммы разовой покупки.</span>
											</div>
											<div class="news-item__content-bottom">
												<div class="news-item__content-bottom-left">
													<img src="pic/reviews/photo-01.png" alt="Reviews" class="news-item__content-bottom-left-img">
													<div class="news-item__content-bottom-left-holder">
														<span class="news-item__content-bottom-left-holder-name">Марина Кочина</span>
														<span class="news-item__content-bottom-left-holder-time">
															<svg class="icon-clock-small news-item__content-bottom-left-holder-time-img">
																<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clock-small"></use>
															</svg>
															<span class="news-item__content-bottom-left-holder-time-text">10 января 2016</span>
														</span>
													</div>
												</div>
												<div class="news-item__content-bottom-right">
													<a href="#" class="news-item__content-bottom-right-button button-direct">
														<svg class="icon-arrow-tobottom button-direct__img">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
														</svg>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="news-list__item">
									<div class="news-item">
										<div class="news-item__image">
											<a href="#" class="news-item__image-link" style="background-image: url('pic/news/photo-02.jpg');">
											</a>
										</div>
										<div class="news-item__content">
											<div class="news-item__content-top">
												<div class="news-item__content-top-heading">
													<a href="#" class="news-item__content-top-heading-link">Счастливого нового года</a>
												</div>
												<span class="news-item__content-top-info">В период с 23 апреля по 17 мая 2015 года в розничной сети и интернет-магазинах проводится  централизованная акция – скидки от 20% до 28% на весь ассортимент BLACK RED WHITE, в зависимости от суммы разовой покупки.</span>
											</div>
											<div class="news-item__content-bottom">
												<div class="news-item__content-bottom-left">
													<img src="pic/reviews/photo-02.png" alt="Reviews" class="news-item__content-bottom-left-img">
													<div class="news-item__content-bottom-left-holder">
														<span class="news-item__content-bottom-left-holder-name">Влад Сташевский</span>
														<span class="news-item__content-bottom-left-holder-time">
															<svg class="icon-clock-small news-item__content-bottom-left-holder-time-img">
																<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clock-small"></use>
															</svg>
															<span class="news-item__content-bottom-left-holder-time-text">10 января 2016</span>
														</span>
													</div>
												</div>
												<div class="news-item__content-bottom-right">
													<a href="#" class="news-item__content-bottom-right-button button-direct">
														<svg class="icon-arrow-tobottom button-direct__img">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
														</svg>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="pagination">
							<ul class="pagination-list">
								<li class="pagination-list__item pagination-list__item--prev">
									<div class="pagination-item">
										<a href="#" class="pagination-item__link pagination-item__link-prev">
											<svg class="icon-arrow-tobottom pagination-item__link-prev-image"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use></svg>
										</a>
									</div>
								</li>
								<li class="pagination-list__item">
									<div class="pagination-item">
										<a href="#" class="pagination-item__link pagination-item__link--active">1</a>
									</div>
								</li>
								<li class="pagination-list__item">
									<div class="pagination-item">
										<a href="#" class="pagination-item__link">2</a>
									</div>
								</li>
								<li class="pagination-list__item">
									<div class="pagination-item">
										<a href="#" class="pagination-item__link">3</a>
									</div>
								</li>
								<li class="pagination-list__item">
									<div class="pagination-item">
										<a href="#" class="pagination-item__link">4</a>
									</div>
								</li>
								<li class="pagination-list__item pagination-list__item--next">
									<div class="pagination-item">
										<a href="#" class="pagination-item__link pagination-item__link-next">
											<svg class="icon-arrow-tobottom pagination-item__link-next-image"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use></svg>
										</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="content-box__right">
						<div class="sidebar">
							<div class="sidebar-menu js-accordeon-list">
								<div class="sidebar-menu__item js-accordeon-item">
									<div class="sidebar-item">
										<span class="sidebar-item__link js-sidebar-title">О компании</span>
										<ul class="sidebar-item__sub js-sidebar-inner">
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Контакты</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Гарантия качества</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="sidebar-menu__item">
									<div class="sidebar-item">
										<span class="sidebar-item__link js-sidebar-title">Услуги</span>
										<ul class="sidebar-item__sub  js-sidebar-inner">
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Доставка и подъем</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Рассрочка</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Сборка</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">3D Дизайн</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Доставка мебели за 24 часа</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="sidebar-menu__item">
									<div class="sidebar-item">
										<span class="sidebar-item__link js-sidebar-title">Разделы</span>
										<ul class="sidebar-item__sub js-sidebar-inner">
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Распродажа</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Скидки</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Оплата</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Фотоальбом</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Отзывы</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="sidebar-menu__item">
									<div class="sidebar-item">
										<span class="sidebar-item__link js-sidebar-title">Новости</span>
										<ul class="sidebar-item__sub js-sidebar-inner">
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Доставка и подъем</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Рассрочка</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Сборка</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">3D Дизайн</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Доставка мебели за 24 часа</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="sidebar-menu__item">
									<div class="sidebar-item">
										<span class="sidebar-item__link js-sidebar-title">Статьи</span>
										<ul class="sidebar-item__sub js-sidebar-inner">
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Контакты</a>
											</li>
											<li class="sidebar-item__sub-item">
												<a href="#" class="sidebar-item__sub-item-link">Гарантия качества</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="advantages">
							<div class="advantages-list advantages-list--vertical">
								<div class="advantages-list__item">
									<div class="advantages-item">
										<div class="advantages-item__image">
											<img src="pic/sidemenu/photo-01.jpg" alt="advantages" class="advantages-item__image-img">
											<img src="pic/sidemenu/photo-01-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
										</div>
										<div class="advantages-item__info">
											<span class="advantages-item__info-text">Рассрочка - 0%</span>
										</div>
									</div>
								</div>
								<div class="advantages-list__item">
									<div class="advantages-item">
										<div class="advantages-item__image">
											<img src="pic/sidemenu/photo-02.jpg" alt="advantages" class="advantages-item__image-img">
											<img src="pic/sidemenu/photo-02-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
										</div>
										<div class="advantages-item__info">
											<span class="advantages-item__info-text">Сборка купленной мебели</span>
										</div>
									</div>
								</div>
								<div class="advantages-list__item">
									<div class="advantages-item">
										<div class="advantages-item__image">
											<img src="pic/sidemenu/photo-03.jpg" alt="advantages" class="advantages-item__image-img">
											<img src="pic/sidemenu/photo-03-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
										</div>
										<div class="advantages-item__info">
											<span class="advantages-item__info-text">Доставка мебели за 24&nbsp;часа</span>
										</div>
									</div>
								</div>
								<div class="advantages-list__item">
									<div class="advantages-item">
										<div class="advantages-item__image">
											<img src="pic/sidemenu/photo-04.jpg" alt="advantages" class="advantages-item__image-img">
											<img src="pic/sidemenu/photo-04-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
										</div>
										<div class="advantages-item__info">
											<span class="advantages-item__info-text">Гарантия качества и цены</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- content end -->
	
	<div class="footer-spacer"></div>
</div>
<!-- wrapper end -->

@@include('template/layout/footer.html')
@@include('template/layout/footer-head.html')
</body>
</html> 