@@include('template/layout/head.html')
<body>
@@include('template/layout/svg.html')
@@include('template/layout/oldbrowser.html')

<!-- wrapper -->
<div class="wrapper">
	@@include('template/layout/header.html') 

	<!-- content -->
	<div class="content" role="main">
		<div class="container">
			<div class="breadcrumbs">
				<ul class="breadcrumbs-list">
					<li class="breadcrumbs-list__item breadcrumbs-list__item--hide">
						<span class="breadcrumbs-item breadcrumbs-item--main">
							<a href="#" class="breadcrumbs-item__link">
								<svg class="icon-arrow-tobottom breadcrumbs-item__link-marker">
									<use xlink:href="#arrow-tobottom"></use>
								</svg>
								<span class="breadcrumbs-item__link-text">На главную</span>
							</a>
						</span>
					</li>
					<li class="breadcrumbs-list__item">
						<span class="breadcrumbs-item breadcrumbs-item--main">
							<a href="#" class="breadcrumbs-item__link">
								<svg class="icon-arrow-tobottom breadcrumbs-item__link-marker">
									<use xlink:href="#arrow-tobottom"></use>
								</svg>
								<span class="breadcrumbs-item__link-text">Главная</span>
							</a>
						</span>
					</li>
					<li class="breadcrumbs-list__item">
						<span class="breadcrumbs-item">
							<span class="breadcrumbs-item__link breadcrumbs-item__link--active">Отзывы мебельных фабрик</span>
						</span>
					</li>
				</ul>
			</div>
			<div class="content-box">
				<h1 class="content-box__heading">Отзывы мебельных фабрик</h1>
				<div class="factory-reviews">
					<div class="factory-reviews-list">
						<div class="factory-reviews-list__item">
							<div class="factory-reviews-item">
								<div class="factory-reviews-item__image">
									<a href="#" class="factory-reviews-item__image-link">
										<img src="pic/factory/photo-01.jpg" alt="factory-reviews" class="factory-reviews-item__image-link-img">
									</a>
								</div>
								<div class="factory-reviews-item__holder">
									<div class="factory-reviews-item__heading">
										<a href="#" class="factory-reviews-item__heading-link">Fameg</a>
									</div>
									<span class="factory-reviews-item__country">Польша</span>
									<div class="factory-reviews-item__button">
										<a href="#" class="btn btn-border-brown factory-reviews-item__button-link">Читать отзывы</a>
									</div>
								</div>
								
							</div>
						</div>
						<div class="factory-reviews-list__item">
							<div class="factory-reviews-item">
								<div class="factory-reviews-item__image">
									<a href="#" class="factory-reviews-item__image-link">
										<img src="pic/factory/photo-02.jpg" alt="factory-reviews" class="factory-reviews-item__image-link-img">
									</a>
								</div>
								<div class="factory-reviews-item__holder">
									<div class="factory-reviews-item__heading">
										<a href="#" class="factory-reviews-item__heading-link">Gerbor</a>
									</div>
									<span class="factory-reviews-item__country">Украина</span>
									<div class="factory-reviews-item__button">
										<a href="#" class="btn btn-border-brown factory-reviews-item__button-link">Читать отзывы</a>
									</div>
								</div>
								
							</div>
						</div>
						<div class="factory-reviews-list__item">
							<div class="factory-reviews-item">
								<div class="factory-reviews-item__image">
									<a href="#" class="factory-reviews-item__image-link">
										<img src="pic/factory/photo-03.jpg" alt="factory-reviews" class="factory-reviews-item__image-link-img">
									</a>
								</div>
								<div class="factory-reviews-item__holder">
									<div class="factory-reviews-item__heading">
										<a href="#" class="factory-reviews-item__heading-link">Lineaflex</a>
									</div>
									<span class="factory-reviews-item__country">Италия</span>
									<div class="factory-reviews-item__button">
										<a href="#" class="btn btn-border-brown factory-reviews-item__button-link">Читать отзывы</a>
									</div>
								</div>
							</div>
						</div>
						<div class="factory-reviews-list__item">
							<div class="factory-reviews-item">
								<div class="factory-reviews-item__image">
									<a href="#" class="factory-reviews-item__image-link">
										<img src="pic/factory/photo-04.png" alt="factory-reviews" class="factory-reviews-item__image-link-img">
									</a>
								</div>
								<div class="factory-reviews-item__holder">
									<div class="factory-reviews-item__heading">
										<a href="#" class="factory-reviews-item__heading-link">Анрекс</a>
									</div>
									<span class="factory-reviews-item__country">Беларусь</span>
									<div class="factory-reviews-item__button">
										<a href="#" class="btn btn-border-brown factory-reviews-item__button-link">Читать отзывы</a>
									</div>
								</div>
							</div>
						</div>
						<div class="factory-reviews-list__item">
							<div class="factory-reviews-item">
								<div class="factory-reviews-item__image">
									<a href="#" class="factory-reviews-item__image-link">
										<img src="pic/factory/photo-05.jpg" alt="factory-reviews" class="factory-reviews-item__image-link-img">
									</a>
								</div>
								<div class="factory-reviews-item__holder">
									<div class="factory-reviews-item__heading">
										<a href="#" class="factory-reviews-item__heading-link">Богачо</a>
									</div>
									<span class="factory-reviews-item__country">Россия</span>
									<div class="factory-reviews-item__button">
										<a href="#" class="btn btn-border-brown factory-reviews-item__button-link">Читать отзывы</a>
									</div>
								</div>
							</div>
						</div>
						<div class="factory-reviews-list__item">
							<div class="factory-reviews-item">
								<div class="factory-reviews-item__image">
									<a href="#" class="factory-reviews-item__image-link">
										<img src="pic/factory/photo-06.png" alt="factory-reviews" class="factory-reviews-item__image-link-img">
									</a>
								</div>
								<div class="factory-reviews-item__holder">
									<div class="factory-reviews-item__heading">
										<a href="#" class="factory-reviews-item__heading-link">БРВ Мебель</a>
									</div>
									<span class="factory-reviews-item__country">Беларусь</span>
									<div class="factory-reviews-item__button">
										<a href="#" class="btn btn-border-brown factory-reviews-item__button-link">Читать отзывы</a>
									</div>
								</div>
							</div>
						</div>
						<div class="factory-reviews-list__item">
							<div class="factory-reviews-item">
								<div class="factory-reviews-item__image">
									<a href="#" class="factory-reviews-item__image-link">
										<img src="pic/factory/photo-07.jpg" alt="factory-reviews" class="factory-reviews-item__image-link-img">
									</a>
								</div>
								<div class="factory-reviews-item__holder">
									<div class="factory-reviews-item__heading">
										<a href="#" class="factory-reviews-item__heading-link">Европа-мебель</a>
									</div>
									<span class="factory-reviews-item__country">Россия</span>
									<div class="factory-reviews-item__button">
										<a href="#" class="btn btn-border-brown factory-reviews-item__button-link">Читать отзывы</a>
									</div>
								</div>
								
							</div>
						</div>
						<div class="factory-reviews-list__item">
							<div class="factory-reviews-item">
								<div class="factory-reviews-item__image">
									<a href="#" class="factory-reviews-item__image-link">
										<img src="pic/factory/photo-08.png" alt="factory-reviews" class="factory-reviews-item__image-link-img">
									</a>
								</div>
								<div class="factory-reviews-item__holder">
									<div class="factory-reviews-item__heading">
										<a href="#" class="factory-reviews-item__heading-link">Квинта</a>
									</div>
									<span class="factory-reviews-item__country">Россия</span>
									<div class="factory-reviews-item__button">
										<a href="#" class="btn btn-border-brown factory-reviews-item__button-link">Читать отзывы</a>
									</div>
								</div>
							</div>
						</div>
						<div class="factory-reviews-list__item">
							<div class="factory-reviews-item">
								<div class="factory-reviews-item__image">
									<a href="#" class="factory-reviews-item__image-link">
										<img src="pic/factory/photo-09.jpg" alt="factory-reviews" class="factory-reviews-item__image-link-img">
									</a>
								</div>
								<div class="factory-reviews-item__holder">
									<div class="factory-reviews-item__heading">
										<a href="#" class="factory-reviews-item__heading-link">Лером</a>
									</div>
									<span class="factory-reviews-item__country">Россия</span>
									<div class="factory-reviews-item__button">
										<a href="#" class="btn btn-border-brown factory-reviews-item__button-link">Читать отзывы</a>
									</div>
								</div>
							</div>
						</div>
						<div class="factory-reviews-list__item">
							<div class="factory-reviews-item">
								<div class="factory-reviews-item__image">
									<a href="#" class="factory-reviews-item__image-link">
										<img src="pic/factory/photo-10.png" alt="factory-reviews" class="factory-reviews-item__image-link-img">
									</a>
								</div>
								<div class="factory-reviews-item__holder">
									<div class="factory-reviews-item__heading">
										<a href="#" class="factory-reviews-item__heading-link">Лидер</a>
									</div>
									<span class="factory-reviews-item__country">Россия</span>
									<div class="factory-reviews-item__button">
										<a href="#" class="btn btn-border-brown factory-reviews-item__button-link">Читать отзывы</a>
									</div>
								</div>
							</div>
						</div>
						<div class="factory-reviews-list__item">
							<div class="factory-reviews-item">
								<div class="factory-reviews-item__image">
									<a href="#" class="factory-reviews-item__image-link">
										<img src="pic/factory/photo-11.jpg" alt="factory-reviews" class="factory-reviews-item__image-link-img">
									</a>
								</div>
								<div class="factory-reviews-item__holder">
									<div class="factory-reviews-item__heading">
										<a href="#" class="factory-reviews-item__heading-link">Пинскдрев</a>
									</div>
									<span class="factory-reviews-item__country">Беларусь</span>
									<div class="factory-reviews-item__button">
										<a href="#" class="btn btn-border-brown factory-reviews-item__button-link">Читать отзывы</a>
									</div>
								</div>
							</div>
						</div>
						<div class="factory-reviews-list__item">
							<div class="factory-reviews-item">
								<div class="factory-reviews-item__image">
									<a href="#" class="factory-reviews-item__image-link">
										<img src="pic/factory/photo-12.png" alt="factory-reviews" class="factory-reviews-item__image-link-img">
									</a>
								</div>
								<div class="factory-reviews-item__holder">
									<div class="factory-reviews-item__heading">
										<a href="#" class="factory-reviews-item__heading-link">Юта</a>
									</div>
									<span class="factory-reviews-item__country">Россия</span>
									<div class="factory-reviews-item__button">
										<a href="#" class="btn btn-border-brown factory-reviews-item__button-link">Читать отзывы</a>
									</div>
								</div>
							</div>
						</div>
						<div class="factory-reviews-list__item">
							<div class="factory-reviews-item">
								<div class="factory-reviews-item__image">
									<a href="#" class="factory-reviews-item__image-link">
										<img src="pic/factory/photo-13.jpg" alt="factory-reviews" class="factory-reviews-item__image-link-img">
									</a>
								</div>
								<div class="factory-reviews-item__holder">
									<div class="factory-reviews-item__heading">
										<a href="#" class="factory-reviews-item__heading-link">Ярцево</a>
									</div>
									<span class="factory-reviews-item__country">Россия</span>
									<div class="factory-reviews-item__button">
										<a href="#" class="btn btn-border-brown factory-reviews-item__button-link">Читать отзывы</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- content end -->
	
	<!-- <div class="footer-spacer"></div> -->
</div>
<!-- wrapper end -->

@@include('template/layout/footer.html')
@@include('template/layout/footer-head.html')
</body>
</html> 