@@include('template/layout/head.html')
<body>
@@include('template/layout/svg.html')
@@include('template/layout/oldbrowser.html')

<!-- wrapper -->
<div class="wrapper">
	@@include('template/layout/header.html') 

	<!-- content -->
	<div class="content" role="main">
		<div class="container">
			<div class="breadcrumbs">
				<ul class="breadcrumbs-list">
					<li class="breadcrumbs-list__item breadcrumbs-list__item--hide">
						<span class="breadcrumbs-item breadcrumbs-item--main">
							<a href="#" class="breadcrumbs-item__link">
								<svg class="icon-arrow-tobottom breadcrumbs-item__link-marker">
									<use xlink:href="#arrow-tobottom"></use>
								</svg>
								<span class="breadcrumbs-item__link-text">На главную</span>
							</a>
						</span>
					</li>
					<li class="breadcrumbs-list__item">
						<span class="breadcrumbs-item breadcrumbs-item--main">
							<a href="#" class="breadcrumbs-item__link">
								<svg class="icon-arrow-tobottom breadcrumbs-item__link-marker">
									<use xlink:href="#arrow-tobottom"></use>
								</svg>
								<span class="breadcrumbs-item__link-text">Главная</span>
							</a>
						</span>
					</li>
					<li class="breadcrumbs-list__item">
						<span class="breadcrumbs-item">
							<a href="#" class="breadcrumbs-item__link">Отзывы мебельных фабрик</a>
							<svg class="icon-arrow-marker breadcrumbs-item__link-arrow">
								<use xlink:href="#arrow-marker"></use>
							</svg>
						</span>
					</li>
					<li class="breadcrumbs-list__item">
						<span class="breadcrumbs-item">
							<span class="breadcrumbs-item__link breadcrumbs-item__link--active">Отзывы БРВ Мебель</span>
						</span>
					</li>
				</ul>
			</div>
			<div class="content-box">
				<h1 class="content-box__heading">Отзывы БРВ Мебель</h1>
				
				<div class="factory-info">
					
					<div class="factory-info__content">
						<h2 class="factory-info__title">
							Black Red White
						</h2>
						<p class="factory-info__text">
							Мы в «MebelGold» прекрасно знаем, как порой непросто выбрать мебель. Вот почему основной упор в нашей работе был сделан не только на товарное разнообразие, но и на обеспечение лучшего сочетания цены и качества. При этом, формируя ассортимент, особое внимание мы уделяем экологичности, предлагая только ту мебель, которая соответствует современным экологическим нормам и общепринятым стандартам. А в рамках реализации комплексного подхода оказываем весь спектр дополнительных услуг – от бесплатной разработки 3D-дизайна, доставки и подъема мебели на этаж до профессиональной сборки, делая всё для того, чтобы покупка мебели приносила Вам радость, а не становилась головной болью.
						</p>
					</div>
					<div class="factory-info__logo">
						<div class="factory-logo">
							<img src="pic/factory/photo-14.jpg" alt="">
						</div>
					</div>
					
				</div>
				@@include('template/blocks/reviews.html')

			</div>
		</div>
	</div>
	<!-- content end -->
	
	<div class="footer-spacer"></div>
</div>
<!-- wrapper end -->

@@include('template/layout/footer.html')
@@include('template/layout/footer-head.html')
</body>
</html> 