@@for(var i = 0; i < arr.length; i++) {

<div class="products-list__item d-item">
    <div class="products-item js-equal-height">
        <div class="products-item__top">
            @@include('template/blocks/d-new/catalog/catalog-item-top.html', {"mod":"`+arr[i].top+`"})

        </div>
        <div class="products-item__image">
            <a href="#" class="products-item__image-link">
                <img src="`+arr[i].img+`" alt="Product" class="products-item__image-img">
            </a>
            <div class="d-item__stats">
                <div class="d-item__stats-item">
                    <span class="d-item__stats-accent">Ш.</span>
                    <span>160</span>
                </div>
                <div class="d-item__stats-item">
                    <span class="d-item__stats-accent">В.</span>
                    <span>96.5</span>
                </div>
                <div class="d-item__stats-item">
                    <span class="d-item__stats-accent">Г.</span>
                    <span>45.5</span>
                </div>
            </div>
        </div>
        <div class="products-item__holder">
            <div class="products-item__holder-top">
                <div class="products-item__holder-top-heading">
                    <a href="#" class="products-item__holder-top-heading-link">`+arr[i].name+`</a>
                </div>
                <div class="d-item__stock">В наличии</div>

                <div class="d-item__info">
                    <div class="d-item__info-txt">Цена:</div>
                    <div class="d-item__info-old">28 894</div>
                    <div class="d-item__info-new">22 356 руб.</div>
                </div>

                <button data-basket-link="/basket.html"
                        data-text-toggle="в корзине"
                        class="btn btn-brown btn-brown--basket d-item__btn js-basket-button">
                    <span class="btn__text">В корзину</span>
                    <span class="btn__icon">
						<svg class="icon-basket d-item__icon-b">
							<use xlink:href="#basket"></use>
						</svg>
                        <svg class="icon-basket d-item__icon-ok">
							<use xlink:href="#basket-ok"></use>
						</svg>
					</span>
                </button>
            </div>

        </div>

    </div>
</div>

}