@@if(context.mod === "left") {
<div class="products-item__top-left">
    <div class="products-item__top-left-item">
        <div class="special-marker products-item__special-marker">
            <svg class="icon-clock special-marker__icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clock">
                </use>
            </svg>
            <span class="special-marker__text">24 часа</span>
        </div>
    </div>
</div>
}
@@if(context.mod === "left-track") {
<div class="products-item__top-left">
    <div class="products-item__top-left-item">
        <div class="special-marker products-item__special-marker">
            <svg class="icon-clock special-marker__icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clock">
                </use>
            </svg>
            <span class="special-marker__text">24 часа</span>
        </div>
    </div>
</div>
}
@@if(context.mod === "right") {
<div class="products-item__top-right">
    <div class="products-item__top-right-item">
        <div class="hit-marker products-item__hit-marker">Хит</div>
    </div>
</div>
}
@@if(context.mod === "left-right") {
<div class="products-item__top-left">
    <div class="products-item__top-left-item">
        <div class="special-marker products-item__special-marker">
            <svg class="icon-clock special-marker__icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clock">
                </use>
            </svg>
            <span class="special-marker__text">24 часа</span>
        </div>
    </div>
</div>
<div class="products-item__top-right">
    <div class="products-item__top-right-item">
        <div class="hit-marker products-item__hit-marker">Хит</div>
    </div>
</div>
}

@@if(context.mod === "left-right-truck") {
<div class="products-item__top-left">
    <div class="products-item__top-left-item">
        <div class="special-marker products-item__special-marker">
            <svg class="icon-clock special-marker__icon">
                <use xlink:href="#car">
                </use>
            </svg>
            <span class="special-marker__text">24 часа</span>
        </div>
    </div>
</div>
<div class="products-item__top-right">
    <div class="products-item__top-right-item">
        <div class="hit-marker products-item__hit-marker">Хит</div>
    </div>
</div>
}

@@if(context.mod === "left-right-truck-%") {
<div class="products-item__top-left">
    <div class="products-item__top-left-item">
        <div class="special-marker products-item__special-marker">
            <svg class="icon-clock special-marker__icon">
                <use xlink:href="#car">
                </use>
            </svg>
            <span class="special-marker__text">24 часа</span>
        </div>
    </div>
</div>
<div class="products-item__top-right">
    <div class="modular-cards-item__sale sale-marker"><span class="sale-marker__text">30%</span></div>
</div>
}