f
.d-item {
  @include b(600) {
    width: 100%;
    padding: 0 0 20px;
  }
  &:hover {
    .d-item__btn {
      background-color: #ff733f;
    }
    .products-item {
      box-shadow: 0 20px 30px 0 rgba(79, 45, 0, 0.1), 0 7px 30px 0 rgba(79, 45, 0, 0.1);
    }
  }
  &__stock {
    display: inline-block;
    color: #fefefe;
    font-family: "Roboto Slab";
    font-size: 11px;
    font-weight: 400;
    background-color: #00a28a;
    padding: 2px 10px;
    letter-spacing: 0.05em;
  }
  &__icon {
    &-ok {
      display: none;
    }
  }
  &__btn {
    width: 100%;
    display: block;
    margin-top: 18px;
    margin-bottom: 14px;
    &:active {
      background-color: #fc5a1f !important;
    }
    &.selected {
      background-color: #faefe8 !important;
      color: #bba492 !important;
      .d-item__icon-b {
        display: none;
      }
      .d-item__icon-ok {
        display: inline-block;
      }
    }
  }
  &__info {
    position: relative;
    padding-left: 45px;
    min-height: 34px;
    text-align: right;
    margin-top: 19px;
    &-txt {
      position: absolute;
      top: 0;
      left: 0;
      line-height: 34px;
      color: #baa492;
      font-family: "Roboto Slab";
      font-size: 14px;
      font-weight: 400;
    }
    &-old {
      display: inline-block;
      vertical-align: middle;
      text-decoration: line-through;
      color: #bba492;
      font-family: "Roboto Slab";
      font-size: 13px;
      font-weight: 400;
      padding-right: 18px;
    }
    &-new {
      display: inline-block;
      vertical-align: middle;
      background-color: #faefe8;
      border-radius: 4px;

      line-height: 34px;
      color: #433c3a;
      font-family: "Roboto Slab";
      font-size: 18px;
      font-weight: 400;
      text-align: center;
      padding: 0 15px;
    }
  }
  &__stats {
    position: absolute;
    left: 21px;
    bottom: 12px;
    display: table-cell;
    width: 50px;
    &-item {
      color: #433c3a;
      font-family: "Roboto Slab";
      font-size: 12px;
      font-weight: 400;

      display: table-row;
      span {
        display: table-cell;
        padding-top: 23px;
      }
    }
    &-accent {
      color: #bba492;
      padding-right: 5px;
    }
    @include b(760) {
      left: 15px;
      text-align: center;
    }
  }


  .products-item__holder-top {
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 17px;
    text-align: left;
    @include b(760) {
      padding-left: 15px;
      padding-right: 15px;
    }
    &-heading {
      margin-bottom: 8px;
    }
  }
  .products-item__image {
    padding: 0 65px 10px;
    position: relative;
    z-index: -1;
    margin-top: -10px;
  }
  .products-item__image-link {
    height: 211px;
  }
}