.d-contacts {
  font-family: $font_second;
  padding-bottom: 100px;
  .static-content {
    td {
      @include b(360) {
        padding: 14px 5px 17px 5px;
      }
    }
  }
  &__title {
    color: #433f3e;
    font-size: 28px;
    font-weight: 400;
    &-sep {
      color: #433f3e !important;
      font-size: 24px !important;
      font-weight: 400;
      padding-top: 50px !important;
      padding-bottom: 33px !important;
      padding-left: 0 !important;
      letter-spacing: 0.06em;
    }
  }
  &__content {
    @include clearfix;
    margin-top: 43px;
  }

  &__main {
    float: left;
    width: 73%;
    @include b(1024) {
      width: 100%;
      float: none;
    }
  }
  &__aside {
    float: left;
    width: 27%;
    padding-left: 40px;
    @include b(1024) {
      display: none;
    }
  }

  &__map {
    margin-top: 60px;
    height: 365px;
    width: 100%;
    background-color: #ccc;
  }
  &__other {
    margin-top: 46px;
    td {
      width: auto !important;
      display: table-cell !important;
    }
    &-title {
      color: #433f3e;
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 34px;
    }
    .delivery-item__heading-text {
      font-size: 16px;
      font-weight: 700;
      padding-top: 12px;
    }
    .delivery-item__content {
      padding: 40px 0 28px;
    }
  }
  &__cb {
    color: #433c3a !important;
    font-family: "Roboto Slab";
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    border-bottom: 1px dashed #433c3a;
    text-decoration: none !important;
    vertical-align: middle;
    display: inline-block;
    margin-left: 15px;
    @include b(mobile) {
      margin-left: 0;
    }
    &:hover {
      border-bottom-style: solid;
    }
  }
}

.d-popup {
  display: none;
  outline: 0 !important;
  width: 477px;
  background-color: #faefe8;
  @include b(580) {
    width: 100%;
  }
  &__close {
    width: 100%;
    height: 39px;
    line-height: 39px;
    background-color: #f2e5dd;
    margin: 0;
    border: 0;
    outline: 0;
    padding: 0 15px;
    position: static !important;
    top: auto !important;
    right: auto !important;
    &-txt {
      color: #ac9888;
      font-family: "Roboto Slab";
      font-size: 12px;
      font-weight: 400;
      line-height: 48px;
      vertical-align: middle;
      letter-spacing: normal !important;
      padding-right: 5px;
    }
    &-holder {
      display: inline-block;
      margin-top: -10px;
    }
  }
  &__container {
    padding: 25px 29px 30px;
    @include b(580) {
      padding: 25px 20px 30px;
    }
  }
  &__title {
    text-align: center;
    color: #433c3a;
    font-family: "Roboto Slab";
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.8px;
  }
  &__form {
    margin-top: 26px;
    &-input {
      width: 100%;
      margin-bottom: 20px;
      position: relative;
      .input {
        height: 52px;
        font-family: "Roboto Slab";
        font-size: 14px;
      }
    }
    &-accent {
      color: #ff733f;
      font-family: "Roboto Slab";
      font-size: 14px;
      font-weight: 400;
      position: absolute;
      top: 12px;
      right: 12px;
    }
    &-check {
      text-align: center;
    }
    &-submit {
      margin-top: 35px;
      .btn {
        display: block;
        width: 100%;
      }
    }
  }
}