<div class="card-page__main js-accordeon-list" data-resolution="tablet">
	<div class="card-page__block card-page__block--unstable">
		<h2 class="card-page__block-heading">Модульная мебель Индиана каньйон</h2>
		<div class="card-page__block-modular-cards">
			<div class="modular-cards">
				<div class="modular-cards-list">
					<div class="modular-cards-list__item">
						<div class="modular-cards-item">
							<div class="modular-cards-item__image">
								<a href="#" class="modular-cards-item__image-link">
									<img src="pic/modular-cards/photo-01.jpg" alt="modular-cards" class="modular-cards-item__image-img">
								</a>
							</div>
							<div class="modular-cards-item__content">
								<div class="modular-cards-item__content-heading">
									<a href="#" class="modular-cards-item__content-heading-link">Болден</a>
								</div>
								<span class="modular-cards-item__content-set">Набирается поэлементно</span>
								<span class="modular-cards-item__content-inform">Современная классика в обстановке гостиной стала излюбленным вариантом для многих потребителей. Такая мебель, как гостиная Коен ДСП </span>
								<div class="modular-cards-item__content-button">
									<a href="#" class="btn btn-border-brown modular-cards-item__content-button-link">Подробнее</a>
								</div>
							</div>
							<div class="modular-cards-item__views views-marker">
								<svg class="icon-eye views-marker__image">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#eye"></use>
								</svg>
								<span class="views-marker__number">3000</span>
							</div>
						</div>
					</div>
					<div class="modular-cards-list__item">
						<div class="modular-cards-item">
							<div class="modular-cards-item__image">
								<a href="#" class="modular-cards-item__image-link">
									<img src="pic/modular-cards/photo-02.jpg" alt="modular-cards" class="modular-cards-item__image-img">
								</a>
							</div>
							<div class="modular-cards-item__content">
								<div class="modular-cards-item__content-heading">
									<a href="#" class="modular-cards-item__content-heading-link">Вена</a>
								</div>
								<span class="modular-cards-item__content-set">Набирается поэлементно</span>
								<span class="modular-cards-item__content-inform">Современное понятие гостиной в жилье часто связано со встречей и обедом всей семьи за общим столом, совместным просмотром </span>
								<div class="modular-cards-item__content-button">
									<a href="#" class="btn btn-border-brown modular-cards-item__content-button-link">Подробнее</a>
								</div>
							</div>
							<div class="modular-cards-item__views views-marker">
								<svg class="icon-eye views-marker__image">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#eye"></use>
								</svg>
								<span class="views-marker__number">1000</span>
							</div>
						</div>
					</div>
					<div class="modular-cards-list__item">
						<div class="modular-cards-item">
							<div class="modular-cards-item__image">
								<a href="#" class="modular-cards-item__image-link">
									<img src="pic/modular-cards/photo-03.jpg" alt="modular-cards" class="modular-cards-item__image-img">
								</a>
							</div>
							<div class="modular-cards-item__content">
								<div class="modular-cards-item__content-heading">
									<a href="#" class="modular-cards-item__content-heading-link">Верона</a>
								</div>
								<span class="modular-cards-item__content-set">Набирается поэлементно</span>
								<span class="modular-cards-item__content-inform">Современная классика в обстановке гостиной стала излюбленным вариантом для многих потребителей. Такая мебель, как гостиная Коен ДСП </span>
								<div class="modular-cards-item__content-button">
									<a href="#" class="btn btn-border-brown modular-cards-item__content-button-link">Подробнее</a>
								</div>
							</div>
							<div class="modular-cards-item__views views-marker">
								<svg class="icon-eye views-marker__image">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#eye"></use>
								</svg>
								<span class="views-marker__number">7011</span>
							</div>
						</div>
					</div>
					<div class="modular-cards-list__item">
						<div class="modular-cards-item">
							<div class="modular-cards-item__image">
								<a href="#" class="modular-cards-item__image-link">
									<img src="pic/modular-cards/photo-04.jpg" alt="modular-cards" class="modular-cards-item__image-img">
								</a>
							</div>
							<div class="modular-cards-item__content">
								<div class="modular-cards-item__content-heading">
									<a href="#" class="modular-cards-item__content-heading-link">Верона Европа</a>
								</div>
								<span class="modular-cards-item__content-set">Набирается поэлементно</span>
								<span class="modular-cards-item__content-inform">Спальня - это одно из самых интимных мест каждого дома. Именно поэтому необходимо оформлять ее так, чтобы здесь всегда с легкостью можно было отдохнуть.</span>
								<div class="modular-cards-item__content-button">
									<a href="#" class="btn btn-border-brown modular-cards-item__content-button-link">Подробнее</a>
								</div>
							</div>
							<div class="modular-cards-item__views views-marker">
								<svg class="icon-eye views-marker__image">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#eye"></use>
								</svg>
								<span class="views-marker__number">307</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card-page__block js-accordeon-item">
		<h2 class="card-page__block-heading js-accordeon__trigger">
			<span class="card-page__block-heading-text">Характеристики</span>
			<span class="card-page__block-heading-marker">
				<svg class="icon-arrow-tobottom button-direct__img card-page__block-heading-marker-image">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
				</svg>
			</span>
		</h2>
		<div class="card-page__block-holder js-accordion__inner">
			<div class="card-page__block-characteristics">
				<div class="characteristics">
					<div class="characteristics-list">
						<div class="characteristics-list__item">
							<div class="characteristics-item">
								<div class="characteristics-item__visual">
									<a href="#" class="characteristics-item__visual-link">
										<img src="pic/characteristics/photo-01.jpg" alt="characteristics" class="characteristics-item__visual-link-img">
										<img src="pic/characteristics/photo-01-gray.jpg" alt="characteristics" class="characteristics-item__visual-link-img--hover">
									</a>
								</div>
								<div class="characteristics-item__content">
									<div class="characteristics-item__content-heading">
										<a href="#" class="characteristics-item__content-heading-link">Материал корпуса и фасада МДФ/ДСП</a>
									</div>
									<span class="characteristics-item__content-inform">Изготовленные фирмами KRONOWOOD и KRONOSPAN, соответствуют классу эмиссии летучих веществ Е1, что означает полную безопасность продукции для потребителей</span>
								</div>
							</div>
						</div>
						<div class="characteristics-list__item">
							<div class="characteristics-item">
								<div class="characteristics-item__visual characteristics-item__visual--video">
									<a href="#" class="characteristics-item__visual-link">
										<img src="pic/characteristics/photo-02.jpg" alt="characteristics" class="characteristics-item__visual-link-img">
										<img src="pic/characteristics/photo-02-gray.jpg" alt="characteristics" class="characteristics-item__visual-link-img--hover">
									</a>
								</div>
								<div class="characteristics-item__content">
									<div class="characteristics-item__content-heading">
										<a href="#" class="characteristics-item__content-heading-link">Упаковка изготовлена из трехслойного гофрокартона</a>
									</div>
									<span class="characteristics-item__content-inform">Трехслойныйо гофрокартон, с применением специальных прокладочных материалов и демпфирующих элементов</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card-page__block-details">
				<div class="details">
					<ul class="details-list">
						<li class="details-list__item">
							<div class="details-item">
								<svg class="icon-manufacturer details-item__image">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#manufacturer"></use>
								</svg>
								<div class="details-item__inform">
									<span class="details-item__inform-top">Производитель:</span>
									<span class="details-item__inform-bottom">БРВ Мебель</span>
								</div>
							</div>
						</li>
						<li class="details-list__item">
							<div class="details-item">
								<svg class="icon-location details-item__image">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#location"></use>
								</svg>
								<div class="details-item__inform">
									<span class="details-item__inform-top">Страна производства:</span>
									<span class="details-item__inform-bottom">Польша, Белоруссия</span>
								</div>
							</div>
						</li>
						<li class="details-list__item">
							<div class="details-item">
								<svg class="icon-guarantee details-item__image">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#guarantee"></use>
								</svg>
								<div class="details-item__inform">
									<span class="details-item__inform-top">Гарантия:</span>
									<span class="details-item__inform-bottom">3 года</span>
								</div>
							</div>
						</li>
						<li class="details-list__item">
							<div class="details-item">
								<svg class="icon-term details-item__image">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#term"></use>
								</svg>
								<div class="details-item__inform">
									<span class="details-item__inform-top">Срок поставки:</span>
									<span class="details-item__inform-bottom">1-2 дня</span>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
				@@include('template/blocks/download.html')
		</div>
	</div>

	<div class="card-page__block js-accordeon-item">
		<h2 class="card-page__block-heading js-accordeon__trigger">
			<span class="card-page__block-heading-text">Мебель представлена в магазинах</span>
				<span class="card-page__block-heading-marker">
					<svg class="icon-arrow-tobottom button-direct__img card-page__block-heading-marker-image">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
					</svg>
				</span>
			</h2>
		<div class="card-page__block-holder card-page__block-location js-accordion__inner">
			<div class="card-page__block-location-map" id="js-map-card">
			</div>
		</div>
	</div>

	<div class="card-page__block js-accordeon-item">
		<h2 class="card-page__block-heading js-accordeon__trigger">
			<span class="card-page__block-heading-text">Описание</span>
			<span class="card-page__block-heading-marker">
				<svg class="icon-arrow-tobottom button-direct__img card-page__block-heading-marker-image">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
				</svg>
			</span>
		</h2>
		<div class="card-page__block-holder js-accordion__inner">
			<div class="card-page__block-description">
				<div class="description">
					<div class="description-main">
						<div class="description-main__left">
							<h3 class="description-main__left-heading">Гостиная из коллекции модульной мебели гарантирует добротный красивый вид и хорошее качество.</h3>
							<p class="description-main__left-info">Современное понятие гостиной в жилье часто связано со встречей и обедом всей семьи за общим столом, совместным просмотром телепередач, кинофильмов, также приемом гостей.</p>
							<p class="description-main__left-info">Подбор мебели для этого помещения должен быть ответственным и правильным. Обстановка гостиной с мебелью должна нравится самим хозяевам, располагать к положительному настрою, не утомлять набором нескладных, разрозненных по стилю предметов. Тогда домочадцы всегда будут рады встрече в комфортной, уютной атмосфере. А у гостей дома должно складываться благоприятное впечатление о хозяевах, также благодаря мебели.</p>
						</div>
						<div class="description-main__right">
							<div class="description-main__right-image">
								<img src="pic/description/photo-01.jpg" alt="Description" class="description-main__right-image-img">
							</div>
							
						</div>
					</div>
					<div class="description-extra">
						<h3 class="description-extra__heading">Высококачественная фурнитура</h3>
						<p class="description-extra__info">Современное понятие гостиной в жилье часто связано со встречей и обедом всей семьи за общим столом, совместным просмотром телепередач, кинофильмов, также приемом гостей. </p>
					</div>
				</div>
			</div>
			<div class="card-page__block-brands">
				<div class="brands">
					<ul class="brands-list">
						<li class="brands-list__item brands-list__item--marker">
							<div class="brands-item">
								<a href="#" class="brands-item__link">
									<img src="pic/brands/brand-01.png" alt="Brands" class="brands-item__link-image">
								</a>
							</div>
						</li>
						<li class="brands-list__item brands-list__item--marker">
							<div class="brands-item">
								<a href="#" class="brands-item__link">
									<img src="pic/brands/brand-02.png" alt="Brands" class="brands-item__link-image">
								</a>
							</div>
						</li>
						<li class="brands-list__item">
							<div class="brands-item">
								<a href="#" class="brands-item__link">
									<img src="pic/brands/brand-03.png" alt="Brands" class="brands-item__link-image">
								</a>
							</div>
						</li>
						<li class="brands-list__item">
							<div class="brands-item">
								<a href="#" class="brands-item__link">
									<img src="pic/brands/brand-04.png" alt="Brands" class="brands-item__link-image">
								</a>
							</div>
						</li>
						<li class="brands-list__item">
							<div class="brands-item">
								<a href="#" class="brands-item__link">
									<img src="pic/brands/brand-05.png" alt="Brands" class="brands-item__link-image">
								</a>
							</div>
						</li>
						<li class="brands-list__item">
							<div class="brands-item">
								<a href="#" class="brands-item__link">
									<img src="pic/brands/brand-06.png" alt="Brands" class="brands-item__link-image">
								</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="card-page__block card-page__block--hide">
		<div class="card-page__block-review">
			<div class="characteristics">
				<div class="characteristics-list characteristics-list--gray">
					<div class="characteristics-list__item">
						<div class="characteristics-item">
							<div class="characteristics-item__visual characteristics-item__visual--video  js-video-holder" data-video="di4zvomCX0Q">
								<div class="characteristics-item__visual-video-link js-video-img video-button">
									<img src="pic/ourplus/photo-01.jpg" alt="characteristics" class="characteristics-item__visual-link-video img-holder__image">	
								</div>
							</div>
							<div class="characteristics-item__content">
								<div class="characteristics-item__content-heading">
									<a href="#" class="characteristics-item__content-heading-link">Видео обзор модульной системы Стилиус</a>
								</div>
								<span class="characteristics-item__content-inform">Современное понятие гостиной в жилье часто связано со встречей и обедом всей семьи за общим столом, совместным просмотром телепередач, кинофильмов.</span>
							</div>
						</div>
					</div>
					<div class="characteristics-list__item">
						<div class="characteristics-item">
							<div class="characteristics-item__visual characteristics-item__visual--video">
								<a href="#" class="characteristics-item__visual-link">
									<img src="pic/ourplus/photo-02.jpg" alt="characteristics" class="characteristics-item__visual-link-img">
									<img src="pic/ourplus/photo-02-gray.jpg" alt="characteristics" class="characteristics-item__visual-link-img--hover">
								</a>
							</div>
							<div class="characteristics-item__content">
								<div class="characteristics-item__content-heading">
									<a href="#" class="characteristics-item__content-heading-link">3D Дизайн-проектов</a>
								</div>
								<span class="characteristics-item__content-inform">Теперь Вы можете создавать собственный 3D дизайн-проект комнаты, квартиры, офиса, включая окна, двери, предметы интерьера, потолки, цвет стен.</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="card-page__block js-accordeon-item">
		<h2 class="card-page__block-heading js-accordeon__trigger">
			<span class="card-page__block-heading-text">Преимущества</span>
			<span class="card-page__block-heading-marker">
				<svg class="icon-arrow-tobottom button-direct__img card-page__block-heading-marker-image">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
				</svg>
			</span>
		</h2>
		<div class="card-page__block-advantages card-page__block-holder js-accordion__inner">
			<div class="advantages">
				<div class="advantages-list">
					<div class="advantages-list__item">
						<div class="advantages-item">
							<div class="advantages-item__image">
								<img src="pic/sidemenu/photo-01.jpg" alt="advantages" class="advantages-item__image-img">
								<img src="pic/sidemenu/photo-01-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
							</div>
							<div class="advantages-item__info">
								<span class="advantages-item__info-text">Рассрочка - 0%</span>
							</div>
						</div>
					</div>
					<div class="advantages-list__item">
						<div class="advantages-item">
							<div class="advantages-item__image">
								<img src="pic/sidemenu/photo-02.jpg" alt="advantages" class="advantages-item__image-img">
								<img src="pic/sidemenu/photo-02-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
							</div>
							<div class="advantages-item__info">
								<span class="advantages-item__info-text">Сборка купленной мебели</span>
							</div>
						</div>
					</div>
					<div class="advantages-list__item">
						<div class="advantages-item">
							<div class="advantages-item__image">
								<img src="pic/sidemenu/photo-03.jpg" alt="advantages" class="advantages-item__image-img">
								<img src="pic/sidemenu/photo-03-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
							</div>
							<div class="advantages-item__info">
								<span class="advantages-item__info-text">Доставка мебели за 24&nbsp;часа</span>
							</div>
						</div>
					</div>
					<div class="advantages-list__item">
						<div class="advantages-item">
							<div class="advantages-item__image">
								<img src="pic/sidemenu/photo-04.jpg" alt="advantages" class="advantages-item__image-img">
								<img src="pic/sidemenu/photo-04-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
							</div>
							<div class="advantages-item__info">
								<span class="advantages-item__info-text">Гарантия качества и цены</span>
							</div>
						</div>
					</div>
					<div class="advantages-list__item">
						<div class="advantages-item">
							<div class="advantages-item__image">
								<img src="pic/sidemenu/photo-05.jpg" alt="advantages" class="advantages-item__image-img">
								<img src="pic/sidemenu/photo-05-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
							</div>
							<div class="advantages-item__info">
								<span class="advantages-item__info-text">Бесплатный дизайн в 3D</span>
							</div>
						</div>
					</div>
					<div class="advantages-list__item">
						<div class="advantages-item">
							<div class="advantages-item__image">
								<img src="pic/sidemenu/photo-06.jpg" alt="advantages" class="advantages-item__image-img">
								<img src="pic/sidemenu/photo-06-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
							</div>
							<div class="advantages-item__info">
								<span class="advantages-item__info-text">Акции и скидки</span>
							</div>
						</div>
					</div>
					<div class="advantages-list__item">
						<div class="advantages-item">
							<div class="advantages-item__image">
								<img src="pic/sidemenu/photo-07.jpg" alt="advantages" class="advantages-item__image-img">
								<img src="pic/sidemenu/photo-07-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
							</div>
							<div class="advantages-item__info">
								<span class="advantages-item__info-text">Бесплатный подъем мебели</span>
							</div>
						</div>
					</div>
					<div class="advantages-list__item">
						<div class="advantages-item">
							<div class="advantages-item__image">
								<img src="pic/sidemenu/photo-08.jpg" alt="advantages" class="advantages-item__image-img">
								<img src="pic/sidemenu/photo-08-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
							</div>
							<div class="advantages-item__info">
								<span class="advantages-item__info-text">Бесплатная доставка покупок</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="card-page__block js-accordeon-item">
		<h2 class="card-page__block-heading card-page__block-heading--left card-page__block-heading--small js-accordeon__trigger">
			<span class="card-page__block-heading-text">Доставка и подъем</span>
			<span class="card-page__block-heading-marker">
				<svg class="icon-arrow-tobottom button-direct__img card-page__block-heading-marker-image">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
				</svg>
			</span>
		</h2>
		<div class="card-page__block-supply card-page__block-holder js-accordion__inner">
			<div class="supply">
				<div class="supply-list">
					<div class="supply-list__item">
						<div class="supply-item">
							<h3 class="supply-item__heading">Доставка</h3>
							<div class="supply-item__content">
								<div class="static-content">
									<table>
										<tbody>
											<tr>
												<td>Доставка до подъезда:</td>
												<td>800 руб.</td>
											</tr>
											<tr>
												<td>Свыше 30 000 руб.:</td>
												<td>бесплатно</td>
											</tr>
											<tr>
												<td>Доставка за МКАД:</td>
												<td>30 руб. 1 км.</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="supply-list__item">
						<div class="supply-item">
							<h3 class="supply-item__heading">Подъем</h3>
							<div class="supply-item__content">
								<div class="static-content">
									<table>
										<tbody>
											<tr>
												<td>Свыше 30 000 руб - подъем на лифте:</td>
												<td>бесплатно</td>
											</tr>
											<tr>
												<td>Менее 30 000 руб. на лифте:</td>
												<td>400 руб.</td>
											</tr>
											<tr>
												<td>Без лифта:</td>
												<td>250 руб. на первый плюс 150 руб/ этаж</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="supply-list__item supply-list__item--hide">
						<div class="supply-item">
							<h3 class="supply-item__heading">Сборка</h3>
							<div class="supply-item__content">
								<div class="static-content">
									<table>
										<tbody>
											<tr>
												<td>Свыше 30 000 руб - подъем на лифте:</td>
												<td>7 % от стоимости</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="supply-list__item  supply-list__item--hide">
						<div class="supply-item">
							<h3 class="supply-item__heading">Сроки</h3>
							<div class="supply-item__content">
								<div class="static-content">
									<table>
										<tbody>
											<tr>
												<td>В наличии</td>
												<td>ДОСТАВКА за 24 часа</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
