	<div class="card-page__block card-page__block--hide">
		<h2 class="card-page__block-heading">C этим товаром берут</h2>
		<div class="card-page__block-products">
			<div class="products">
				<div class="products-list js-equal-height">
					@@include('template/blocks/d-new/catalog/catalog-item.html', {
					"arr": [
					{
					"name" : "Витрина NWIT 1DL",
					"img":"pic/products/medium/product-01.jpg",
					"top" : "left-right"
					},
					{
					"name" : "Витрина NWIT 1DL",
					"img":"pic/products/medium/product-02.jpg",
					"top" : "left-right-truck"
					},
					{
					"name" : "Витрина NWIT 1DL",
					"img":"pic/products/medium/product-03.jpg",
					"top" : "left-right"
					},
					{
					"name" : "Витрина NWIT 1DL",
					"img":"pic/products/medium/product-04.jpg",
					"top" : "left-right-truck-%"
					},
					{
					"name" : "Витрина NWIT 1DL",
					"img":"pic/products/medium/product-01.jpg",
					"top" : "left-right"
					},
					{
					"name" : "Витрина NWIT 1DL",
					"img":"pic/products/medium/product-02.jpg",
					"top" : "left-right-truck"
					},
					{
					"name" : "Витрина NWIT 1DL",
					"img":"pic/products/medium/product-03.jpg",
					"top" : "left-right"
					},
					{
					"name" : "Витрина NWIT 1DL",
					"img":"pic/products/medium/product-04.jpg",
					"top" : "left-right-truck-%"
					}
					]
					})
				</div>
			</div>
		</div>
	</div>

	<div class="card-page__block js-accordeon-item card-page__block--border">
		<h2 class="card-page__block-heading card-page__block-heading--left js-accordeon__trigger">
			<span class="card-page__block-heading-text">Отзывы</span>
			<span class="card-page__block-heading-marker">
				<svg class="icon-arrow-tobottom button-direct__img card-page__block-heading-marker-image">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
				</svg>
			</span>
		</h2>
		<div class="card-page__block-reviews card-page__block-holder js-accordion__inner">

			@@include('template/blocks/reviews.html')
			
		</div>
	</div>

	<div class="card-page__block card-page__block--visible card-page__block--unstable">
		<h2 class="card-page__block-heading">C этим товаром берут</h2>
		<div class="card-page__block-products">
			<div class="products">
				<div class="products-list js-equal-height">
					<div class="products-list__item">
						<div class="products-item">
							<div class="products-item__top">
								<div class="products-item__top-right">
									<div class="products-item__top-right-item">
										<div class="hit-marker products-item__hit-marker">Хит</div>
									</div>
								</div>
							</div>
							<div class="products-item__image">
								<a href="#" class="products-item__image-link">
									<img src="pic/products/medium/product-04.jpg" alt="Product" class="products-item__image-img">
								</a>
							</div>
							<div class="products-item__holder">
								<div class="products-item__holder-top">
									<div class="products-item__holder-top-heading">
										<a href="#" class="products-item__holder-top-heading-link">Тумба RTV 1s</a>
									</div>
									<div class="products-item__about">
										<div class="specification">
											<ul class="specification-list">
												<li class="specification-list__item specification-list__item--first">
													<div class="specification-item">
														<span class="specification-item__top">Ш., см.</span>
														<span class="specification-item__bottom">160</span>
													</div>
												</li>
												<li class="specification-list__item">
													<div class="specification-item">
														<span class="specification-item__top">Ш., см.</span>
														<span class="specification-item__bottom">160</span>
													</div>
												</li>
												<li class="specification-list__item specification-list__item--last">
													<div class="specification-item">
														<span class="specification-item__top">Ш., см.</span>
														<span class="specification-item__bottom">160</span>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="products-item__holder-bottom">
									<div class="products-item__holder-bottom-left">
										<span class="old-price products-item__holder-bottom-left-old">28 894</span>
										<span class="new-price products-item__holder-bottom-left-new">22 356 руб.</span>
									</div>
									<div class="products-item__holder-bottom-right">
										<a href="#" class="btn btn-brown btn-brown--basket products-item__holder-bottom-right-button">
											<span class="btn__text">В корзину</span>
											<span class="btn__icon">
												<svg class="icon-basket">
													<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#basket"></use>
												</svg>
											</span>
										</a>
									</div>
								</div>
							</div>
							<a href="#" class="one-click products-item__one-click">Купить в один клик</a>
						</div>
					</div>
					<div class="products-list__item">
						<div class="products-item">
							<div class="products-item__top">

							</div>
							<div class="products-item__image">
								<a href="#" class="products-item__image-link">
									<img src="pic/products/medium/product-05.jpg" alt="Product" class="products-item__image-img">
								</a>
							</div>
							<div class="products-item__holder">
								<div class="products-item__holder-top">
									<div class="products-item__holder-top-heading">
										<a href="#" class="products-item__holder-top-heading-link">Кровать с основанием LOZ90</a>
									</div>
									<div class="products-item__about">
										<div class="specification">
											<ul class="specification-list">
												<li class="specification-list__item specification-list__item--first">
													<div class="specification-item">
														<span class="specification-item__top">Ш., см.</span>
														<span class="specification-item__bottom">160</span>
													</div>
												</li>
												<li class="specification-list__item">
													<div class="specification-item">
														<span class="specification-item__top">Ш., см.</span>
														<span class="specification-item__bottom">160</span>
													</div>
												</li>
												<li class="specification-list__item specification-list__item--last">
													<div class="specification-item">
														<span class="specification-item__top">Ш., см.</span>
														<span class="specification-item__bottom">160</span>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="products-item__holder-bottom">
									<div class="products-item__holder-bottom-left">
										<span class="old-price products-item__holder-bottom-left-old">28 894</span>
										<span class="new-price products-item__holder-bottom-left-new">22 356 руб.</span>
									</div>
									<div class="products-item__holder-bottom-right">
										<a href="#" class="btn btn-brown btn-brown--basket products-item__holder-bottom-right-button">
											<span class="btn__text">В корзину</span>
											<span class="btn__icon">
												<svg class="icon-basket">
													<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#basket"></use>
												</svg>
											</span>
										</a>
									</div>
								</div>
							</div>
							<a href="#" class="one-click products-item__one-click">Купить в один клик</a>
						</div>
					</div>
					<div class="products-list__item">
						<div class="products-item">
							<div class="products-item__top">
								<div class="products-item__top-right">
									<div class="products-item__top-right-item">
										<div class="hit-marker products-item__hit-marker">Хит</div>
									</div>
								</div>
							</div>
							<div class="products-item__image">
								<a href="#" class="products-item__image-link">
									<img src="pic/products/medium/product-04.jpg" alt="Product" class="products-item__image-img">
								</a>
							</div>
							<div class="products-item__holder">
								<div class="products-item__holder-top">
									<div class="products-item__holder-top-heading">
										<a href="#" class="products-item__holder-top-heading-link">Тумба RTV 1s</a>
									</div>
									<div class="products-item__about">
										<div class="specification">
											<ul class="specification-list">
												<li class="specification-list__item specification-list__item--first">
													<div class="specification-item">
														<span class="specification-item__top">Ш., см.</span>
														<span class="specification-item__bottom">160</span>
													</div>
												</li>
												<li class="specification-list__item">
													<div class="specification-item">
														<span class="specification-item__top">Ш., см.</span>
														<span class="specification-item__bottom">160</span>
													</div>
												</li>
												<li class="specification-list__item specification-list__item--last">
													<div class="specification-item">
														<span class="specification-item__top">Ш., см.</span>
														<span class="specification-item__bottom">160</span>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="products-item__holder-bottom">
									<div class="products-item__holder-bottom-left">
										<span class="old-price products-item__holder-bottom-left-old">28 894</span>
										<span class="new-price products-item__holder-bottom-left-new">22 356 руб.</span>
									</div>
									<div class="products-item__holder-bottom-right">
										<a href="#" class="btn btn-brown btn-brown--basket products-item__holder-bottom-right-button">
											<span class="btn__text">В корзину</span>
											<span class="btn__icon">
												<svg class="icon-basket">
													<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#basket"></use>
												</svg>
											</span>
										</a>
									</div>
								</div>
							</div>
							<a href="#" class="one-click products-item__one-click">Купить в один клик</a>
						</div>
					</div>
					<div class="products-list__item">
						<div class="products-item">
							<div class="products-item__top">
								<div class="products-item__top-right">
									<div class="products-item__top-right-item">
										<div class="hit-marker products-item__hit-marker">Хит</div>
									</div>
								</div>
							</div>
							<div class="products-item__image">
								<a href="#" class="products-item__image-link">
									<img src="pic/products/medium/product-05.jpg" alt="Product" class="products-item__image-img">
								</a>
							</div>
							<div class="products-item__holder">
								<div class="products-item__holder-top">
									<div class="products-item__holder-top-heading">
										<a href="#" class="products-item__holder-top-heading-link">Кровать с основанием LOZ90</a>
									</div>
									<div class="products-item__about">
										<div class="specification">
											<ul class="specification-list">
												<li class="specification-list__item specification-list__item--first">
													<div class="specification-item">
														<span class="specification-item__top">Ш., см.</span>
														<span class="specification-item__bottom">160</span>
													</div>
												</li>
												<li class="specification-list__item">
													<div class="specification-item">
														<span class="specification-item__top">Ш., см.</span>
														<span class="specification-item__bottom">160</span>
													</div>
												</li>
												<li class="specification-list__item specification-list__item--last">
													<div class="specification-item">
														<span class="specification-item__top">Ш., см.</span>
														<span class="specification-item__bottom">160</span>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="products-item__holder-bottom">
									<div class="products-item__holder-bottom-left">
										<span class="old-price products-item__holder-bottom-left-old">28 894</span>
										<span class="new-price products-item__holder-bottom-left-new">22 356 руб.</span>
									</div>
									<div class="products-item__holder-bottom-right">
										<a href="#" class="btn btn-brown btn-brown--basket products-item__holder-bottom-right-button">
											<span class="btn__text">В корзину</span>
											<span class="btn__icon">
												<svg class="icon-basket">
													<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#basket"></use>
												</svg>
											</span>
										</a>
									</div>
								</div>
							</div>
							<a href="#" class="one-click products-item__one-click">Купить в один клик</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>