<div class="card-page__main js-accordeon-list" data-resolution="tablet">

	<div class="card-page__block js-accordeon-item">
		<h2 class="card-page__block-heading js-accordeon__trigger">
			<span class="card-page__block-heading-text">Мебель представлена в магазинах</span>
				<span class="card-page__block-heading-marker">
					<svg class="icon-arrow-tobottom button-direct__img card-page__block-heading-marker-image">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
					</svg>
				</span>
			</h2>
		<div class="card-page__block-holder card-page__block-location js-accordion__inner">
			<div class="card-page__block-location-map" id="js-map-card">
			</div>
		</div>
	</div>

	<div class="card-page__block card-page__block--hide">
		<div class="card-page__block-review">
			<div class="characteristics">
				<div class="characteristics-list characteristics-list--gray">
					<div class="characteristics-list__item">
						<div class="characteristics-item">
							<div class="characteristics-item__visual characteristics-item__visual--video  js-video-holder" data-video="di4zvomCX0Q">
								<div class="characteristics-item__visual-video-link js-video-img video-button">
									<img src="pic/ourplus/photo-01.jpg" alt="characteristics" class="characteristics-item__visual-link-video img-holder__image">	
								</div>
							</div>
							<div class="characteristics-item__content">
								<div class="characteristics-item__content-heading">
									<a href="#" class="characteristics-item__content-heading-link">Видео обзор модульной системы Стилиус</a>
								</div>
								<span class="characteristics-item__content-inform">Современное понятие гостиной в жилье часто связано со встречей и обедом всей семьи за общим столом, совместным просмотром телепередач, кинофильмов.</span>
							</div>
						</div>
					</div>
					<div class="characteristics-list__item">
						<div class="characteristics-item">
							<div class="characteristics-item__visual characteristics-item__visual--video">
								<a href="#" class="characteristics-item__visual-link">
									<img src="pic/ourplus/photo-02.jpg" alt="characteristics" class="characteristics-item__visual-link-img">
									<img src="pic/ourplus/photo-02-gray.jpg" alt="characteristics" class="characteristics-item__visual-link-img--hover">
								</a>
							</div>
							<div class="characteristics-item__content">
								<div class="characteristics-item__content-heading">
									<a href="#" class="characteristics-item__content-heading-link">3D Дизайн-проектов</a>
								</div>
								<span class="characteristics-item__content-inform">Теперь Вы можете создавать собственный 3D дизайн-проект комнаты, квартиры, офиса, включая окна, двери, предметы интерьера, потолки, цвет стен.</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="card-page__block js-accordeon-item">
		<h2 class="card-page__block-heading js-accordeon__trigger">
			<span class="card-page__block-heading-text">Преимущества</span>
			<span class="card-page__block-heading-marker">
				<svg class="icon-arrow-tobottom button-direct__img card-page__block-heading-marker-image">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
				</svg>
			</span>
		</h2>
		<div class="card-page__block-advantages card-page__block-holder js-accordion__inner">
			<div class="advantages">
				<div class="advantages-list">
					<div class="advantages-list__item">
						<div class="advantages-item">
							<div class="advantages-item__image">
								<img src="pic/sidemenu/photo-01.jpg" alt="advantages" class="advantages-item__image-img">
								<img src="pic/sidemenu/photo-01-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
							</div>
							<div class="advantages-item__info">
								<span class="advantages-item__info-text">Рассрочка - 0%</span>
							</div>
						</div>
					</div>
					<div class="advantages-list__item">
						<div class="advantages-item">
							<div class="advantages-item__image">
								<img src="pic/sidemenu/photo-02.jpg" alt="advantages" class="advantages-item__image-img">
								<img src="pic/sidemenu/photo-02-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
							</div>
							<div class="advantages-item__info">
								<span class="advantages-item__info-text">Сборка купленной мебели</span>
							</div>
						</div>
					</div>
					<div class="advantages-list__item">
						<div class="advantages-item">
							<div class="advantages-item__image">
								<img src="pic/sidemenu/photo-03.jpg" alt="advantages" class="advantages-item__image-img">
								<img src="pic/sidemenu/photo-03-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
							</div>
							<div class="advantages-item__info">
								<span class="advantages-item__info-text">Доставка мебели за 24&nbsp;часа</span>
							</div>
						</div>
					</div>
					<div class="advantages-list__item">
						<div class="advantages-item">
							<div class="advantages-item__image">
								<img src="pic/sidemenu/photo-04.jpg" alt="advantages" class="advantages-item__image-img">
								<img src="pic/sidemenu/photo-04-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
							</div>
							<div class="advantages-item__info">
								<span class="advantages-item__info-text">Гарантия качества и цены</span>
							</div>
						</div>
					</div>
					<div class="advantages-list__item">
						<div class="advantages-item">
							<div class="advantages-item__image">
								<img src="pic/sidemenu/photo-05.jpg" alt="advantages" class="advantages-item__image-img">
								<img src="pic/sidemenu/photo-05-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
							</div>
							<div class="advantages-item__info">
								<span class="advantages-item__info-text">Бесплатный дизайн в 3D</span>
							</div>
						</div>
					</div>
					<div class="advantages-list__item">
						<div class="advantages-item">
							<div class="advantages-item__image">
								<img src="pic/sidemenu/photo-06.jpg" alt="advantages" class="advantages-item__image-img">
								<img src="pic/sidemenu/photo-06-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
							</div>
							<div class="advantages-item__info">
								<span class="advantages-item__info-text">Акции и скидки</span>
							</div>
						</div>
					</div>
					<div class="advantages-list__item">
						<div class="advantages-item">
							<div class="advantages-item__image">
								<img src="pic/sidemenu/photo-07.jpg" alt="advantages" class="advantages-item__image-img">
								<img src="pic/sidemenu/photo-07-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
							</div>
							<div class="advantages-item__info">
								<span class="advantages-item__info-text">Бесплатный подъем мебели</span>
							</div>
						</div>
					</div>
					<div class="advantages-list__item">
						<div class="advantages-item">
							<div class="advantages-item__image">
								<img src="pic/sidemenu/photo-08.jpg" alt="advantages" class="advantages-item__image-img">
								<img src="pic/sidemenu/photo-08-brown.jpg" alt="advantages" class="advantages-item__image-img--hover">
							</div>
							<div class="advantages-item__info">
								<span class="advantages-item__info-text">Бесплатная доставка покупок</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="card-page__block js-accordeon-item">
		<h2 class="card-page__block-heading card-page__block-heading--left card-page__block-heading--small js-accordeon__trigger">
			<span class="card-page__block-heading-text">Доставка и подъем</span>
			<span class="card-page__block-heading-marker">
				<svg class="icon-arrow-tobottom button-direct__img card-page__block-heading-marker-image">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
				</svg>
			</span>
		</h2>
		<div class="card-page__block-supply card-page__block-holder js-accordion__inner">
			<div class="supply">
				<div class="supply-list">
					<div class="supply-list__item">
						<div class="supply-item">
							<h3 class="supply-item__heading">Доставка</h3>
							<div class="supply-item__content">
								<div class="static-content">
									<table>
										<tbody>
											<tr>
												<td>Доставка до подъезда:</td>
												<td>800 руб.</td>
											</tr>
											<tr>
												<td>Свыше 30 000 руб.:</td>
												<td>бесплатно</td>
											</tr>
											<tr>
												<td>Доставка за МКАД:</td>
												<td>30 руб. 1 км.</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="supply-list__item">
						<div class="supply-item">
							<h3 class="supply-item__heading">Подъем</h3>
							<div class="supply-item__content">
								<div class="static-content">
									<table>
										<tbody>
											<tr>
												<td>Свыше 30 000 руб - подъем на лифте:</td>
												<td>бесплатно</td>
											</tr>
											<tr>
												<td>Менее 30 000 руб. на лифте:</td>
												<td>400 руб.</td>
											</tr>
											<tr>
												<td>Без лифта:</td>
												<td>250 руб. на первый плюс 150 руб/ этаж</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="supply-list__item supply-list__item--hide">
						<div class="supply-item">
							<h3 class="supply-item__heading">Сборка</h3>
							<div class="supply-item__content">
								<div class="static-content">
									<table>
										<tbody>
											<tr>
												<td>Свыше 30 000 руб - подъем на лифте:</td>
												<td>7 % от стоимости</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="supply-list__item  supply-list__item--hide">
						<div class="supply-item">
							<h3 class="supply-item__heading">Сроки</h3>
							<div class="supply-item__content">
								<div class="static-content">
									<table>
										<tbody>
											<tr>
												<td>В наличии</td>
												<td>ДОСТАВКА за 24 часа</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
