<div class="collection">
	<div class="collection__title">
		из коллекции:
	</div>
	<a href="#" class="collection__link">
		<span class="collection__link-text">
			Индиана каньйон
		</span>
		<span class="collection__link-icon">
			<svg class="icon-arrow-right-sm">
				<use xlink:href="#arrow-tobottom"></use>
			</svg>
		</span>
	</a>
</div>