<div class="card-page__block-download">
				<div class="download">
					<div class="download__inform">
						<div class="download__inform-text download__inform-text--instruction">
							<div class="download__inform-text-instruction">
								<span class="download__inform-text-instruction-image">
									<svg class="icon-instruction download__inform-text-instruction-image-img">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#instruction"></use>
									</svg>
								</span>
								<span class="download__inform-text-instruction-text">Инструкция:</span>
							</div>
							<div class="download__inform-text-holder">
								<a href="#" class="download__inform-text-link">Инструкция по сборке мебели на русском языке, </a>
								<span class="download__inform-text-info"> pdf</span>
							</div>
						</div>
					</div>
					<div class="download__button">
						<a href="#" class="btn btn-brown btn-brown--download">
							<span class="btn__text">Скачать</span>
							<span class="btn__icon">
								<svg class="icon-download">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#download"></use>
								</svg>
							</span>
						</a>
					</div>
				</div>
			</div>