<div class="card-page__block-download">
				<div class="download">
					<div class="download__inform">
						<div class="download__inform-text download__inform-text--instruction">
							<div class="download__inform-text-instruction">
								<span class="download__inform-text-instruction-image">
									<svg class="icon-instruction download__inform-text-instruction-image-img">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#instruction"></use>
									</svg>
								</span>
								<span class="download__inform-text-instruction-text">Инструкция:</span>
							</div>
							<div class="download__inform-text-holder">
								<a href="#" class="download__inform-text-link disabled">Инструкция по сборке мебели на русском языке, </a>
								<span class="download__inform-text-info"> pdf</span>
							</div>
						</div>
					</div>
					<form class="download__button">
						<button class="btn btn-brown btn-brown--download disabled" type="button">
							в комплекте поставки
						</button>
					</form>
				</div>
			</div>