<div class="company-history">
	<div class="company-history__wrap js-scroll-horizontal">
		<div class="company-history__table">
			<div class="company-history__inner">
				<ul class="timeline">
					<li class="timeline__item">
						<div class="timeline__year">
							2000
						</div>
						<div class="timeline__content">
							<div class="timeline__content-inner js-scroll-vertical"><div class="timeline__content-text">Первый стильный магазин «MebelGold» был открыт в 2000-ом году, задав вектор для дальнейшего развития компании. Помимо интернет-магазина, мы располагаем сетью мебельных салонов в Москве, куда Вы всегда можете приехать, чтобы оценить мебель «вживую». И этот факт, наверняка, будет особенно приятен тем, кто онлайн-шопингу предпочитает делать покупки «по старинке».Помимо интернет-магазина, мы располагаем сетью мебельных салонов в Москве, куда Вы всегда можете приехать, чтобы оценить мебель «вживую». И этот факт, наверняка, будет особенно приятен тем, кто онлайн-шопингу предпочитает делать покупки «по старинке».Помимо интернет-магазина, мы располагаем сетью мебельных салонов в Москве, куда Вы всегда можете приехать, чтобы оценить мебель «вживую». И этот факт, наверняка, будет особенно приятен тем, кто онлайн-шопингу предпочитает делать покупки «по старинке».</div></div>
						</div>
					</li>
					<li class="timeline__item">
						<div class="timeline__year">
							2001
						</div>
						<div class="timeline__content">
							<div class="timeline__content-inner js-scroll-vertical"><div class="timeline__content-text">Помимо интернет-магазина, мы располагаем сетью мебельных салонов в Москве, куда Вы всегда можете приехать, чтобы оценить мебель «вживую». И этот факт, наверняка, будет особенно приятен тем, кто онлайн-шопингу предпочитает делать покупки «по старинке».</div></div>
						</div>
					</li>
					<li class="timeline__item">
						<div class="timeline__year">
							2002
						</div>
						<div class="timeline__content">
							<div class="timeline__content-inner js-scroll-vertical"><div class="timeline__content-text">Первый стильный магазин «MebelGold» был открыт в 2000-ом году, задав вектор для дальнейшего развития компании.</div></div>
						</div>
					</li>
					<li class="timeline__item">
						<div class="timeline__year">
							2000
						</div>
						<div class="timeline__content">
							<div class="timeline__content-inner js-scroll-vertical"><div class="timeline__content-text">Первый стильный магазин «MebelGold» был открыт в 2000-ом году, задав вектор для дальнейшего развития компании.</div></div>
						</div>
					</li>
					<li class="timeline__item">
						<div class="timeline__year">
							2001
						</div>
						<div class="timeline__content">
							<div class="timeline__content-inner js-scroll-vertical"><div class="timeline__content-text">Помимо интернет-магазина, мы располагаем сетью мебельных салонов в Москве, куда Вы всегда можете приехать, чтобы оценить мебель «вживую». И этот факт, наверняка, будет особенно приятен тем, кто онлайн-шопингу предпочитает делать покупки «по старинке».</div></div>
						</div>
					</li>
					<li class="timeline__item">
						<div class="timeline__year">
							2002
						</div>
						<div class="timeline__content">
							<div class="timeline__content-inner js-scroll-vertical"><div class="timeline__content-text">Первый стильный магазин «MebelGold» был открыт в 2000-ом году, задав вектор для дальнейшего развития компании.</div></div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>