<div class="popup-gallery" id="zoom-photo-module">
	<div class="popup-gallery__main js-large-product-module__main popup-gallery__main--large">
		<div class="popup-gallery__main-item" style="background-image: url('pic/modules/large/photo-01.jpg');">
		</div>
		<div class="popup-gallery__main-item" style="background-image: url('pic/modules/large/photo-01.jpg');">
		</div>
		<div class="popup-gallery__main-item" style="background-image: url('pic/modules/large/photo-01.jpg');">
		</div>
		<div class="popup-gallery__main-item" style="background-image: url('pic/modules/large/photo-01.jpg');">
		</div>
		<div class="popup-gallery__main-item" style="background-image: url('pic/modules/large/photo-01.jpg');">
		</div>
		<div class="popup-gallery__main-item" style="background-image: url('pic/modules/large/photo-01.jpg');">
		</div>
		<div class="popup-gallery__main-item" style="background-image: url('pic/modules/large/photo-01.jpg');">
		</div>
		<div class="popup-gallery__main-item" style="background-image: url('pic/modules/large/photo-01.jpg');">
		</div>
		<div class="popup-gallery__main-item" style="background-image: url('pic/modules/large/photo-01.jpg');">
		</div>
		<div class="popup-gallery__main-item" style="background-image: url('pic/modules/large/photo-01.jpg');">
		</div>
	</div>
	<div class="popup-gallery__nav popup-gallery__nav--large">
		<div class="popup-gallery__nav-inner js-large-product-module__nav">
			<div class="popup-gallery__nav-item" style="background-image: url('pic/modules/large/photo-01.jpg');">
			</div>
			<div class="popup-gallery__nav-item" style="background-image: url('pic/modules/large/photo-01.jpg');">
			</div>
			<div class="popup-gallery__nav-item" style="background-image: url('pic/modules/large/photo-01.jpg');">
			</div>
			<div class="popup-gallery__nav-item" style="background-image: url('pic/modules/large/photo-01.jpg');">
			</div>
			<div class="popup-gallery__nav-item" style="background-image: url('pic/modules/large/photo-01.jpg');">
			</div>
			<div class="popup-gallery__nav-item" style="background-image: url('pic/modules/large/photo-01.jpg');">
			</div>
			<div class="popup-gallery__nav-item" style="background-image: url('pic/modules/large/photo-01.jpg');">
			</div>
			<div class="popup-gallery__nav-item" style="background-image: url('pic/modules/large/photo-01.jpg');">
			</div>
			<div class="popup-gallery__nav-item" style="background-image: url('pic/modules/large/photo-01.jpg');">
			</div>
			<div class="popup-gallery__nav-item" style="background-image: url('pic/modules/large/photo-01.jpg');">
			</div>
		</div>
	</div>
</div>