<div class="popup-gallery" id="zoom-photo">
	<div class="popup-gallery__main js-large-product__main">
		<div class="popup-gallery__main-item" style="background-image: url('pic/products/xlarge/photo-01.jpg');">
		</div>
		<div class="popup-gallery__main-item" style="background-image: url('pic/products/large/photo-03.jpg');">
		</div>
		<div class="popup-gallery__main-item" style="background-image: url('pic/products/xlarge/photo-01.jpg');">
		</div>
		<div class="popup-gallery__main-item" style="background-image: url('pic/products/xlarge/photo-01.jpg');">
		</div>
		<div class="popup-gallery__main-item" style="background-image: url('pic/products/xlarge/photo-01.jpg');">
		</div>
		<div class="popup-gallery__main-item" style="background-image: url('pic/products/large/photo-03.jpg');">
		</div>
	</div>
	<div class="popup-gallery__nav ">
		<div class="popup-gallery__nav-inner js-large-product__nav">
			<div class="popup-gallery__nav-item">
				<img src="pic/products/xlarge/photo-01.jpg" alt="">
			</div>
			<div class="popup-gallery__nav-item">
				<img src="pic/products/large/photo-03.jpg" alt="">
			</div>
			<div class="popup-gallery__nav-item">
				<img src="pic/products/xlarge/photo-01.jpg" alt="">
			</div>
			<div class="popup-gallery__nav-item">
				<img src="pic/products/xlarge/photo-01.jpg" alt="">
			</div>
			<div class="popup-gallery__nav-item">
				<img src="pic/products/xlarge/photo-01.jpg" alt="">
			</div>
			<div class="popup-gallery__nav-item">
				<img src="pic/products/large/photo-03.jpg" alt="">
			</div>
		</div>
	</div>
</div>