<div class="managers">
	<div class="managers__row">
		<div class="managers__col">
			<div class="manager">
				<div class="manager__top">
					<div class="manager__photo">
						<div class="manager__photo-wrap">
							<img src="pic/managers/photo-01.jpg" alt="">
						</div>
						<a href="#video-popup" class="manager__photo-btn js-img-popup">
							<span class="icon-triangle-dark"></span>
						</a>
					</div>
					<div class="manager__info">
						<div class="manager__name">
							Анна Викторовна 
						</div>
						<div class="manager__position">
							менеджер по продажам
						</div>
					</div>
				</div>
				<div class="manager__bottom">
					<div class="manager__bottom-left">
						<span class="manager__phone">
							+7 (495) 740-28-43
						</span>
					</div>
					<div class="manager__bottom-right">
						<span class="manager__phone">
							+7 (925) 027-05-05
							<span class="manager__phone-icon">
								<svg class="icon-arrow-marker">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-marker"></use>
								</svg>
							</span>
						</span>
						<div class="manager__social">
							
							<div class="contacts-social">
								<div class="contacts-social__item">
									<a href="#" class="contacts-social__btn contacts-social__btn--whatsapp">
										<svg class="icon-whatsapp">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#whatsapp"></use>
										</svg>
									</a>
								</div>
								<div class="contacts-social__item">
									<a href="#" class="contacts-social__btn contacts-social__btn--viber">
										<svg class="icon-viber">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#viber"></use>
										</svg>
									</a>
								</div>
								<div class="contacts-social__item">
									<a href="#" class="contacts-social__btn contacts-social__btn--telegramm">
										<svg class="icon-telegramm">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#telegramm"></use>
										</svg>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="managers__col">
			<div class="manager">
				<div class="manager__top">
					<div class="manager__photo">
						<div class="manager__photo-wrap">
							<img src="pic/managers/photo-02.jpg" alt="">
						</div>
						<a href="#video-popup" class="manager__photo-btn js-img-popup">
							<span class="icon-triangle-dark"></span>
						</a>
					</div>
					<div class="manager__info">
						<div class="manager__name">
							Светлана Олеговна
						</div>
						<div class="manager__position">
							менеджер по продажам
						</div>
					</div>
				</div>
				<div class="manager__bottom">
					<div class="manager__bottom-left">
						<span class="manager__phone">
							+7 (495) 740-28-43
						</span>
					</div>
					<div class="manager__bottom-right">
						<span class="manager__phone">
							+7 (925) 027-05-05
							<span class="manager__phone-icon">
								<svg class="icon-arrow-marker">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-marker"></use>
								</svg>
							</span>
						</span>
						<div class="manager__social">
							<div class="contacts-social">
								<div class="contacts-social__item">
									<a href="#" class="contacts-social__btn contacts-social__btn--whatsapp">
										<svg class="icon-whatsapp">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#whatsapp"></use>
										</svg>
									</a>
								</div>
								<div class="contacts-social__item">
									<a href="#" class="contacts-social__btn contacts-social__btn--viber">
										<svg class="icon-viber">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#viber"></use>
										</svg>
									</a>
								</div>
								<div class="contacts-social__item">
									<a href="#" class="contacts-social__btn contacts-social__btn--telegramm">
										<svg class="icon-telegramm">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#telegramm"></use>
										</svg>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="managers__row">
		<div class="managers__col">
			<div class="manager">
				<div class="manager__top">
					<div class="manager__photo">
						<div class="manager__photo-wrap">
							<img src="pic/managers/photo-01.jpg" alt="">
						</div>
						<a href="#video-popup" class="manager__photo-btn js-img-popup">
							<span class="icon-triangle-dark"></span>
						</a>
					</div>
					<div class="manager__info">
						<div class="manager__name">
							Анна Викторовна 
						</div>
						<div class="manager__position">
							менеджер по продажам
						</div>
					</div>
				</div>
				<div class="manager__bottom">
					<div class="manager__bottom-left">
						<span class="manager__phone">
							+7 (495) 740-28-43
						</span>
					</div>
					<div class="manager__bottom-right">
						<span class="manager__phone">
							+7 (925) 027-05-05
							<span class="manager__phone-icon">
								<svg class="icon-arrow-marker">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-marker"></use>
								</svg>
							</span>
						</span>
						<div class="manager__social">
							
							<div class="contacts-social">
								<div class="contacts-social__item">
									<a href="#" class="contacts-social__btn contacts-social__btn--whatsapp">
										<svg class="icon-whatsapp">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#whatsapp"></use>
										</svg>
									</a>
								</div>
								<div class="contacts-social__item">
									<a href="#" class="contacts-social__btn contacts-social__btn--viber">
										<svg class="icon-viber">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#viber"></use>
										</svg>
									</a>
								</div>
								<div class="contacts-social__item">
									<a href="#" class="contacts-social__btn contacts-social__btn--telegramm">
										<svg class="icon-telegramm">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#telegramm"></use>
										</svg>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="managers__col">
			<div class="manager">
				<div class="manager__top">
					<div class="manager__photo">
						<div class="manager__photo-wrap">
							<img src="pic/managers/photo-02.jpg" alt="">
						</div>
						<a href="#video-popup" class="manager__photo-btn js-img-popup">
							<span class="icon-triangle-dark"></span>
						</a>
					</div>
					<div class="manager__info">
						<div class="manager__name">
							Светлана Олеговна
						</div>
						<div class="manager__position">
							менеджер по продажам
						</div>
					</div>
				</div>
				<div class="manager__bottom">
					<div class="manager__bottom-left">
						<span class="manager__phone">
							+7 (495) 740-28-43
						</span>
					</div>
					<div class="manager__bottom-right">
						<span class="manager__phone">
							+7 (925) 027-05-05
							<span class="manager__phone-icon">
								<svg class="icon-arrow-marker">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-marker"></use>
								</svg>
							</span>
						</span>
						<div class="manager__social">
							<div class="contacts-social">
								<div class="contacts-social__item">
									<a href="#" class="contacts-social__btn contacts-social__btn--whatsapp">
										<svg class="icon-whatsapp">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#whatsapp"></use>
										</svg>
									</a>
								</div>
								<div class="contacts-social__item">
									<a href="#" class="contacts-social__btn contacts-social__btn--viber">
										<svg class="icon-viber">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#viber"></use>
										</svg>
									</a>
								</div>
								<div class="contacts-social__item">
									<a href="#" class="contacts-social__btn contacts-social__btn--telegramm">
										<svg class="icon-telegramm">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#telegramm"></use>
										</svg>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="managers__row">
		<div class="managers__col">
			<div class="manager">
				<div class="manager__top">
					<div class="manager__photo">
						<div class="manager__photo-wrap">
							<img src="pic/managers/photo-03.jpg" alt="">
						</div>
						<a href="#video-popup" class="manager__photo-btn js-img-popup">
							<span class="icon-triangle-dark"></span>
						</a>
					</div>
					<div class="manager__info">
						<div class="manager__name">
							Елена Константиновна  
						</div>
						<div class="manager__position">
							менеджер по продажам
						</div>
					</div>
				</div>
				<div class="manager__bottom">
					<div class="manager__bottom-left">
						<span class="manager__phone">
							+7 (495) 740-28-43
						</span>
					</div>
					<div class="manager__bottom-right">
						<span class="manager__phone">
							+7 (925) 027-05-05
							<span class="manager__phone-icon">
								<svg class="icon-arrow-marker">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-marker"></use>
								</svg>
							</span>
						</span>
						<div class="manager__social">
							<div class="contacts-social">
								<div class="contacts-social__item">
									<a href="#" class="contacts-social__btn contacts-social__btn--whatsapp">
										<svg class="icon-whatsapp">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#whatsapp"></use>
										</svg>
									</a>
								</div>
								<div class="contacts-social__item">
									<a href="#" class="contacts-social__btn contacts-social__btn--viber">
										<svg class="icon-viber">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#viber"></use>
										</svg>
									</a>
								</div>
								<div class="contacts-social__item">
									<a href="#" class="contacts-social__btn contacts-social__btn--telegramm">
										<svg class="icon-telegramm">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#telegramm"></use>
										</svg>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="managers__col">
			<div class="manager">
				<div class="manager__top">
					<div class="manager__photo">
						<div class="manager__photo-wrap">
							<img src="pic/managers/photo-04.jpg" alt="">
						</div>
						<a href="#video-popup" class="manager__photo-btn js-img-popup">
							<span class="icon-triangle-dark"></span>
						</a>
					</div>
					<div class="manager__info">
						<div class="manager__name">
							Екатерина Павловна
						</div>
						<div class="manager__position">
							менеджер по продажам
						</div>
					</div>
				</div>
				<div class="manager__bottom">
					<div class="manager__bottom-left">
						<span class="manager__phone">
							+7 (495) 740-28-43
						</span>
					</div>
					<div class="manager__bottom-right">
						<span class="manager__phone">
							+7 (925) 027-05-05
							<span class="manager__phone-icon">
								<svg class="icon-arrow-marker">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-marker"></use>
								</svg>
							</span>
						</span>
						<div class="manager__social">
							<div class="contacts-social">
								<div class="contacts-social__item">
									<a href="#" class="contacts-social__btn contacts-social__btn--whatsapp">
										<svg class="icon-whatsapp">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#whatsapp"></use>
										</svg>
									</a>
								</div>
								<div class="contacts-social__item">
									<a href="#" class="contacts-social__btn contacts-social__btn--viber">
										<svg class="icon-viber">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#viber"></use>
										</svg>
									</a>
								</div>
								<div class="contacts-social__item">
									<a href="#" class="contacts-social__btn contacts-social__btn--telegramm">
										<svg class="icon-telegramm">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#telegramm"></use>
										</svg>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="managers__row">
		<div class="managers__col">
			<div class="manager">
				<div class="manager__top">
					<div class="manager__photo">
						<div class="manager__photo-wrap">
							<img src="pic/managers/photo-01.jpg" alt="">
						</div>
						<a href="#video-popup" class="manager__photo-btn js-img-popup">
							<span class="icon-triangle-dark"></span>
						</a>
					</div>
					<div class="manager__info">
						<div class="manager__name">
							Анна Викторовна 
						</div>
						<div class="manager__position">
							менеджер по продажам
						</div>
					</div>
				</div>
				<div class="manager__bottom">
					<div class="manager__bottom-left">
						<span class="manager__phone">
							+7 (495) 740-28-43
						</span>
					</div>
					<div class="manager__bottom-right">
						<span class="manager__phone">
							+7 (925) 027-05-05
							<span class="manager__phone-icon">
								<svg class="icon-arrow-marker">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-marker"></use>
								</svg>
							</span>
						</span>
						<div class="manager__social">
							
							<div class="contacts-social">
								<div class="contacts-social__item">
									<a href="#" class="contacts-social__btn contacts-social__btn--whatsapp">
										<svg class="icon-whatsapp">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#whatsapp"></use>
										</svg>
									</a>
								</div>
								<div class="contacts-social__item">
									<a href="#" class="contacts-social__btn contacts-social__btn--viber">
										<svg class="icon-viber">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#viber"></use>
										</svg>
									</a>
								</div>
								<div class="contacts-social__item">
									<a href="#" class="contacts-social__btn contacts-social__btn--telegramm">
										<svg class="icon-telegramm">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#telegramm"></use>
										</svg>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="managers__col">
			<div class="manager">
				<div class="manager__top">
					<div class="manager__photo">
						<div class="manager__photo-wrap">
							<img src="pic/managers/photo-02.jpg" alt="">
						</div>
						<a href="#video-popup" class="manager__photo-btn js-img-popup">
							<span class="icon-triangle-dark"></span>
						</a>
					</div>
					<div class="manager__info">
						<div class="manager__name">
							Светлана Олеговна
						</div>
						<div class="manager__position">
							менеджер по продажам
						</div>
					</div>
				</div>
				<div class="manager__bottom">
					<div class="manager__bottom-left">
						<span class="manager__phone">
							+7 (495) 740-28-43
						</span>
					</div>
					<div class="manager__bottom-right">
						<span class="manager__phone">
							+7 (925) 027-05-05
							<span class="manager__phone-icon">
								<svg class="icon-arrow-marker">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-marker"></use>
								</svg>
							</span>
						</span>
						<div class="manager__social">
							<div class="contacts-social">
								<div class="contacts-social__item">
									<a href="#" class="contacts-social__btn contacts-social__btn--whatsapp">
										<svg class="icon-whatsapp">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#whatsapp"></use>
										</svg>
									</a>
								</div>
								<div class="contacts-social__item">
									<a href="#" class="contacts-social__btn contacts-social__btn--viber">
										<svg class="icon-viber">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#viber"></use>
										</svg>
									</a>
								</div>
								<div class="contacts-social__item">
									<a href="#" class="contacts-social__btn contacts-social__btn--telegramm">
										<svg class="icon-telegramm">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#telegramm"></use>
										</svg>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="managers__row">
		<div class="managers__col">
			<div class="manager">
				<div class="manager__top">
					<div class="manager__photo">
						<div class="manager__photo-wrap">
							<img src="pic/managers/photo-03.jpg" alt="">
						</div>
						<a href="#video-popup" class="manager__photo-btn js-img-popup">
							<span class="icon-triangle-dark"></span>
						</a>
					</div>
					<div class="manager__info">
						<div class="manager__name">
							Елена Константиновна  
						</div>
						<div class="manager__position">
							менеджер по продажам
						</div>
					</div>
				</div>
				<div class="manager__bottom">
					<div class="manager__bottom-left">
						<span class="manager__phone">
							+7 (495) 740-28-43
						</span>
					</div>
					<div class="manager__bottom-right">
						<span class="manager__phone">
							+7 (925) 027-05-05
							<span class="manager__phone-icon">
								<svg class="icon-arrow-marker">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-marker"></use>
								</svg>
							</span>
						</span>
						<div class="manager__social">
							<div class="contacts-social">
								<div class="contacts-social__item">
									<a href="#" class="contacts-social__btn contacts-social__btn--whatsapp">
										<svg class="icon-whatsapp">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#whatsapp"></use>
										</svg>
									</a>
								</div>
								<div class="contacts-social__item">
									<a href="#" class="contacts-social__btn contacts-social__btn--viber">
										<svg class="icon-viber">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#viber"></use>
										</svg>
									</a>
								</div>
								<div class="contacts-social__item">
									<a href="#" class="contacts-social__btn contacts-social__btn--telegramm">
										<svg class="icon-telegramm">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#telegramm"></use>
										</svg>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="managers__col">
			<div class="manager">
				<div class="manager__top">
					<div class="manager__photo">
						<div class="manager__photo-wrap">
							<img src="pic/managers/photo-04.jpg" alt="">
						</div>
						<a href="#video-popup" class="manager__photo-btn js-img-popup">
							<span class="icon-triangle-dark"></span>
						</a>
					</div>
					<div class="manager__info">
						<div class="manager__name">
							Екатерина Павловна
						</div>
						<div class="manager__position">
							менеджер по продажам
						</div>
					</div>
				</div>
				<div class="manager__bottom">
					<div class="manager__bottom-left">
						<span class="manager__phone">
							+7 (495) 740-28-43
						</span>
					</div>
					<div class="manager__bottom-right">
						<span class="manager__phone">
							+7 (925) 027-05-05
							<span class="manager__phone-icon">
								<svg class="icon-arrow-marker">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-marker"></use>
								</svg>
							</span>
						</span>
						<div class="manager__social">
							<div class="contacts-social">
								<div class="contacts-social__item">
									<a href="#" class="contacts-social__btn contacts-social__btn--whatsapp">
										<svg class="icon-whatsapp">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#whatsapp"></use>
										</svg>
									</a>
								</div>
								<div class="contacts-social__item">
									<a href="#" class="contacts-social__btn contacts-social__btn--viber">
										<svg class="icon-viber">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#viber"></use>
										</svg>
									</a>
								</div>
								<div class="contacts-social__item">
									<a href="#" class="contacts-social__btn contacts-social__btn--telegramm">
										<svg class="icon-telegramm">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#telegramm"></use>
										</svg>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="managers__row">
		<div class="managers__col">
			<div class="manager">
				<div class="manager__top">
					<div class="manager__photo">
						<div class="manager__photo-wrap">
							<img src="pic/managers/photo-01.jpg" alt="">
						</div>
						<a href="#video-popup" class="manager__photo-btn js-img-popup">
							<span class="icon-triangle-dark"></span>
						</a>
					</div>
					<div class="manager__info">
						<div class="manager__name">
							Анна Викторовна 
						</div>
						<div class="manager__position">
							менеджер по продажам
						</div>
					</div>
				</div>
				<div class="manager__bottom">
					<div class="manager__bottom-left">
						<span class="manager__phone">
							+7 (495) 740-28-43
						</span>
					</div>
					<div class="manager__bottom-right">
						<span class="manager__phone">
							+7 (925) 027-05-05
							<span class="manager__phone-icon">
								<svg class="icon-arrow-marker">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-marker"></use>
								</svg>
							</span>
						</span>
						<div class="manager__social">
							
							<div class="contacts-social">
								<div class="contacts-social__item">
									<a href="#" class="contacts-social__btn contacts-social__btn--whatsapp">
										<svg class="icon-whatsapp">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#whatsapp"></use>
										</svg>
									</a>
								</div>
								<div class="contacts-social__item">
									<a href="#" class="contacts-social__btn contacts-social__btn--viber">
										<svg class="icon-viber">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#viber"></use>
										</svg>
									</a>
								</div>
								<div class="contacts-social__item">
									<a href="#" class="contacts-social__btn contacts-social__btn--telegramm">
										<svg class="icon-telegramm">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#telegramm"></use>
										</svg>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="managers__col">
			<div class="manager">
				<div class="manager__top">
					<div class="manager__photo">
						<div class="manager__photo-wrap">
							<img src="pic/managers/photo-02.jpg" alt="">
						</div>
						<a href="#video-popup" class="manager__photo-btn js-img-popup">
							<span class="icon-triangle-dark"></span>
						</a>
					</div>
					<div class="manager__info">
						<div class="manager__name">
							Светлана Олеговна
						</div>
						<div class="manager__position">
							менеджер по продажам
						</div>
					</div>
				</div>
				<div class="manager__bottom">
					<div class="manager__bottom-left">
						<span class="manager__phone">
							+7 (495) 740-28-43
						</span>
					</div>
					<div class="manager__bottom-right">
						<span class="manager__phone">
							+7 (925) 027-05-05
							<span class="manager__phone-icon">
								<svg class="icon-arrow-marker">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-marker"></use>
								</svg>
							</span>
						</span>
						<div class="manager__social">
							<div class="contacts-social">
								<div class="contacts-social__item">
									<a href="#" class="contacts-social__btn contacts-social__btn--whatsapp">
										<svg class="icon-whatsapp">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#whatsapp"></use>
										</svg>
									</a>
								</div>
								<div class="contacts-social__item">
									<a href="#" class="contacts-social__btn contacts-social__btn--viber">
										<svg class="icon-viber">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#viber"></use>
										</svg>
									</a>
								</div>
								<div class="contacts-social__item">
									<a href="#" class="contacts-social__btn contacts-social__btn--telegramm">
										<svg class="icon-telegramm">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#telegramm"></use>
										</svg>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="managers__row">
		<div class="managers__col">
			<div class="manager">
				<div class="manager__top">
					<div class="manager__photo">
						<div class="manager__photo-wrap">
							<img src="pic/managers/photo-03.jpg" alt="">
						</div>
						<a href="#video-popup" class="manager__photo-btn js-img-popup">
							<span class="icon-triangle-dark"></span>
						</a>
					</div>
					<div class="manager__info">
						<div class="manager__name">
							Елена Константиновна  
						</div>
						<div class="manager__position">
							менеджер по продажам
						</div>
					</div>
				</div>
				<div class="manager__bottom">
					<div class="manager__bottom-left">
						<span class="manager__phone">
							+7 (495) 740-28-43
						</span>
					</div>
					<div class="manager__bottom-right">
						<span class="manager__phone">
							+7 (925) 027-05-05
							<span class="manager__phone-icon">
								<svg class="icon-arrow-marker">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-marker"></use>
								</svg>
							</span>
						</span>
						<div class="manager__social">
							<div class="contacts-social">
								<div class="contacts-social__item">
									<a href="#" class="contacts-social__btn contacts-social__btn--whatsapp">
										<svg class="icon-whatsapp">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#whatsapp"></use>
										</svg>
									</a>
								</div>
								<div class="contacts-social__item">
									<a href="#" class="contacts-social__btn contacts-social__btn--viber">
										<svg class="icon-viber">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#viber"></use>
										</svg>
									</a>
								</div>
								<div class="contacts-social__item">
									<a href="#" class="contacts-social__btn contacts-social__btn--telegramm">
										<svg class="icon-telegramm">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#telegramm"></use>
										</svg>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="managers__col">
			<div class="manager">
				<div class="manager__top">
					<div class="manager__photo">
						<div class="manager__photo-wrap">
							<img src="pic/managers/photo-04.jpg" alt="">
						</div>
						<a href="#video-popup" class="manager__photo-btn js-img-popup">
							<span class="icon-triangle-dark"></span>
						</a>
					</div>
					<div class="manager__info">
						<div class="manager__name">
							Екатерина Павловна
						</div>
						<div class="manager__position">
							менеджер по продажам
						</div>
					</div>
				</div>
				<div class="manager__bottom">
					<div class="manager__bottom-left">
						<span class="manager__phone">
							+7 (495) 740-28-43
						</span>
					</div>
					<div class="manager__bottom-right">
						<span class="manager__phone">
							+7 (925) 027-05-05
							<span class="manager__phone-icon">
								<svg class="icon-arrow-marker">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-marker"></use>
								</svg>
							</span>
						</span>
						<div class="manager__social">
							<div class="contacts-social">
								<div class="contacts-social__item">
									<a href="#" class="contacts-social__btn contacts-social__btn--whatsapp">
										<svg class="icon-whatsapp">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#whatsapp"></use>
										</svg>
									</a>
								</div>
								<div class="contacts-social__item">
									<a href="#" class="contacts-social__btn contacts-social__btn--viber">
										<svg class="icon-viber">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#viber"></use>
										</svg>
									</a>
								</div>
								<div class="contacts-social__item">
									<a href="#" class="contacts-social__btn contacts-social__btn--telegramm">
										<svg class="icon-telegramm">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#telegramm"></use>
										</svg>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>