<!-- POPUP-LOCATION -->

<div class="popup fancybox-popup" id="popup-location">
	<div class="popup-location">
		<div class="popup-location__top">
			<div class="popup-location__top-left">
				<input type="search" placeholder="Укажите ваш город" class="input popup-location__top-left-input">
			</div>
			<div class="popup-location__top-right">
				<span class="popup-location__top-right-image">
					<svg class="icon-location">
						<use xlink:href="#location"></use>
					</svg>
				</span>
				<div class="popup-location__top-right-text">В вашем городе <span class="popup-location__top-right-shops">8 магазинов</span></div>
			</div>
		</div>
		<div class="popup-location__main">
			<div class="popup-location__main-left">
				<div class="popup-location__main-left-list">
					<ul class="radioboxes-list">
						<li class="radioboxes-list__item">
							<label class="radiobox">
								<input type="radio" class="radiobox__check" name="action_likefollow_unfollow_type" checked="">
								<span class="radiobox__icon">
									<span class="radiobox__icon-image"></span>
								</span>
								<span class="radiobox__inner">
									<span class="radiobox__text">Москва</span>
								</span>
							</label>
						</li>
						<li class="radioboxes-list__item">
							<label class="radiobox">
								<input type="radio" class="radiobox__check" name="action_likefollow_unfollow_type">
								<span class="radiobox__icon">
									<span class="radiobox__icon-image"></span>
								</span>
								<span class="radiobox__inner">
									<span class="radiobox__text">Волгоград </span>
								</span>
							</label>
						</li>
						<li class="radioboxes-list__item">
							<label class="radiobox">
								<input type="radio" class="radiobox__check" name="action_likefollow_unfollow_type">
								<span class="radiobox__icon">
									<span class="radiobox__icon-image"></span>
								</span>
								<span class="radiobox__inner">
									<span class="radiobox__text">Екатеринбург</span>
								</span>
							</label>
						</li>
						<li class="radioboxes-list__item">
							<label class="radiobox">
								<input type="radio" class="radiobox__check" name="action_likefollow_unfollow_type">
								<span class="radiobox__icon">
									<span class="radiobox__icon-image"></span>
								</span>
								<span class="radiobox__inner">
									<span class="radiobox__text">Казань</span>
								</span>
							</label>
						</li>
						<li class="radioboxes-list__item">
							<label class="radiobox">
								<input type="radio" class="radiobox__check" name="action_likefollow_unfollow_type">
								<span class="radiobox__icon">
									<span class="radiobox__icon-image"></span>
								</span>
								<span class="radiobox__inner">
									<span class="radiobox__text">Калуга</span>
								</span>
							</label>
						</li>
						<li class="radioboxes-list__item">
							<label class="radiobox">
								<input type="radio" class="radiobox__check" name="action_likefollow_unfollow_type">
								<span class="radiobox__icon">
									<span class="radiobox__icon-image"></span>
								</span>
								<span class="radiobox__inner">
									<span class="radiobox__text">Красноярск</span>
								</span>
							</label>
						</li>
						<li class="radioboxes-list__item">
							<label class="radiobox">
								<input type="radio" class="radiobox__check" name="action_likefollow_unfollow_type">
								<span class="radiobox__icon">
									<span class="radiobox__icon-image"></span>
								</span>
								<span class="radiobox__inner">
									<span class="radiobox__text">Нижний Новгород</span>
								</span>
							</label>
						</li>
					</ul>
				</div>
				<div class="popup-location__main-left-list">
					<ul class="radioboxes-list">
						<li class="radioboxes-list__item">
							<label class="radiobox">
								<input type="radio" class="radiobox__check" name="action_likefollow_unfollow_type">
								<span class="radiobox__icon">
									<span class="radiobox__icon-image"></span>
								</span>
								<span class="radiobox__inner">
									<span class="radiobox__text">Новосибирск</span>
								</span>
							</label>
						</li>
						<li class="radioboxes-list__item">
							<label class="radiobox">
								<input type="radio" class="radiobox__check" name="action_likefollow_unfollow_type">
								<span class="radiobox__icon">
									<span class="radiobox__icon-image"></span>
								</span>
								<span class="radiobox__inner">
									<span class="radiobox__text">Пермь</span>
								</span>
							</label>
						</li>
						<li class="radioboxes-list__item">
							<label class="radiobox">
								<input type="radio" class="radiobox__check" name="action_likefollow_unfollow_type">
								<span class="radiobox__icon">
									<span class="radiobox__icon-image"></span>
								</span>
								<span class="radiobox__inner">
									<span class="radiobox__text">Ростов-на-Дону</span>
								</span>
							</label>
						</li>
						<li class="radioboxes-list__item">
							<label class="radiobox">
								<input type="radio" class="radiobox__check" name="action_likefollow_unfollow_type">
								<span class="radiobox__icon">
									<span class="radiobox__icon-image"></span>
								</span>
								<span class="radiobox__inner">
									<span class="radiobox__text">Самара</span>
								</span>
							</label>
						</li>
						<li class="radioboxes-list__item">
							<label class="radiobox">
								<input type="radio" class="radiobox__check" name="action_likefollow_unfollow_type">
								<span class="radiobox__icon">
									<span class="radiobox__icon-image"></span>
								</span>
								<span class="radiobox__inner">
									<span class="radiobox__text">Санкт-Петербург</span>
								</span>
							</label>
						</li>
					</ul>
				</div>
			</div>
			<div class="popup-location__main-right">
				<div class="location-map">
					<img src="img/bg-map.png" alt="Map" class="popup-location__main-right-image">
					<span class="location-map__point location-map__main"></span>
					<span class="location-map__point location-map__location2"></span>
					<span class="location-map__point location-map__location3"></span>
					<span class="location-map__point location-map__location4"></span>
					<span class="location-map__point location-map__location5"></span>
					<span class="location-map__point location-map__location6"></span>
					<span class="location-map__point location-map__location7"></span>
					<span class="location-map__point location-map__location8"></span>
				</div>
			</div>
			<button type="submit" class="btn btn-border-brown popup-location__btn">Подтвердить</button>
		</div>
		<a href="#" class="burger-close js-close-popup"><span class="burger-close__image"></span></a>

	</div>
</div>

<!-- END POPUP-LOCATION -->



<!-- POPUP-DISCOUNT -->

<div class="popup fancybox-popup" id="popup-discount">
	<div class="popup-discount">
		<div class="popup-discount__close">
			<div class="popup__close">
				<a href="#" class="burger-close js-close-popup"><span class="burger-close__text">Закрыть</span><span class="burger-close__image"></span>
				</a>
			</div>
		</div>
		<h2 class="popup-discount__heading">Получить скидку</h2>
		<span class="popup-discount__inform">Скидка на разовую покупку</span>
		<div class="popup-discount__list">
			<div class="discount">
				<div class="discount-row">
					<div class="discount-row__item">
						<div class="discount-row-item">
							<a href="#" class="discount-row-item__link">
								<div class="discount-row-item__link-top">3<span class="discount-row-item__link-top-procent">%</span></div>
								<span class="discount-row-item__link-bottom">от 35 000 до 69 999</span>
							</a>
						</div>
					</div>
					<div class="discount-row__item">
						<div class="discount-row-item">
							<a href="#" class="discount-row-item__link">
								<div class="discount-row-item__link-top">4<span class="discount-row-item__link-top-procent">%</span></div>
								<span class="discount-row-item__link-bottom">от 70 000 до 104 999</span>
							</a>
						</div>
					</div>
					<div class="discount-row__item">
						<div class="discount-row-item">
							<a href="#" class="discount-row-item__link">
								<div class="discount-row-item__link-top">5<span class="discount-row-item__link-top-procent">%</span></div>
								<span class="discount-row-item__link-bottom">от 105 000 до 139 999</span>
							</a>
						</div>
					</div>
				</div>
				<div class="discount-row">
					<div class="discount-row__item">
						<div class="discount-row-item">
							<a href="#" class="discount-row-item__link">
								<div class="discount-row-item__link-top">6<span class="discount-row-item__link-top-procent">%</span></div>
								<span class="discount-row-item__link-bottom">от 140 000 до 209 999</span>
							</a>
						</div>
					</div>
					<div class="discount-row__item">
						<div class="discount-row-item">
							<a href="#" class="discount-row-item__link">
								<div class="discount-row-item__link-top">7<span class="discount-row-item__link-top-procent">%</span></div>
								<span class="discount-row-item__link-bottom">от 210 000 до 279 999</span>
							</a>
						</div>
					</div>
					<div class="discount-row__item">
						<div class="discount-row-item">
							<a href="#" class="discount-row-item__link">
								<div class="discount-row-item__link-top">8<span class="discount-row-item__link-top-procent">%</span></div>
								<span class="discount-row-item__link-bottom">от 280 000 и выше</span>
							</a>
						</div>
					</div>
				</div>
				<div class="discount-row">
					<div class="discount-row__item discount-row__item--large">
						<div class="discount-row-item">
							<a href="#" class="discount-row-item__link">
								<div class="discount-row-item__link-top">10<span class="discount-row-item__link-top-procent">%</span></div>
								<span class="discount-row-item__link-bottom">При покупке свыше 400 000 руб.</span>
								<span class="discount-row-item__link-bottom">VIP- скидка</span>
							</a>
						</div>
					</div>
				</div>
				<div class="discount-row">
					<div class="discount-row__item discount-row__item--medium">
						<div class="discount-row-item">
							<a href="#" class="discount-row-item__link">
								<div class="discount-row-item__link-top">5<span class="discount-row-item__link-top-procent">%</span></div>
								<span class="discount-row-item__link-sale">Скидка пенсионерам</span>
								<span class="discount-row-item__link-bottom">При предъявлении пенсионного удостоверения.</span>
							</a>
						</div>
					</div>
					<div class="discount-row__item discount-row__item--medium">
						<div class="discount-row-item">
							<a href="#" class="discount-row-item__link">
								<div class="discount-row-item__link-top">8<span class="discount-row-item__link-top-procent">%</span></div>
								<span class="discount-row-item__link-sale">Скидка в День Рождения</span>
								<span class="discount-row-item__link-bottom">Скидка действует в течение 14&nbsp;дней - 7&nbsp;дней до дня рождения, 7 дней после</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--END POPUP-DISCOUNT -->


<!-- POPUP-AUTHORIZATION -->

<div class="popup fancybox-popup" id="popup-authorization">
	<div class="popup-authorization">
		<div class="popup-authorization__close">
			<div class="popup__close">
				<a href="#" class="burger-close js-close-popup"><span class="burger-close__text">Закрыть</span><span class="burger-close__image"></span>
				</a>
			</div>
		</div>
		<div class="authentication">
			<ul class="authentication-list">
				<li class="authentication-list__item current"><span data-tab="authentication-tab1" class="authentication-list__item-link js-tab-link">Авторизация</span></li>
				<li class="authentication-list__item"><span data-tab="authentication-tab2" class="authentication-list__item-link js-tab-link">Регистрация</span></li>
			</ul>
			<div class="authentication-tab schedule js-tab" id="authentication-tab1">
				<div class="authentication-tab__content">
					<div class="authentication-tab__form">
						<div class="authentication-tab__form-row">
							<div class="form-row form-row--required">
								<input type="email" name="input_name" class="input input-required input-label"  required="required" id="email">
								<label for="email">Ваш электронный адрес:</label>
								<span class="image-required">*</span>
							</div>
						</div>
						<div class="authentication-tab__form-row">
							<div class="form-row form-row--required">
								<input type="password" name="input_name" class="input input-required input-label"  required="required" id="password">
								<span class="image-required">*</span>
								<label for="password">Пароль:</label>
							</div>
						</div>
						<div class="authentication-tab__form-row authentication-tab__form-row--inform">
							<div class="authentication-tab__form-row-inform"><span class="authentication-tab__form-row-inform-marker">*</span> Поля обязательные для заполнения</div>
						</div>
						<div class="authentication-tab__form-row  authentication-tab__form-row--password">
							<a href="#" class="authentication-tab__form-row-password">Забыли пароль?</a>
						</div>
						<div class="authentication-tab__form-row-button ">
							<a href="#" class="btn btn-brown">Войти</a>
						</div>
					</div>
				</div>
			</div>
			<div class="authentication-tab schedule js-tab" id="authentication-tab2">
				<div class="authentication-tab__content">
					<div class="authentication-tab__form">
						<div class="authentication-tab__form-row">
							<div class="form-row form-row--required">
								<input type="email" name="input_name" class="input input-required input-label" required="required" id="email2">
								<label for="email2">Ваш электронный адрес:</label>
								<span class="image-required">*</span>
							</div>
						</div>
						<div class="authentication-tab__form-row">
							<div class="form-row form-row--required">
								<input type="password" name="input_name" class="input input-required input-label" required="required" id="password2">
								<label for="password2">Пароль</label>
								<span class="image-required">*</span>
							</div>
						</div>
						<div class="authentication-tab__form-row">
							<div class="form-row form-row--required">
								<input type="password" name="input_name" class="input input-required input-label" required="required" id="password3">
								<label for="password3">Подтверждение пароля</label>
								<span class="image-required">*</span>
							</div>
						</div>
						<div class="authentication-tab__form-row authentication-tab__form-row--captcha">
							<div class="authentication-tab__form-row-captcha">
								<div class="authentication-tab__form-row-captcha-image">
									<img src="img/captcha.jpg" alt="Captcha" class="authentication-tab__form-row-captcha-image-img">
								</div>
								<div class="authentication-tab__form-row-captcha-symbol">
									<div class="form-row form-row--required">
										<input type="text" name="input_name" class="input input-required input-label"  required="required" id="symbols">
										<label for="symbols">Символы на картинке</label>
										<span class="image-required">*</span>
									</div>
								</div>
							</div>
						</div>
						<div class="authentication-tab__form-row-button">
							<a href="#" class="btn btn-brown">Регистрация</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- END POPUP-AUTHORIZATION -->



<!-- POPUP-BUY -->

<div class="popup fancybox-popup" id="popup-buy">
	<div class="popup-buy">
		<div class="popup-buy__close">
			<div class="popup__close">
				<a href="#" class="burger-close js-close-popup"><span class="burger-close__text">Закрыть</span><span class="burger-close__image"></span>
				</a>
			</div>
		</div>
		<h2 class="popup-buy__heading">Контактный телефон</h2>
		<div class="popup-buy__holder">
			<div class="popup-buy__holder-telephone">
				<div class="input-custom form-row--required">
					
					<input type="text" class="input input-custom__input js-phone-mask" placeholder="+7(___) ___-__-__" id="telephone">
					<span class="image-required">*</span>
				</div>
			</div>
			<div class="popup-buy__holder-info">Мы оперативно оформим и доставим Ваш заказ!</div>
			<div class="popup-buy__holder-button">
				<a href="#" class="btn btn-brown popup-buy__holder-button-link">Купить</a>
			</div>
		</div>
	</div>
</div>

<!-- END POPUP-BUY -->