<div class="reviews">
	<div class="reviews-feedback">
		<h2 class="reviews-feedback__heading">Оставить отзыв</h2>
		<div class="reviews-feedback__top">
			<div class="reviews-feedback__top-left">Для опубликования отзыва Вам нужно <a href="#popup-authorization" class="reviews-feedback__top-left-link js-popup-link" data-tab="authentication-tab2">зарегистрироваться</a> или <a href="#popup-authorization" class="reviews-feedback__top-left-link js-popup-link" data-tab="authentication-tab1">авторизоваться</a></div>
			<div class="reviews-feedback__top-right">
				<span class="reviews-feedback__top-right-image">
					<svg class="icon-info reviews-feedback__top-right-image-icon">
						<use xlink:href="#info"></use>
					</svg>
				</span>
				<a href="#" class="reviews-feedback__top-right-regulations">Правила публикации отзывов</a>
			</div>
		</div>
		<div class="reviews-feedback__form">
			<form action="#">
				<div class="form-row reviews-feedback__form-row reviews-feedback__text-field">
					<div class="form-row--required">
						<textarea cols="30" rows="10" class="input input--textarea reviews-feedback__form-row-textarea" placeholder="Комментарий"></textarea>
						<span class="image-required">*</span>
					</div>
					<div class="reviews-feedback__add-photo">
						<ul class="add-photo">
							<li class="add-photo__item">
								<div class="add-photo__img">
									<img src="pic/reviews-img/reviews-img.jpg" alt="">
									<span class="add-photo__img-delete">
										<svg class="icon-cross-sm">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use>
										</svg>
									</span>
								</div>
							</li>
							<li class="add-photo__item">
								<div class="add-photo__img">
									<img src="pic/reviews-img/reviews-img-02.jpg" alt="">
									<span class="add-photo__img-delete">
										<svg class="icon-cross-sm">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use>
										</svg>
									</span>
								</div>
							</li>
							<li class="add-photo__item add-photo__item--btn">
								<input type="file" class="input-file" id="file">
								<label for="file">
									<span class="input-file__text">
										Добавить фото
									</span>
									<span class="input-file__icon">
										<svg class="icon-camera">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#camera"></use>
										</svg>
									</span>
									
								</label>	
							</li>
						</ul>
					</div>
				</div>
				<div class="form-row reviews-feedback__form-row">
					<div class="reviews-feedback__form-row-cell">
						<label class="checkbox">
							<input type="checkbox" class="checkbox__check">
							<span class="checkbox__icon">
								<svg class="icon-check checkbox__icon-image">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check"></use>
								</svg>
							</span>
							<span class="checkbox__inner">
								<span class="checkbox__text">Уведомлять об ответах по эл.&nbsp;почте</span>
							</span>
						</label>
					</div>
					<div class="reviews-feedback__form-row-button">
						<a href="#" class="btn btn-brown">Оставить комментарий</a>
					</div>
				</div>
				
			</form>
		</div>
	</div>
	<div class="reviews-list">
		<div class="reviews-item">
			<div class="reviews-item__main">
				<div class="reviews-item__main-top">
					<span class="reviews-item__main-top-name">Игорь</span>
					<span class="reviews-item__main-top-date date">31 мая, 2015</span>
				</div>
				<span class="reviews-item__main-content">Международный холдинг Black Red White – это производитель надежной и современной корпусной модульной мебели. Качество продукции нашей марки подтверждено многочисленными наградами и сертификатами. Ассортимент, который мы представляем Вашему вниманию, позволяет удовлетворить потребности представителей различных возрастных групп. Наша компания предлагает Вам самые актуальные линейки гарнитуров. В каталоге мебели Вы найдете коллекции для спален, гостиных, кабинетов, детских, прихожих, в том числе для комнат с нестандартными планировочными решениями.</span>
				<ul class="added-photo">
					<li class="added-photo__item">
						<a href="pic/reviews-img/reviews-img.jpg" class="added-photo__img js-img-popup">
							<img src="pic/reviews-img/reviews-img.jpg" alt="">
							<span class="added-photo__img-zoom">
								<svg class="icon-zoom">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search-plus"></use>
								</svg>
							</span>
						</a>
					</li>
					<li class="added-photo__item">
						<a href="pic/reviews-img/reviews-img-02.jpg" class="added-photo__img js-img-popup">
							<img src="pic/reviews-img/reviews-img-02.jpg" alt="">
							<span class="added-photo__img-zoom">
								<svg class="icon-zoom">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search-plus"></use>
								</svg>
							</span>
						</a>
					</li>
				</ul>
				<div class="reviews-item__main-button">
					<a href="#" class="answer-button reviews-item__main-button-link">
						<svg class="icon-arrow-figure-toleft answer-button__image">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-figure-toleft"></use>
						</svg>
						<span class="answer-button__text">Ответить</span>
					</a>
				</div>
			</div>
			<div class="reviews-item__sub">
				<div class="reviews-item__sub-item">
					<div class="reviews-item__sub-item-top">
						<span class="reviews-item__sub-item-top-name">Андрей</span>
						<span class="reviews-item__sub-item-top-date date">31 мая, 2015</span>
					</div>
					<div class="reviews-item__sub-item-content">Международный холдинг Black Red White – это производитель надежной и современной корпусной модульной мебели. Качество продукции нашей марки подтверждено многочисленными наградами и сертификатами. Ассортимент, который мы представляем Вашему вниманию, позволяет удовлетворить потребности представителей различных возрастных групп. Наша компания предлагает Вам самые актуальные линейки гарнитуров. В каталоге мебели Вы найдете коллекции для спален, гостиных, кабинетов, детских, прихожих, в том числе для комнат с нестандартными планировочными решениями.</div>
					<ul class="added-photo">
						<li class="added-photo__item">
							<a href="pic/reviews-img/reviews-img-02.jpg" class="added-photo__img js-img-popup">
								<img src="pic/reviews-img/reviews-img-02.jpg" alt="">
								<span class="added-photo__img-zoom">
									<svg class="icon-zoom">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search-plus"></use>
									</svg>
								</span>
							</a>
						</li>
					</ul>
				</div>
				<div class="reviews-item__sub-item">
					<div class="reviews-item__sub-item-top">
						<span class="reviews-item__sub-item-top-name">Андрей</span>
						<span class="reviews-item__sub-item-top-date date">31 мая, 2015</span>
					</div>
					<div class="reviews-item__sub-item-content">Международный холдинг Black Red White – это производитель надежной и современной корпусной модульной мебели. Качество продукции нашей марки подтверждено многочисленными наградами и сертификатами.</div>
				</div>
				<div class="reviews-item__sub-item">
					<div class="reviews-item__sub-item-top">
						<span class="reviews-item__sub-item-top-name">Андрей</span>
						<span class="reviews-item__sub-item-top-date date">31 мая, 2015</span>
					</div>
					<div class="reviews-item__sub-item-content">Международный холдинг Black Red White – это производитель надежной и современной корпусной модульной мебели. Качество продукции нашей марки подтверждено многочисленными наградами и сертификатами.</div>
				</div>
				<div class="reviews-item__sub-button">
					<a href="#" class="btn-read reviews-item__sub-button-link">
						<span class="btn-read__text">Читать все ответы</span>
						<span class="btn-read__image">
							<svg class="icon-arrow-tobottom btn-read__image-icon" data-animation-name="animate-1">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
							</svg>
						</span>
					</a>
				</div>
			</div>
		</div>
		<div class="reviews-item">
			<div class="reviews-item__main">
				<div class="reviews-item__main-top">
					<span class="reviews-item__main-top-name">Игорь</span>
					<span class="reviews-item__main-top-date date">31 мая, 2015</span>
				</div>
				<span class="reviews-item__main-content">Международный холдинг Black Red White – это производитель надежной и современной корпусной модульной мебели. Качество продукции нашей марки подтверждено многочисленными наградами и сертификатами. Ассортимент, который мы представляем Вашему вниманию, позволяет удовлетворить потребности представителей различных возрастных групп. Наша компания предлагает Вам самые актуальные линейки гарнитуров. В каталоге мебели Вы найдете коллекции для спален, гостиных, кабинетов, детских, прихожих, в том числе для комнат с нестандартными планировочными решениями.</span>
				<div class="reviews-item__main-button">
					<a href="#" class="answer-button reviews-item__main-button-link">
						<svg class="icon-arrow-figure-toleft answer-button__image">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-figure-toleft"></use>
						</svg>
						<span class="answer-button__text">Ответить</span>
					</a>
				</div>
			</div>
			<div class="reviews-item__sub">
				<div class="reviews-item__sub-item">
					<div class="reviews-item__sub-item-top">
						<span class="reviews-item__sub-item-top-name">Андрей</span>
						<span class="reviews-item__sub-item-top-date date">31 мая, 2015</span>
					</div>
					<div class="reviews-item__sub-item-content">Международный холдинг Black Red White – это производитель надежной и современной корпусной модульной мебели. Качество продукции нашей марки подтверждено многочисленными наградами и сертификатами. Ассортимент, который мы представляем Вашему вниманию, позволяет удовлетворить потребности представителей различных возрастных групп. Наша компания предлагает Вам самые актуальные линейки гарнитуров. В каталоге мебели Вы найдете коллекции для спален, гостиных, кабинетов, детских, прихожих, в том числе для комнат с нестандартными планировочными решениями.</div>
				</div>
			</div>
		</div>
	</div>
</div>