<div class="sale-popup" id="sale-popup">
	<div class="stocks-item">
		<div class="stocks-item__img">
			<img src="pic/stock/stock-01.jpg" alt="">
		</div>
		<div class="stocks-item__inner">
			<div class="stocks-item__sale-string">
				<span class="sale sale--sm">
					<div class="sale__right">
						<div class="sale-date">
							<span class="sale-date__icon">
								<svg class="icon-sale-clock">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sale-clock"></use>
								</svg>
							</span>
							<span class="sale-date__text">
								<span class="sale-date__text-item">
									10 марта
								</span>
								<span class="sale-date__text-item">
									30 марта
								</span>
							</span>
						</div>
					</div>
					<div class="sale__main">
						<div class="sale__discount">
							<div class="sale-discount">
								<span class="sale-discount__inner"><span class="sale-discount__num">-30</span><span class="sale-discount__percent">%</span></span>
							</div>
						</div>
						<div class="sale__title">
							Black Red White
						</div>
					</div>
				</span>
			</div>
			<div class="stocks-item__content">
				<h3 class="stocks-item__title">
				Весна пришла
				</h3>
				<p class="stocks-item__text">
					Группа компаний BLACK RED WHITE проводит специальную акцию к 8 марта!!!
				</p>
				<p class="stocks-item__text">
					В дополнении к проводимой акции в период с 8 марта по 13 марта 2017 года включительно в розничной сети и интернет-магазинах на все коллекции BLACK RED WHITE действует дополнительная скидка 8% к акционному прайс-листу. 
				</p>
				<p class="stocks-item__text">
					Не упустите возможность приобрести акционные товары Black Red White со скидками!
				</p>
			</div>
		</div>
	</div>
	<a href="#" class="burger-close js-close-popup"><span class="burger-close__image"></span></a>
</div>