<a href="#sale-popup" class="sale js-popup-link">
	<div class="sale__right">
		<div class="sale-date">
			<span class="sale-date__icon">
				<svg class="icon-sale-clock">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sale-clock"></use>
				</svg>
			</span>
			<span class="sale-date__text">
				<span class="sale-date__text-item">
					10 марта
				</span>
				<span class="sale-date__text-item">
					30 марта
				</span>
			</span>
		</div>
	</div>
	<div class="sale__main">
		<div class="sale__discount">
			<div class="sale-discount">
				<span class="sale-discount__inner"><span class="sale-discount__num">-30</span><span class="sale-discount__percent">%</span></span>
			</div>
		</div>
		<div class="sale__title">
			<span class="sale__title-cur">Весна пришла</span>	
			<span class="sale__title-hidden">
				Акция
			</span>
		</div>
		<div class="sale__text">
			<span class="sale__text-icon">
				<svg class="icon-sale-figure">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sale-figure"></use>
				</svg>
			</span>
			Не упустите возможность приобрести
			акционные товары Black Red White со скидками!
		</div>
	</div>
</a>
