<div class="d-popup" id="cb-form">
    <button class="d-popup__close burger-close">
        <span class="d-popup__close-holder">
            <span class="d-popup__close-txt">Закрыть</span>
            <span class="burger-close__image"></span>
        </span>
    </button>

    <div class="d-popup__container">
        <div class="d-popup__title">Обратный звонок</div>
        <form action="#" class="d-popup__form">
            <div class="d-popup__form-input">
                <input type="text" class="input" placeholder="Ваше имя">
                <div class="d-popup__form-accent">*</div>
            </div>
            <div class="d-popup__form-input">
                <input type="text" class="input js-mask" placeholder="+7(___) ___-__-__">
                <div class="d-popup__form-accent">*</div>
            </div>
            <div class="d-popup__form-check">
                <label class="checkbox">
                    <input type="checkbox" class="checkbox__check">
                    <span class="checkbox__icon">
					<svg class="icon-check checkbox__icon-image">
						<use xlink:href="#check"></use>
					</svg>
				</span>
                    <span class="checkbox__inner">
					<span class="checkbox__text">Согласен с политикой конфиденциальности</span>
				</span>
                </label>
            </div>
            <div class="d-popup__form-submit">
                <button type="submit" class="btn btn-brown">заказать</button>
            </div>
        </form>
    </div>
</div>
