@@for(var i = 0; i < ary.length; i++) {

<div class="modular-cards-list__item mod">
    <div class="modular-cards-item">
        <div class="modular-cards-item__image">
            <a href="#" class="modular-cards-item__image-link">
                <img src="`+ary[i].img+`" alt="modular-cards" class="modular-cards-item__image-img">
            </a>
        </div>
        <div class="modular-cards-item__content">
            <div class="modular-cards-item__content-heading">
                <a href="#" class="modular-cards-item__content-heading-link">`+ary[i].title+`</a>
            </div>
            <span class="modular-cards-item__content-set">Набирается поэлементно&nbsp;&mdash;&nbsp;`+ary[i].elems+`</span>

            <div class="mod__txt">
                <div class="mod__txt-row">
                    <div class="mod__txt-item"><span class="mod__txt-item-holder">Комоды <span class="yellow">- 12</span></span></div>
                    <div class="mod__txt-item"><span class="mod__txt-item-holder">от 150000 руб.</span></div>
                </div>
                <div class="mod__txt-row">
                    <div class="mod__txt-item"><span class="mod__txt-item-holder">Тумбы <span class="yellow">- 27</span></span></div>
                    <div class="mod__txt-item"><span class="mod__txt-item-holder">от 8500 руб.</span></div>
                </div>
                <div class="mod__txt-row">
                    <div class="mod__txt-item"><span class="mod__txt-item-holder">Стенки <span class="yellow">- 19</span></span></div>
                    <div class="mod__txt-item"><span class="mod__txt-item-holder">от 11500 руб.</span></div>
                </div>
            </div>

        </div>
        <div class="modular-cards-item__views views-marker">
            <svg class="icon-eye views-marker__image">
                <use xlink:href="#eye"></use>
            </svg>
            <span class="views-marker__number">1000</span>
        </div>
        `+ary[i].mod+`
    </div>
</div>
}