<div class="d-filter__mob">
    <span class="filter__btn btn js-filter-btn-r">Фильтры
									<svg class="icon-drop-arrow filter__btn-arrow">
										<use xlink:href="#arrow-tobottom"></use>
									</svg>
								</span>

    <form class="d-filter" onsubmit="return false">

        <div class="d-filter__main">
            <div class="d-filter__main-item--holder">
                <div class="d-filter__main-item js-range-slider">
                    <div class="d-filter__main-title">Цена:</div>
                    <div class="d-filter__col-holder">
                        <div class="d-filter__col">
                    <span class="sizes-val">
					    <input type="text" class="input input-label input-label&#45;&#45;sizes" name="name"
                               id="range-from">
						<label for="height2">От: 3500 руб.</label>
				    </span>
                        </div>
                        <div class="d-filter__col">
                    <span class="sizes-val">
					    <input type="text" class="input input-label input-label&#45;&#45;sizes" name="name"
                               id="range-to">
						<label for="height2">До: 500000 руб.</label>
				    </span>
                        </div>
                    </div>
                    <div id="slider-range" data-min-range="3500" data-max-range="500000"></div>
                </div>
            </div>
            <div class="d-filter__main-item--holder">
                <div class="d-filter__main-item">
                    <div class="d-filter__main-title">Ширина:</div>
                    <div class="d-filter__col-holder">
                        <div class="d-filter__col">
                    <span class="sizes-val">
					    <input type="text" class="input input-label input-label&#45;&#45;sizes" name="name"
                               id="height1">
						<label for="height2">От: 35см</label>
				    </span>
                        </div>
                        <div class="d-filter__col">
                    <span class="sizes-val">
					    <input type="text" class="input input-label input-label&#45;&#45;sizes" name="name"
                               id="height2">
						<label for="height2">До: 925см</label>
				    </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-filter__main-item--holder">
                <div class="d-filter__main-item">
                    <div class="d-filter__main-title">Высота:</div>
                    <div class="d-filter__col-holder">
                        <div class="d-filter__col">
                    <span class="sizes-val">
					    <input type="text" class="input input-label input-label&#45;&#45;sizes" name="name"
                               id="height3">
						<label for="height2">От: 35см</label>
				    </span>
                        </div>
                        <div class="d-filter__col">
                    <span class="sizes-val">
					    <input type="text" class="input input-label input-label&#45;&#45;sizes" name="name"
                               id="height4">
						<label for="height2">До: 197см</label>
				    </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-filter__main-item--holder">
                <div class="d-filter__main-item">
                    <div class="d-filter__main-title">Глубина:</div>
                    <div class="d-filter__col-holder">
                        <div class="d-filter__col">
                    <span class="sizes-val">
					    <input type="text" class="input input-label input-label&#45;&#45;sizes" name="name"
                               id="height5">
						<label for="height2">От: 15см</label>
				    </span>
                        </div>
                        <div class="d-filter__col">
                    <span class="sizes-val">
					    <input type="text" class="input input-label input-label&#45;&#45;sizes" name="name"
                               id="height6">
						<label for="height2">До: 150см</label>
				    </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-filter__color js-color-picker">
            <div class="d-filter__main-title">Цвет:</div>
            <div class="d-filter__color-block--holder">
                <div class="d-filter__color-block">
                    <div class="d-filter__color-item d-filter__color-item--beige light active">
                        <svg>
                            <use xlink:href="#check"></use>
                        </svg>
                        <div class="d-filter__color-tooltip">Бежевый</div>
                        <input type="checkbox" name="color" value="beige" class="d-filter__cb">
                    </div>
                    <div class="d-filter__color-item d-filter__color-item--brown dark">
                        <svg>
                            <use xlink:href="#check"></use>
                        </svg>
                        <div class="d-filter__color-tooltip">Коричневый</div>
                        <input type="checkbox" name="color" value="brown" class="d-filter__cb">
                    </div>
                    <div class="d-filter__color-item d-filter__color-item--dark-brown dark">
                        <svg>
                            <use xlink:href="#check"></use>
                        </svg>
                        <div class="d-filter__color-tooltip">Коричневый</div>
                        <input type="checkbox" name="color" value="dark-brown" class="d-filter__cb">
                    </div>
                    <div class="d-filter__color-item d-filter__color-item--white light">
                        <svg>
                            <use xlink:href="#check"></use>
                        </svg>
                        <div class="d-filter__color-tooltip">Белый</div>
                        <input type="checkbox" name="color" value="white" class="d-filter__cb">
                    </div>
                    <div class="d-filter__color-item d-filter__color-item--black dark">
                        <svg>
                            <use xlink:href="#check"></use>
                        </svg>
                        <div class="d-filter__color-tooltip">Черный</div>
                        <input type="checkbox" name="color" value="black" class="d-filter__cb">
                    </div>
                    <div class="d-filter__color-item d-filter__color-item--gray dark">
                        <svg>
                            <use xlink:href="#check"></use>
                        </svg>
                        <div class="d-filter__color-tooltip">Серый</div>
                        <input type="checkbox" name="color" value="gray" class="d-filter__cb">
                    </div>
                </div>
                <div class="d-filter__more">
                    <span class="d-filter__more-txt js-filter-more" data-opened-txt="Свернуть фильтры">Все фильтры</span>
                </div>
                <div class="d-filter__color-block">
                    <button type="submit" class="btn btn-orange">применить</button>
                </div>
            </div>
        </div>
        <div class="d-filter__other js-filter-more-drop">
            <div class="d-filter__other-item">
                <svg class="d-filter__mob-icon icon-drop-arrow"><use xlink:href="#arrow-tobottom"></use></svg>
                <div class="d-filter__other-hdr">Материал:</div>
                <div class="d-filter__other-item-holder">
                    <div class="checkboxes__item">
                        <label class="checkbox ">
                            <input type="checkbox" class="checkbox__check js-checkbox">
                            <span class="checkbox__icon">
							<svg class="icon-check checkbox__icon-image">
								<use xlink:href="#check"></use>
							</svg>
						</span>
                            <span class="checkbox__inner">
								<span class="checkbox__text">ЛДСП</span>
						</span>
                        </label>
                    </div>
                    <div class="checkboxes__item">
                        <label class="checkbox ">
                            <input type="checkbox" class="checkbox__check js-checkbox">
                            <span class="checkbox__icon">
							<svg class="icon-check checkbox__icon-image">
								<use xlink:href="#check"></use>
							</svg>
						</span>
                            <span class="checkbox__inner">
								<span class="checkbox__text">ЛДСП</span>
						</span>
                        </label>
                    </div>
                    <div class="checkboxes__item">
                        <label class="checkbox ">
                            <input type="checkbox" class="checkbox__check js-checkbox">
                            <span class="checkbox__icon">
							<svg class="icon-check checkbox__icon-image">
								<use xlink:href="#check"></use>
							</svg>
						</span>
                            <span class="checkbox__inner">
								<span class="checkbox__text">МДФ</span>
						</span>
                        </label>
                    </div>
                    <div class="checkboxes__item">
                        <label class="checkbox ">
                            <input type="checkbox" class="checkbox__check js-checkbox">
                            <span class="checkbox__icon">
							<svg class="icon-check checkbox__icon-image">
								<use xlink:href="#check"></use>
							</svg>
						</span>
                            <span class="checkbox__inner">
								<span class="checkbox__text">Фотопечать</span>
						</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="d-filter__other-item">
                <svg class="d-filter__mob-icon icon-drop-arrow"><use xlink:href="#arrow-tobottom"></use></svg>
                <div class="d-filter__other-hdr">Стиль:</div>
                <div class="d-filter__other-item-holder">
                    <div class="checkboxes__item">
                        <label class="checkbox ">
                            <input type="checkbox" class="checkbox__check js-checkbox">
                            <span class="checkbox__icon">
							<svg class="icon-check checkbox__icon-image">
								<use xlink:href="#check"></use>
							</svg>
						</span>
                            <span class="checkbox__inner">
								<span class="checkbox__text">Классические</span>
						</span>
                        </label>
                    </div>
                    <div class="checkboxes__item">
                        <label class="checkbox ">
                            <input type="checkbox" class="checkbox__check js-checkbox">
                            <span class="checkbox__icon">
							<svg class="icon-check checkbox__icon-image">
								<use xlink:href="#check"></use>
							</svg>
						</span>
                            <span class="checkbox__inner">
								<span class="checkbox__text">Современные</span>
						</span>
                        </label>
                    </div>
                    <div class="checkboxes__item">
                        <label class="checkbox ">
                            <input type="checkbox" class="checkbox__check js-checkbox">
                            <span class="checkbox__icon">
							<svg class="icon-check checkbox__icon-image">
								<use xlink:href="#check"></use>
							</svg>
						</span>
                            <span class="checkbox__inner">
								<span class="checkbox__text">Модерн</span>
						</span>
                        </label>
                    </div>
                    <div class="checkboxes__item">
                        <label class="checkbox ">
                            <input type="checkbox" class="checkbox__check js-checkbox">
                            <span class="checkbox__icon">
							<svg class="icon-check checkbox__icon-image">
								<use xlink:href="#check"></use>
							</svg>
						</span>
                            <span class="checkbox__inner">
								<span class="checkbox__text">Японский стиль</span>
						</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="d-filter__other-item">
                <svg class="d-filter__mob-icon icon-drop-arrow"><use xlink:href="#arrow-tobottom"></use></svg>
                <div class="d-filter__other-hdr">Бренд:</div>
                <div class="d-filter__other-item-holder">
                    <div class="checkboxes__item">
                        <label class="checkbox ">
                            <input type="checkbox" class="checkbox__check js-checkbox">
                            <span class="checkbox__icon">
							<svg class="icon-check checkbox__icon-image">
								<use xlink:href="#check"></use>
							</svg>
						</span>
                            <span class="checkbox__inner">
								<span class="checkbox__text">ЛДСП</span>
						</span>
                        </label>
                    </div>
                    <div class="checkboxes__item">
                        <label class="checkbox ">
                            <input type="checkbox" class="checkbox__check js-checkbox">
                            <span class="checkbox__icon">
							<svg class="icon-check checkbox__icon-image">
								<use xlink:href="#check"></use>
							</svg>
						</span>
                            <span class="checkbox__inner">
								<span class="checkbox__text">ЛДСП</span>
						</span>
                        </label>
                    </div>
                    <div class="checkboxes__item">
                        <label class="checkbox ">
                            <input type="checkbox" class="checkbox__check js-checkbox">
                            <span class="checkbox__icon">
							<svg class="icon-check checkbox__icon-image">
								<use xlink:href="#check"></use>
							</svg>
						</span>
                            <span class="checkbox__inner">
								<span class="checkbox__text">МДФ</span>
						</span>
                        </label>
                    </div>
                    <div class="checkboxes__item">
                        <label class="checkbox ">
                            <input type="checkbox" class="checkbox__check js-checkbox">
                            <span class="checkbox__icon">
							<svg class="icon-check checkbox__icon-image">
								<use xlink:href="#check"></use>
							</svg>
						</span>
                            <span class="checkbox__inner">
								<span class="checkbox__text">Фотопечать</span>
						</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="d-filter__other-item">
                <svg class="d-filter__mob-icon icon-drop-arrow"><use xlink:href="#arrow-tobottom"></use></svg>
                <div class="d-filter__other-hdr">Тип полок:</div>
                <div class="d-filter__other-item-holder">
                    <div class="checkboxes__item">
                        <label class="checkbox ">
                            <input type="checkbox" class="checkbox__check js-checkbox">
                            <span class="checkbox__icon">
							<svg class="icon-check checkbox__icon-image">
								<use xlink:href="#check"></use>
							</svg>
						</span>
                            <span class="checkbox__inner">
								<span class="checkbox__text">ЛДСП</span>
						</span>
                        </label>
                    </div>
                    <div class="checkboxes__item">
                        <label class="checkbox ">
                            <input type="checkbox" class="checkbox__check js-checkbox">
                            <span class="checkbox__icon">
							<svg class="icon-check checkbox__icon-image">
								<use xlink:href="#check"></use>
							</svg>
						</span>
                            <span class="checkbox__inner">
								<span class="checkbox__text">ЛДСП</span>
						</span>
                        </label>
                    </div>
                    <div class="checkboxes__item">
                        <label class="checkbox ">
                            <input type="checkbox" class="checkbox__check js-checkbox">
                            <span class="checkbox__icon">
							<svg class="icon-check checkbox__icon-image">
								<use xlink:href="#check"></use>
							</svg>
						</span>
                            <span class="checkbox__inner">
								<span class="checkbox__text">МДФ</span>
						</span>
                        </label>
                    </div>
                    <div class="checkboxes__item">
                        <label class="checkbox ">
                            <input type="checkbox" class="checkbox__check js-checkbox">
                            <span class="checkbox__icon">
							<svg class="icon-check checkbox__icon-image">
								<use xlink:href="#check"></use>
							</svg>
						</span>
                            <span class="checkbox__inner">
								<span class="checkbox__text">Фотопечать</span>
						</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="d-filter__other-item">
                <svg class="d-filter__mob-icon icon-drop-arrow"><use xlink:href="#arrow-tobottom"></use></svg>
                <div class="d-filter__other-hdr">Материал:</div>
                <div class="d-filter__other-item-holder">
                    <div class="checkboxes__item">
                        <label class="checkbox ">
                            <input type="checkbox" class="checkbox__check js-checkbox">
                            <span class="checkbox__icon">
							<svg class="icon-check checkbox__icon-image">
								<use xlink:href="#check"></use>
							</svg>
						</span>
                            <span class="checkbox__inner">
								<span class="checkbox__text">ЛДСП</span>
						</span>
                        </label>
                    </div>
                    <div class="checkboxes__item">
                        <label class="checkbox ">
                            <input type="checkbox" class="checkbox__check js-checkbox">
                            <span class="checkbox__icon">
							<svg class="icon-check checkbox__icon-image">
								<use xlink:href="#check"></use>
							</svg>
						</span>
                            <span class="checkbox__inner">
								<span class="checkbox__text">ЛДСП</span>
						</span>
                        </label>
                    </div>
                    <div class="checkboxes__item">
                        <label class="checkbox ">
                            <input type="checkbox" class="checkbox__check js-checkbox">
                            <span class="checkbox__icon">
							<svg class="icon-check checkbox__icon-image">
								<use xlink:href="#check"></use>
							</svg>
						</span>
                            <span class="checkbox__inner">
								<span class="checkbox__text">МДФ</span>
						</span>
                        </label>
                    </div>
                    <div class="checkboxes__item">
                        <label class="checkbox ">
                            <input type="checkbox" class="checkbox__check js-checkbox">
                            <span class="checkbox__icon">
							<svg class="icon-check checkbox__icon-image">
								<use xlink:href="#check"></use>
							</svg>
						</span>
                            <span class="checkbox__inner">
								<span class="checkbox__text">Фотопечать</span>
						</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="d-filter__other-item">
                <svg class="d-filter__mob-icon icon-drop-arrow"><use xlink:href="#arrow-tobottom"></use></svg>
                <div class="d-filter__other-hdr">Материал:</div>
                <div class="d-filter__other-item-holder">
                    <div class="checkboxes__item">
                        <label class="checkbox ">
                            <input type="checkbox" class="checkbox__check js-checkbox">
                            <span class="checkbox__icon">
							<svg class="icon-check checkbox__icon-image">
								<use xlink:href="#check"></use>
							</svg>
						</span>
                            <span class="checkbox__inner">
								<span class="checkbox__text">ЛДСП</span>
						</span>
                        </label>
                    </div>
                    <div class="checkboxes__item">
                        <label class="checkbox ">
                            <input type="checkbox" class="checkbox__check js-checkbox">
                            <span class="checkbox__icon">
							<svg class="icon-check checkbox__icon-image">
								<use xlink:href="#check"></use>
							</svg>
						</span>
                            <span class="checkbox__inner">
								<span class="checkbox__text">ЛДСП</span>
						</span>
                        </label>
                    </div>
                    <div class="checkboxes__item">
                        <label class="checkbox ">
                            <input type="checkbox" class="checkbox__check js-checkbox">
                            <span class="checkbox__icon">
							<svg class="icon-check checkbox__icon-image">
								<use xlink:href="#check"></use>
							</svg>
						</span>
                            <span class="checkbox__inner">
								<span class="checkbox__text">МДФ</span>
						</span>
                        </label>
                    </div>
                    <div class="checkboxes__item">
                        <label class="checkbox ">
                            <input type="checkbox" class="checkbox__check js-checkbox">
                            <span class="checkbox__icon">
							<svg class="icon-check checkbox__icon-image">
								<use xlink:href="#check"></use>
							</svg>
						</span>
                            <span class="checkbox__inner">
								<span class="checkbox__text">Фотопечать</span>
						</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>



