<div class="i-plates">
    <div class="i-plates__slider js-i-plates-slider">

        <a href="#" class="i-plates__item slick-slide">
            <div class="i-plates__icon">
                <svg class="i-plates__icon-img i-plates__icon-chairs">
                    <use xlink:href="#i-chair"></use>
                </svg>
            </div>
            <div class="i-plates__title">Стулья</div>
        </a>
        <a href="#" class="i-plates__item slick-slide">
            <div class="i-plates__icon">
                <svg class="i-plates__icon-armchair i-plates__icon-img">
                    <use xlink:href="#i-armchair"></use>
                </svg>
            </div>
            <div class="i-plates__title">Кресла</div>
        </a>
        <a href="#" class="i-plates__item slick-slide">
            <div class="i-plates__icon">
                <svg class="i-plates__icon-beds i-plates__icon-img">
                    <use xlink:href="#beds"></use>
                </svg>
            </div>
            <div class="i-plates__title">Кровати</div>
        </a>
        <a href="#" class="i-plates__item slick-slide">
            <div class="i-plates__icon">
                <svg class="i-plates__icon-img i-plates__icon-bedroomset">
                    <use xlink:href="#i-bedroom-set"></use>
                </svg>
            </div>
            <div class="i-plates__title">Спальный гарнитур</div>
        </a>
        <a href="#" class="i-plates__item slick-slide">
            <div class="i-plates__icon">
                <svg class="i-plates__icon-img">
                    <use xlink:href="#mirrors"></use>
                </svg>
            </div>
            <div class="i-plates__title">Зеркала</div>
        </a>
        <a href="#" class="i-plates__item slick-slide">
            <div class="i-plates__icon">
                <svg class="i-plates__icon-img i-plates__icon-banquettes">
                    <use xlink:href="#i-banquettes"></use>
                </svg>
            </div>
            <div class="i-plates__title">Банкетки</div>
        </a>
        <a href="#" class="i-plates__item slick-slide">
            <div class="i-plates__icon">
                <svg class="i-plates__icon-img i-plates__icon-closet">
                    <use xlink:href="#i-closet"></use>
                </svg>
            </div>
            <div class="i-plates__title">Шкафы-купе</div>
        </a>
        <a href="#" class="i-plates__item slick-slide">
            <div class="i-plates__icon">
                <svg class="i-plates__icon-img i-plates__icon-coffee-table">
                    <use xlink:href="#i-coffee-table"></use>
                </svg>
            </div>
            <div class="i-plates__title">Журнальные столики</div>
        </a>
        <a href="#" class="i-plates__item slick-slide">
            <div class="i-plates__icon">
                <svg class="i-plates__icon-table-curbstones i-plates__icon-img">
                    <use xlink:href="#i-curbstones"></use>
                </svg>
            </div>
            <div class="i-plates__title">Тумбы</div>
        </a>
        <a href="#" class="i-plates__item slick-slide">
            <div class="i-plates__icon">
                <svg class="i-plates__icon-drawers i-plates__icon-img">
                    <use xlink:href="#i-drawers"></use>
                </svg>
            </div>
            <div class="i-plates__title">Комоды</div>
        </a>
        <a href="#" class="i-plates__item slick-slide">
            <div class="i-plates__icon">
                <svg class="i-plates__icon-img i-plates__icon-furniture">
                    <use xlink:href="#i-furniture"></use>
                </svg>
            </div>
            <div class="i-plates__title">Фурнитура</div>
        </a>
        <a href="#" class="i-plates__item slick-slide">
            <div class="i-plates__icon">
                <svg class="i-plates__icon-img i-plates__icon-hang">
                    <use xlink:href="#i-hang"></use>
                </svg>
            </div>
            <div class="i-plates__title">Вешалки</div>
        </a>
        <a href="#" class="i-plates__item slick-slide">
            <div class="i-plates__icon">
                <svg class="i-plates__icon-img i-plates__icon-mattress">
                    <use xlink:href="#i-mattress"></use>
                </svg>
            </div>
            <div class="i-plates__title">Матрасы</div>
        </a>
        <a href="#" class="i-plates__item slick-slide">
            <div class="i-plates__icon">
                <svg class="i-plates__icon-img i-plates__icon-modular-furniture">
                    <use xlink:href="#i-modular-furniture"></use>
                </svg>
            </div>
            <div class="i-plates__title">Модульная мебель</div>
        </a>
        <a href="#" class="i-plates__item slick-slide">
            <div class="i-plates__icon">
                <svg class="i-plates__icon-img i-plates__icon-nightstand">
                    <use xlink:href="#i-nightstand"></use>
                </svg>
            </div>
            <div class="i-plates__title">Прикроватные тумбы</div>
        </a>
        <a href="#" class="i-plates__item slick-slide">
            <div class="i-plates__icon">
                <svg class="i-plates__icon-img i-plates__icon-rack">
                    <use xlink:href="#i-rack"></use>
                </svg>
            </div>
            <div class="i-plates__title">Стеллажи</div>
        </a>
        <a href="#" class="i-plates__item slick-slide">
            <div class="i-plates__icon">
                <svg class="i-plates__icon-img i-plates__icon-shelf">
                    <use xlink:href="#i-shelf"></use>
                </svg>
            </div>
            <div class="i-plates__title">Полки</div>
        </a>
        <a href="#" class="i-plates__item slick-slide">
            <div class="i-plates__icon">
                <svg class="i-plates__icon-img i-plates__icon-shoes">
                    <use xlink:href="#i-shoes"></use>
                </svg>
            </div>
            <div class="i-plates__title">Обувницы</div>
        </a>
        <a href="#" class="i-plates__item slick-slide">
            <div class="i-plates__icon">
                <svg class="i-plates__icon-img i-plates__icon-shop-window">
                    <use xlink:href="#i-shop-window"></use>
                </svg>
            </div>
            <div class="i-plates__title">Витрины</div>
        </a>
        <a href="#" class="i-plates__item slick-slide">
            <div class="i-plates__icon">
                <svg class="i-plates__icon-img i-plates__icon-sofa">
                    <use xlink:href="#i-sofa"></use>
                </svg>
            </div>
            <div class="i-plates__title">Диваны</div>
        </a>
        <a href="#" class="i-plates__item slick-slide">
            <div class="i-plates__icon">
                <svg class="i-plates__icon-img i-plates__icon-table">
                    <use xlink:href="#i-table"></use>
                </svg>
            </div>
            <div class="i-plates__title">Столы</div>
        </a>
        <a href="#" class="i-plates__item slick-slide">
            <div class="i-plates__icon">
                <svg class="i-plates__icon-img i-plates__icon-tv-curbstones">
                    <use xlink:href="#i-tv-curbstones"></use>
                </svg>
            </div>
            <div class="i-plates__title">ТВ тумбы</div>
        </a>
        <a href="#" class="i-plates__item slick-slide">
            <div class="i-plates__icon">
                <svg class="i-plates__icon-img i-plates__icon-wals">
                    <use xlink:href="#i-wals"></use>
                </svg>
            </div>
            <div class="i-plates__title">Стенки</div>
        </a>
        <a href="#" class="i-plates__item slick-slide">
            <div class="i-plates__icon">
                <svg class="i-plates__icon-img i-plates__icon-wardrobe">
                    <use xlink:href="#i-wardrobe"></use>
                </svg>
            </div>
            <div class="i-plates__title">Гардеробы</div>
        </a>
        <a href="#" class="i-plates__item slick-slide">
            <div class="i-plates__icon">
                <svg class="i-plates__icon-img i-plates__icon-write-table">
                    <use xlink:href="#i-write-table"></use>
                </svg>
            </div>
            <div class="i-plates__title">Письменные столы</div>
        </a>

    </div>
</div>




