<div class="drop-menu__item n-drop">
    <div class="drop-item">
        <a href="#" class="drop-item__heading">
            <span class="drop-item__heading-title">Вся мебель</span>
            <span class="drop-item__heading-image">
											<svg class="icon-sandwich drop-item__heading-image-icon">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sandwich"></use>
											</svg>
										</span>

            <span class="drop-item__heading-marker drop-item__heading-marker-icon">
											<svg class="icon-arrow-tobottom">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-tobottom"></use>
											</svg>
										</span>
        </a>
        <div class="drop-item__sub">
            <div class="dropbox-inner">
                <div class="dropbox-inner__item">
                    <div class="dropbox">
                        <div class="dropbox__heading">
                            <span class="dropbox__heading-text">Разделы</span>
                            <span class="dropbox__heading-amount">20</span>
                        </div>
                        <ul class="dropbox-list">
                            <li class="dropbox-list__item">
                                <div class="dropbox-item">
                                    <a href="#" class="dropbox-item__link">
                                        <span class="dropbox-item__link-text">Современные</span>
                                        <span class="dropbox-item__link-arrow">
																		<svg class="icon-arrow-tobottom dropbox-item__link-arrow-icon">
																			<use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                 xlink:href="#arrow-tobottom"></use>
																		</svg>
																	</span>
                                    </a>
                                </div>
                            </li>
                            <li class="dropbox-list__item">
                                <div class="dropbox-item">
                                    <a href="#" class="dropbox-item__link">
                                        <span class="dropbox-item__link-text">Классические</span>
                                        <span class="dropbox-item__link-arrow">
																		<svg class="icon-arrow-tobottom dropbox-item__link-arrow-icon">
																			<use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                 xlink:href="#arrow-tobottom"></use>
																		</svg>
																	</span>
                                    </a>
                                </div>
                            </li>
                            <li class="dropbox-list__item">
                                <div class="dropbox-item">
                                    <a href="#" class="dropbox-item__link">
                                        <span class="dropbox-item__link-text">Кантри</span>
                                        <span class="dropbox-item__link-arrow">
																		<svg class="icon-arrow-tobottom dropbox-item__link-arrow-icon">
																			<use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                 xlink:href="#arrow-tobottom"></use>
																		</svg>
																	</span>
                                    </a>
                                </div>
                            </li>
                            <li class="dropbox-list__item">
                                <div class="dropbox-item">
                                    <a href="#" class="dropbox-item__link">
                                        <span class="dropbox-item__link-text">Модерн</span>
                                        <span class="dropbox-item__link-arrow">
																		<svg class="icon-arrow-tobottom dropbox-item__link-arrow-icon">
																			<use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                 xlink:href="#arrow-tobottom"></use>
																		</svg>
																	</span>
                                    </a>
                                </div>
                            </li>
                            <li class="dropbox-list__item">
                                <div class="dropbox-item">
                                    <a href="#" class="dropbox-item__link">
                                        <span class="dropbox-item__link-text">Хай-тек</span>
                                        <span class="dropbox-item__link-arrow">
																		<svg class="icon-arrow-tobottom dropbox-item__link-arrow-icon">
																			<use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                 xlink:href="#arrow-tobottom"></use>
																		</svg>
																	</span>
                                    </a>
                                </div>
                            </li>
                            <li class="dropbox-list__item">
                                <div class="dropbox-item">
                                    <a href="#" class="dropbox-item__link">
                                        <span class="dropbox-item__link-text">Современные</span>
                                        <span class="dropbox-item__link-arrow">
																		<svg class="icon-arrow-tobottom dropbox-item__link-arrow-icon">
																			<use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                 xlink:href="#arrow-tobottom"></use>
																		</svg>
																	</span>
                                    </a>
                                </div>
                            </li>
                            <li class="dropbox-list__item">
                                <div class="dropbox-item">
                                    <a href="#" class="dropbox-item__link">
                                        <span class="dropbox-item__link-text">Классические</span>
                                        <span class="dropbox-item__link-arrow">
																		<svg class="icon-arrow-tobottom dropbox-item__link-arrow-icon">
																			<use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                 xlink:href="#arrow-tobottom"></use>
																		</svg>
																	</span>
                                    </a>
                                </div>
                            </li>
                            <li class="dropbox-list__item">
                                <div class="dropbox-item">
                                    <a href="#" class="dropbox-item__link">
                                        <span class="dropbox-item__link-text">Кантри</span>
                                        <span class="dropbox-item__link-arrow">
																		<svg class="icon-arrow-tobottom dropbox-item__link-arrow-icon">
																			<use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                 xlink:href="#arrow-tobottom"></use>
																		</svg>
																	</span>
                                    </a>
                                </div>
                            </li>
                            <li class="dropbox-list__item">
                                <div class="dropbox-item">
                                    <a href="#" class="dropbox-item__link">
                                        <span class="dropbox-item__link-text">Модерн</span>
                                        <span class="dropbox-item__link-arrow">
																		<svg class="icon-arrow-tobottom dropbox-item__link-arrow-icon">
																			<use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                 xlink:href="#arrow-tobottom"></use>
																		</svg>
																	</span>
                                    </a>
                                </div>
                            </li>
                            <li class="dropbox-list__item">
                                <div class="dropbox-item">
                                    <a href="#" class="dropbox-item__link">
                                        <span class="dropbox-item__link-text">Хай-тек</span>
                                        <span class="dropbox-item__link-arrow">
																		<svg class="icon-arrow-tobottom dropbox-item__link-arrow-icon">
																			<use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                 xlink:href="#arrow-tobottom"></use>
																		</svg>
																	</span>
                                    </a>
                                </div>
                            </li>
                            <li class="dropbox-list__item">
                                <div class="dropbox-item">
                                    <a href="#" class="dropbox-item__link">
                                        <span class="dropbox-item__link-text">Современные</span>
                                        <span class="dropbox-item__link-arrow">
																		<svg class="icon-arrow-tobottom dropbox-item__link-arrow-icon">
																			<use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                 xlink:href="#arrow-tobottom"></use>
																		</svg>
																	</span>
                                    </a>
                                </div>
                            </li>
                            <li class="dropbox-list__item">
                                <div class="dropbox-item">
                                    <a href="#" class="dropbox-item__link">
                                        <span class="dropbox-item__link-text">Классические</span>
                                        <span class="dropbox-item__link-arrow">
																		<svg class="icon-arrow-tobottom dropbox-item__link-arrow-icon">
																			<use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                 xlink:href="#arrow-tobottom"></use>
																		</svg>
																	</span>
                                    </a>
                                </div>
                            </li>
                            <li class="dropbox-list__item">
                                <div class="dropbox-item">
                                    <a href="#" class="dropbox-item__link">
                                        <span class="dropbox-item__link-text">Кантри</span>
                                        <span class="dropbox-item__link-arrow">
																		<svg class="icon-arrow-tobottom dropbox-item__link-arrow-icon">
																			<use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                 xlink:href="#arrow-tobottom"></use>
																		</svg>
																	</span>
                                    </a>
                                </div>
                            </li>
                            <li class="dropbox-list__item">
                                <div class="dropbox-item">
                                    <a href="#" class="dropbox-item__link">
                                        <span class="dropbox-item__link-text">Модерн</span>
                                        <span class="dropbox-item__link-arrow">
																		<svg class="icon-arrow-tobottom dropbox-item__link-arrow-icon">
																			<use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                 xlink:href="#arrow-tobottom"></use>
																		</svg>
																	</span>
                                    </a>
                                </div>
                            </li>
                            <li class="dropbox-list__item">
                                <div class="dropbox-item">
                                    <a href="#" class="dropbox-item__link">
                                        <span class="dropbox-item__link-text">Хай-тек</span>
                                        <span class="dropbox-item__link-arrow">
																		<svg class="icon-arrow-tobottom dropbox-item__link-arrow-icon">
																			<use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                 xlink:href="#arrow-tobottom"></use>
																		</svg>
																	</span>
                                    </a>
                                </div>
                            </li>
                            <li class="dropbox-list__item">
                                <div class="dropbox-item">
                                    <a href="#" class="dropbox-item__link">
                                        <span class="dropbox-item__link-text">Современные</span>
                                        <span class="dropbox-item__link-arrow">
																		<svg class="icon-arrow-tobottom dropbox-item__link-arrow-icon">
																			<use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                 xlink:href="#arrow-tobottom"></use>
																		</svg>
																	</span>
                                    </a>
                                </div>
                            </li>
                            <li class="dropbox-list__item">
                                <div class="dropbox-item">
                                    <a href="#" class="dropbox-item__link">
                                        <span class="dropbox-item__link-text">Классические</span>
                                        <span class="dropbox-item__link-arrow">
																		<svg class="icon-arrow-tobottom dropbox-item__link-arrow-icon">
																			<use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                 xlink:href="#arrow-tobottom"></use>
																		</svg>
																	</span>
                                    </a>
                                </div>
                            </li>
                            <li class="dropbox-list__item">
                                <div class="dropbox-item">
                                    <a href="#" class="dropbox-item__link">
                                        <span class="dropbox-item__link-text">Кантри</span>
                                        <span class="dropbox-item__link-arrow">
																		<svg class="icon-arrow-tobottom dropbox-item__link-arrow-icon">
																			<use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                 xlink:href="#arrow-tobottom"></use>
																		</svg>
																	</span>
                                    </a>
                                </div>
                            </li>
                            <li class="dropbox-list__item">
                                <div class="dropbox-item">
                                    <a href="#" class="dropbox-item__link">
                                        <span class="dropbox-item__link-text">Модерн</span>
                                        <span class="dropbox-item__link-arrow">
																		<svg class="icon-arrow-tobottom dropbox-item__link-arrow-icon">
																			<use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                 xlink:href="#arrow-tobottom"></use>
																		</svg>
																	</span>
                                    </a>
                                </div>
                            </li>
                            <li class="dropbox-list__item">
                                <div class="dropbox-item">
                                    <a href="#" class="dropbox-item__link">
                                        <span class="dropbox-item__link-text">Хай-тек</span>
                                        <span class="dropbox-item__link-arrow">
																		<svg class="icon-arrow-tobottom dropbox-item__link-arrow-icon">
																			<use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                 xlink:href="#arrow-tobottom"></use>
																		</svg>
																	</span>
                                    </a>
                                </div>
                            </li>
                            <li class="dropbox-list__item">
                                <div class="dropbox-item">
                                    <a href="#" class="dropbox-item__link">
                                        <span class="dropbox-item__link-text">Современные</span>
                                        <span class="dropbox-item__link-arrow">
																		<svg class="icon-arrow-tobottom dropbox-item__link-arrow-icon">
																			<use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                 xlink:href="#arrow-tobottom"></use>
																		</svg>
																	</span>
                                    </a>
                                </div>
                            </li>
                            <li class="dropbox-list__item">
                                <div class="dropbox-item">
                                    <a href="#" class="dropbox-item__link">
                                        <span class="dropbox-item__link-text">Классические</span>
                                        <span class="dropbox-item__link-arrow">
																		<svg class="icon-arrow-tobottom dropbox-item__link-arrow-icon">
																			<use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                 xlink:href="#arrow-tobottom"></use>
																		</svg>
																	</span>
                                    </a>
                                </div>
                            </li>
                            <li class="dropbox-list__item">
                                <div class="dropbox-item">
                                    <a href="#" class="dropbox-item__link">
                                        <span class="dropbox-item__link-text">Кантри</span>
                                        <span class="dropbox-item__link-arrow">
																		<svg class="icon-arrow-tobottom dropbox-item__link-arrow-icon">
																			<use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                 xlink:href="#arrow-tobottom"></use>
																		</svg>
																	</span>
                                    </a>
                                </div>
                            </li>
                            <li class="dropbox-list__item">
                                <div class="dropbox-item">
                                    <a href="#" class="dropbox-item__link">
                                        <span class="dropbox-item__link-text">Модерн</span>
                                        <span class="dropbox-item__link-arrow">
																		<svg class="icon-arrow-tobottom dropbox-item__link-arrow-icon">
																			<use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                 xlink:href="#arrow-tobottom"></use>
																		</svg>
																	</span>
                                    </a>
                                </div>
                            </li>
                            <li class="dropbox-list__item">
                                <div class="dropbox-item">
                                    <a href="#" class="dropbox-item__link">
                                        <span class="dropbox-item__link-text">Хай-тек</span>
                                        <span class="dropbox-item__link-arrow">
																		<svg class="icon-arrow-tobottom dropbox-item__link-arrow-icon">
																			<use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                 xlink:href="#arrow-tobottom"></use>
																		</svg>
																	</span>
                                    </a>
                                </div>
                            </li>
                            <li class="dropbox-list__item">
                                <div class="dropbox-item">
                                    <a href="#" class="dropbox-item__link">
                                        <span class="dropbox-item__link-text">Современные</span>
                                        <span class="dropbox-item__link-arrow">
																		<svg class="icon-arrow-tobottom dropbox-item__link-arrow-icon">
																			<use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                 xlink:href="#arrow-tobottom"></use>
																		</svg>
																	</span>
                                    </a>
                                </div>
                            </li>
                            <li class="dropbox-list__item">
                                <div class="dropbox-item">
                                    <a href="#" class="dropbox-item__link">
                                        <span class="dropbox-item__link-text">Классические</span>
                                        <span class="dropbox-item__link-arrow">
																		<svg class="icon-arrow-tobottom dropbox-item__link-arrow-icon">
																			<use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                 xlink:href="#arrow-tobottom"></use>
																		</svg>
																	</span>
                                    </a>
                                </div>
                            </li>
                            <li class="dropbox-list__item">
                                <div class="dropbox-item">
                                    <a href="#" class="dropbox-item__link">
                                        <span class="dropbox-item__link-text">Кантри</span>
                                        <span class="dropbox-item__link-arrow">
																		<svg class="icon-arrow-tobottom dropbox-item__link-arrow-icon">
																			<use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                 xlink:href="#arrow-tobottom"></use>
																		</svg>
																	</span>
                                    </a>
                                </div>
                            </li>
                            <li class="dropbox-list__item">
                                <div class="dropbox-item">
                                    <a href="#" class="dropbox-item__link">
                                        <span class="dropbox-item__link-text">Модерн</span>
                                        <span class="dropbox-item__link-arrow">
																		<svg class="icon-arrow-tobottom dropbox-item__link-arrow-icon">
																			<use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                 xlink:href="#arrow-tobottom"></use>
																		</svg>
																	</span>
                                    </a>
                                </div>
                            </li>
                            <li class="dropbox-list__item">
                                <div class="dropbox-item">
                                    <a href="#" class="dropbox-item__link">
                                        <span class="dropbox-item__link-text">Хай-тек</span>
                                        <span class="dropbox-item__link-arrow">
																		<svg class="icon-arrow-tobottom dropbox-item__link-arrow-icon">
																			<use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                 xlink:href="#arrow-tobottom"></use>
																		</svg>
																	</span>
                                    </a>
                                </div>
                            </li>
                            <li class="dropbox-list__item">
                                <div class="dropbox-item">
                                    <a href="#" class="dropbox-item__link">
                                        <span class="dropbox-item__link-text">Современные</span>
                                        <span class="dropbox-item__link-arrow">
																		<svg class="icon-arrow-tobottom dropbox-item__link-arrow-icon">
																			<use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                 xlink:href="#arrow-tobottom"></use>
																		</svg>
																	</span>
                                    </a>
                                </div>
                            </li>
                            <li class="dropbox-list__item">
                                <div class="dropbox-item">
                                    <a href="#" class="dropbox-item__link">
                                        <span class="dropbox-item__link-text">Классические</span>
                                        <span class="dropbox-item__link-arrow">
																		<svg class="icon-arrow-tobottom dropbox-item__link-arrow-icon">
																			<use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                 xlink:href="#arrow-tobottom"></use>
																		</svg>
																	</span>
                                    </a>
                                </div>
                            </li>
                            <li class="dropbox-list__item">
                                <div class="dropbox-item">
                                    <a href="#" class="dropbox-item__link">
                                        <span class="dropbox-item__link-text">Кантри</span>
                                        <span class="dropbox-item__link-arrow">
																		<svg class="icon-arrow-tobottom dropbox-item__link-arrow-icon">
																			<use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                 xlink:href="#arrow-tobottom"></use>
																		</svg>
																	</span>
                                    </a>
                                </div>
                            </li>
                            <li class="dropbox-list__item">
                                <div class="dropbox-item">
                                    <a href="#" class="dropbox-item__link">
                                        <span class="dropbox-item__link-text">Модерн</span>
                                        <span class="dropbox-item__link-arrow">
																		<svg class="icon-arrow-tobottom dropbox-item__link-arrow-icon">
																			<use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                 xlink:href="#arrow-tobottom"></use>
																		</svg>
																	</span>
                                    </a>
                                </div>
                            </li>
                            <li class="dropbox-list__item">
                                <div class="dropbox-item">
                                    <a href="#" class="dropbox-item__link">
                                        <span class="dropbox-item__link-text">Хай-тек</span>
                                        <span class="dropbox-item__link-arrow">
																		<svg class="icon-arrow-tobottom dropbox-item__link-arrow-icon">
																			<use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                 xlink:href="#arrow-tobottom"></use>
																		</svg>
																	</span>
                                    </a>
                                </div>
                            </li>
                            <li class="dropbox-list__item">
                                <div class="dropbox-item">
                                    <a href="#" class="dropbox-item__link">
                                        <span class="dropbox-item__link-text">Современные</span>
                                        <span class="dropbox-item__link-arrow">
																		<svg class="icon-arrow-tobottom dropbox-item__link-arrow-icon">
																			<use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                 xlink:href="#arrow-tobottom"></use>
																		</svg>
																	</span>
                                    </a>
                                </div>
                            </li>
                            <li class="dropbox-list__item">
                                <div class="dropbox-item">
                                    <a href="#" class="dropbox-item__link">
                                        <span class="dropbox-item__link-text">Классические</span>
                                        <span class="dropbox-item__link-arrow">
																		<svg class="icon-arrow-tobottom dropbox-item__link-arrow-icon">
																			<use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                 xlink:href="#arrow-tobottom"></use>
																		</svg>
																	</span>
                                    </a>
                                </div>
                            </li>
                            <li class="dropbox-list__item">
                                <div class="dropbox-item">
                                    <a href="#" class="dropbox-item__link">
                                        <span class="dropbox-item__link-text">Кантри</span>
                                        <span class="dropbox-item__link-arrow">
																		<svg class="icon-arrow-tobottom dropbox-item__link-arrow-icon">
																			<use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                 xlink:href="#arrow-tobottom"></use>
																		</svg>
																	</span>
                                    </a>
                                </div>
                            </li>
                            <li class="dropbox-list__item">
                                <div class="dropbox-item">
                                    <a href="#" class="dropbox-item__link">
                                        <span class="dropbox-item__link-text">Модерн</span>
                                        <span class="dropbox-item__link-arrow">
																		<svg class="icon-arrow-tobottom dropbox-item__link-arrow-icon">
																			<use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                 xlink:href="#arrow-tobottom"></use>
																		</svg>
																	</span>
                                    </a>
                                </div>
                            </li>
                            <li class="dropbox-list__item">
                                <div class="dropbox-item">
                                    <a href="#" class="dropbox-item__link">
                                        <span class="dropbox-item__link-text">Хай-тек</span>
                                        <span class="dropbox-item__link-arrow">
																		<svg class="icon-arrow-tobottom dropbox-item__link-arrow-icon">
																			<use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                 xlink:href="#arrow-tobottom"></use>
																		</svg>
																	</span>
                                    </a>
                                </div>
                            </li>
                            <li class="dropbox-list__item">
                                <div class="dropbox-item">
                                    <a href="#" class="dropbox-item__link">
                                        <span class="dropbox-item__link-text">Современные</span>
                                        <span class="dropbox-item__link-arrow">
																		<svg class="icon-arrow-tobottom dropbox-item__link-arrow-icon">
																			<use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                 xlink:href="#arrow-tobottom"></use>
																		</svg>
																	</span>
                                    </a>
                                </div>
                            </li>
                            <li class="dropbox-list__item">
                                <div class="dropbox-item">
                                    <a href="#" class="dropbox-item__link">
                                        <span class="dropbox-item__link-text">Классические</span>
                                        <span class="dropbox-item__link-arrow">
																		<svg class="icon-arrow-tobottom dropbox-item__link-arrow-icon">
																			<use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                 xlink:href="#arrow-tobottom"></use>
																		</svg>
																	</span>
                                    </a>
                                </div>
                            </li>
                            <li class="dropbox-list__item">
                                <div class="dropbox-item">
                                    <a href="#" class="dropbox-item__link">
                                        <span class="dropbox-item__link-text">Кантри</span>
                                        <span class="dropbox-item__link-arrow">
																		<svg class="icon-arrow-tobottom dropbox-item__link-arrow-icon">
																			<use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                 xlink:href="#arrow-tobottom"></use>
																		</svg>
																	</span>
                                    </a>
                                </div>
                            </li>
                            <li class="dropbox-list__item">
                                <div class="dropbox-item">
                                    <a href="#" class="dropbox-item__link">
                                        <span class="dropbox-item__link-text">Модерн</span>
                                        <span class="dropbox-item__link-arrow">
																		<svg class="icon-arrow-tobottom dropbox-item__link-arrow-icon">
																			<use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                 xlink:href="#arrow-tobottom"></use>
																		</svg>
																	</span>
                                    </a>
                                </div>
                            </li>
                            <li class="dropbox-list__item">
                                <div class="dropbox-item">
                                    <a href="#" class="dropbox-item__link">
                                        <span class="dropbox-item__link-text">Хай-тек</span>
                                        <span class="dropbox-item__link-arrow">
																		<svg class="icon-arrow-tobottom dropbox-item__link-arrow-icon">
																			<use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                 xlink:href="#arrow-tobottom"></use>
																		</svg>
																	</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>

                <div class="dropbox-inner__item">
                    <div class="dropbox-inner__item-image">
                        <svg class="icon-brands dropbox-inner__item-image-img">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sandwich"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>