<!-- Scripts load -->
<script>window.jQuery || document.write('<script src="js/jquery-1.11.3.min.js"><\/script>')</script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/widgets.js"></script>
<script src="js/functions.js"></script>