<!--footer -->
<footer class="footer" role="contentinfo">

	<!-- FOOTER TOP -->
	<div class="footer__top">
		<div class="container">
			<div class="footer__row">

				<!-- FOOTER LOGO -->
				<div class="footer-logo">
					<svg class="icon-logo-small">
						<use xlink:href="#logo-small"></use>
					</svg>
				</div>
				<!-- FOOTER LOGO END-->

				<!-- FOOTER PHONES -->
				<div class="footer-phone">
					<div class="footer-phone__title">
						Горячая линия: 
					</div>
					<div class="footer-phone__num">
						<a href="tel:8 (800) 775 71 06" class="footer-phone__num-link">8 (800) 775 71 06</a>
					</div>
					<div class="footer-phone__note">
						Бесплатный звонок по России
					</div>
				</div>

				<div class="footer-phone footer-phone--city">
					<div class="footer-phone__title">
						<span class="footer-phone__subtitle">
							Ваш город:
						</span>
						<a href="#popup-location" class="footer-phone__popup-link js-popup-link">
							<span class="footer-phone__popup-link-text">
								Балашиха
							</span>
							<span class="footer-phone__popup-link-icon">
								<svg class="icon-chevron">
									<use xlink:href="#arrow-tobottom"></use>
								</svg>
							</span>
						</a>
					</div>
					<div class="footer-phone__num">
						<a href="tel:+7 (495) 255 18 10" class="footer-phone__num-link">+7 (495) 255 18 10</a>
					</div>
					<div class="footer-phone__note">
						Ежедневно с 09:00 до 22:00
					</div>
				</div>
				<!-- FOOTER PHONES END-->
				

				<!-- FOOTER ADDRESSES -->
				<a href="#" class="footer-addresses">
					<span class="footer-addresses__icon">
						<svg class="icon-footer-location">
							<use xlink:href="#location"></use>
						</svg>
					</span>
					<span class="footer-addresses__text">
						Адреса магазинов
					</span>
				</a>
				<!-- FOOTER ADDRESSES END-->
			</div>
			<div class="footer__row">

				<!-- FOOTER SOCIAL -->
				<div class="footer__social">
					<div class="social">
						<ul class="social-list">
							<li class="social-list__item">
								<div class="social-item">
									<a href="#" class="social-item__link">
										<svg class="icon-vk">
											<use xlink:href="#vk"></use>
										</svg>
									</a>
								</div>
							</li>
							<li class="social-list__item">
								<div class="social-item">
									<a href="#" class="social-item__link">
										<svg class="icon-twitter">
											<use xlink:href="#twitter"></use>
										</svg>
									</a>
								</div>
							</li>
							<li class="social-list__item">
								<div class="social-item">
									<a href="#" class="social-item__link">
										<svg class="icon-google">
											<use xlink:href="#google"></use>
										</svg>
									</a>
								</div>
							</li>
							<li class="social-list__item">
								<div class="social-item">
									<a href="#" class="social-item__link">
										<svg class="icon-instagram">
											<use xlink:href="#instagram"></use>
										</svg>
									</a>
								</div>
							</li>
							<li class="social-list__item">
								<div class="social-item">
									<a href="#" class="social-item__link">
										<svg class="icon-facebook">
											<use xlink:href="#facebook"></use>
										</svg>
									</a>
								</div>
							</li>
							<li class="social-list__item">
								<div class="social-item">
									<a href="#" class="social-item__link">
										<svg class="icon-youtube">
											<use xlink:href="#youtube"></use>
										</svg>
									</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<!-- FOOTER SOCIAL END-->

				<!-- FOOTER LISTS -->
					<div class="footer-lists">
						<div class="footer-lists__item">
							<h3 class="footer-lists__title">
								О компании
							</h3>
							<ul class="footer-nav-list">
								<li class="footer-nav-item">
									<a href="#" class="footer-nav-item__link">Контакты</a>
								</li>
								<li class="footer-nav-item">
									<a href="#" class="footer-nav-item__link">Адреса магазинов</a>
								</li>
								<li class="footer-nav-item">
									<a href="#" class="footer-nav-item__link">Награды</a>
								</li>
								<li class="footer-nav-item">
									<a href="#" class="footer-nav-item__link">Гарантия качества</a>
								</li>
								<li class="footer-nav-item">
									<a href="#" class="footer-nav-item__link">Гарантия цены</a>
								</li>
								<li class="footer-nav-item">
									<a href="#" class="footer-nav-item__link">Карта сайта</a>
								</li>
							</ul>
						</div>
						<div class="footer-lists__item">
							<h3 class="footer-lists__title">
								Услуги
							</h3>
							<ul class="footer-nav-list">
							<li class="footer-nav-item">
									<a href="#" class="footer-nav-item__link">Доставка и подъем</a>
								</li>
								<li class="footer-nav-item">
									<a href="#" class="footer-nav-item__link">Рассрочка</a>
								</li>
								<li class="footer-nav-item">
									<a href="#" class="footer-nav-item__link">Сборка</a>
								</li>
								<li class="footer-nav-item">
									<a href="#" class="footer-nav-item__link">3D Дизайн</a>
								</li>
								<li class="footer-nav-item">
									<a href="#" class="footer-nav-item__link">Доставка мебели за 24 часа</a>
								</li>
							</ul>
						</div>
						<div class="footer-lists__item">
							<h3 class="footer-lists__title">
								Разделы
							</h3>
							<ul class="footer-nav-list">
								<li class="footer-nav-item">
									<a href="#" class="footer-nav-item__link">Распродажа</a>
								</li>
								<li class="footer-nav-item">
									<a href="#" class="footer-nav-item__link">Скидки и акции</a>
								</li>
								<li class="footer-nav-item">
									<a href="#" class="footer-nav-item__link">Оплата</a>
								</li>
								<li class="footer-nav-item">
									<a href="#" class="footer-nav-item__link">Фотоальбом</a>
								</li>
								<li class="footer-nav-item">
									<a href="#" class="footer-nav-item__link">Отзывы</a>
								</li>
							</ul>
						</div>
						<div class="footer-lists__item footer-lists__item--right">
							<h3 class="footer-lists__title">
								<a href="#" class="footer-lists__title-link">Новости</a>
							</h3>
							<h3 class="footer-lists__title">
								<a href="#" class="footer-lists__title-link">Статьи</a>
							</h3>
						</div>
					</div>
				<!-- FOOTER LISTS END -->

				<!-- FOOTER CARD LIST -->
				<div class="footer__card-list">
					<ul class="card-list">
						<li class="card-list__item">
							<div class="card-item">
								<a href="#" class="card-item__link">
									<svg class="icon-visa card-item__link-image">
										<use xlink:href="#visa"></use>
									</svg>
								</a>
							</div>
						</li>
						<li class="card-list__item">
							<div class="card-item">
								<a href="#" class="card-item__link">
									<svg class="icon-master-card card-item__link-image">
										<use xlink:href="#master-card"></use>
									</svg>
								</a>
							</div>
						</li>
						<li class="card-list__item">
							<div class="card-item">
								<a href="#" class="card-item__link">
									<svg class="icon-web-money card-item__link-image">
										<use xlink:href="#web-money"></use>
									</svg>
								</a>
							</div>
						</li>
						<li class="card-list__item">
							<div class="card-item">
								<a href="#" class="card-item__link">
									<svg class="icon-yandex-money card-item__link-image">
										<use xlink:href="#yandex-money"></use>
									</svg>
								</a>
							</div>
						</li>
						<li class="card-list__item">
							<div class="card-item">
								<a href="#" class="card-item__link">
									<svg class="icon-web-conect card-item__link-image">
										<use xlink:href="#web-conect"></use>
									</svg>
								</a>
							</div>
						</li>
						<li class="card-list__item">
							<div class="card-item">
								<a href="#" class="card-item__link">
									<svg class="icon-sberbank card-item__link-image">
										<use xlink:href="#sberbank"></use>
									</svg>
								</a>
							</div>
						</li>
					</ul>
				</div>
				<!-- FOOTER CARD LIST END-->
				<a href="#" class="full-version-btn btn-border-brown btn">
					Адреса магазинов
				</a>
			</div>
		</div>
	</div>
	<!-- FOOTER TOP END -->

	<!-- FOOTER BOTTOM -->
	<div class="footer__bottom">
		<div class="container">
			<div class="footer-adv">
				<a href="#" class="footer-adv__link">
					<img src="pic/footer-logo.png" alt="">
				</a>
				<span class="footer-adv__text">
					Качественный интернет маркетинг
				</span>
			</div>
			<div class="copyright">
				© Мебельная Компания «MebelGold.ru», 2000&nbsp;-&nbsp;2016&nbsp;г.
				<div class="copyright__mob-visible">
					Разработка и поддержка — <a href="#">web-golden.ru</a>
				</div>
			</div>
		</div>	
	</div>
	@@include('template/blocks/popups.html')
	<!-- FOOTER BOTTOM END -->

</footer>
<div class="tablet-res-low"></div>
<!-- footer end